[2016-12-30 16:49] #2411 closed

[2017-01-11 05:08] akarshagrawal2010 opened #2412 "Cannot dial to 0.0.0.0:7050, because of grpc: timed out while dialing"
## Description
I built the hyperledger fabric using  command "make dist-clean all" in Ubuntu 16.04 environment.
I have run all the steps according to the documentation provided on the Hyperledger Fabric official "readthedocs" page. I also copied the docker-compose file posted on the official hyperledger fabric documentation. It is as follows:

`membersrvc:
  image: hyperledger/fabric-membersrvc

[2017-01-16 12:29] akarshagrawal2010 opened #2413 "Fabric gives error on firing "Query" command from REST API"
## Description

I have deployed the chaincode using already available hyperledger/fabric images for peer and membersrvc. The deploy and invoke command just work fine when fired, but query command times out and displays an error.

I'm running the blockchain in dev mode. I have tried working in production mode also, but some other error pops up, which is not related to this error.

The following err

[2017-01-22 07:40] zhangyijie7758 opened #2414 "TLS error"
This is my configuration
[code]

when run docker-compose up,   membersrvc start successful, but peer can't connect membersrvc.
Is there any document refer to tls setting ?  official document is not details。

exception like:
33mvp0_1         |[0m [36m07:10:02.768 [crypto] Debugf -> DEBU 013[0m [validator.test_vp0] Keystore opened at [/var/hyperledger/production/crypto/validator/test_vp0/ks]...do

[2017-01-25 12:02] akarshagrawal2010 opened #2415 "Logging into Marbles POC"
## Description

I wanted to trace the commands from the source (webpage) to the destination (blockchain) to know how and what commands are called in the real world scenario. I got to the end point where the Marbles POC finally makes a http request. But I have not been able to figure out, which file is associated with that http request.

I have hosted the marbles POC on localhost and also the hyper

[2017-02-26 22:18] #830 closed

[2017-02-26 22:19] #756 closed

[2017-02-26 22:19] #1311 closed

[2017-03-23 03:07] khut-pidor opened #2416 "Hyperledger Fabric Consensus plugin PBFT error, Data not stored and Syn"
I have formed a network of hyperledger fabric with 4 validating peers along with security: Disable. I using PBFT consensus to syn block between peers. When I try to Deploy, and invoke transaction into the root node of the network with chaincode(chaincode_example02) running on, it seem to work ,but give few logs. After Deploy and Invoke success, I try to Query the Data, it show
{ "jsonrpc": "2.0",

[2017-05-23 09:44] kishansag commented on #1991
`
kishan@kishan-Inspiron-3542:~/composer-sample-app/scripts$ rm -rf node_modules && npm cache clean && npm install

composer-cli                   v0.7.2

composer-admin                 v0.7.2

composer-client                v0.7.2

composer-common                v0.7.2

composer-runtime-hlf           v0.7.2

# Grab the current directory.

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )/.." && pwd )"

[2017-05-26 07:17] khut-pidor opened #2417 "Error Message: “Error unmarshaling message: proto: bad wiretype for field pbft.Request.Timestamp: got wiretype 0, want 2""
## Description
Many Messages Error, show
“Error unmarshaling message: proto: bad wiretype for field pbft.Request.Timestamp: got wiretype 0, want 2"

“Error unmarshaling message: proto: bad wiretype for field pbft.Request.Timestamp: got wiretype 0, want 2"

What could be the Problem causes ?

## Describe How to Reproduce

[2017-05-31 06:27] srinathvijay opened #2418 "Unable to decrypt the payload"
I am currently using Hyperledger Fabric. I am using the REST API to make GET request as so:

`curl 172.18.0.3:7050/chain/blocks/31`

And the output I am getting back is :

`{`
 ` "transactions": [`
    `{`
     ` "type": 2,`
     `"chaincodeID":"BMBQHHg2y0RnadYEaZZT8icjMvZbDPjkn5mFb+clFORxJqz8qsMs/QlalCT+A3msuc59KYM5sbZyhM3OeSplTWo91WAHTUgqIKVrm1gUzsouBIqLNvpqgimN36+s0ywF0Rx4gn27RmQYBbB+877Nh+w7A8

[2017-07-15 10:38] chenxuan199206 opened #2419 "test the tps about the fabric 1.0"
## Description
today i want to test the tps about the fabric ,before i use the PTE to test the fabric the tps is between 450 and 900,however when i use the fabric java sdk to test the tps,the tps is very low,i use the fabric java sdk to provide the restful interface,and then i use the siege tools to test my interface, the result is very low,so anyone can help me?

## Describe How to Reproduce

pre

[2017-08-17 10:13] razik29 opened #2420 "Property `message` in Error response body cannot be accessed."
## Description
Using node I make a typical API POST call for which I have a `.catch` block with response variable say `err`. On error, the response body is returned as such (as seen from the Hyperledger Composer REST app)

[code]

## My Issue
I am simply trying to fetch the `message` property of the above response and send it to the UI. But weirdly `err.message` **does not** give me the value I se

[2017-09-04 06:22] csquan opened #2421 "how to debug fabric code?"
## Description

how to debug fabric code?
## Describe How to Reproduce

[2018-01-09 12:47] pramodramdas opened #2424 "Pulling ca.org1.example.com (hyperledger/fabric-ca:-1.0.4)… ERROR: invalid tag format"
## Description
I am trying to install hyperledger fabric locally by following https://hyperledger.github.io/composer/installing/using-playground-locally.html
but facing the below error
[code]

## Describe How to Reproduce
    -  I am using Ubuntu 14.04, docker 17.03.0-ce and docker-compose, docker-compose version 1.8.1, build 878cff1
    - execute "curl -sSL https://hyperledger.github.io/composer/

[2018-02-20 07:33] neerajkumar101 opened #2425 "adding an affliation is static, how to upgrade the default affiliations whenever new ca container is brought up?"
## Description

## Describe How to Reproduce

[2018-02-20 07:35] neerajkumar101 opened #2426 "upgrading an existing channel to add a newly added org in the endorsement policies gives out the error: Error: proto: can't skip unknown wire type 6 for common.Envelope"
## Description

## Describe How to Reproduce

[2018-03-14 16:41] mageover opened #2427 "run first-network of fabric-samples error on Mac"
## Description

I do all the things just according to the official tutorial: https://hyperledger-fabric.readthedocs.io/en/release-1.0/getting_started.html
But it still does not work. Errors display as below:
<img width="1435" alt="2018-03-15 12 11 35" src="https://user-images.githubusercontent.com/16891612/37415105-9839c9d6-27e5-11e8-930d-d1384a5d8af1.png">

My environment variables are set like t

[2018-03-16 01:31] #2427 closed

[2020-07-01 13:07] gianfabiopezzolla opened #1513 "Build oracle in fabric 1.4 with golang"
Hi there, I'm new with fabric 1.4, I try to understand how can I build an oracle in golang for smart contract, have you some good resources, articles, posts, or practical exemple to start with? thanks

[2021-07-26 20:20] denyeart commented on #1513
Hello, Github issues are for code issues.
For general questions, please post to the Fabric mailing list: https://lists.hyperledger.org/g/fabric

[2021-07-26 20:20] #1513 closed, assigned to nobody

[2021-07-26 20:27] denyeart opened #2785 "Remove (unjoin) a peer from a channel"
New "peer node unjoin" CLI command to unjoin a peer from a channel.
Peer must be down when command is run.
For more details see https://jira.hyperledger.org/browse/FAB-11334

[2021-07-26 20:31] denyeart opened #2786 "Add a function to purge a ledger's transient storage"

[2021-07-26 20:49] denyeart opened #2787 "Purge private data on demand"
See background discussion at https://jira.hyperledger.org/browse/FAB-5097.

See agreed upon RFC at https://github.com/hyperledger/fabric-rfcs/blob/main/text/0000-private_data_purge.md.

[2021-07-26 20:55] denyeart opened #2788 "Ledger utility to identify transactions associated with in doubt state"
GOAL
Identify transactions that have caused divergent state.

INPUT
Set of keys in question (JSON output from state comparison utility)

APPROACH
Traverse the block store on each peer (separately) to identify and extract transactions that wrote mismatched keys

OUTPUT
Set of transactions that wrote the keys (in human readable format)
All tx validation codes from the respective blocks
Block commit

[2021-07-26 20:55] denyeart opened #2789 "Ledger Utility to Compare Snapshots"
Goal is to create a ledger troubleshooting utility that can identify differences between two snapshots from different peers. Utility will take two snapshots at the same height from different peers as input. Utility will then compare each key / value pair between the snapshots. Tool will output the key / value pairs that are dissimilar between the two snapshots.

[2021-07-27 02:45] #2786 closed, assigned to nobody

[2021-07-27 11:43] denyeart opened #2790 "Submit private data and SBE transactions with automatic discovery of endorsers"

[2021-07-27 11:46] denyeart opened #2791 "Fabric Gateway (beta)"

[2021-07-27 11:50] denyeart opened #2792 "Contract event listening - replay"

[2021-07-27 12:10] denyeart opened #2794 "Ledger troubleshooting utility"

[2021-07-27 15:39] #2790 closed, assigned to nobody

[2021-07-28 12:06] denyeart opened #2797 "Prune old blocks from peer"
Pruning old blocks from peer to alleviate concerns around long term storage growth.

The snapshot feature delivered in v2.3 enables organizations to compare ledgers on a channel and come to agreement around logical "checkpoints".  These checkpointed snapshots can be saved off and used as a starting point for new peers so that they don't have to process all blocks since the genesis block.  With the

[2021-07-28 13:40] manish-sethi opened #2798 "Fix implicit collection endorsement policy when passed to discovery code"
Thanks @andrew-coleman for adding the integration test.

One more point - I am not sure what was the motivation but it appears that we also allow the implicit collection policy to be [configured via channel config](https://github.com/hyperledger/fabric/blob/240cf0e182938a09832ba4162c3c229c81848e3f/core/chaincode/lifecycle/deployedcc_infoprovider.go#L266).

I feel that moving the existing code in a

[2021-07-28 14:02] denyeart opened #2800 "Fabric Node.js SDK application sample to demonstrate good practices"

[2021-07-28 14:05] denyeart opened #2801 "Fabric Gateway (production release)"
See completed RFC at https://github.com/hyperledger/fabric-rfcs/blob/main/text/0000-fabric-gateway.md.

[2021-07-30 17:37] Enthusiast-block opened #2802 "Gateway Not able to get network"
Hi @sykesm , @jyellick

I am developing a Fabric application, and I am facing the issue where gateway is not able to get the network

366 | await gateway.connect(ccp, gatewayOpts);

367 | const network = await gateway.getNetwork(channelName);
| ^
368 | const contract = network.getContract(chaincodeName);
In Line number 367 I am facing an error

Following is the error :-

2021-07-24T13:39:03.866Z -

[2021-07-30 18:16] denyeart opened #2803 "Add integration test for peer unjoin"

[2021-07-30 18:45] denyeart opened #2804 "Make grpc max message size configurable"
grpc max message size is hardcoded to 100MB for both grpc clients and servers, in both peer and orderer.

Max messages size should be configurable in peer core.yaml and orderer.yaml (right next to the keepalive config options).

To see where max message size is set in the code, grep for DefaultMaxRecvMsgSize and DefaultMaxSendMsgSize.

More history can be found in https://jira.hyperledger.org/brow

[2021-08-09 01:48] denyeart opened #2806 "Underlying errors do not get returned by gateway"
When a gateway call to a peer function returns an error, the error does not get returned to the gateway client, only a generic gateway error message gets returned to client. Clients will therefore not know the cause of the error or how to fix.

For example, my error was that I was calling the wrong chaincode function, but the application client only received the generic error:
"Error: 10 ABORTED:

[2021-08-09 02:40] denyeart opened #2807 "Gateway documentation"
Terminology

- Target peer endpoint (or set of load balanced peers).
- Peer Gateway ("gateway in the peer") versus SDK Gateway ("gateway in the SDK")
- Fabric Gateway SDKs versus Legacy SDKs

Top Priorities (Dave)

- [x] https://hyperledger-fabric.readthedocs.io/en/latest/whatsnew.html#
- [x] https://hyperledger-fabric.readthedocs.io/en/latest/txflow.html

Top priorities (Mark)

- [x] https://hype

[2021-08-09 02:41] denyeart opened #2808 "Certificate expiration/renew documentation"
While there is some scattered guidance for dealing with certificate expirations throughout the Fabric docs, we need to pull the information all together and make it more comprehensive so that users have a complete view of the various certificates in Fabric environments and step-by-step guidance for dealing with expired certificates (e.g. user vs node vs TLS certificate expirations).

[2021-08-09 02:59] denyeart opened #2809 "Add topic in Operations Guide on using the orderer management APIs"
Current documentation has 2 versions of the create a channel tutorial

-     Create a channel
-     Create a channel with the test network

The first version describes both how to configure your orderer so that you can use the orderer management APIs or remove the system channel from an existing orderer. Then it describes how to use the osnadmin channel commands to create and manage the channels.

[2021-08-09 03:01] denyeart commented on #2809
Copied from https://jira.hyperledger.org/browse/FAB-18411

[2021-08-09 03:03] denyeart opened #2810 "Update main doc topics for application good practices"
See https://jira.hyperledger.org/browse/FAB-18420 and #2800.

[2021-08-09 03:10] denyeart opened #2811 "Future of Raft configuration doc"
When the orderer section of the deployment guide is merged, one of the purposes of this doc: https://hyperledger-fabric.readthedocs.io/en/release-2.2/raft_configuration.html

Will be superseded by it.

This Raft configuration doc does a few things other than talk about initial orderer parameters (which is the limit of the scope of the deployment guide), however. It also talks about:

-     Channel

[2021-08-09 03:11] denyeart commented on #2811
Copied from https://jira.hyperledger.org/browse/FAB-18341

[2021-08-09 03:14] denyeart opened #2812 "Provide documentation around kubernetes guidance"

[2021-08-09 03:15] denyeart opened #2813 "Refactor Developing Applications tutorial to use asset transfer scenario"

[2021-08-09 03:21] denyeart opened #2814 "Run dead link checker against Fabric docs"
See history at https://jira.hyperledger.org/browse/FAB-18102

[2021-08-09 10:26] liurenhao opened #2815 "failed to create or read WAL: failed to open WAL: fileutil: file already locked"
My orderer stopped due to the following error：
![13a4b93cc9a5ea9e621b09481b9051e](https://user-images.githubusercontent.com/11327335/128692390-d7b18e81-e613-4aac-a35c-f65a7354a50d.png)
 When I restarted the orderer, I got a new error
Error creating consenter: failed to restore persisted raft data: failed to create or read WAL: failed to open WAL: fileutil: file already locked。
What should I do to

[2021-08-09 16:08] manish-sethi commented on #2806
`status.Err()` returns a [custom error](https://github.com/grpc/grpc-go/blob/574137db7de3c10e010d5023626169f13540cef1/internal/status/status.go#L145) that includes the whole status object. In fact, as per [grpc code doc](https://github.com/grpc/grpc-go/blob/574137db7de3c10e010d5023626169f13540cef1/call.go#L28), all errors returned from grpc layer are of this type. So, in this design, the client wo

[2021-08-09 23:52] jcastrence opened #2817 "Ledger comparison utility - Report first N differences"
Generate a separate results file that contains the first n differences, ordered by transaction and block number, where n is an integer parameter provided by the user. Command throws an error if no n parameter is provided by the user.

[2021-08-09 23:54] jcastrence opened #2818 "Ledger comparison utility - Private data comparison"
Generate a list of differences between the private data in a separate json output file when running the compare command.

[2021-08-09 23:56] jcastrence opened #2819 "Ledger comparison utility - Target namespace flag"
Ability to filter ledger channel state comparison by chaincode namespace. This can be achieved with addition of a new command flag for the namespace.

[2021-08-10 02:12] denyeart commented on #2818
@jcastrence I was thinking we should always compare both public and private data, rather than having a flag option.
What do you think @manish-sethi ?

[2021-08-10 02:38] denyeart commented on #2806
Ok, I see that status.Convert() does indeed convert the error back into a status object with the details containing the underlying errors. So this information must be getting returned to the grpc client, which in our case are the new slim SDKs. It looks like the new slim SDKs are only returning the generic error message back to the client applications, not the details containing the underlying err

[2021-08-10 12:15] denyeart opened #2820 "Document that AbsoluteMaxBytes must be half of grpc limit"
Since payload is included twice in ProposalResponse response messages from peer to client (e.g. GetBlockByNumber), the AbsoluteMaxBytes in channel config must be set at a maximum to half the grpc max message limit (by default 100MB). This should be documented in configtx.yaml and documentation.

The grpc limit will become configurable in #2804

[2021-08-10 12:23] denyeart opened #2821 "Assess gateway impact on performance and peer memory footprint"

[2021-08-10 18:06] bestbeforetoday commented on #2806
I've opened hyperledger/fabric-gateway#158 to ensure we pass back gRPC errors directly to the client application so they can be converted to gRPC status and interrogated.

I think it would also be worth modifying the Gateway code within the peer to include appropriate detail text in the top-level error message to make the errors received by the client application more helpful even without converti

[2021-08-11 09:55] JieWaZi opened #2823 "external builder error"
when i use external builder to install a chaincode. the install is successed,but when i call invoke func ,the fabric return:
could not launch chaincode business3-golang-0-0-1:55c567d3eb1e5a35d12d9243cc782cfdd9fa226fc1e6250c4070ae4c47e0817e: chaincode registration failed: connection to business3-golang-0-0-1:55c567d3eb1e5a35d12d9243cc782cfdd9fa226fc1e6250c4070ae4c47e0817e terminated.

[2021-08-11 10:00] JieWaZi commented on #2823
[code]

[2021-08-11 11:52] susha1377 opened #2825 "Fabric Documentation - priorities"
This documentation Epic serves as an umbrella that captures the Fabric documentation priorities. See the included links for the actual work items.

[2021-08-11 17:32] #2806 closed, assigned to nobody

[2021-08-11 20:51] denyeart opened #2831 "invalid issue test [PLEASE IGNORE]"
This is a test of the invalid issue feature.

[2021-08-11 20:51] denyeart commented on #2831
/invalid

[2021-08-11 20:51] #2831 closed, assigned to nobody

[2021-08-13 09:28] mastersingh24 commented on #2804
The problem with doing this is that you need to entire network to support it.
Also, we really should not be increasing the max size about 100MB.

[2021-08-16 03:29] denyeart commented on #2804
@mastersingh24 Yeah, I've always wanted to keep it at 100MB unless there was a compelling reason to change. We've now found a compelling reason to change - some networks have set block AbsoluteMaxBytes to 100MB to match the grpc setting, resulting in certain interactions being a little larger than 100MB. They therefore need to bump up the grpc limit to handle these large blocks. The plan is to con

[2021-08-17 02:56] denyeart opened #2835 "Resolve fabric/orderer/common/cluster unit test flakes"
See details and occurrences in https://jira.hyperledger.org/browse/FAB-18506

[2021-08-17 03:01] #2791 closed, assigned to nobody

[2021-08-18 02:12] #2815 closed, assigned to nobody

[2021-08-18 21:11] #2820 closed, assigned to nobody

[2021-08-18 21:28] #2804 closed, assigned to nobody

[2021-08-19 01:49] Tallminsome opened #2840 "Error: failed to create deliver client failed to create new connection: context deadline exceeded"
When I tried to install a channel, this error came out:
Error: failed to create deliver client: orderer client failed to connect to orderer1.yzm.com:6051: failed to create new connection: context deadline exceeded.

Folllowing is the command:
# 安装channel
InstallChannel() {
    peer channel create \
        -o ${ORDERERNODE} \
        -c ${CHANNEL_NAME} \
        -f ./channel-artifacts/channel.tx \

[2021-08-19 08:39] andrew-coleman opened #2841 "Gateway evaluate() with transient data"
Currently the gateway's Evaluate() method will use discovery to select a peer (with highest block height) in order to evaluate the proposal unless overridden by the target_organizations property.

If transient data is included in the proposal, this could result in sensitive information being leaked to another org's peer.

This story will ensure that queries involving transient data are only sent t

[2021-08-19 15:50] khizerarshad opened #2846 "Organization User Limit Not Working"
I have noticed a strange bug with Hyperledger Fabric's latest release 2.3

The organization's cryptogen files have user limit check, but this check doesn't work exactly.

`  # "Users"
    # ---------------------------------------------------------------------------
    # Count: The number of user accounts _in addition_ to Admin
    # ----------------------------------------------------------------

[2021-08-20 13:00] #2841 closed, assigned to nobody

[2021-08-23 12:24] mobycrypt commented on #2804
Spent just 2 days to figure out that the value that `100 * 1024 * 1024` is hardcoded. It's a little bit misleading since i expected that `maxRecvMsgSize` in `core.yaml` suggest that it can be used to change the default (but it doesn't).

According to the limit - we exceeded the limit because our Java chaincode has gradle binary included in the project (~90mb). It allows us to avoid downloading it

[2021-08-23 19:15] lindluni commented on #2840
/invalid

[2021-08-23 19:16] #2840 closed, assigned to nobody

[2021-08-23 19:16] lindluni commented on #2823
/invalid

[2021-08-23 19:16] #2823 closed, assigned to nobody

[2021-08-24 12:18] #2803 closed, assigned to nobody

[2021-08-24 12:20] #2785 closed, assigned to nobody

[2021-08-24 13:09] andrew-coleman opened #2853 "Gateway integration tests - advanced endorsement cases"
Add extra integration tests to the gateway suite to verify the automatic generation of the ChaincodeInterest structure is working as expected.  In particular the following areas should have integration test coverage:
- Submitting transactions that modify an SBE state.
- Submitting transactions that modify a private data collection.
- Submitting transactions involving chaincode to chaincode calls.

[2021-08-24 17:12] #2817 closed, assigned to nobody

[2021-08-24 18:51] #2853 closed, assigned to nobody

[2021-08-25 07:14] andrew-coleman opened #2856 "Support 'DisregardNamespacePolicy' hint in Gateway"
The Gateway automatically generates the ChaincodeInterest structure to pass to the discovery service to find the optimal set of endorsers.  Following the gateway's implementation of this, an extra flag was added to this structure which instructs the discovery service to ignore the chaincode policy if all the state changes are validated by key (SBE) policies.  See https://github.com/hyperledger/fab

[2021-08-26 16:52] denyeart opened #2860 "Integration test integration/raft/config_test.go often fails on Go 1.16.7"
Integration test often fails in CI when using Go 1.16.7 at https://github.com/hyperledger/fabric/blob/main/integration/raft/config_test.go#L165.
The issue was not seen on prior Go version 1.15.7.
I cannot reproduce the issue in my environment on Go 1.16.7, it only appears in the Azure Pipeline execution.

The test expects orderer process to panic (and it does), however the test framework never rec

[2021-08-27 06:59] fangdengfu opened #2862 "MVCC_READ_CONFLICT"
Version 1.3

There are two chain codes (a and b) in the service channel. The service needs to call a, and a calls b internally.

The process was called twice in a row, and two transactions occurred in the same block. The one write set is as follows:

7915734a54a1237c9338fec28e82d72daec9d8a8d4384077a1994ca5bdecc5ba
71784071997b2ffcad95d29de0a1fa4447543aad883898ac01a637961937b8f0

`
key:55F909BED11F

[2021-08-27 23:07] yacovm commented on #2860
https://github.com/hyperledger/fabric/pull/2863

[2021-08-28 09:37] #2860 closed, assigned to yacovm

[2021-08-30 02:58] lindluni commented on #2862
/invalid

[2021-08-30 02:58] #2862 closed, assigned to nobody

[2021-08-30 03:05] lindluni commented on #2846
Looking at `cmd/cryptogen/main.go`, `Users.Count` is not meant to limit the number of users it is used by cryptogen to automatically generate a specific number of default profiles in excess of the admin account: https://github.com/hyperledger/fabric/blob/main/cmd/cryptogen/main.go#L334

[2021-08-30 06:06] xcfyl opened #2869 "what's the fabric‘s requirements for hardware?"

[2021-08-30 12:58] denyeart opened #2870 "Purge private data on demand - Design and RFC"
For background see https://jira.hyperledger.org/browse/FAB-5097

[2021-08-30 13:41] lindluni commented on #2869
/invalid

[2021-08-30 13:41] #2869 closed, assigned to nobody

[2021-08-31 11:38] jkneubuh opened #2884 "Bundle a chaincode-as-a-service external builder into the hyperledger/fabric Docker image"
The [Fabric Operations Guide](https://hyperledger-fabric.readthedocs.io/en/latest/cc_service.html#configuring-a-peer-to-process-external-chaincode) describes a process by which a Fabric network administrator may install an external builder to support the lifecycle of external chaincode service endpoints.   This involves updating the peer's config file with the location of the external builder, and

[2021-09-02 09:46] CoreyCheung opened #2890 "require github.com/hyperledger/fabric: version "v2.3.2" invalid: should be v0 or v1, not v2"
solution：
vim go.mod
module github.com/hyperledger/fabric/v2
go 1.14
require (...)

[2021-09-03 16:07] needhamj opened #2892 "Make collections config reference based"
This is from https://stackoverflow.com/questions/68635379/hyperledger-fabric-adding-new-members-to-channel-with-private-data-can-i-do/68643959#68643959 with the description being:
"""
As of now, every collection configuration is an explicit policy, so you need to perform an operation for each collection.

However, the design / architecture doesn't restrict the policy to be an explicit one, and is

[2021-09-03 20:09] #2818 closed, assigned to nobody

[2021-09-05 09:02] rohitroyrr8 opened #2895 "building fabric images for arm64 architecture"
I am looking for how can I build docker images for fabric components like peer, orderers, ccenv etc for arm based architecture.  I pulled fabric, fabric-ca and fabric-baseimage and make changes in respected Dockerfile but while running make getting below error. Please help me in that.

[code]

[2021-09-06 10:35] mastersingh24 commented on #2895
@rohitroyrr8  - which version are you building?  We no longer build couchdb images and we no longer build anything from fabric-baseimage except for critical fixes for Fabric 1.4.x which is not really supported.

CouchDB does provide an arm64 image now themselves as well, so the Makefile in Fabric main should pull the arm64 version

[2021-09-06 10:35] #2895 closed, assigned to nobody

[2021-09-06 10:36] #2846 closed, assigned to nobody

[2021-09-07 19:56] denyeart opened #2898 "Update chaincode tutorial doc for deterministic JSON marshaling"
Asset transfer basic sample was updated for deterministic JSON marshaling:
https://github.com/hyperledger/fabric-samples/pull/486

The corresponding chaincode doc tutorial should also be updated, both the code snippets and a mention about deterministic JSON marshaling:
https://hyperledger-fabric.readthedocs.io/en/latest/chaincode4ade.html

Only the Go chaincode is mentioned in the tutorial, but we

[2021-09-07 20:24] #2792 closed, assigned to nobody

[2021-09-13 21:05] denyeart opened #2906 "test epic"

[2021-09-13 21:06] #2906 closed, assigned to nobody

[2021-09-14 00:12] jcastrence commented on #2788
In bold are assumptions and questions on the implementation of the tool

GOAL 
Identify potentially divergent transactions

INPUT 
Set of keys in question (from file utility or otherwise)

**Format: json file holding one diffRecord list. Only the JSON elements "namespace" and key" will be parsed. Therefore it will also be possible to hand craft a JSON array of "namespace" and "key" pairs that the

[2021-09-14 08:01] Alex-duzhichao opened #2908 "Write config blocks synchronously in Orderer"
https://github.com/hyperledger/fabric/blob/3594a3be1644b20bf028fa22f5609a82dfbf0950/orderer/common/multichannel/blockwriter.go#L168-L176
As above snippet shows, Orderer writes config blocks to ledger asynchronously.

https://github.com/hyperledger/fabric/blob/3594a3be1644b20bf028fa22f5609a82dfbf0950/orderer/common/follower/follower_chain.go#L552-L568
As above snippet shows, follower chain reads bl

[2021-09-14 09:51] Alex-duzhichao opened #2910 "Unittest failed in cmd/common/signer"
When i run unittest in cmd/common/signer, i got:

[code]

Then i parse the `testdata/signer/cert_invalid_certificate.pem` certificate with `openssl`, i got:
[code]

[2021-09-14 12:19] denyeart commented on #2819
We decided not to implement the filter, closing.

[2021-09-14 12:19] #2819 closed, assigned to nobody

[2021-09-14 12:20] #2789 closed, assigned to nobody

[2021-09-14 12:22] #2898 closed, assigned to nobody

[2021-09-14 13:46] yacovm commented on #2910
What go version a you using?

[2021-09-14 14:50] andrew-coleman opened #2911 "Gateway: caching ordering nodes"
Currently, the gateway's submit function makes an internal request to the peer's discovery service to determine the list of available orderers for a channel.
It is inefficient to do this on every submit call since the list of orderers is relatively static.
Instead, a map of ordering nodes per channel should be cached in the gateway, and a callback should be registered for config update messages to

[2021-09-14 14:59] andrew-coleman opened #2912 "Gateway: randomize selection of orderer nodes with retry"
Currently, the gateway's submit function simply selects the first orderer node that is returned by discovery.
This list or orderers should be randomized to support improved load balancing.
Retry logic should be implemented such that if the selected orderer fails to return a success code, then the next orderer in the list should be tried.  If no orderers succeed, then return the error to the client

[2021-09-14 15:08] andrew-coleman opened #2913 "Gateway: retry logic for evaluate method"
Currently, the gateway's evaluate method will select a peer based on maximum block height in order to query the ledger.  If this fails due to connectivity reasons, then the error is returned to the client.
This enhancement will handle these errors by attempting to select an alternative peer, and retry the query.  If no peers can successfully process the query, then the error is returned to the cli

[2021-09-14 15:20] andrew-coleman opened #2914 "Gateway: retry logic for endorse method"
Currently, the gateway's endorse method will make a discovery call and select a single layout from the discovery results.  A layout consist of groups of peers where (say) one peer is required from each group.  The current logic is to sort each group by block height and select the peer with the highest block number. If this fails due to connectivity/infrastructure reasons, then a complete set of en

[2021-09-14 15:30] andrew-coleman opened #2915 "Configuring gateway resource limits"
Currently there are no limits on the resources (e.g. cpu, memory) that the gateway service could consume within the peer process.  This means that a large number of concurrent requests, or requests containing very large payloads could crash the peer.
This enhancement adds support for defining concurrency limits in a similar manner to how it is currently applied to the endorser service and deliver

[2021-09-14 15:56] denyeart opened #2916 "Add Java example to chaincode as external service documentation"
Per stackoverflow post https://stackoverflow.com/questions/69115892/hyperledger-fabric-java-chaincode-timeout-expired-while-starting-chaincode  , it appears Java chaincode is missing from chaincode as an external service doc topic:
https://hyperledger-fabric.readthedocs.io/en/latest/cc_service.html#writing-chaincode-to-run-as-an-external-service

[2021-09-14 21:53] #2856 closed, assigned to nobody

[2021-09-15 02:41] Alex-duzhichao commented on #2910
[code]

[2021-09-15 06:35] justin-themedium opened #2920 "The links have been broken for the list of international groups in docs/"
The list of international workgroups was moved
from https://wiki.hyperledger.org/display/fabric/International+groups
to https://wiki.hyperledger.org/display/I18N/International+groups.

But the document has used the old one (https://wiki.hyperledger.org/display/fabric/International+groups).

[2021-09-15 08:17] justin-themedium commented on #2920
Reopen this issue for fabric-docs-i18n

[2021-09-15 08:22] favccxx opened #2922 "scripts/createChannel.sh: line 40: osnadmin: command not found"
I start the fabric network with 2.2 success,  But failed to create channel, for the reason osnadmin command not found.

[root@localhost test-network]# docker ps -a
CONTAINER ID   IMAGE                               COMMAND             CREATED       STATUS       PORTS                                                                                                                                 NAME

[2021-09-15 12:18] justin-themedium commented on #2920
https://github.com/hyperledger/fabric-docs-i18n/issues/552 for fabric-docs-i18n

[2021-09-15 12:18] #2920 closed, assigned to nobody

[2021-09-15 13:20] denali49 commented on #2922
Hello,

The OSN Admin capabilities were introduced in Fabric 2.3 so you need to be on that version to have visibility to the OSN Admin commands.

I hope this helps.

Chris

[2021-09-15 16:57] yacovm commented on #2910
Try with Go1.16

[2021-09-15 22:36] manish-sethi commented on #2788
The above comment does not appear very readable but whatever I could interpret, listing below a few additional points.
- If not supplied the key list from the user, limit the initial input to top-k divergent keys.
- For commit hash dump, we can simply dump the first commit hash divergence and full corresponding block as a separate JSON in the file, instead of printing with each entry as this may h

[2021-09-16 11:38] wyazdani opened #2928 "First Chaincode init function gets called for all chaincodes"
Hi, I am facing an issue when I am working with multiple chaincodes I define the in index.js but when I package them through fabric cli the issue I see is that the first chaincode Init function is repeated on the others,. Attaching sample code

Declaring in index.js
[code]

Then when calling chaincode
[code]

It Throws error
Error: endorsement failure during invoke. response: status:500 message:"e

[2021-09-16 12:43] denali49 commented on #2928
Hi,
I think this is a typo in your declarations in index.js
FabCar2r;

Sent from my iPhone

[2021-09-16 20:28] yurivict opened #2929 "Go's indexing servers didn't pick up real version number for fabric"
I use this script to retrieve all Go packages:
[code]

For example, ```go-retrieve-all-packages.sh 2021-09-10T00:00:00Z```

fabric is registered with incorrect versions like ```v0.0.0-20210916200841-1243e99c1ff2```, and ```2.3.3``` doesn't appear there.

[2021-09-16 20:29] yurivict commented on #2929
My guess is that .mod file should contain ```module github.com/hyperledger/fabric/v2```.

[2021-09-16 21:07] MTarek22 opened #2930 "Ledger"

[2021-09-16 21:37] tkuhrt commented on #2922
I did the following steps to get past this issue from `fabric-samples/test-network`:
[code]

[2021-09-16 23:32] kopaygorodsky opened #2931 "Orderer fails to start after some time being down. failed to open WAL: fileutil: file already locked"
It happened on my network when an orderer crashed because no space was left of a device. I'm running nodes in k8s, so I just resized related PersistentVolumeClaim and restarted the node.  It fails to start with this error `fileutil: file already locked`. It happens only to a specific channel, the other ones are ok and replicated just fine.

Logs : https://pastebin.com/pb1XSGn9

For some reason ord

[2021-09-17 01:58] yacovm commented on #2931
what is going on here? Is that node the only one in that channel?

[2021-09-17 02:05] heyouxian opened #2932 "In Fabric 2.2.3, when approve chaincode with different packege id, commit still can be success"
I found when different organization approve chaincode by "peer lifecycle chaincode approveformyorg", the "--collections-config" file content and the "--signature-policy" string must be strict equals to the one in "peer lifecycle chaincode commit".
But why there is no "--package-id" in commit command? If two organization install and approve different chaincode with same version, sequence, collectio

[2021-09-17 07:50] andrew-coleman commented on #2930
This will need a bit more information.  Closing for now.

[2021-09-17 07:50] #2930 closed, assigned to nobody

[2021-09-17 08:32] kopaygorodsky commented on #2931
yes, it was some kind of dev env with a single orderer node. I managed to replicate the same on the network with 3 orderers.

[2021-09-18 00:42] kopaygorodsky commented on #2932
If I'm not mistaken, packageId should be unique only in a context of an organization. It's ok to have different IDs of the same chaincode in different organizations. When you approve, you agree that at the specified sequence you trust your installed chaincode.

From Fabric doc:

`
The chaincode definition also includes the Package Identifier. This is a required parameter for each organization that

[2021-09-18 01:24] kopaygorodsky commented on #2931
@yacovm pointed
`a channel was created and space ran out, so the orderer crashed. When it boots, the system channel initialized before the application channel and it sees it hasn't finished creating the channel properly
so it creates the channel again, and also initialized the chain
afterwards, the application channel is started`

[2021-09-18 03:05] heyouxian commented on #2932
But in my testing, the package id is generated with format `<chaincode name>_<chaincode version>:<chaincode hash>`, I'm not sure how the `<chaincode hash>` is calculated, but I found the same java chaincode jar generated the same value in all organizations. So from my understanding, for different organizations on a channel, they should install the same chaincode with same name and version, and app

[2021-09-21 14:35] denyeart commented on #2794
Closing... we will track each utility command as a separate epic.

[2021-09-21 14:35] #2794 closed, assigned to nobody

[2021-09-22 00:22] denyeart commented on #2835
#2935 fixed the most frequent flake.

The other flake we see sometimes is in TestBlockPullerBadBlocks.

Example here:

https://dev.azure.com/Hyperledger/0227bd2c-c4f6-478f-be00-ee519f115180/_apis/build/builds/39770/logs/9

[code]

[2021-09-22 00:27] denyeart commented on #2835
[TestBlockPullerBadBlocks.txt](https://github.com/hyperledger/fabric/files/7206950/TestBlockPullerBadBlocks.txt)

[2021-09-23 01:57] x-shadow-man commented on #2916
@denyeart i wanna take this issue.

[2021-09-23 13:48] indranil32 commented on #2916
@denyeart Do we have an example for "chaincode as external service" in fabric-samples?

[2021-09-27 13:36] #2911 closed, assigned to andrew-coleman

[2021-09-27 19:58] lehors commented on #2916
Yes, we do. Check asset-transfer-basic/chaincode-external

[2021-09-28 08:22] andrew-coleman opened #2948 "Gateway: closing stale connections to orderer nodes"
The gateway registry maintains a grpc connection cache to other endorsing peers and orderers.  Currently, there is no mechanism in place to close these connections to stale peer or orderer nodes, which will cause resource leaks.
This story will implement connection closure and removal of orderers from the gateway registry.
For orderer nodes, it can hook into the config change callback and detect w

[2021-09-28 14:38] #2912 closed, assigned to andrew-coleman

[2021-09-29 07:54] davidkel opened #2958 "SetEvent can only be called by chaincode invoked by a client doc is difficult to find"
In the fabric documentation I can only find a single reference to this limitation buried at https://hlf.readthedocs.io/en/latest/developapps/transactioncontext.html#stub
This information is not in the fabric 2.2 documentation so needs to be backported

However, application developers try to set events on chaincode called by chaincode and are not aware that this is a limitation and are unable to fi

[2021-09-29 10:14] davidkel opened #2960 "Setting up the development environment documentation is out of date"
In devenv.rst the pre-reqs are
[code]

For Go we need to update this to 1.16.7 across main/2.2/2.3 but also mention that building tagged versions may require an older version of Go.

The versions of docker vary between windows/mac/linux (windows/mac have docker desktop versioning) so would need to provide more context here really.

For Mac, using brew to install pre-reqs could be an issue (I don't

[2021-09-29 14:06] davidkel commented on #2958
Raised issues against chaincode-java and chaincode-node to add this information. Closing

[2021-09-29 14:06] #2958 closed, assigned to nobody

[2021-09-29 18:53] yacovm commented on #2931
Merged in 2.3, 2.2, 1.4 and main.

[2021-10-04 14:25] mbwhite commented on #2884
FYI - Just having a look at the Fabric codebase to get an idea of which would be easiest route here.

[2021-10-04 15:26] georgejdli commented on #2895
Is there a way to build the 1.4 thirdparty images (couchdb) for arm64?
I'm looking at the makefile for release-1.4 and it looks like it only pulls the thirdparty images from dockerhub
Everything else seems to work in amd64 emulation but the couchdb container crashes

Edit:
So instead of using the fabric built docker image for couchdb you're saying we can use the official version instead?
docker pu

[2021-10-04 18:59] cdesch opened #2969 "Unix socket for Docker Daemon required for `peer lifecycle chaincode install`?"
When running the installation of `chaincode` on HLF `2.2.1` and HLF-CA `1.4.7` on a kubernetes cluster using the container image `hyperledger/fabric-tools:2.2.1`  with the command:

     peer lifecycle chaincode install resource_types.tar.gz &> pkg.txt

I get the following error:

    Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode':

[2021-10-04 19:04] cdesch commented on #2969
Ah, I just saw this in the docs https://hyperledger-fabric.readthedocs.io/en/release-2.2/deploypeer/peerplan.html#chaincode

[2021-10-05 08:26] davidkel commented on #2960
As a further assistance it might be helpful to also give a ubuntu example of setting the PKCS11 environment variables in order for the build to run

[2021-10-06 14:13] andrew-coleman opened #2971 "Rename EndpointError to ErrorDetail"
The gateway connects to and invokes external gRPC endpoints and if any of those return an error, they get translated into EndpointError proto messages and sent back to the client in the Details section of the google.rpc.Status error message.
Depending on the SDK language, this will get embedded in the resultant client exception.  The current name, ending in 'Error' has unintended connotations when

[2021-10-06 21:55] #2969 closed, assigned to nobody

[2021-10-06 22:15] denyeart commented on #2960
@davidkel I added some clarifications around Go and brew: https://github.com/hyperledger/fabric/pull/2973.

Go ahead with the hsm updates since you've got the most information in that area.

[2021-10-07 01:39] denyeart commented on #2932
The chaincode logic and resulting package id are not required to be the same at each org, and is not checked upon commit. This is because different organizations may add additional validation checks in the chaincode before endorsing. What is important is that each organization's chaincode execution results are the same, and this is checked for each transaction per the endorsement policy.

More det

[2021-10-07 01:39] #2932 closed, assigned to nobody

[2021-10-07 02:03] denyeart commented on #2929
I believe this was done intentionally since Fabric is a top level project and not meant to be used as a dependent library by other projects.

[2021-10-07 02:04] denyeart commented on #2928
/invalid

[2021-10-07 02:05] #2928 closed, assigned to nobody

[2021-10-07 02:06] yurivict commented on #2929
Top level projects also need to be registered on Go's indexing servers because package builders download project dependencies from there.

[2021-10-07 02:08] denyeart commented on #2922
Right, samples tagged with v2.2.x releases don't use osnadmin command. More recent samples (main branch) use osnadmin command.

[2021-10-07 02:08] #2922 closed, assigned to nobody

[2021-10-07 02:13] #2910 closed, assigned to nobody

[2021-10-07 02:15] denyeart commented on #2908
Fixed in #2909.

[2021-10-07 02:15] #2908 closed, assigned to nobody

[2021-10-07 02:16] denyeart commented on #2890
@CoreyCheung are you suggesting the same thing as in #2929

[2021-10-07 02:17] denyeart commented on #2802
/invalid

[2021-10-07 12:39] Param-S commented on #2835
TestBlockPullerBadBlocks Flake:

Status/Observations: (from above attached log)

[code]

[code]

[code]

[2021-10-07 13:14] justin-themedium commented on #2960
@davidkel Thank you for the information about known issues with softhsm2 v2.6.
I tried it with v2.6.1 (by brew install) and suffered on macOS for a while.
Once I installed v2.5, I passed the pkcs11 test during the build.

[2021-10-07 14:04] varadgit opened #2976 "Include the chaincode hash when installing an already existing chaincode"
When installing a new chaincode on the peer you do get the package id of the chaincode which is good... this allows customers to use that data to go through the approve/commit steps.

However the issue is when they are reinstalling an existing chaincode there is nothing in the response to indicate the package id(hash). Install in that case returns a message that the chaincode already exists. We sh

[2021-10-08 08:14] #2971 closed, assigned to andrew-coleman

[2021-10-08 12:09] denyeart commented on #2802
Thank you for opening this issue.

GitHub Issues is a tool for tracking bugs, feature requests, and work in general that relates directly to the Fabric codebase. It is not for general help requests. Please use one of the following forums to request help for your issue:

- RocketChat: https://chat.hyperledger.org
- Fabric Mailing List: fabric@lists.hyperledger.org

[2021-10-08 12:09] #2802 closed, assigned to nobody

[2021-10-08 13:25] denyeart commented on #2960
HSM clarifications added in https://github.com/hyperledger/fabric/pull/2977/ , closing. Thanks @davidkel

[2021-10-08 13:25] #2960 closed, assigned to nobody

[2021-10-08 14:36] jcastrence opened #2979 "Ledger Utility Identifytxs - Main Base Functionality 1"
Command line parsing for new tool:
- Establish new command (identifytxs) with one required arg (ledgerid) and one optional arg (filesysPath)

Tool should be able to:
- Establish instance of peer's block store and iterate through list of blocks
- Iterate through transactions in each block and print relevant data
- Iterate through the write set of each transaction

[2021-10-08 14:40] jcastrence opened #2980 "Ledger Utility Identifytxs - Main Base Functionality 2"
Extend functionality of tool to:
- Read list of diffRecords as json file (output from compare tool)
- Write transaction data to json of matched input keys
- Generate the output data in a file

[2021-10-09 08:49] Sunxiai51 commented on #2916
I cannot find **Java** external chaincode example in `asset-transfer-basic/chaincode-external`, just find a demo in [fabric-contract-example-external](https://github.com/hyperledger/fabric-chaincode-java/tree/release-2.2/examples/fabric-contract-example-external/src/main/java/org/example). I try to implement it but failed, chaincode server can start and register chaincode to peer successfully, but

[2021-10-11 08:52] satota2 commented on #2976
@denyeart I want to take the issue.

[2021-10-12 02:33] satota2 commented on #2976
@denyeart @varadgit
I have recently submitted the following patch and it has been merged.
I think this may have solved this Issue, but is it still not enough?
https://github.com/hyperledger/fabric/commit/cf341ee49aabae95f583add859ac9186e0a42bb4

I think another good way is to add a command to calculate the package ID for
the packaged source code (e.g., `peer lifecycle chaincode calulatepackageid`)

[2021-10-12 03:33] denyeart commented on #2976
@satota2 It looks like your PR may satisfy the request from @varadgit

Note that `peer lifecycle chaincode queryinstalled` already can return the package id for installed chaincodes:
https://hyperledger-fabric.readthedocs.io/en/latest/commands/peerlifecycle.html#peer-lifecycle-chaincode-queryinstalled-example

I guess you are asking about adding a new function to find the package id from a package

[2021-10-12 06:19] satota2 commented on #2976
@denyeart  Thank you for your comments and useful information.

Yes, I'm thinking of adding that function.

Although `queryinstalled` returns the package ID for installed chaincodes, I think this new function will be useful in some cases.
For example, the following cases:
- When multiple chaincode packages with the same label name are installed, it is possible to identify which ID corresponds to w

[2021-10-14 10:30] denyeart opened #2983 "Refactor Developing Applications documentation"
"Developing Applications" [doc](https://hyperledger-fabric.readthedocs.io/en/latest/developapps/developing_applications.html) has gotten somewhat outdated and is based on the Commercial Paper chaincode that many people don't understand. It should be overhauled and potentially based on a simpler chaincode that new developers can more easily understand.

Additionally it needs to be refactored for th

[2021-10-14 11:53] jkneubuh commented on #2916
Thanks @x-shadow-man and @Sunxiai51 for moving this forward!

Here's a project that demonstrates how to set up the `NettyChaincodeServer` to receive the grpc handshake when launching a Java chaincode process as a service:   https://github.com/hyperledgendary/contract-as-a-service/tree/main/java-contract

[ContractBootstrap.java](https://github.com/hyperledgendary/contract-as-a-service/blob/main/ja

[2021-10-15 01:55] Nanra commented on #2916
Thanks @jkneubuh for your information on the Java Chaincode project demonstration.
Btw in this official documentation [Chaincode as External Service](https://hyperledger-fabric.readthedocs.io/en/release-2.2/cc_service.html#writing-chaincode-to-run-as-an-external-service) states the chain code it as an external service it is only supported by Go and NodeJs. I think it will be a bit confusing for th

[2021-10-15 10:31] jkneubuh commented on #2916
Hi @Nanra I agree :  the documentation is both _confusing_ and **wrong**.   One great aspect of using the external Docker build process (and chaincode-as-a-service) is that we can write smart contracts in **any** language, rather than the limited set supported by the internal chaincode compiler.

To fix this issue I think the following items need to be addressed:

- Add a reference sample / extern

[2021-10-18 13:34] davidkel opened #2986 "Add the transaction id to orderer log message"
The following log message
[code]
would be more useful if it output the txnid it had forwarded.

In a system would be really useful to be able to track the path of a transaction through

[2021-10-18 16:02] andrew-coleman commented on #2986
I agree it would be useful, but this function is just forwarding a transaction envelope without looking in to it.  In order to extract the txId, it would need to unmarshal the transaction envelope payload to get the header, and then unmarshal the channel header from this to get at the txId.   That would add quite a bit of overhead to this function.

[2021-10-18 16:31] davidkel commented on #2986
Ok, understand. Maybe it would be worth doing if debug logging is turned on (although that means a lot of noise to try to track a specific transaction id) ?

[2021-10-19 14:50] mbwhite commented on #2884
This is one possible way this could be done; draft only PR... https://github.com/hyperledger/fabric/pull/2990

It effectively builds the external builder and then packages as part of the peers docker image.
If you take just the peer binary then it knows nothing about the external chaincode.

[2021-10-19 18:06] arsulegai commented on #2884
@jkneubuh @mbwhite I've a slightly modified version of this PR. It accommodate filling up package parameters via the environment variables. Reason: CC_ID uniqueness for all the peers of an organization becomes critical at approval lifecycle step.

https://github.com/arsulegai/fabric-cc-external-builder

Let me know if it sounds good and I'm happy to work together on improving it further.

[2021-10-20 08:05] mbwhite commented on #2884
thanks @arsulegai - I'll take a look at the repo.

The other approach is to make the concept of 'external' and 'chaincode-as-a-service' implicitly understood by the peer. Though I'm undecided on which is the better approach.

[2021-10-20 10:03] arsulegai commented on #2884
I like that idea, the concept of making the peer implicitly understanding `chaincode-as-a-service` sounds good. The current model on `external` builder can be left as is, given also the `docker` discontinuity in Kubernetes. For a peer's `chaincode-as-a-service`, it can be a separate template configuration under `core.yaml`.

However, chaincode builder has to package a chaincode server. Builder par

[2021-10-20 18:40] #2986 closed, assigned to nobody

[2021-10-21 11:50] jkneubuh commented on #2916
Additional confirmation that it's "too hard" to get started with a Java Chaincode-as-a-Service smart contract:
- https://stackoverflow.com/questions/69613730/hyperledger-fabric-invoke-java-chaincodeas-a-external-service-timeout/69661439#69661439

[2021-10-22 12:07] yacovm commented on #2807
I don't think we should couple SD and GW.
Service discovery is a service that is used also by Fabric smart client and older SDKs.
The fact that the gateway **uses** it doesn't mean we should couple the two together.

The gateway feature is big enough to deserve its own page. Of course, it makes sense to link to the gateway from the service discovery and vice versa, but let's not create technical c

[2021-10-22 13:12] denyeart commented on #2807
@yacovm

You can remove your emoji now!

[2021-10-24 10:49] davidkel opened #2993 "Support for windows in the documentation needs a complete overhaul"
The references to using windows with hyperledger fabric are minimal and potentially inaccurate now for example in
https://hyperledger-fabric.readthedocs.io/en/release-2.2/install.html#install-samples-binaries-and-docker-images
It talks about a docker quick start terminal, yet I cannot find that in my docker desktop installation
Also in https://hyperledger-fabric.readthedocs.io/en/release-2.2/prere

[2021-10-24 10:53] davidkel opened #2994 "Native Support For 64bit ARM in fabric"
With the introduction of the M1 ARM chip for Apple Macbooks plus the increasing interest in ARM as an alternative to Intel it would be good if fabric supported and published native ARM binaries

M1 Mac users at the moment can make use of Rosetta 2 to use fabric (although the bootstrap script currently fails to pull down binaries and images as it looks for a non-existent ARM architecture in the ima

[2021-10-25 08:18] YashonNice opened #2996 "Documentation leads to high learning costs"
Elegant documentation facilitates learning

[2021-10-26 12:24] denyeart commented on #2996
@YashonNice Without specific objectives we'll have to close the issue. Please add specific and targeted objectives for this issue.

[2021-10-26 13:35] #2914 closed, assigned to andrew-coleman

[2021-10-28 13:58] andrew-coleman opened #3001 "Add performance metrics to the gateway service"
Add Fabric prometheus/statsd metrics to the gateway service component.

[2021-10-28 16:46] joshhus commented on #2807
@denyeart Should this link to Epic https://github.com/hyperledger/fabric/issues/2825 ... no correct answer.

[2021-10-28 17:21] denyeart commented on #2807
@joshhus yes this issue is a child of epic #2825

[2021-10-29 10:34] andycao125 opened #3003 "Tools-Docker Make error."
When Tools-Docker compiles 2.3, it will appear as follows:
Make: Go: Operation Not Permitted
Make: Go: Operation Not Permitted
Make: Go: Operation Not Permitted
Make: git: Operation Not permitted
Make: Go: Operation Not Permitted
Make: git: Operation Not permitted
Make: Go: Operation Not Permitted
Make: git: Operation Not permitted
Make: Go: Operation Not Permitted
Make: git: Operation Not permitt

[2021-10-29 13:54] #2913 closed, assigned to andrew-coleman

[2021-10-29 14:16] mbwhite commented on #2884
@arsulegai the primary advantage of the implicit knowledge of the chaincode-as-a-service is that a 'plain' non-dockerised peer binary would work 'out-of-the-box' with chaincode-as-a-service.

An assumption that I've made, that forgive me, I don't think I've clearly explained - is that the builder code, for either approach has nothing smarter than the basics.  It's job being to soley  curate the in

[2021-10-29 14:33] mbwhite commented on #2884
This is a very good point.  To recap - today, in one organization multiple peers can have the same chaincode package installed (with it's hash-created CC_ID).  A single approval is made per organization, and each peer will then use the chaincode package to spin up the chaincode container. There's a 1:1 between peer and a chaincode instance.

However with the chaincode-as-a-server, the package is a

[2021-10-29 18:34] Sunxiai51 commented on #2916
@jkneubuh  Thanks for your reply.

I found the reason why `the invoke of contract method from peer always be timeout`, and I try to fix it in https://github.com/hyperledger/fabric-chaincode-java/pull/207

By the way, [that question](https://stackoverflow.com/questions/69613730/hyperledger-fabric-invoke-java-chaincodeas-a-external-service-timeout/69661439#69661439) is asked by me.  : )

[2021-10-29 20:46] jkneubuh commented on #2916
The specific issue of the timeout can be addressed by PR #207.

But in the general case, this opens a couple of questions:

- Why run Java8/11 in mixed mode?   If we provide a sample template / reference example for Java Chaincode, it needs to be consistent with respect to the JVM bundled into the docker container.  The project template should have clear expectations for javac/java revisions, and

[2021-10-30 07:30] Sunxiai51 commented on #2916
@jkneubuh  Here is my experiences:
- run chaincode with shim 2.3.1 or 2.2.3 on Java8, exception occurs
- run chaincode with shim 2.2.3 on Java9, it works well
- run chaincode with shim which re-built (added type cast) base on 2.2.3, it works well on Java8

I haven't tried the 2.4.0-beta yet.

And I think more important than improving compatibility is to supplement documents with usage and restrict

[2021-11-01 11:22] mbwhite commented on #2916
Hello.. sorry I'm late to this issue.

For reference here are some examples of how to use the chaincode-as-a-service for different langauges. I would like to have some of the 'boilerplate' main code pushed into the main repos. (see Java chaincode issue https://github.com/hyperledger/fabric-chaincode-java/issues/208)

Example code at
https://github.com/hyperledger/fabric/pull/2990#issuecomment-9487

[2021-11-02 14:13] mbwhite commented on #2884
I've updated the PR at https://github.com/hyperledger/fabric/pull/2990 - this two notable changes
1) Rather than using the environment variable override, modify the core.yaml directly
2) In connection.json that is packaged in the chaincode package, each string is now being treated as a golang template string.  The context from this string is taken from EXTERNAL_CHAINCODE_BUILDER_CONFIG environment

[2021-11-03 09:19] Alex-duzhichao opened #3014 "Support docker registry authentication when pulling chaincode builder images and chaincode runtime images"
When deploying fabric in enterprise's intranet (without the ability to access internet),  users maybe upload chaincode builder images and chaincode runtime images to a private docker registry which requires authentication when pulling images.
I think fabric can support this scenario by adding configuration in `chaincode` section of core.yaml, such as:
[code]

and then uses this configuration for a

[2021-11-03 11:59] gqqnbig opened #3015 "Confusing examples on Read-Write set semantics"
[docs/source/readwrite.rst](https://github.com/hyperledger/fabric/blob/main/docs/source/readwrite.rst) says each read operation has a key and a version. However, the read operations in the last World state example have no version.

Do you like me adding read version to the example? It would be like this:

T5 will fail because it reads k5 of version 4 but in world state k5 is of version 5, meaning

[2021-11-03 21:15] joshhus commented on #2807
- Reviewed / commented on Gateway overview doc PR - https://github.com/hyperledger/fabric/pull/3008 ... I would recommend another iteration before final, due to length and complexity.
- Terminology - I think we can properly initial capitalize "Fabric Gateway" as a feature (even though it's no-cost), and then safely use "gateway" as shorthand within that context.

[2021-11-05 10:28] luismcortestirado opened #3018 "How can I join orderers from two organisations?"
Good morning, I have an issue with Minifabric and I need to be able to resolve it.
I have the following infrastructure generated on two different computers:

--> Computer 1:

    CA: "ca01.domain01.net"
    Peer 1: "peer01.org01.domain01.net".
    Peer 2: "peer02.org01.domain01.net"
    Orderer: "ord-fabric01.domain01.net"

--> Computer 2:

    CA: "ca01.domain02.es"
    Peer 1: "peer01.org02.doma

[2021-11-08 03:04] satota2 commented on #2976
@denyeart We may be able to close this Issue. Please let me know if there are any other features that should be added or improved in this issue.

[2021-11-08 07:17] luismcortestirado commented on #3018
????????????????????????????????????

[2021-11-08 20:29] joshhus commented on #2807
@denyeart Can you confirm the tutorials text - seems odd that the CLI would not use gateway. Or are we saying that CLI does not access the gateway for THIS command / examples.
Also what is this https://github.com/hyperledger/fabric/tree/main/docs
vs. this https://github.com/hyperledger-labs/fabric-operations-console/tree/main/docs

[2021-11-08 20:55] manish-sethi opened #3020 "Add new function in chaincode shim"
Add new function in chaincode shim - PurgePrivateData(collection, key string) error

[2021-11-08 21:24] manish-sethi opened #3021 "Update Proto Message KVWriteHash"
Add field `is_purge` to [KVWriteHash](https://github.com/hyperledger/fabric-protos/blob/9c69228417592158899cb0dd4a77a3eedf25225f/ledger/rwset/kvrwset/kv_rwset.proto#L57) proto message.

[2021-11-08 21:27] manish-sethi opened #3022 "Upgrade Private data store retroactively"
Upgrade private data store at peer boot time for creating HashedIndex entries retroactively.

[2021-11-08 21:34] manish-sethi opened #3023 "Changes during private data commit and deletion caused by BlockToLive"
Create HashedIndex entries when adding new private data and Delete HashedIndex entries when deleting private data caused by BlockToLive policy.

[2021-11-08 21:36] manish-sethi opened #3024 "Process PurgeMarker in background"
Process PurgeMarker in private data store to delete the private data historical versions in the background.

[2021-11-08 21:39] manish-sethi opened #3025 "RWSet preparation during transaction simulation"
Prepare RWSet to capture the purge operation during transaction simulation.

[2021-11-08 21:41] manish-sethi opened #3026 "Process purge operation during block commit"
Delete from hashed state atomically and create a PurgeMarker in private data store

[2021-11-08 21:43] manish-sethi opened #3027 "Update reconciliation process"
Update reconciliation code to consider PurgeMarker and deal with partial write-sets

[2021-11-08 21:44] manish-sethi opened #3028 "Filter data returned from private data store"
Consider PurgeMarkers to filter the data before sending out from private data store.

[2021-11-08 21:46] manish-sethi opened #3029 "Introduce a new capability to enable processing purge operation"

[2021-11-08 21:48] manish-sethi opened #3030 "Write integration tests"
Write integration tests to verify the behavior of purge operation and changed reconciliation process.

[2021-11-09 13:19] denyeart commented on #2807
@joshhus CLI should ideally use gateway, but updating the CLI has not been prioritized yet.

Your first link is the main fabric docs source that generates ReadTheDocs.
The second link is specific to the IBP fabric operations console that was contributed recently to Hyperledger.

[2021-11-09 14:57] denyeart commented on #2976
Yes, looks like this is all done, closing.
@varadgit please re-open or open another issue if you think anything else needs to be done in this space.

[2021-11-09 15:53] andrew-coleman opened #3033 "Support chaincode calling chaincode emitting event"
Ensure that the gateway's logic for gathering the correct endorsements works for the scenario where a chaincode calls another chaincode which just sets an event (no RW set).  The correct endorsements must be gathered for the event to be emitted on validation.

This might just involve adding a test for this scenario, but if necessary, code changes may be needed.

[2021-11-10 05:55] denyeart commented on #3018
Closing - Fabric issues are meant for Fabric code issues.

Please open against https://github.com/hyperledger-labs/minifabric or utilize community support such as rocketchat https://chat.hyperledger.org/channel/fabric-questions or mailing list.

[2021-11-10 05:55] #3018 closed, assigned to nobody

[2021-11-10 05:57] denyeart commented on #3015
Let's get input from the author @manish-sethi

[2021-11-10 06:01] denyeart commented on #3014
What do you think @mbwhite ?

[2021-11-10 06:16] #2996 closed, assigned to nobody

[2021-11-10 10:01] mbwhite commented on #3014
I can see that could be a useful addition certainly; we can currently configure what the chaincode builder images are, and that could quite easily be a private repo.

I'd suggest that we mark this as an Good First Issue, and ask for community contributions.

If possible,use the 'as-a-service' pattern for chaincode as this avoids these type of issues :-) Of course, might not be applicable in all ca

[2021-11-10 10:11] andrew-coleman commented on #3033
According to the current docs, this can't be done.
https://hyperledger-fabric.readthedocs.io/en/release-2.2/developapps/transactioncontext.html#stub
(scroll down to Event APIs)

[2021-11-10 13:54] ws160920096 opened #3039 "Error: chaincode install failed with status: 500"
I built version 2.4 and used test-network to test the network. The smart contract was not successfully deployed, and an error was reported as follows:
**Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: docker build failed: docker image inspection failed: **cannot connect to Docker endpoint**
Chaincode insta

[2021-11-11 21:22] joshhus commented on #2807
I don't seem to have access to check boxes. Tutorials done. Gateway overview done or close to it.
2 of 3 Key Concepts done, at high level mention. Will post URLs to verify.

[2021-11-12 04:22] satota2 commented on #2976
@denyeart

Thank you for the confirmation.
I don't seem to have the permission to close this Issue, so could you please close the issue?

[2021-11-12 08:26] berserkr commented on #3003
This happened on 2.3... it went away on 2.4 beta... but now I am getting:
[code]

[2021-11-12 13:11] sxkm opened #3043 "Fabric"

[2021-11-12 13:27] #3043 closed, assigned to nobody

[2021-11-12 14:27] #2976 closed, assigned to nobody

[2021-11-14 04:26] denyeart commented on #3039
The issues in this repository are meant for core Fabric code issues.
It sounds like this problem is environmental, can't connect to Docker endpoint on your machine. For these types of issues please look for community support on Fabric mailing list or Rocketchat.
https://hyperledger-fabric.readthedocs.io/en/latest/CONTRIBUTING.html#getting-help

[2021-11-14 04:26] #3039 closed, assigned to nobody

[2021-11-15 16:50] mbwhite commented on #2884
**Links to related issues/prs**.

_Fabric_
- Implementation PR https://github.com/hyperledger/fabric/pull/2990
- TODO - Read-The-Updates

_Fabric-Samples updates_
- Use the builder in the `test-network-k8s` https://github.com/hyperledger/fabric-samples/pull/527
- Use the builder in the `test-network-nano-bash` https://github.com/hyperledger/fabric-samples/pull/507
- TODO: Update CC examples.  Basi

[2021-11-15 22:43] manish-sethi opened #3046 "Documentation for private data purge"

[2021-11-16 14:04] manish-sethi commented on #3015
It is implicit that the version in a `read` operation is same what is written by the most recent transaction on the key. This example shows that given the initial world-state and a sequence of transactions, how these transactions will behave during validation.

I am fine if you want to add versions in the reads explicitly but what you have in the suggested change, is not correct. E.g., T5 has `rea

[2021-11-16 20:41] joshhus commented on #2807
@denyeart I suggested some clarifications for your follow on PR - 2 comments - https://github.com/hyperledger/fabric/pull/3047
@andrew-coleman

[2021-11-16 21:00] denyeart commented on #2807
@joshhus  I answered your direct question in #3407. Please go ahead with any subsequent edits in another follow-on PR.

[2021-11-17 01:50] gqqnbig commented on #3015
@manish-sethi

The reason that I wrote "T5 -> Write(k6, v6'), read(k5, **v4**)" is to show the importance of the read version. As the article previously said, read version is used for validation, is essential, and cannot be removed.

With "T5 -> Write(k6, v6'), read(k5, **v4**)", we show readers how a transaction is rejected due to wrong read version. Otherwise the current example does not cover r

[2021-11-17 04:03] manish-sethi commented on #3015
This is covered in the current example... see the sentence `T2 fails validation because it reads a key, k1, which was modified by a preceding transaction - T1`

[2021-11-17 04:56] gqqnbig commented on #3015
Agree. But it is not rejected due to literally read version. Since "modified by a preceding transaction" is implemented as a version increment, why don't we show it in the example clearly?

The current example implicitly declares and modifies read version. My point is we can make it explicit.

[2021-11-17 13:36] manish-sethi commented on #3015
Not sure what you mean here. It is clearly rejected because the version that `T2` read during simulation is changed by `T1` before `T2` get committed.

I have one suggestion if you think that it would make the example clearer.

Add the versions to the reads (which would all be the same as in the initial world-state). Moreover, after commit of each of the transactions (T1, T2, ...T5), we could show

[2021-11-18 12:53] luismcortestirado opened #3057 "Unable to edit ORG1MSPanchors.tx in Hyperledger Fabric"
Hello, I'm trying to edit the file ORG1MSPanchors.tx, so I've executed the following commands:
[code]

But the changes are not made in ORG1MSPanchors.tx. Does anyone know why this might be? Thanks...

[2021-11-18 15:10] aaronbeer81 opened #3058 "Unable to get Fabric Network with TLS Chain of Trust of multiple Fabric CA Servers working!"
Repost for publicity: [https://github.com/hyperledger/fabric-ca/issues/266](https://github.com/hyperledger/fabric-ca/issues/266)
Please comment only on the linked Issue!

Thank you very much!

[2021-11-18 15:31] jovanknnx commented on #2797
Has this issue been picked? Can it be assigned to me?

[2021-11-19 03:12] xujiamingtxwd123 commented on #3057
Describe the modified fields about ORG1MSPanchors.json ，It is helpful for everyone to analyze the problem

[2021-11-19 14:19] joshhus commented on #2807
@denyeart @andrew-coleman Another page to get a redo for for 2.4 gateway - https://hyperledger-fabric.readthedocs.io/en/release-2.3/txflow.html?highlight=transaction%20flow . ... With images.

[2021-11-19 15:46] rajan-31 opened #3063 "After packaging chaincode, install command giving error reading as gzip stream: gzip: invalid header"
Full Error:

```Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not parse as a chaincode install package: error reading as gzip stream: gzip: invalid header```

Project Repo: https://github.com/rajan-31/hyperledger-fabric_simple

My Setup:

    CORE_PEER_TLS_ROOTCERT_FILE=./crypto/peerOrganizations/org1.example.com/peers/peer1

[2021-11-20 07:37] gqqnbig commented on #3015
See if you guys are happy with the following revision. If yes, I will make a PR.

Now, consider a set of five transactions ``T1, T2, T3, T4, and T5``, all
simulated on the same snapshot of the world state. The following snippet
shows the snapshot of the world state against which the transactions are
simulated and the sequence of read and write activities performed by
each of these transactions.

.

[2021-11-20 09:10] itaru2622 opened #3066 "add http proxy support to core/chaincode/platforms"
current main branch doesn't support http proxy in chaincode container image build phase (peer lifecycle chaincode package etc).

as the result, user needs to take below work-around at this moment.
choice A)  download  all dependencies before peer lifecycle chaincode package ( go mod vendor etc)
choice B)  build and use custom CORE_CHAINCODE_{{LANG}}_RUNTIME image.

in the above choices,
user needs

[2021-11-20 10:10] itaru2622 commented on #3066
I found fake domains('.invalid'  'host.com') and hostnames without domain  in test codes, and it made tests difficult.

when no_proxy set as below, all tests passed,  otherwise it got failure by fake domains and hostnames.
[code]

The above  caused that  communication to fake endpoints produces different result  as below:
- when legacy environment(without proxy or bypassing by no_proxy),  testcode

[2021-11-20 13:19] rajan-31 commented on #3063
The problem was with the packages I installed using command:

`GO111MODULE=on go mod vendor`

I defined wrong version of go 1.14 in "go.mod" instead of 1.16 because the version of go installed was "1.16".

(The incompatible packages were installed, so the package file generated was not a correct gzip file)

Solution:

- Delete vendor folder
- write go.mod with correct go version
- run `GO111MODULE

[2021-11-20 13:19] #3063 closed, assigned to nobody

[2021-11-21 08:13] rajan-31 opened #3068 "Chaincode container getting created but not starting"
Hyperledger-Fabric: v2.3.3

Peer docker image: tag 2.3.3

***Note: I was using Go lang chaincode.**

Error on peer logs after committing chaincode:

```ERRO 036 start-could not start container: API error (400): failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "chaincode": executable file not found in $PATH: unknown```

```WARN 037 c

[2021-11-22 07:48] luismcortestirado commented on #3057
I have changed the version number in the "payload.data.config_update.read_set.groups.Application.version" and "payload.data.config_update.write_set.groups.Application.version" fields as indicated in this issue: https://stackoverflow.com/questions/53999025/hyperledger-fabric-error-validating-readset-readset-expected-key-group-ch, but the changes are not being made.

[2021-11-22 15:34] manish-sethi commented on #3015
You have referred to versions as `1, 2` in your text. In the example the versions are referred to as `V1, V2,...` and when a version is updated it's referred to as `v1', V2',...`.

If you read the first paragraph in this example, a tuple in the world-state is in the form `(key, value, version)`

[2021-11-22 21:00] gqqnbig commented on #3015
Well, no. Section Example simulation and validation says the world state is represented by a tuple **(k,ver,val)** where ver is the latest version of the key k having val as its value.

[2021-11-22 23:27] joshhus commented on #2807
- New PR for Peers e3e edit. Gateway overview some minor updates. https://github.com/hyperledger/fabric/pull/3072
- Note diagrams are commented out for Figure 6 and Figure 10. They are complex, the original source is lost, and we have no graphic design resource to redraw. TBA. In 2.3 these are https://hyperledger-fabric.readthedocs.io/en/release-2.3/peers/peers.html#applications-and-peers and http

[2021-11-23 05:07] manish-sethi commented on #3015
Sorry, my mistake. Yes, you are right. I misread my own text :-). Please go ahead with your changes. Just fix one error in your text...

`T4 fails the validation because it reads key k2 of version 1 but k2 in the world state has progressed to version 2.` -> ....progressed to **version 3**

[2021-11-23 13:07] #2979 closed, assigned to nobody

[2021-11-23 13:07] #2980 closed, assigned to nobody

[2021-11-23 13:07] #2788 closed, assigned to jcastrence

[2021-11-23 13:09] denyeart opened #3073 "Update Go to 1.17.x"
Update Go to 1.17.x in fabric and related repositories.

Prep PRs:
Fix build tags for Go 1.17 - https://github.com/hyperledger/fabric/pull/3070
Resolve Go 1.17 staticcheck issues for dependency projects - https://github.com/hyperledger/fabric/pull/3114

[2021-11-23 13:11] denyeart commented on #3068
@mbwhite any ideas?

[2021-11-23 14:23] rajan-31 commented on #3068
*Note: I was using Go lang chaincode.

The problem was that the package name in chaincode file was not "main" (I thought that we have to name it as parent directory).

So, the binary was not getting generated after the chaincode was committed. As a result when the peer was trying to launch/run chaincode container it was saying that I don't have binary/executable file to run.

**After changing pack

[2021-11-23 14:23] #3068 closed, assigned to nobody

[2021-11-23 14:27] mbwhite commented on #3068
@rajan-31 this is a golang chaincode?

[2021-11-23 15:37] rajan-31 commented on #3068
Yes. I forgot to mention that.

[2021-11-24 03:54] denyeart commented on #2797
@jovandlt the next step is for somebody to prepare an RFC with the proposed pruning design. You are welcome to start an RFC, you can review the RFC process at https://github.com/hyperledger/fabric-rfcs/ and see the snapshot RFC to get some ideas of what a completed RFC looks like - https://github.com/hyperledger/fabric-rfcs/blob/main/text/0000-ledger-checkpointing.md.

[2021-11-24 07:10] Xingxingyeyouxinshi opened #3076 "An error is reported when running the cmd "ORDERER_GENERAL_GENESISPROFILE=SampleDevModeSolo orderer" in macOS"
I need debug custom chaincode for development, I think this should be what all developers need. I used the IBM Blockchain Platform VSCode Extension to develop. Although it is very convenient to use, the latest version does not support debug, so I continue to use the devmod in the Hyperledger Faric official document, but it reports an error.

Environment
System：macOS Monterey 12.0.1
HLF：release-2.3

[2021-11-25 01:55] timo-kang commented on #3076
I think you didn't export `FABRIC_CFG_PATH` so that it cannot find the config file.

[2021-11-25 04:21] Xingxingyeyouxinshi commented on #3076
in the fabric directory,I run the following commands in turn.

it reported an error when I run this cmd `ORDERER_GENERAL_GENESISPROFILE=SampleDevModeSolo orderer`.

error: pathspec '2.3.3' did not match any file(s) known to git
192:fabric Ryoma$ git checkout release-2.3.3
error: pathspec 'release-2.3.3' did not match any file(s) known to git
192:fabric Ryoma$ git checkout release-2.3
Branch 'relea

[2021-11-25 17:44] DARK-art108 commented on #2983
Can I work on this issue? @denyeart

[2021-11-27 15:51] Xingxingyeyouxinshi commented on #2916
Can anyone share the whole steps of debugging a Java contract through test-netwok-k8s in the IDE(eg.IDEA), or debuging a custom Java chain code ?

Anyone help?Can anyone share the whole steps of debugging a Java contract through test-netwok-k8s in the IDE(eg.IDEA), or debuging a custom Java chain code ?

Anyone help?

[2021-11-28 08:19] mscode1729 opened #3081 "[Fabric][Windows10][Docker2.5.0.1][Java/Javascript]Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: docker build failed: docker image inspection failed: cannot connect to Docker endpoint"
I was following steps provided in the doc https://hyperledger-fabric.readthedocs.io/en/latest/write_first_app.html for the above issue:
1.curl -sSL https://bit.ly/2ysbOFE | bash -s
2../network.sh up createChannel -c mychannel -ca
3. i. ./network.sh deployCC -ccn basic -ccp ../asset-transfer-basic/chaincode-java/ -ccl java
   ii. ./network.sh deployCC -ccn basic -ccp ../asset-transfer-basic/chainco

[2021-11-29 01:57] Xingxingyeyouxinshi commented on #2916
@Sunxiai51
can you share the whole process of building a Java chaincode debugging environment through test-network-k8s?

[2021-11-29 04:47] denyeart commented on #3081
Looks like a Docker environment issue on Windows rather than a Fabric code issue.
Please use community support channels (https://hyperledger-fabric.readthedocs.io/en/latest/CONTRIBUTING.html#getting-help) instead of creating an issue against Fabric code.

[2021-11-29 04:47] #3081 closed, assigned to nobody

[2021-11-29 04:53] denyeart commented on #3058
Please reserve github issues for Fabric code issues.

For getting help, see the community help resources mentioned at:
https://hyperledger-fabric.readthedocs.io/en/latest/CONTRIBUTING.html#getting-help

[2021-11-29 04:53] #3058 closed, assigned to nobody

[2021-11-29 04:57] denyeart commented on #2983
@DARK-art108 Yes, please coordinate with @bestbeforetoday (aka Mark Lewis, aka bestbeforetoday) on the proposed approach. Mark is the application SDK lead and should be involved in Developing Applications changes.

[2021-11-29 07:42] Xingxingyeyouxinshi opened #3084 "How to develop and deploy the java-contract in the test-network-k8s"
I can't run the **chain-extenal** under **assert-transfer-basic** in **[fabric-sample](https://github.com/hyperledger/fabric-samples)**. Someone can share the operation process of Java chain code in "working with chain" mode, so that I can learn from it.

thank you very much

[2021-11-29 07:43] Xingxingyeyouxinshi commented on #3084
[this issue](https://github.com/hyperledger/fabric-samples/issues/548) is my question.

[2021-11-29 08:24] gqqnbig commented on #3015
@manish-sethi I made a PR. Can you help review?

[2021-11-29 14:17] #3015 closed, assigned to nobody

[2021-11-29 14:30] mbwhite commented on #2916
All - @Xingxingyeyouxinshi  raised an issue here, that I've grabbed as I've got some material in preparation for this.
 https://github.com/hyperledger/fabric-samples/issues/548

 There's a question of where to be put the example code - if you've a moment please look at that issue and let me know your thoughts.

[2021-11-30 12:55] #2870 closed, assigned to manish-sethi

[2021-12-01 14:02] susha1377 commented on #2800
@jt-nti @denyeart - Now that V2.4 is out, would this be picked up and closed this Qtr? We had marked it for Q3.

[2021-12-03 14:30] denyeart commented on #3033
@andrew-coleman could you triage and determine what needs to be documented before closing this one.

[2021-12-04 15:54] #2801 closed, assigned to bestbeforetoday, andrew-coleman, davidkel

[2021-12-04 15:58] denyeart commented on #2821
Replaced with https://github.com/hyperledger/fabric-gateway/issues/343

[2021-12-04 15:58] #2821 closed, assigned to nobody

[2021-12-04 16:00] denyeart commented on #2915
Replaced with https://github.com/hyperledger/fabric-gateway/issues/344

[2021-12-04 16:00] #2915 closed, assigned to nobody

[2021-12-04 16:28] denyeart commented on #2948
Replaced by https://github.com/hyperledger/fabric-gateway/issues/345

[2021-12-04 16:28] #2948 closed, assigned to andrew-coleman

[2021-12-04 16:29] denyeart opened #3098 "Add performance metrics to the gateway service"
Placeholder, details TBD.

[2021-12-04 16:29] #3098 closed, assigned to andrew-coleman

[2021-12-04 16:30] denyeart commented on #3001
Closed the related fabric-gateway issue: https://github.com/hyperledger/fabric-gateway/issues/346

[2021-12-04 16:32] denyeart commented on #2798
Replaced by https://github.com/hyperledger/fabric-gateway/issues/347

[2021-12-04 16:35] #2798 closed, assigned to nobody

[2021-12-06 10:55] andrew-coleman commented on #3033
Looks like this limitation is well documented in the main docs:
https://github.com/hyperledger/fabric/pull/1652

And in the Go shim API docs:
https://github.com/hyperledger/fabric-chaincode-go/blob/main/shim/interfaces.go#L353

However, there is no mention of this limitation in the Node or Java shim API docs:
https://hyperledger.github.io/fabric-chaincode-node/release-2.2/api/fabric-shim.Chaincode

[2021-12-06 13:44] susha1377 commented on #2810
@denyeart Who would be working on this issue? Would it be Joshh or any developer?

[2021-12-06 17:30] mbwhite commented on #3033
@andrew-coleman yes certainly; this isn't a well known fact.

Is this guaranteed to hold in all cases?  Can't recall where but sure I read in the docs that invokingChaincode (on the same channel or was it same chaincode ) makes the invoked code part of the same transaction. In that case I don't quite follow why the 'outer setEvent' would be the 'winner'

[2021-12-07 03:24] suzhiliang opened #3100 "组织邀请成功完 从通道无法获取对应节点，且无法上链，成员移除完又正常"
java.util.concurrent.ExecutionException: org.hyperledger.fabric.sdk.exception.TransactionEventException: Received invalid transaction event. Transaction ID 512e862f60061ba8017f7af3de780ade2ef401b7fe7a90dec9d91b9e0cfd279c status 10
        at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:357)
        at java.util.concurrent.CompletableFuture.get(CompletableFuture.java:1915

[2021-12-07 08:32] andrew-coleman commented on #3033
Because the `invokeChaincode` function returns the chaincode Response proto message (status/message/payload) which doesn't contain the ChaincodeEvent proto message.  The ChaincodeEvent is embedded in the ChaincodeAction which is in the ProposalResponsePayload that gets returned by the outer chaincode only.

[2021-12-07 08:41] mbwhite commented on #3033
ah that explains it thanks @andrew-coleman  - admit it sounds like a bit of design flaw. But it is what it is...

[2021-12-07 09:16] guoger opened #3101 "Unclear empty critical section"
https://github.com/hyperledger/fabric/blob/516bc8bab548a484e2e62fee24b0f4fed5bf6873/core/ledger/kvledger/kv_ledger.go#L542-L547

I'm not sure why this is not implemented the same way as other methods in the same file. If a special case is indeed needed here, some comments would be appreciated

[2021-12-07 09:23] guoger commented on #3100
First of all, please submit issue in English so others could actually understand your question. Your issue title could be translated to **Neither can peer info be retrieved from channel nor can transaction be submitted successfully, despite that the org has been added. After removing the org, all back to normal**

Secondly, it's pretty hard to debug your problem without more context - reproduce st

[2021-12-08 04:53] denyeart commented on #3022
#3092 implemented most of the logic, but I think it still needs to be wired into peer startup. @manish-sethi should we keep this issue open for that, or do you expect to handle in a different issue?

[2021-12-08 16:11] davidkel opened #3105 "Invalid endorsement policies set on keys using state based endorsement should not be possible"
Inspired by a recent fabric mailing list question and this jira https://jira.hyperledger.org/browse/FAB-18090

Looking at node, the call to set an endorsment policy on a key is
[code]

and in Go it's defined as
[code]

On node at least it appears you can provide any binary content for the endorsement policy and no error occurs when the api is called
The transaction further is committed as valid an

[2021-12-08 17:26] JinchunChoi opened #3106 "Typo in the figure"
I found a typo in the figure (peers.diagram.8.png).
It should be updated like below:

Before:
Principal PA (e.g. **A1**, P5) communicates via channel C.

After:
Principal PA (e.g. **P1**, P5) communicates via channel C.

Thanks,
- Jinchun Choi.

[2021-12-08 20:46] yacovm commented on #3101
I think it's just a synchronization for waiting for writers to finish before returning an API call because otherwise we get old data.

If we defer the unlock we can remove the lint hint.

@manish-sethi  @denyeart  wdyt?

[2021-12-09 01:40] Xingxingyeyouxinshi commented on #2916
@mbwhite  I recorded my thoughts a few days ago,  look forward to your reply.

[2021-12-09 02:33] denyeart commented on #3106
Thank you, the peer diagrams will be updated as part of #2807

[2021-12-09 02:33] #3106 closed, assigned to nobody

[2021-12-09 02:37] denyeart commented on #3100
Please re-open when you provide the additional context.

[2021-12-09 02:37] #3100 closed, assigned to nobody

[2021-12-09 02:40] denyeart commented on #3084
Please don't open the same issues in multiple repositories, please use fabric-samples repository for samples issues.

[2021-12-09 02:40] #3084 closed, assigned to nobody

[2021-12-09 02:43] denyeart commented on #3076
The instructions are being fixed in https://github.com/hyperledger/fabric/pull/3099

[2021-12-09 02:43] #3076 closed, assigned to nobody

[2021-12-09 02:45] denyeart commented on #3057
Please use stackoverflow or mailing list for usage questions.

[2021-12-09 02:45] #3057 closed, assigned to nobody

[2021-12-09 02:51] denyeart commented on #3003
Please provide detailed reproduction steps and your assessment of what needs to change in Makefile.

[2021-12-09 02:58] denyeart commented on #2890
I assume this is a duplicate, closing.

[2021-12-09 02:58] #2890 closed, assigned to nobody

[2021-12-09 03:44] manish-sethi commented on #3101
Yes, @yacovm - However, I guess @guoger is asking why it looks different from how it is on other similar functions.

In the first version we had the above pattern in all the functions, having super perf-centric thinking in relation to block commit :-). We later changed to the more canonical style, as you see in the other functions. It seems this one got missed. Please feel free to push a PR if you

[2021-12-09 14:48] #2884 closed, assigned to mbwhite

[2021-12-09 17:44] Ethereumx commented on #3076
@denyeart  oh my bad I was going through this too. Why haven't they merge this modification?

[2021-12-09 18:06] denyeart commented on #3076
It will be merged shortly once review feedback is addressed.

[2021-12-10 06:59] suzhiliang commented on #3100
The issue has been resolved.The organization certificates linked to the channel were passed incorrectly, and were passed to the certificate of the owner of the federation chain, resulting in
Newly invited organizations cannot be connected

[2021-12-10 14:07] ghost opened #3112 "leveldb panic"
when i run the command `peer node start`, i got the follow error,
![image](https://user-images.githubusercontent.com/34224979/145586413-d4d04b22-e2a1-404a-95aa-aa4dc79c1fce.png)

@denyeart @manish-sethi can you give me a clue?

[2021-12-10 14:15] ghost commented on #3112
the result of the `peer version`

![image](https://user-images.githubusercontent.com/34224979/145587929-98e017cd-f665-4959-bb2c-e127a826ef5f.png)

and the runtime environment of the peer is k8s, the map the `/var/hyperledger/fabric` directory the host

[2021-12-13 06:14] denyeart commented on #3112
It means there is already a database open that is using that file system. Perhaps you have another peer process using the same directory.
Also, Fabric v1.4.2 is very old and not being maintained/supported anymore.

[2021-12-13 06:14] #3112 closed, assigned to nobody

[2021-12-13 08:24] Param-S opened #3117 "Update etcd package to 3.5.x"
Based on the previous discussion on this PR #2452 , there is incompatible change in etcd/raft which requires reconfig logic change in fabric to update etcd package.

This change will also update many other dependencies including protobuf.

Additional discussion in https://jira.hyperledger.org/browse/FAB-18363.

[2021-12-13 08:25] Param-S commented on #3117
@guoger WIP PR  https://github.com/hyperledger/fabric/pull/2707 related to etcd update.

[2021-12-13 22:42] denyeart commented on #3073
/integration/pluggable integration test fails on Go 1.17 when trying to compile the validation plugin with command:
`go build -x -buildmode=plugin -o testdata/plugins/validation/plugin.so github.com/hyperledger/fabric/integration/pluggable/testdata/plugins/validation`

Turns out there are two dependencies that aren't compatible with Go 1.17:

1)
[code]

github.com/cespare/xxhash/v2 has a fix, see:

[2021-12-13 22:53] denyeart commented on #3073
@ale-linux Could you look at the last issue above?

[2021-12-14 10:39] ale-linux commented on #3073
I _think_ that this

https://github.com/ConsenSys/gnark-crypto/pull/112

fixes it. Let's see what the maintainers of gnark-crypto say.

[2021-12-15 07:23] andrew-coleman opened #3122 "Refactor Endorser() function in gateway."
Improve the readability of the gateway's Endorse() function which has grown too long over time.
Currently the retry logic is coded so that a goroutine spawns another goroutine.  This should be refactored to ease future maintenance.

[2021-12-15 11:24] sousoul opened #3124 "Test killed with quit: ran too long (21m0s) when building hyperledger fabric"
I am new to Hyperleger Fabric and I try to build  Hyperledger Fabric v2.2 according to the following documentation.
https://github.com/hyperledger/fabric-docs-i18n/blob/release-2.2/docs/locale/zh_CN/source/dev-setup/build.rst
However, I meet this error:
[code]

Before building hyper fabric, I have set up the development environment successfully according to this tutorial.
https://hyperledger-fabri

[2021-12-15 11:38] timo-kang commented on #3124
I think you should make a issue on https://github.com/hyperledger/fabric-docs-i18n this repo.

[2021-12-15 11:47] sousoul commented on #3124
ok, I try it

[2021-12-15 11:58] HarshMultani opened #3125 "getQueryResultWithPagination code example"
Hi Fabric Team,

Can anyone point me to a code example which involves fetching the records from Fabric using Pagination,
An example which involves the use of getQueryResultWithPagination?

[2021-12-15 13:12] davidkel commented on #3124
@sousoul don't use softhsm 2.6.1, use softhsm 2.5. That's most likely to be your problem

[2021-12-16 00:56] jonmchan commented on #2807
New hyperledger fabric developer feedback - I am totally confused between 2.4 Fabric Gateway and the previous gateway references.

1. What/where is the "Gateway" design element - https://hyperledger-fabric.readthedocs.io/en/latest/developapps/gateway.html. Is this deprecated by Fabric Gateway? What gateway code is being called in the code snippets `await gateway.connect(connectionProfile, connecti

[2021-12-16 09:40] sousoul commented on #3124
OK，thank you, but I meet some difficulty when installing softhsm2.5 from source code as homebrew only provide softhsm2.6.1. Maybe It is a mistake to user hyperledger fabric on macOS. I give it up.

[2021-12-16 10:22] bestbeforetoday commented on #2807
@jonmchan The documentation is still being reworked following the release of Fabric v2.4, including the Fabric Gateway service. Developing Applications is one of the pieces not yet updated. Feedback on where it is deficient (and it is!) is welcome; as are contributions.

Do these updated pages make things any clearer around Fabric Gateway and the application APIs?

- https://hyperledger-fabric.rea

[2021-12-16 11:49] Param-S commented on #3125
Please check this fabric sample: https://github.com/hyperledger/fabric-samples/blob/c646c5904ff0b45cb9052136b50b7a7a58cefe78/asset-transfer-ledger-queries/application-java/src/main/java/application/java/App.java#L131 whether it helps.

[2021-12-16 14:43] jonmchan commented on #2807
@bestbeforetoday thanks for the reply. The updated pages provide limited clarity on the topic for me. Yes, through the documentation, I understand the gateway abstracts away from the client having to know which peers to connect and exposes `evaluate`, `endorse`, and `submit` functions to the client to interact with the blockchain, but how this relates to older versions of the code and fabric-gatew

[2021-12-16 14:58] yuxuan-hou-x opened #3129 "Please support arm darwin"

[2021-12-16 15:00] jonmchan commented on #2807
imho, one of the biggest causes of confusion is the name overload for "fabric-gateway". The new 2.4 integrated Fabric Gateway is exactly the same as the 1.4 external fabric-gateway which makes google searching extremely confusing and frustrating - it's not like these 2 things are different - they're both implementations of a gateway system so you can't even tell from reading the context. The origi

[2021-12-16 15:28] davidkel commented on #3129
This is a duplicate of https://github.com/hyperledger/fabric/issues/2994

[2021-12-16 17:35] bestbeforetoday commented on #2807
@jonmchan The tutorial for running a Fabric application has now been updated, and steps through set up and running one of the samples in the [fabric-samples](https://github.com/hyperledger/fabric-samples) repository that uses the new application API:

https://hyperledger-fabric.readthedocs.io/en/latest/write_first_app.html

Does this help?

[2021-12-16 17:46] bestbeforetoday commented on #2807
@jonmchan The two documentation pages I linked to earlier _should_ answer your question on how the [fabric-gateway](https://github.com/hyperledger/fabric-gateway) and [fabric-gateway-java](https://github.com/hyperledger/fabric-gateway-java) APIs relate to each other. For example, the [Fabric Contract APIs and Application APIs](https://hyperledger-fabric.readthedocs.io/en/latest/sdk_chaincode.html)

[2021-12-16 22:24] jonmchan commented on #2807
@bestbeforetoday i'll go through the tutorial and leave feedback - this looks like it might be exactly what I'm looking for.

In terms of specific suggestions, since the documentation is very large and spans multiple pages, having a note on https://hyperledger-fabric.readthedocs.io/en/latest/developapps/gateway.html and https://hyperledger-fabric.readthedocs.io/en/latest/gateway.html may be useful

[2021-12-17 02:16] sousoul commented on #2960
I have installed softhsm v2.5 on macOS, however, I cannot pass e2e test and lifecycle test during build.
[code]
Have you met the same error?

[2021-12-17 18:42] #3129 closed, assigned to nobody

[2021-12-17 19:55] joshhus commented on #2807
@jonmchan In January we are restarting a HLF community monthly call on documentation. Perhaps you'd like to join it to give feedback and contributions. TBA. @denyeart

[2021-12-17 20:20] jonmchan commented on #2807
@joshhus sure - i'd be interested in participating. Keep me posted. Thank you.

[2021-12-18 12:14] yuxuan-hou-x commented on #2994
Guys, I find a solutions, refer to https://jira.hyperledger.org/browse/FAB-18389?page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel&showAll=true

[2021-12-19 21:24] ionicsolutions opened #3136 "Instructions in "Running chaincode in development mode" tutorial lead to "bind: address already in use" error"
The [tutorial](/docs/source/peer-chaincode-devmode.md) claims that no changes need to be made to [sampleconfig/core.yaml](/sampleconfig/core.yaml).

However, following the instructions leads to an error when starting the peer:
[code]

Per [this StackOverflow post](https://stackoverflow.com/questions/65387254/port-error-when-setting-up-dev-mode-of-hyperledger-fabric), this error can be fixed by cha

[2021-12-22 16:48] emc2 opened #3138 "Issues with gossip and separate server/client CAs"
Fabric purports to support having separate CAs for client and server certs.  Example:

[code]

For the most part, this works fine, but gossip seems to have issues.  We end up with log messages of the following form:

[code]

These messages ("context deadline exceeded") happened earlier when I had the certs incorrect.  When I set the client configurations to use the server cert, CA, and key, or omi

[2021-12-22 17:59] yacovm commented on #3138
This is odd. From skimming through the code, gossip uses the right client cert when initiating connections... can you attach logs of both initiator peer and responder peer please?

Also are you sure that: `              - /path/to/client_ca_cert.pem` is in the channel configuration?

[2021-12-22 23:49] emc2 commented on #3138
Upon further investigation, the issue seems to be sporadic, and more confusingly, doesn't seem to affect proper functioning.  I have logs from a 4-orderer, 4-peer setup, but I need to redact them first.

[2021-12-23 09:56] suzhiliang opened #3139 "What API does keyword query historical transaction data use"
With couchDB storage, can a smart contract vaguely retrieve historical data based on the value of an upchain content field? What's the API? I can only find a way to query historical data by key 'GetHistoryForKey(key String)'

[2021-12-23 17:23] jkneubuh commented on #3136
Hi Kilian,

This is not exactly answering your question, but may achieve a similar outcome.  We've had really, really good success using the Kubernetes Test Network (fabric-samples/test-network-k8s) in concert with local development in an IDE / debugger for both chaincode and gateway client applications.  In general the k8s test network does a much better job of mapping ports to Services running i

[2021-12-24 03:40] yekai1003 opened #3145 "error post "https://localhost:7053/participation/v1/channels"
When I follow fabric-samples to a run a test-network，I get this error.
error post "https://localhost:7053/participation/v1/channels

My comman is
`
./network.sh up createChannel -c ykchannel
`
my version : 2.3.3

[2021-12-24 13:42] ionicsolutions commented on #3136
Hi Josh, thanks for the recommendation. In principle, this seems to be exactly what I'm looking for.

Unfortunately, already executing the demo commands in the first link fails for me. The channel creation only succeeds after several attempts and querying the chaincode does not work. I only see "⚠️" as an output and the logfiles are not helpful either, so I don't know where the issue lies. Is ther

[2021-12-24 19:31] jkneubuh commented on #3136
Kilian the ./network script creates a verbose log in a `network-debug.log` file (I typically maintain a tail -f command in a separate shell to keep an eye on the verbose output.)  Are there any clues in the log file?  The scripts can be unreliable when run multiple times - does resetting to a "clean" slate with `./network unkind` restore any order to the cluster with a second run?  Also, I see wha

[2021-12-27 06:20] binny1024 opened #3147 "about Updating an endorsement policy problems"
I don’t know if it’s a bug to update the endorsement strategy. Personally, I think the execution logic is a bug.

[code]

- Output log

No error

[code]
But when I checked the approval status, I found that the organization did not approve

[code]

However, when I see that I also need to add that option when executing the commit command, I have also had questions, is this not necessary? [Setting ch

[2021-12-27 08:33] binny1024 commented on #3147
I have solved the above problem, the solution is as above.

[2021-12-29 07:00] ykPrograWorld opened #3148 "Can fabric and tee be used together?"
Can fabric and tee be used together? If so, how should they be used?

[2021-12-30 14:54] Param-S opened #3149 "Orderer integration test flake"
**Failing Stack:**
[code]
**Failing Builds:**
1. https://dev.azure.com/Hyperledger/Fabric/_build/results?buildId=45519&view=logs&j=f2000854-c7fb-5d20-d92e-ea22102e0eb5&t=8c0b343e-a113-5c44-d189-698811f88d80
2. https://dev.azure.com/Hyperledger/Fabric/_build/results?buildId=44731&view=logs&j=f2000854-c7fb-5d20-d92e-ea22102e0eb5&t=8c0b343e-a113-5c44-d189-698811f88d80

as per stack frame line no. it

[2021-12-30 17:04] yacovm commented on #3148
Yes, take a look at https://github.com/hyperledger/fabric-private-chaincode

[2022-01-02 12:39] tock-ibm commented on #3149
Maybe the problem is that `c.sizeLimit` changes?

The field `c.accDataSize` only changes when an entry with Data is encountered, so the other suspect would be the other side of the `if c.accDataSize >= c.sizeLimit {`

The field `c.sizeLimit` is written only in `NewChain` and `detectConfChange`
`detectConfChange` is called inside `commitBlock` which is called inside `catchUp`; that happens when a n

[2022-01-03 11:25] Param-S commented on #3149
@tock-ibm

Sorry, I am not sure what changes are referenced here. As per my understanding, sizeLimit is fixed value from chain struct/config.

is raft message/entry with empty data array valid? what conditions raft send these messages? is it send by application?

[code]

[2022-01-03 12:53] tock-ibm commented on #3149
1. Yes, a raft entry w/o data is valid.
2. I think a config tx can dynamically change the sizeLimit. Thus, a catchUp with another peer that fetches that config block and brings this into effect during the sync would change that.

I think it is worth checking if that is the case.

[2022-01-04 04:32] denyeart commented on #3003
@andycao125 @berserkr Is this problem still occurring? Any assessment?

[2022-01-04 04:38] denyeart commented on #3124
Since Fabric docs recommend SoftHSM v2.5 I'll close this issue.

[2022-01-04 04:38] #3124 closed, assigned to nobody

[2022-01-04 04:41] denyeart commented on #3125
And the corresponding chaincode sample:
https://github.com/hyperledger/fabric-samples/blob/main/asset-transfer-ledger-queries/chaincode-go/asset_transfer_ledger_chaincode.go#L345-L356

[2022-01-04 04:41] #3125 closed, assigned to nobody

[2022-01-04 04:46] denyeart commented on #3136
Back to the original question... a change is proposed in https://github.com/hyperledger/fabric/pull/3134.

[2022-01-04 04:50] denyeart commented on #3139
If you want to do other types of historical queries beyond GetHistoryForKey(), then you will need to keep whatever you want to query on in current state and then use one of the current state queries (i.e. key range query or couchdb JSON query).

[2022-01-04 04:50] #3139 closed, assigned to nobody

[2022-01-04 04:52] denyeart commented on #3145
Make sure your fabric images are at least v2.3 as well. The REST API was introduced in v2.3.

If you have additional issues running the fabric samples, please open issues in the fabric-samples repo at https://github.com/hyperledger/fabric-samples/issues.

[2022-01-04 04:52] #3145 closed, assigned to nobody

[2022-01-04 04:55] denyeart commented on #3147
The approveformyorg and commit parameters must match exactly. Looks like this is working as intended.

[2022-01-04 04:55] #3147 closed, assigned to nobody

[2022-01-04 04:57] #3148 closed, assigned to nobody

[2022-01-04 05:52] denyeart opened #3151 "Gateway documentation - New topic - updating existing applications to use new gateway SDKs"
Provide documentation for each language-specific SDK on how to update from existing SDKs to the new gateway SDKs.

Perhaps provide a conceptual overview in ReadTheDocs, and then link to specific guidance in the Node, Java, and Go SDKs.

[2022-01-04 05:53] denyeart opened #3152 "Gateway documentation - Update FAQ"
- [ ] https://hyperledger-fabric.readthedocs.io/en/latest/Fabric-FAQ.html#endorsement
- [ ] https://hyperledger-fabric.readthedocs.io/en/latest/Fabric-FAQ.html#application-side-programming-model

[2022-01-04 06:01] denyeart commented on #2807
Closing this item in favor of individual issues for the remaining subtasks.

- Developing Applications https://github.com/hyperledger/fabric/issues/2983
- FAQ https://github.com/hyperledger/fabric/issues/3152
- Updating existing applications https://github.com/hyperledger/fabric/issues/3151

[2022-01-04 06:01] #2807 closed, assigned to bestbeforetoday, andrew-coleman, joshhus, denali49

[2022-01-04 10:27] Param-S commented on #3149
sizeLimit is not changed in this case.  This is the complete broadcast response msg where SoftState is nil & no. of committedEntries=1(entry’s Data field is empty array)

[2022-01-04 17:29] jonmchan commented on #2983
Offline signing seems like a significant feature or use case for the Fabric Gateway SDKs. I was unable to find it in the documentation anywhere except in the code and tests. Would this be something that should get a section?

[2022-01-04 17:40] denyeart opened #3153 "Improve error message for private data not available on a peer"
Improve message
"private data matching public hash version is not available. Public hash version = %s, Private data version = %s"
to indicate the actual issue, that is, private data wasn’t distributed to that peer collection member for a specific key and therefore the peer can’t endorse future transactions for the key.

[2022-01-04 19:53] bestbeforetoday commented on #2983
There is some description and code examples in the API documentation for the Contract in each of the client languages:

- Go: https://pkg.go.dev/github.com/hyperledger/fabric-gateway/pkg/client#Contract
- Node: https://hyperledger.github.io/fabric-gateway/main/api/node/interfaces/Contract.html
- Java: https://hyperledger.github.io/fabric-gateway/main/api/java/org/hyperledger/fabric/client/Contract

[2022-01-05 07:03] Param-S commented on #3149
When the failing orderer restarted, it received initial set of entries from the other orderer(in this case orderer3). In that, there were few data blocks present which got committed. Hence the initial values were `appliedIndex:8 sizeLimit:1024 accDataSize:63815` (just after restart, after sync with orderer)

[code]

I think the channel c.gcC was not ready, hence default case got executed.

[code]

[2022-01-05 07:05] Param-S commented on #3149
consistently the issue can be reproduced with the testcase if we introduce an delay in snapshot routine startup.

[2022-01-05 09:25] mbwhite opened #3154 "Chaincode-to-Client error handling"
Summary:

It is hard for client applications to distinguish between different classes of errors (communication, Fabric Peer/Orderer issues, Application Contract errors). String parsing is in part a solution today - this is not reliable enough. Similarly, it is not easy for contracts to issue application-level errors.

The problem is that error information beyond the string message doesn’t flow bac

[2022-01-05 13:07] denyeart opened #3156 "Gateway documentation - Update diagrams"
Some diagrams in Key Concepts topics and Transaction Flow topic have not been updated for the new embedded Gateway in peer.

[2022-01-05 15:10] joshhus commented on #3156
This was discussed in Q4 2021, there is no identified resource yet to do the necessary graphic design work.
Some of the images need to be redrawn from scratch - lacking layered source files.
So still TBA.

[2022-01-05 15:11] joshhus opened #3157 "Update App Developer flow"
Discussion around removing the difficulty for an App Developer to follow the docs flows for various App Developer tasks.  --
https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/developing_applications.html

The detailed page notes below are more for me, I don't like to invest time and analysis without recording detailed takeaways.

[2022-01-05 15:15] joshhus commented on #3157
One quicker (agile) fix is to add a new role-based page for each fabric role, starting with app dev. role. ... This new page would define the experience and prereqs etc. of an app dev. - and then link to the existing docs for each "step" in their workflows. Defining each app dev task or workflow that we document would be a first step. (Along with reviewing what we already have.)

[2022-01-05 17:07] joshhus commented on #3157
Another sort of quick improvement could be to separate the 1) chaincode application dev from the 2) app dev that calls the chaincode. ... e.g. The long tutorial for c.p. below could assume the chaincode already exists, and we separate the chaincode parts out accordingly, with cross-links. https://hyperledger-fabric.readthedocs.io/en/release-2.4/tutorial/commercial_paper.html

i.e. These could beco

[2022-01-05 17:41] joshhus commented on #3157
- **The scenario** page
- https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/scenario.html - fix "corporating" typo - corporation.
- In What is c.p.? section we could say in plain English that commercial paper **is just an IOU right**. I'll (corp.) pay you $100 on maturity date of IOU, but you (lender) only have to pay me $90 for the IOU beforehand. Eventual profit is $10. ... (M

[2022-01-05 19:15] joshhus commented on #3157
- **Analysis** page https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/analysis.html
- Seems odd that paper 00001 is not described as an "**asset**" on blockchain. This is the definition of a network asset right.
- So here we have "issue" and "buy" and "redeem" transactions - examples of things an app. dev. would like to know about
- getCreator **chaincode API** link broken.
- "T

[2022-01-07 01:48] berserkr commented on #3003
@denyeart I abandoned the branch I was on. I ended up trying multiple branches until I was able to build everything. At the time the other thing that I recalled affected things was the version of golang. The docs and the requirements from the branch had a mismatch in version as I recall. Things working for me are: v2.3.0 with go version go1.16.7 linux/amd64. Go version in the docks for that branch

[2022-01-07 03:19] ykPrograWorld commented on #3148
Thanks

[2022-01-07 06:01] one-percent-of opened #3161 "Added logic to divide and save block files by specific number"
When the fabric nodes (peer, orderer) have a lot of blocks, **too many files are created in one directory**. In a specific file system, if there are too many files in one directory, there is **an issue that the speed of reading files becomes slow**. These are _blockfile_xxxxxx_ files in the '_/hyperledger/production/ledgersData/chains/chains/_' directory.

Is there any way to solve this? Or can th

[2022-01-07 15:56] joshhus commented on #2808
- Could move existing IBP certs table to Fabric and edit / add client considerations.
- Fabric samples need code for re-enrollment of certs.
- What are the types of certs and their differences. e.g. application ID, user ID, system/service ID ...
- What are the variables dependent upon the identity service used? e.g. Fabric doesn't require IBM w3, I think IBP does.

[2022-01-07 16:35] joshhus commented on #3157
didn't intend to close, should remain open.

[2022-01-07 17:19] joshhus commented on #3157
- **Process and Data Design** page https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/architecture.html#
- So it's nice to have an e2e story (such as Commercial Paper) that can be helpful to **many audience / role types**. But role-specifics are also needed, we'll see what we have in the latter category ... e.g. see Audience:
![image](https://user-images.githubusercontent.com/165

[2022-01-07 19:00] joshhus commented on #3156
Existing diagrams redrawn:
[Blockchain_Flowchart_Diagram.pptx](https://github.com/hyperledger/fabric/files/7830774/Blockchain_Flowchart_Diagram.pptx)

Next is update them for gateway service

[2022-01-07 19:59] abdulqarib opened #3164 "docker-composer is at attaching to cli (not going further)"
I use the docker-compose up command and after starting the composer its in attaching to cli since hours, is it going well or need changes ?
Pulling cli (hyperledger/fabric-tools:1.4)...
1.4: Pulling from hyperledger/fabric-tools
7ddbc47eeb70: Pull complete
c1bbdc448b72: Pull complete
8c3b70e39044: Pull complete
45d437916d57: Pull complete
b5035666b1cd: Pull complete
94c898b5fdef: Pull complete
260

[2022-01-07 22:42] yacovm commented on #3161
@manish-sethi

[2022-01-07 22:42] joshhus commented on #3157
- Next page. **Smart Contract Processing**. https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/smartcontract.html
- We'll see if the title matches what is described. ... expected s.c. / chaincode **development**, not processing.
- We'll see what "implement" and "real world" mean -- " ... how to **implement** a **real world** smart contract that governs the process of issuing, buy

[2022-01-08 02:32] Hafiziddi commented on #3101
I am new here

[2022-01-10 14:06] manish-sethi commented on #3161
@one-percent-of - Can you add some details about the OS that you are using, the number of files, total size and number of blocks. More importantly, what fabric operation you see slowing down (and how much) as an end user?

In the code, we cut a block file when it reaches 64MB size. So, increasing the file size should be possible. I would encourage you to change this size to a larger one and experi

[2022-01-10 17:46] joshhus commented on #3157
- Next page **Application** -- https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/application.html
- Rephrase - "An application can interact with a blockchain network by submitting transactions to a ledger or querying ledger content." ... it does do this, and it doesn't submit to the ledger per se.
- The **app is Java or JS**. What are Node, Go or Java (SDKs) then. Is the sample

[2022-01-10 22:54] joshhus commented on #3157
- Next page **Application design elements** -- https://hyperledger-fabric.readthedocs.io/en/release-2.4/developapps/designelements.html
- Generally the page link names don't match the section names (or the TOC names), which I find distracting. Such as "The importance of namespaces" linking to "Motivation"
- **Contract names** "contracts within in a chaincode container" typo. Multiple smart contrac

[2022-01-11 01:35] denyeart commented on #2929
@yurivict I've attempted a PR to update the module to v2 but it looks like there will be too many impacts across the toolchain. Since Fabric module is not intended to be used as a dependency, can you give an example of a workflow that requires the module to be v2? If you need to build Fabric from source, why not get the source from github?

[2022-01-11 01:42] yurivict commented on #2929
The FreeBSD's ports framework downloads modules from Go's servers. FreeBSD ports exist only for top-level projects.

[2022-01-11 02:57] denyeart commented on #2929
@yurivict I've looked at other top-level Go projects that have released beyond v1, and most don't specify a version for their top-level go module (e.g. cockroachdb, prometheus, grafana). Is there some guidance from the Go community that you can point to for top-level projects? Most of the docs I've found for go module versioning are talking about go libraries that will be consumed as dependencies.

[2022-01-11 08:07] one-percent-of commented on #3161
@manish-sethi
The OS is linux (centos7). As the file system, the XFS file system is used.

Currently, the number of blocks is about 30 million.

Currently, the number of blockfile_xxxxxx files in the '/hyperledger/production/ledgersData/chains/chains/' directory is about 12000.

The capacity is about 755 GB.

I saw an article saying that when the number of files in a directory reaches about 15000,

[2022-01-11 12:59] denyeart commented on #2929
The PR proved that there were too many downstream disruptions caused by a switch to v2 for fabric module, I've had to close the PR.

[2022-01-12 13:24] szhllyyl opened #3169 "peer channel list Error"
fabric version:1.4;
I rerun the   cryptogen generate --config=./crypto-config.yaml  command to generate a new key ,then I restart the cli、orderer 、peer，couchdb，ca  container。when i into the cli container ，the command ‘peer channel list’ throw an error：

and there is the whole  message:

I dont regenerate the   'genesis.block' does this matter?

[2022-01-12 13:44] Graynder opened #3170 "Add binaries for external builder on release assets"
Hello,

For some security reasons / internal policies , I don't use the public HLF image, I rebuild the images with the resources provided in each version.
But as the binaries used for the external builder are not provided in the assets, I have to apply a tricky workaround to get these binaries.

So, is it possible to add in the asset the binaries used with the external builder configuration in th

[2022-01-12 13:46] joshhus commented on #3157
- Plan is to update this section for gateway service.
- To keep c.p. example or use asset transfer example instead is tba.
- @denyeart Estimate was keep 1/3 get rid of 2/3 of existing content, which is overbroad content from one pov.
- Open doc for ideas, proposals and planning - https://docs.google.com/document/d/11QzD7J6OL3_qMWO45EvFSLgZ3aX1z7k8qefVaJ2OpPE/edit

[2022-01-12 16:00] mbwhite commented on #3170
The intention was to do exactly that; sadly, for the 2.4.1 release, the changes to the packaging scripts weren't correct. It's been fixed subsequently.

The latest from the JFrog repo has the builder binaries as well as the usual peer cmds.

https://hyperledger-fabric.jfrog.io/ui/repos/tree/General/fabric-binaries/hyperledger-fabric-linux-amd64-latest.tar.gz

[2022-01-12 16:39] Graynder commented on #3170
great :)  so we can close the issue ?

[2022-01-13 16:09] joshhus commented on #3151
Part of overhaul on Developing apps docs perhaps.

[2022-01-13 19:53] #3073 closed, assigned to denyeart

[2022-01-17 02:55] emc2 commented on #3138
Sorry for the delay here; the root-cause here seems to be a clock skew issue.  It seems the that the provisioning environment I'm using changed the time-zone, but not the actual clock at the switch from EST to EDT, or the other way around.  Some of my machines were created before this, and some after.  It looks like this causes issues with TLS handshakes when communicating between machines created

[2022-01-17 02:55] #3138 closed, assigned to nobody

[2022-01-18 05:15] #2929 closed, assigned to nobody

[2022-01-18 05:17] #3023 closed, assigned to nobody

[2022-01-18 13:22] denyeart commented on #2994
Note that a workaround has been merged in bootstrap script to pull down amd64 when using M1 Mac (Rosetta approach that Dave K mentioned). Got confirmation that this approach works.

[2022-01-18 22:47] #3122 closed, assigned to andrew-coleman

[2022-01-19 11:30] favccxx opened #3179 "Why fabric create many blocks in 1 second."
Sorry for the wrong question.

[2022-01-20 10:26] luismcortestirado opened #3180 "Error modifying Fabcar chaincode on Hyperledger Fabric"
good morning, I have modified some parameters of the FabCar chaincode in Java and launched it on my private network. When I invoke the chaincode with initLedger I get the following error:

[code]

I have added the following line in the build.gradle file in the dependencies section:

`compileOnly 'org.slf4j:slf4j-nop:1.7.32'`

Afterwards, I ran "`./gradlew installDist`" again successfully, but when

[2022-01-20 11:09] davidkel commented on #2993
The documentation between 2.2 and 2.4 has changed, but still the 2.4 documentation is not good enough to get things working on windows. The revamp for an end user wanting to install fabric and use fabric samples should focus around using WSL2 and Docker Desktop

## For a user of fabric point of view for Windows

1. Ensure WSL is enabled and that it enables WSL 2 support. Some info here https://doc

[2022-01-20 11:37] davidkel commented on #2993
## For a developer of fabric point of view
Developers should be far more savvy, but I don't think we can recommend trying to develop fabric or any of it's components on native windows, again it requires a bash environment as all the scripts in different fabric repos will be written for bash for linux/mac users so again it comes down to first finding a native bash environment that's reliable for th

[2022-01-20 11:51] denali49 commented on #2993
Your are correct Dave, but I have found a better alternative for Windows.  I have found that using Dev Containers in VSCode overcomes almost all of these issues.  I am surprised more people are not doing this as the only requirements are having VSCode installed and the remote containers extension installed in VSCode.  I normally use Mac OSX but when I have to use Windows I use Dev Containers in VS

[2022-01-20 12:17] davidkel commented on #2993
@denali49 Thanks for that I will take a look, sounds interesting. VSCode is an option for the developer but I didn't want to mandate an IDE for the instructions as I know that the choice of IDE can be quite emotive. We may suggest VSCode in the final documentation and some recommendations.
I'm not sure the fabric maintainers will want to publish a pre-built dev image. I know the project tried some

[2022-01-20 19:48] curldapps2 opened #3181 "`peer lifecycle chaincode package` for Node.js chainode not bundling node_modules"
Hyperledger Fabric version:
2.2.4

Fabric Client:
Fabric-Tools 2.2 Docker Image - https://hub.docker.com/layers/hyperledger/fabric-tools/2.2/images/sha256-a5f691808466e90942af3f5f72d697cdaa4e545acfc1f645a553986423ef7ea5?context=explore

Chaincode:
Fabric-samples Javascript

Context on the issue:
I am currently creating a CI/CD pipeline for the deployment of chaincode using the 2.x chaincode lifecy

[2022-01-20 21:45] joshhus commented on #3156
My content team has a new repo to submit image update requests on a volunteer basis, I will be using that for these updates.

[2022-01-21 02:20] #3179 closed, assigned to nobody

[2022-01-21 17:15] AnilRaj27 commented on #3101
@manish-sethi I want to contribute to this issue.

[2022-01-21 18:15] davidkel commented on #2993
on this page there is a reference to windows as well
https://hyperledger-fabric.readthedocs.io/en/latest/write_first_app.html
For windows we will continue to recommend using the wsl2 shell and follow the instructions noting that they install a linux version of node as all instructions use unix file separators and so would be the simplest update here.
Also we can remove the section about installing

[2022-01-21 18:36] davidkel commented on #2993
Summary of links to be updated
https://hyperledger-fabric.readthedocs.io/en/latest/prereqs.html
https://hyperledger-fabric.readthedocs.io/en/latest/install.html
https://hyperledger-fabric.readthedocs.io/en/latest/dev-setup/devenv.html
https://hyperledger-fabric.readthedocs.io/en/latest/write_first_app.html
https://hyperledger-fabric.readthedocs.io/en/latest/tutorial/commercial_paper.html
https://h

[2022-01-23 11:48] SamYuan1990 opened #3184 "upgrade github.com/onsi/ginkgo to v2"
Hi Fabric,

In recent I noticed ginkgo released v2 version.
Do we have any plan to do the package upgrade?
some en... benefits from the upgrade, it's vscode plugin of the ginkgo then can be used.

![image](https://user-images.githubusercontent.com/7820992/150676868-331f4703-6c61-43bb-bb22-18bac75d2d94.png)

Thanks and regards
Sam

[2022-01-24 07:57] dlwns301 opened #3187 "peer node unjoin error"
hi Fabric

( fabric 2.4 version )

I confirmed that the current "chnn1" channel exists with the peer channel list command.
![화면 캡처 2022-01-24 165555](https://user-images.githubusercontent.com/44596049/150743202-0c5d7ad8-fc1f-42b8-97f4-b155d82f6641.png)

but, when I try to unjoin a channel using the unjoin command, it says the channel does not exist...
![image](https://user-images.githubusercontent

[2022-01-25 15:01] fraVlaca commented on #3181
The peer lifecycle chaincode package explicitly excludes the node_modules directory. Also as I assume you are currently using the inbuilt docker builder and launcher of the peer, even if you did send a package that contained the node_modules directory, it will still call npm install on it even with the presence of the node_modules directory and may end up trying to interact with an external npm re

[2022-01-25 16:32] #3101 closed, assigned to nobody

[2022-01-25 18:13] curldapps2 commented on #3181
Thanks @davidkel and @fraVlaca - in the documentation for Hyperledger Fabric 2.x, the [Javascript](https://hyperledger-fabric.readthedocs.io/en/release-2.2/deploy_chaincode.html#javascript) chaindode packaging insturctions imply that node_modules may be included in the tar.gz as it references running `npm install ` and says "If the command is successful, the JavaScript packages will be installed i

[2022-01-25 18:13] #3181 closed, assigned to nobody

[2022-01-25 20:29] joe-cryptosecurellc opened #3192 "error: scripts/createChannel.sh: line 40: osnadmin: command not found"
Using 2.2.4 and 1.5.2 HLF framework: ./network,sh up works, but when I run "./network.sh createChannel" I get the error.

Using 2.2.2 and 1.4.9 works (does not use osnadmin - it uses peer to create the channel).

Question: Is the 2.2.4/1.5.2 combination invalid?

Thanks for your help.

[2022-01-25 20:36] #3022 closed, assigned to nobody

[2022-01-25 22:33] #3021 closed, assigned to nobody

[2022-01-26 19:50] joshhus opened #3195 "Managing Certs documentation"
Based on the Managing Certs workgroup.

[2022-01-26 20:02] joshhus commented on #3195
- Initial working draft - https://docs.google.com/document/d/1X6khMyedn0lGXeKDwbYjO-9fm_nXdf1CbVIncxYE4go/edit
- There are 2 categories of certs doc work - short-term and long-term.
- Planning notes, reqs, and ideas - https://docs.google.com/document/d/1Cq08W3IVlXzTNyJxeZLcTnzdJaYcIgXqxPzN1XcIeWA/edit

[2022-01-27 14:03] #2993 closed, assigned to nobody

[2022-01-28 16:02] danielpenagos opened #3201 "Peer issue when starting"
Image version: hyperledger/fabric-peer:1.4.12

Hello, I am facing a problem with a peer, which is not starting due to the following error:

![image](https://user-images.githubusercontent.com/3498160/151578064-d27e3e79-dd49-4ceb-99af-10dd24749c6f.png)

We have several chaincodes installed, and the issue started appearing yesterday.
![image](https://user-images.githubusercontent.com/3498160/15157859

[2022-01-28 16:18] danielpenagos commented on #3201
I was reviewing the chaincodes folder, and found an empty file there.
![image](https://user-images.githubusercontent.com/3498160/151582652-fcb1c689-5d87-43f7-9d2a-d529ef8923e4.png)
Deleting that file solved the issue. I hope it would be helpful for someone else.

[2022-01-28 16:20] danielpenagos commented on #3201
I just copy part of the stack trace, in order to be indexed properly in case someone else had the issue.

`panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x1166aca]

goroutine 1 [running]:
github.com/hyperledger/fabric/core/common/ccprovider.(*CDSPackage).getCDSData(0xc00029f800, 0xc0004dc5f0, 0x200, 0x19d6ae0, 0

[2022-01-28 16:20] #3201 closed, assigned to nobody

[2022-01-28 18:24] denyeart commented on #2808
We'll use #3195 instead, closing this one.

[2022-01-28 18:24] #2808 closed, assigned to joshhus

[2022-01-30 12:19] jannesklee opened #3203 "Wrong version numbers in Tutorial "Using the Fabric test network""
Within the tutorial [Using the fabric test network](https://hyperledger-fabric.readthedocs.io/en/release-2.2/test_network.html) for `release-2.2` the command
[code]
is mentioned, which should be
[code]
like in [Install](https://hyperledger-fabric.readthedocs.io/en/release-2.2/install.html). In a later part of the tutorial the first version leads to an error

[code]

[2022-01-31 12:46] #2800 closed, assigned to jt-nti

[2022-01-31 13:09] denyeart commented on #3192
The v2.2 doc, v2.2 downloads, and v2.2 samples work together.
The main/latest doc, downloads, and samples work together.
Mix and match does not work since latest samples use osnadmin which was introduced in v2.3.

[2022-01-31 13:12] denyeart commented on #3180
This repo's issues are intended for core Fabric code bugs.
For samples and usage questions, please see https://hyperledger-fabric.readthedocs.io/en/latest/CONTRIBUTING.html#getting-help.

[2022-01-31 13:12] #3180 closed, assigned to nobody

[2022-01-31 13:16] denyeart commented on #3161
Is there a measurable impact to Fabric that would warrant a change? Please provide specific measured impact.

[2022-01-31 19:07] joshhus commented on #3203
ok @denyeart

[2022-01-31 19:10] joshhus commented on #3195
Status 1/31 - @denyeart
- Need the certs table
- Need steps / how-to for the managing certs scenarios - see candidates under section 5 here - https://docs.google.com/document/d/1X6khMyedn0lGXeKDwbYjO-9fm_nXdf1CbVIncxYE4go/edit
- The rest I should be able to draft myself

[2022-01-31 21:21] davidkel commented on #3181
@curldapps2 It would be great if you could submit a doc change for this, as you say this is misleading

[2022-02-01 12:49] Thejava-monk commented on #3039
Facing the same issue. Any solution?

[2022-02-01 13:28] denyeart opened #3205 "Update Go dependencies for Fabric v2.5"
Update Go dependencies for Fabric v2.5. Below is a snapshot of go.mod from Fabric v2.4. We can add COMMENTS after each one as we assess the updates.

	code.cloudfoundry.org/clock v1.0.0
	github.com/DataDog/zstd v1.4.5 // indirect
	github.com/IBM/idemix v0.0.0-20220112103229-701e7610d405
	github.com/Knetic/govaluate v3.0.0+incompatible UPDATED WITH GO-KIT PR
	github.com/Shopify/sarama v1.20.1
	gith

[2022-02-02 10:27] mbwhite commented on #3020
Related Stories
- [x] Add in the field for the new API into the protos code
- [x] Add in the Fabric side - shim handler to accepts this request
      - https://github.com/hyperledger/fabric/pull/3448/
- [x] Node Chaincode Implementation
     - https://github.com/hyperledger/fabric-chaincode-node/pull/313
- [x] Java Chaincode Implementation
     - https://github.com/hyperledger/fabric-chaincode-jav

[2022-02-02 15:54] joe-cryptosecurellc commented on #3192
Yes - I now understand that - however the docs explicitly show using this combination as 2.2.4 (which was not found - defaulted to main, or 2.4) and 1.5.2.

[2022-02-02 15:54] #3192 closed, assigned to nobody

[2022-02-02 17:04] msalimbene opened #3206 "New Feature proposal - Token-ERC-721 in GO"
Hello,

I've translated the code from token-erc-721 from JS (the only version available now) to golang. I got a full implementation, along with unit tests. I kept the same comments as in the JS version, and following the README.md instructions, anyone could choose whether to use JS or GO. I have the code ready and fully tested with said instructions.

I'd like to contribute this code, how can I pr

[2022-02-02 23:02] yacovm commented on #3206
You are welcome to contribute it, but not to this repository. This repository holds the Fabric core (orderer and peer) and tokens is business logic, not infrastructure.

You can take a look at [fabric-samples](https://github.com/hyperledger/fabric-samples) repository, which holds examples.

Alternatively you can contribute the code to the [fabric-token-sdk](https://github.com/hyperledger-labs/fabr

[2022-02-02 23:45] msalimbene commented on #3206
Right, I intended to post this on fabric samples, my bad. Thanks for your prompt response.

[2022-02-02 23:45] #3206 closed, assigned to nobody

[2022-02-03 14:11] jkneubuh opened #3211 "Update documentation trail for running Fabric networks with podman, nerdctl, Rancher, etc. as a substitute for Docker Desktop"
We identified many good outcomes running container-based Fabric networks without the reliance on Docker Desktop.

Port the [Discussion #594](https://github.com/hyperledger/fabric-samples/discussions/594) thread and [Issue #616](https://github.com/hyperledger/fabric-samples/issues/616) outcomes to fabric documentation trails:

- [Fabric prereqs](https://hyperledger-fabric.readthedocs.io/en/latest/p

[2022-02-03 14:13] jkneubuh commented on #3211
cc @denyeart can you assign this to me, I will pick it up and review in context of @joshhus 's thread on dev guide docs.

[2022-02-04 15:27] joshhus commented on #3156
This is the 2.3 page that has the original peer / Tx flow diagrams - https://hyperledger-fabric.readthedocs.io/en/release-2.3/peers/peers.html  --
Counting the figures/diagrams  from top to bottom, diagrams 5-8 on that page are candidates for re-drawing for 2.4. - Because the flow of some functions have changed to be handled by the gateway service on the peer, and not returned to the application f

[2022-02-04 18:11] davidkel opened #3212 "test-network documentation needs to provide information about when language compilers are required"
The deployCC command provides the ability to deploy Go/Java/Typescript/Javascript chaincode. However in almost all cases this will fail (and that applies for the provided samples in fabric-samples as well) unless you have appropriate compilers installed. The only exception is javascript which doesn't require any sort of compiler

The problem is this doesn't appear to be documented anywhere within

[2022-02-05 15:42] AnmolBansalDEV commented on #3203
can I do this ?

[2022-02-06 14:31] TrishamBP commented on #2916
Hi, can the chaincode be written in solidity and deployed? If no will future fabric versions support it?

[2022-02-07 03:03] POH1 opened #3213 "I nead help fixing an incompatability with a fabric mod"
java.lang.RuntimeException: Non-unique Mixin config name mixins.reach-entity-attributes.json used by the mods feudalw and reach-entity-attributes
	at net.fabricmc.loader.impl.launch.FabricMixinBootstrap.init(FabricMixinBootstrap.java:85)
	at net.fabricmc.loader.impl.launch.knot.Knot.init(Knot.java:148)
	at net.fabricmc.loader.impl.launch.knot.Knot.launch(Knot.java:71)
	at net.fabricmc.loader.impl.

[2022-02-07 06:21] denyeart commented on #3213
I think you are looking for https://github.com/FabricMC

[2022-02-07 06:21] #3213 closed, assigned to nobody

[2022-02-08 14:55] wwc1024 opened #3220 "how to give chaincode container privileged authority?"
I use "peer lifecycle chaincode commit" create a chaincode container ,but it doesn't have enough authority ,can i create it like "docker run --privileged"?

[2022-02-09 19:21] denyeart opened #3223 "Orderer panics after being restored"
Let's say we have three orderers on a channel, and they have been backed up at different heights:
Orderer1 at height 7
Orderer2 at height 8
Orderer3 at height 9

Restore Orderer1 and Orderer2 first.

Orderer2 is leader now:
2022-02-09 13:02:26.183 EST 0118 INFO [orderer.consensus.etcdraft] run -> Raft leader changed: 0 -> 2 channel=mychannel node=1

Orderer1 will get block 8. So far so good.

Then

[2022-02-09 21:42] yacovm commented on #3223
There might be a way around this, but I'm not sure how worthwhile it is to implement it.

We already [piggyback](https://github.com/hyperledger/fabric/blob/main/orderer/consensus/etcdraft/disseminator.go#L24-L34) the leader's "active nodes" view in order to know whether a config change will result in a quorum loss or not.
More specifically, when the leader sends a message to followers, Fabric inte

[2022-02-11 01:12] afrancoc2000 opened #3224 "Fabric Gateway not taking intermediate certificate into account"
Hi,

I'm having trouble making the "Hyperledger Fabric Gateway for Go" execute a smart contract, although I am using it successfully for listening to events.

This is the error I get in the client:

    Submit error with gRPC status DeadlineExceeded: rpc error: code = DeadlineExceeded desc = context deadline exceeded

This is the error I get in the orderer:

    Server TLS handshake failed in 2.62

[2022-02-11 09:47] yacovm commented on #3224
@andrew-coleman

[2022-02-11 12:27] afrancoc2000 commented on #3224
These are the logs from my peer:

    Thu, Feb 10 2022 5:58:28 pm	2022-02-10 22:58:28.516 UTC 0bb5 INFO [endorser] callChaincode -> finished chaincode: contratocomercializacion duration: 219ms channel=canalp2pdllo txID=a45c0de3
    Thu, Feb 10 2022 5:58:28 pm	2022-02-10 22:58:28.520 UTC 0bb6 INFO [comm.grpc.server] 1 -> unary call completed grpc.service=gateway.Gateway grpc.method=Endorse grpc.req

[2022-02-11 16:02] #3224 closed, assigned to andrew-coleman

[2022-02-11 16:09] yacovm commented on #3224
@afrancoc2000 the fix has been merged

[2022-02-11 16:50] denyeart commented on #3224
Fix backported to release-2.4 for inclusion in v2.4.3.

[2022-02-11 17:00] afrancoc2000 commented on #3224
@yacovm and @denyeart I will try it right now, Thank you!!

[2022-02-14 09:01] shivdeep-singh-ibm commented on #3149
In the function `(c *Chain) apply` , [this code](  https://github.com/hyperledger/fabric/blob/7b7b6e9248b77be956025cf56eec3e7799f17c72/orderer/consensus/etcdraft/chain.go#L1143) is not properly protected and can lead to a  segmentation fault, because at position=0, the entry.Type is ambiguous it can be either of {`raftpb.EntryNormal`, `raftpb.EntryConfChange`}, but this line tries to unmarshal it

[2022-02-15 14:30] andrew-coleman commented on #3224
Hi @afrancoc2000, before we release v2.4.3, could you confirm whether this fix works for you, please?  Thanks!

[2022-02-15 14:56] afrancoc2000 commented on #3224
Hi @andrew-coleman although I'm not getting the "certificate signed by unknown authority" error, the client still doesn't work, I'm getting now an error on the orderer telling me that the client didn't provide a tls certificate.

These are the logs in the client:

    Submit error with gRPC status DeadlineExceeded: rpc error: code = DeadlineExceeded desc = context deadline exceeded

These are the

[2022-02-15 16:10] andrew-coleman commented on #3224
Ok, this looks like a separate problem.  Currently the gateway does not support mutual TLS between the gateway server and other peers and orderer nodes:
https://github.com/hyperledger/fabric/blob/main/internal/pkg/gateway/endpoint.go#L100

This will need to be implemented.  I'll raise a separate issue for this.

[2022-02-15 16:21] afrancoc2000 commented on #3224
Ok, thanks

[2022-02-16 07:28] suzhiliang commented on #3139
couchdb JSON query  methods cannot query the traceability data records of the same transaction number, only the latest coverage

[2022-02-16 12:39] DeepikaKaranji opened #3231 "Tutorial leads to a failure, system channel is not an option for 2.4 release"
https://github.com/hyperledger/fabric/blob/release-2.4/docs/source/create_channel/create_channel_config.md .

The profile configurations mentioned in this page would lead to creating a genesis block for system channel & consortium. However, 2.3 release removed the need for system channel to create application channels. Following the documentation here leads to an error.

[2022-02-16 12:44] arsulegai commented on #3014
@mbwhite are there thoughts around deprecating the chaincode build service via the peer node? (i.e. making chaincode as a service a default option)

[2022-02-16 13:13] #3028 closed, assigned to nobody

[2022-02-17 10:07] suzhiliang commented on #3139
@denyeart couchdb JSON query methods cannot query the traceability data records of the same transaction number, only the latest coverage

[2022-02-17 12:10] andrew-coleman opened #3234 "Gateway support for client authentication (mutual TLS)"
Currently the gateway doesn't pass the host peer's client certificate when making connections to other nodes in the network.
This needs to be added in order for the gateway to work when mutual TLS has been configured.

[2022-02-17 17:10] mbwhite commented on #3014
@arsulegai Exactly.

[2022-02-17 21:38] arsulegai commented on #3014
This feature request would then be void. Would you still recommend somebody spending time on this feature?

[2022-02-17 22:16] dshuffma-ibm opened #3236 "the OSN admin endpoints in the swagger file are wrong"
The swagger file for the rest endpoints of the osnadmin feature has the routes wrong, same mistake flipping the order of `/v1/` and `/participation/`:
- the swagger file: https://github.com/hyperledger/fabric/blob/main/swagger/swagger-fabric.json
- source showing the real route: https://github.com/hyperledger/fabric/blob/main/orderer/common/channelparticipation/restapi.go#L29
- i've also tested th

[2022-02-18 11:25] afrancoc2000 opened #3238 "No TLSHANDSHAKETIMESHIFT for intermediate Ca Certificates"
Hy everyone,

I'm having a problem with expired certificates, I'm running a cluster with several channels and I updated the certificates on time for most of them, but I forgot about a channel that was created and used only during the first initialization of the cluster.

So today in my test environment the orderers got restarted and now they don't start, my production environment has the same prob

[2022-02-18 11:38] afrancoc2000 opened #3239 "peer channel command --tlsHandshakeTimeShift flag doesn't work"
Hi,

I have an issue with my certificates so I needed to use the --tlsHandshakeTimeShift flag to be able to update my certificates but the flag doesn't work.

This is what  I tried:

    peer channel list --tlsHandshakeTimeShift 96h
    2022-02-18 06:31:55.132 -05 0001 ERRO [main] InitCmd -> Cannot run peer because error when setting up MSP of type bccsp from directory D:\Workspace\epm\certificate

[2022-02-18 12:09] yacovm commented on #3238
The problem is not that the TLS handshake timeshift is not honored by the channel config, but rather that the [MSP setup of TLS CA certificates](https://github.com/hyperledger/fabric/blob/main/msp/mspimplsetup.go#L453) (or the setup [of enrollment CAs](https://github.com/hyperledger/fabric/blob/main/msp/mspimplsetup.go#L115)) doesn't use the [same trick](https://github.com/hyperledger/fabric/blob/

[2022-02-18 12:13] yacovm commented on #3239
The TLS handshake timeshift only governs the TLS handshake. The error you are experiencing is related to signing identities.
Just issue a new identity for your admin and then use it to do the channel update.

[2022-02-18 12:20] yacovm commented on #3238
@afrancoc2000 do you mind editing your issue and putting the entire stack trace so it will be more evident what the problem is?

[2022-02-18 12:34] afrancoc2000 commented on #3238
Sure @yacovm, here's the entire stack trace:

    Thu, Feb 17 2022 9:28:20 am	2022-02-17 14:28:20.681 UTC [localconfig] completeInitialization -> WARN 001 General.GenesisFile should be replaced by General.BootstrapFile
    Thu, Feb 17 2022 9:28:20 am	2022-02-17 14:28:20.681 UTC [localconfig] completeInitialization -> INFO 002 Kafka.Version unset, setting to 0.10.2.0
    Thu, Feb 17 2022 9:28:20 am

[2022-02-18 13:26] mbwhite opened #3240 "ccaas-builder binaries only included in the Linux tgz distribution"
Should be included in the other tgz for other platforms.

[2022-02-18 13:30] afrancoc2000 commented on #3239
The issue with the admin is that I don't use node OUs so, it only recognizes the admins in the block configuration 😓. I have a new certificate in the admins folder for the orderers and peers but using it I get this message:

peer channel update -f configtestchainidUpdate.pb -c testchainid -o ${ORDERER_ADDRESS} --tls --cafile ${ORDERER_TLS_CA} --clientauth --certfile $ADMIN_TLS_CERTFILE --keyfile $

[2022-02-18 14:19] yacovm commented on #3239
Then try to change the local time on the machine you use to send the channel config update

[2022-02-18 14:42] mbwhite commented on #3014
honestly I wouldn't no.

[2022-02-18 14:52] denyeart commented on #3238
@yacovm Yes, I think we need a timeshift for regular CA and TLS CA verification. Instead of all of these different timeshift options, what would you think of a single global timeshift that would apply to all of them? Users have a difficult time keeping track of all the different certs and which overrides apply to which ones.

[2022-02-18 15:35] yacovm commented on #3238
Please click on the links [in my comment](https://github.com/hyperledger/fabric/issues/3238#issuecomment-1044425421) and read the code and understand why a "global time shift" or `TLSHANDSHAKETIMESHIFT` is **irrelevant** to the problem at hand.

[2022-02-18 17:20] denyeart commented on #3238
@yacovm
Ah, when you said "use the time override" I thought you were talking about the timeshift override.
Rather, you are suggesting to override the check time based on the CA cert NotBefore time so that it ALWAYS passes when validating CA and TLS CA certs.
Are you suggesting this be hardcoded to always pass (like the identity checks that you referenced), or based on a new orderer/peer config opt

[2022-02-18 17:35] yacovm commented on #3238
The former, of course. The no expiration checks is a check for validation in the admission path of transactions.
Here we're dealing with code path that initializes the channel config bundle.

[2022-02-18 18:30] arsulegai commented on #3014
Thanks for the heads up.

On side notes: I had a first time contributor interested in Fabric, they found this issue to work on based on the issue tag. Do you have anything else for them to pick up?

[2022-02-18 19:13] denyeart commented on #3238
Ok, I agree with the proposal.
To take an extreme example... say you shut down a peer for 30 years and then start it back up... it shouldn't fail to start simply because the old CA certs in the channel config have expired. It should be allowed to start and process blocks so that it can catch up to the latest channel config containing the latest CA certs.  (Of course, you will likely need to update

[2022-02-18 19:31] dshuffma-ibm commented on #3236
oh also the join-channel api [form data field](https://github.com/hyperledger/fabric/blob/main/swagger/swagger-fabric.json#L132) is not called `configBlock`, it is called `config-block`

source: https://github.com/hyperledger/fabric/blob/main/orderer/common/channelparticipation/restapi.go#L31

[2022-02-19 01:23] afrancoc2000 commented on #3239
ok, I'll do that, thanks!!!

[2022-02-19 01:23] #3239 closed, assigned to nobody

[2022-02-20 07:29] elyssa12 opened #3241 "ClientHandshake -> Client TLS handshake failed after 10.52275ms with error: tls: first record does not look like a TLS handshake remoteaddress=127.0.0.1:7051"
when I try " peer channel join -b $BLOCKFILE" , this error comes. How to resolve it ? Is it a source error? Following config:

[code]

couch.yaml
[code]

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/75236623/154835157-8b250663-4b8b-490f-94cc-eab1a5134bf9.png">
<img width="1006" alt="image" src="https://user-images.githubusercontent.com/75236623/154835241-21066ced-ac

[2022-02-21 16:48] jcastrence commented on #3205
gorilla/handlers 1.4.0 => 1.5.1 MERGED
go-kit/kit v0.9.0 => v0.10.0 MERGED
hashicorp/go-version v1.2.0 => v1.4.0 OPEN
miekg/pkcs11 v1.0.3 => v1.1.1 OPEN
VictoriaMetrics/fastcache v1.5.7 => [v1.5.8] (FAIL: externalbuilder)
Shopify/sarama v1.20.1 => [v1.31.1] (v1.21.0 FAIL: externalbuilder, orderer/consensus/kafka)

[2022-02-21 22:03] #3234 closed, assigned to andrew-coleman

[2022-02-22 13:27] Param-S commented on #3223
For the scenario described “the orderer3 joined as follower though its block height greater than other orderers”: It joined as follower as its last log entry term matches with the current quorum/leader’s term.  This is the reason for the orderer3 joined as follower.

For the suggestion, “transfer the leadership to the node who’s block height is higher”;  we may need to consider the scenario where

[2022-02-22 23:11] JinchunChoi opened #3250 "Image resolution issues"
Hi, I found one of the images looks clipped from here (https://hyperledger-fabric.readthedocs.io/en/latest/couchdb_tutorial.html#add-the-index-to-your-chaincode-folder).

I'm using Chrome (Version 98.0.4758.102 (Official Build) (x86_64)) in Mac OS (10.15.7).

And here are the links for the document and image in Github.

Document:
https://github.com/hyperledger/fabric/blob/main/docs/source/couchdb_

[2022-02-23 06:29] chaunsin opened #3251 "Support Chinese GM algorithm"
I hope to support the GM algorithm of China or reserve an interface. In the process of use, I need to replace the algorithm architecture and modify the SDK, CA and peer services, which is very invasive to the code. In addition, the above process needs to be repeated in the version upgrade, resulting in a lot of repetitive labor.

[2022-02-23 08:34] adecaro commented on #3238
Hi All,

Just a comment here to make sure everything is in context.
When a peer restarts, the peer should rescan the ledger and apply the configuration blocks in the order given by the ledger. It is clear that, the peer should not panic because a configuration block in the middle contains expired certificates because that block refers to a previous time period. For this reason, I agree that we mus

[2022-02-23 08:39] yacovm commented on #3238
But the TLS CA certificates are not going to be used by the channel config at all.
If anything, the expired ones will not be used to validate certificates at all, because the only place that uses them is the TLS configuration which does take into account their expiration.

[2022-02-23 12:05] #3238 closed, assigned to nobody

[2022-02-23 13:53] andrew-coleman commented on #3224
@afrancoc2000, the mutual TLS issue has been fixed and merged (https://github.com/hyperledger/fabric/issues/3234).  Please could you let me know if this resolves the problem you were seeing?  Thanks!

[2022-02-23 19:15] afrancoc2000 commented on #3224
@andrew-coleman with your last fix things started working! thanks!

[2022-02-24 06:04] denyeart commented on #3238
Fix backported to release-2.4, release-2.3, release-2.2.

[2022-02-26 17:49] jcastrence opened #3260 "Update Go Dependencies For Fabric v2.5"
code.cloudfoundry.org/clock v1.0.0 LATEST
github.com/DataDog/zstd v1.4.5 // indirect
github.com/IBM/idemix v0.0.0-20220112103229-701e7610d405
github.com/Knetic/govaluate v3.0.0+incompatible UPDATED WITH GO-KIT PR
github.com/Shopify/sarama v1.20.1 => [v1.31.1]
github.com/Shopify/toxiproxy v2.1.4+incompatible // indirect REMOVED WITH GO-KIT PR
github.com/VictoriaMetrics/fastcache v1.5.7 => v1.9.0 UP

[2022-02-26 17:49] jcastrence commented on #3260
ALL UPDATES

gorilla/handlers 1.4.0 => 1.5.1 MERGED
go-kit/kit v0.9.0 => v0.10.0 MERGED
hashicorp/go-version v1.2.0 => v1.4.0 MERGED
miekg/pkcs11 v1.0.3 => v1.1.1 MERGED
kr/pretty v0.2.1 => v0.3.0 MERGED
cheggaaa/pb v1.0.28 => v1.0.29 MERGED
VictoriaMetrics/fastcache v1.5.7 => v.1.9.0 MERGED
fsouza/go-dockerclient v1.7.0 => v1.7.3 MERGED
mitchellh/mapstructure v1.3.2 => v1.4.3 MERGED
onsi/gomega v

[2022-02-28 03:13] chaunsin opened #3261 "How to resolve configuration blocks"
May I ask how I parse the configuration block? I want to know what the structure of the configuration block is. The configuration block is different from the ordinary block. thank you

[2022-02-28 07:30] kolayuk opened #3262 "Support of configurable GRPC message size is missing for deliveryclient"
MaxRecvMsgSize && MaxSendMsgSize must be filled in Client Config from viper

https://github.com/hyperledger/fabric/blob/main/core/deliverservice/deliveryclient.go#L130

[2022-02-28 18:36] melihassoun commented on #3039
Hello !
I'm facing the same issue and I don't know how to fix it

I tried these commands

**go mod tidy
go mod vendor**
but it doesn't work.

Can anyone help, please !

thank you

[2022-02-28 18:37] melihassoun commented on #3039
Did you fix the problem ?!

[2022-03-01 14:50] Graynder commented on #3170
I reopen the issue, no binaries provided on 2.4.2 & 2.4.3

[2022-03-02 13:17] denyeart commented on #3205
Replaced with https://github.com/hyperledger/fabric/issues/3260, closing.

[2022-03-02 13:17] #3205 closed, assigned to jcastrence

[2022-03-02 20:13] jkneubuh opened #3266 "Update Chaincode-as-a-Service docs to reflect the new default ccaas builder"
The Fabric docs on [CCaaS external builders](https://hyperledger-fabric.readthedocs.io/en/latest/cc_service.html#modify-the-peer-core-yaml-to-include-the-externalbuilder) are out of date and still too complicated for general consumption.  The External Builders section includes enough detail for users that seek to override the embedded defaults with a custom cc compiler.

Update this section of the

[2022-03-04 07:43] guoger commented on #2931
I think there's another issue caused by this problem: if we have two consecutive blocks creating the same channel, and if a new orderer is being added to this channel, it will be confused and recognize the second block as genesis block, and crashes later due to hash pointer mismatch.

possible related code https://github.com/hyperledger/fabric/blob/c3f6ef94926ac6560bf2776fc65c85ede50bb0fb/orderer/

[2022-03-04 09:53] andycao125 commented on #3003
@denyeart This problem has been fixed.

[2022-03-06 01:39] yacovm commented on #2931
I think the right approach would be to treat channel creations as "config in flight" semantics - stop the pipeline until the channel creation block is committed. This would ensure only one channel creation with the same name.

[2022-03-06 11:19] guoger commented on #2931
Yep, that would be a more proper solution. Although we still need to address the issue in the code mentioned, to accommodate networks running in production, which might already suffer from this - having two consecutive blocks in system channel that create the same application channel.

[2022-03-06 14:58] yacovm commented on #2931
So the function you mention already ignores the second channel creation, since it overrides the map entry, does it not? And come to [discord](https://discord.com/invite/hyperledger), it's easier to collaborate there on this topic.

[2022-03-06 18:35] #3003 closed, assigned to nobody

[2022-03-07 09:10] yacovm commented on #2931
@guoger do you want to open a new issue for your use case? We can then make a trivial PR that skips that double occurrence and uses the first one.

[2022-03-07 17:39] bmdelacruz commented on #3231
If I'm not mistaken, you only need create the channel genesis block using the profile `SampleAppChannelEtcdRaft` and that's it. No need to create the orderer genesis block using the profile `TwoOrgsOrdererGenesis` and create channel config transaction using the profile `TwoOrgsChannel`. Once the channel genesis block is generated using `configtxgen`, you only need to run `osnadmin channel join` on

[2022-03-08 09:08] andycao125 opened #3269 "failed to create or read WAL: failed to open WAL: fileutil: file already locked"
![图片](https://user-images.githubusercontent.com/44188513/157204111-3fbb3052-7fc1-4832-a0ea-9260ba00c5c7.png)
When the orderer is running, sometimes it will appear:failed to restore persisted raft data: failed to create or read WAL: failed to open WAL: fileutil: file already locked。
What should I do to restart the orderer？

[2022-03-08 09:10] andycao125 commented on #2815
I had this problem too, how did you solve it?

[2022-03-08 19:09] joshhus opened #3270 "Change RocketChat to Discord"
Update chat tool symbols on docs site:

Change Rocket icon on main TOC to Discord - https://hyperledger-fabric.readthedocs.io/en/latest/index.html

Same for "Rocket Chat" text link at the CA URL - https://hyperledger-fabric-ca.readthedocs.io/en/latest/

https://chat.hyperledger.org/home

![image](https://user-images.githubusercontent.com/16542757/157307467-00b744b3-c0b5-46bf-8b65-84375e22a7cf.png)

[2022-03-08 19:10] joshhus commented on #3270
![image](https://user-images.githubusercontent.com/16542757/157308075-cb2a879d-438f-47b7-baf6-b1b545953eaa.png)

[2022-03-08 21:53] joshhus opened #3271 "Language fixes - docs"
Issue to collect one-off language etc. fixes when found to address in one PR:

"have" ---> "having"

![image](https://user-images.githubusercontent.com/16542757/157331850-3e2ff9eb-1777-43a0-8624-0b9bceabf5f4.png)

[2022-03-09 18:44] joshhus opened #3276 "Content updates - docs"
Do we still want to call this "new"? It may be the new "Fabric" lifecycle in v.2.0. but it's not the latest "Transaction" lifecycle (which is new in 2.4 with new Fabric Gateway service). May just need changing from "new" to "v2.x" with caveat that Tx lifecycle changed in 2.4.

https://hyperledger-fabric.readthedocs.io/en/latest/chaincode_lifecycle.html#migrate-to-the-new-fabric-lifecycle

![image]

[2022-03-09 18:58] joshhus commented on #3276
"new" for 2.0 may be problematic language for the "latest" (2.4) release docs and moving fwd. Depends on reader interpretation of "new". I don't think the "chaincode" lifecycle per se changed in 2.4 however, only Tx / gateway.
https://hyperledger-fabric.readthedocs.io/en/latest/enable_cc_lifecycle.html

![image](https://user-images.githubusercontent.com/16542757/157512191-68dc9b82-e905-4cb8-b669-a

[2022-03-09 19:03] joshhus commented on #3271
"deployements" typo --

![image](https://user-images.githubusercontent.com/16542757/157513104-d6234e6a-d8c8-4960-a080-624579f2e1a1.png)

[2022-03-09 19:22] joshhus commented on #3271
I think these "2.0" should all be "2.x" -- throughout the 2.4 docs likely. Unlikely anything is specific to only 2.0.

![image](https://user-images.githubusercontent.com/16542757/157516071-73f25c66-4fba-4463-b351-8ff5bc229bc6.png)

[2022-03-09 19:36] joshhus commented on #3271
A number of : colon chars missing to lead in to lists, just punctuation:
https://hyperledger-fabric.readthedocs.io/en/latest/cc_service.html

[2022-03-09 19:38] Param-S commented on #2931
@yacovm

I understood the logic in same way,  that the existing code ignores as it overrides the map entry based on channel key name.

But the next comment about a need for trivial PR to check & skip the double occurrence:

I assume that this additional check is required as the application channel genesis block is based on the first block & when the application channel gets pulled that time the ha

[2022-03-09 19:54] joshhus opened #3277 "Line wrapping - output"
Not a big deal but notice the line wrapping in Release Notes, makes it a bit awkward to read, could be adjusted in 2.next:

https://github.com/hyperledger/fabric/releases/tag/v2.4.2

![image](https://user-images.githubusercontent.com/16542757/157522991-ae05f1e2-c2fd-4e55-bd05-0144476e5fea.png)

[2022-03-09 22:16] joshhus opened #3278 "Graphics and diagrams updates - docs"
For example, this one is pending / working:

https://hyperledger-fabric.readthedocs.io/en/release-2.4/getting_started.html

![image](https://user-images.githubusercontent.com/16542757/157545894-b070fee2-75b7-4296-9c02-2244311268c2.png)

Others can be added and worked in this issue.

[2022-03-10 13:26] joshhus opened #3279 "Update copyright year"
For newly published pages.
e.g.
https://hyperledger-fabric.readthedocs.io/en/latest/getting_started.html

![image](https://user-images.githubusercontent.com/16542757/157671074-7ae3f7aa-eb3b-4a7a-8670-207a221deab2.png)

[2022-03-10 13:39] joshhus opened #3280 "Tx flow topic"
check for new Gateway

note legacy diagram

https://hyperledger-fabric.readthedocs.io/en/latest/txflow.html

[2022-03-10 13:40] joshhus commented on #3280
![image](https://user-images.githubusercontent.com/16542757/157673890-f0e0ce98-6db8-42dd-a509-680348d2108a.png)

![image](https://user-images.githubusercontent.com/16542757/157673620-d80854f6-28fc-4a71-84f7-240a80b58aca.png)

[2022-03-10 14:45] joshhus commented on #3280
most of it still good, just needs just the v2.4 Fabric Gateway service indicated between client and peers/orderers

[2022-03-10 18:03] yacovm commented on #2931
You understood correctly, we need to skip the second and third and so on.

[2022-03-14 02:19] SHIKHER09 commented on #3279
hello, Can I work on it

[2022-03-14 02:58] guoger commented on #2931
sorry for late reply. shall i just open a PR and link it to this one?

[2022-03-14 06:15] #3269 closed, assigned to nobody

[2022-03-14 08:04] abhijeetjejurkar commented on #3250
Hey, I am Abhijeet Jejurkar From Opensource 2022, can I work on this?

[2022-03-14 08:45] #2931 closed, assigned to nobody

[2022-03-14 12:21] joshhus commented on #3279
Sure, I'm not sure how it populates or what the rules are - only when a page is updated, only for updated pages, or if it's needed on every page regardless of updates.

[2022-03-14 13:23] #3149 closed, assigned to Param-S

[2022-03-15 11:56] jt-nti opened #3286 "Add ccaas builder to the release tarballs"
It would be useful to include the "built-in" Chaincode As A Server builder in the release tarballs. The packages currently contain...

[code]

I propose adding a new directory for builders, i.e.

[code]

[2022-03-16 21:16] jkneubuh commented on #2916
@denyeart can you assign this ticket to me?  I'll pick it up.

[2022-03-17 08:05] lehors commented on #2916
@TrishamBP Hi, we actually had support for this and it was abandoned due to lack of interest. You can find it in the following archived repo: https://github.com/hyperledger/fabric-chaincode-evm
Note that it was functioning but I haven't tried it in a long time so I don't know whether it still works.

[2022-03-18 04:07] SHIKHER09 commented on #3279
I searched about it and I found that we only need to update  updated pages only

[2022-03-18 18:59] joshhus commented on #3279
@SHIKHER09 Okay I think it's automated in the build - publishing the date at the bottom. So perhaps we just need to change it in some config file to "2020-2022" for v. 2.4 docs.

Earlier versions should have earlier dates I would think.

[2022-03-18 22:59] penumbra23 opened #3290 "Is Docker the only built-in way to build chaincode?"
Hi everyone!

First of all, thanks for the awesome work you put in here! :clap:

We're using the built-in way of installing the chaincode since `v1.4.3` where the peer builds and deploys the chaincode container via `CORE_VM_ENDPOINT` env variable.

We're migrating now to K8s 1.23+ and preparing for the deprecation of Docker (now it's using `containerd` with `runc` as the default runtime). This is

[2022-03-19 11:48] Akshit42-hue commented on #3279
Can I work on this issue? @joshhus

[2022-03-19 11:53] Akshit42-hue commented on #3276
Hi, I am Axit, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. @joshhus

[2022-03-19 17:10] yacovm commented on #3290
@mbwhite  @jkneubuh

[2022-03-21 09:19] mbwhite commented on #3290
Hello @penumbra23  - thanks for you comments!

1) I don't think that there is a lightweight way to achieve this. The peer, by default is, going to try and contact the docker daemon to build and start processes.

Only by running docker-in-docker or something similar does the Peer orchestrating the images work  in K8S.

2) For the external builder support. This does allow great flexibility in how th

[2022-03-21 09:47] penumbra23 commented on #3290
@mbwhite Thanks for your response!

As far as the external builder support goes, can it actually be set up so that it allows another container runtime to be built in OR is Docker the only way the peer builds the chaincode containers?

Regarding dind, I already managed to create a peer pod with a dind sidecar and it works (at least on the first glance, need to do more testing).

The problem for us

[2022-03-21 09:55] mbwhite commented on #3290
@penumbra23

for the builtin support the Peer only knows about talking to the docker daemon; so for K8S you can easily disable that and use the external builder approach. Here the peer calls out to a (configured) set of binaries that take on the responsibility of building and deploying the chaincode. In whatever manner they wish - the peer really doesn't care how it's done, so long the chaincode i

[2022-03-21 10:27] penumbra23 commented on #3290
Okay, that seems like the way-to-go for us too.
@mbwhite Thanks for the info! Helped a lot!

[2022-03-21 10:27] #3290 closed, assigned to nobody

[2022-03-21 10:40] jkneubuh commented on #3290
Hi @penumbra23

Something to be aware of in this area is that the `core.vm.endpoint` attribute must be _removed_ from your peer core.yaml configuration file.  If this attribute is present (even if null) the peer will attempt to connect to a local Docker daemon.

[2022-03-21 10:41] penumbra23 commented on #3290
Thanks @jkneubuh for the info, didn't know about that since it wasn't in my core.yaml file 😄

[2022-03-21 10:44] jkneubuh commented on #3290
Whoops!

`vm.endpoint`  (mapping to CORE_VM_ENDPOINT in the peer env)

[2022-03-21 11:48] shivdeep-singh-ibm opened #3293 "exploring the purpose of inactive chain in `orderer/consensus`"
In `fabric/orderer` the `consensus` directory  holds various pluggable consensus implementations. Currently the consensus implementations  in the  `orderer/consensus/` directory are {etcdraft, kafka, solo, **inactive**}.
This issue is created to understand the purpose of **inactive chain**.

Seeks to address questions like:
- whether it is required only in the case of channel participation apis /

[2022-03-21 16:48] yacovm commented on #3293
You can look at [git blame](https://github.com/hyperledger/fabric/blame/main/orderer/consensus/inactive/inactive_chain.go) and see the [commit](https://github.com/hyperledger/fabric/commit/a8a509460564e452ad6d58c0512d1d844ede0802) in which it was introduced.

The purpose of the inactive chain is to support a use case where an orderer is not part of a channel, but you don't want to return "this cha

[2022-03-21 20:31] denyeart opened #3294 "Unit test failure in TestEtcdraft"
Seeing this failure in local environment:

{"level":"debug","msg":"Creating snapshot at index 7 from MemoryStorage","channel":"multi-node-channel","node":1}
{"level":"info","msg":"Persisting snapshot (term: 2, index: 7) to WAL and disk","channel":"multi-node-channel","node":1}
{"level":"info","msg":"Applied config change to remove node 3, current nodes in channel: [1 2]","channel":"multi-node-chan

[2022-03-21 21:51] jcastrence commented on #3294
Getting the exact same failure in local environment as well. This failure occurs after merging commit [fix fabric/orderer unit test flake](https://github.com/hyperledger/fabric/commit/2fc323cb40e46ee524ab380e6160f89c40ba631e).

[2022-03-22 05:33] shivdeep-singh-ibm commented on #3294
The unittest is failing on some machines because it takes some (variable duration) time to write snapshots to disk and the *Expect* comparison happens while the write is still in progress, so we get wrong number of snapshots, which is less than the expected number. It is fixed by replacing *Expect* by *Eventually* which waits for some time to check the *expected* values.

[2022-03-22 13:16] PandaManPMC commented on #3039
I had the same problem and was looking for a way to fix it.

[2022-03-22 13:27] PandaManPMC commented on #3039
go mod vendor
Execute the above command to download the dependencies into the source code and repackage the chaincode, and the installation is successful. I solved it this way.

[2022-03-23 11:14] jkneubuh commented on #3294
Looks like a fix has been merged.  Can this Issue be closed?  Thanks Shivdeep and Julian for tracking this down.

[2022-03-23 13:21] melihassoun commented on #3039
I think that the problem for me was the way that I installed go...
to fix it, I downloaded go and used tar-xvf .... instead of sudo apt

[2022-03-23 13:54] #3294 closed, assigned to nobody

[2022-03-25 21:57] joshhus commented on #3277
fyi @denyeart this may be yours initially. I can update the line wrapping shown above if you like.

[2022-03-25 22:03] joshhus commented on #3270
@denyeart I think you said there was a PR with a new icon etc. for me to look at? Can you paste the PR here.

[2022-03-25 22:14] denyeart commented on #3277
@joshhus  Feel free to fix the line wraps for the next release notes:
https://github.com/hyperledger/fabric/blob/main/release_notes/v2.5.0.md

[2022-03-27 10:34] AyushRaj8271 commented on #3014
Hey @arsulegai  and @mbwhite is this issue still available for resolving?

[2022-03-27 10:42] AyushRaj8271 commented on #3270
Hey @joshhus ! This is Ayush, I am reall y interested into work on this PR . Is this still available ? Can you assign this PR to me?

[2022-03-27 21:02] Jakirik commented on #3039
try downgrade my golang version to 1.13, works for me
using
Ubuntu 20.04.4 LTS
Hyperledger fabric 2.4

refer to
https://stackoverflow.com/questions/64315723/hyperledger-fabric-chaincode-installation-on-peer0-org1-has-failed

[2022-03-28 05:21] denyeart commented on #3270
The RocketChat to Discord PR is at https://github.com/hyperledger/fabric/pull/3296.
The only thing remaining is to fix up the Discord graphic to match the color scheme of the other icons.

[2022-03-28 13:52] jexus6 opened #3306 "Add channel config for max doc size behind a new application capability to prevent document_too_large issues in CouchDB"
On a peer init ( that was working before) I get this error:
[code]

And there is no way for this peer to join again to that channel.

[2022-03-30 20:33] joshhus commented on #3279
I think the home page for latest / 2.4 should say 2020-2022.
@SHIKHER09 you can PR this, or defer to @Akshit42-hue if you are busy thanks!

[2022-03-31 15:07] AutoCS-wyh opened #3313 "Fabric chaincode import "github.com/Nik-U/pbc"， peer lifecycle chaincode install (test-network)"
[root@fabric1 test-network]# peer lifecycle chaincode install $CHAINCODE_NAME.tar.gz
Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: docker build failed: docker image build failed: docker build failed: Error returned from build: 2 "github.com/Nik-U/pbc
#github.com/Nik-U/pbc
/usr/lib/gcc/x86_64-alpine-linux

[2022-03-31 16:11] mbwhite commented on #3286
Updated in PR#3315

[2022-04-05 09:52] davidkel commented on #3306
see https://stackoverflow.com/questions/71648747/peer-cant-load-ledger-on-init-due-couchdb-document-too-large

[2022-04-05 12:40] joshhus commented on #3270
@AyushRaj8271 Thanks for your interest! We have a new Discord icon already. However the dimensions are a bit off compared to the Discord original, which is not the image file, but rather in the rendering (.md/HTML) if you want to check that out.

Likewise we need "Rocketchat" replaced with Discord here, with the updated link to Discord - https://hyperledger-fabric-ca.readthedocs.io/en/latest/

[2022-04-05 15:50] ajayatdlt opened #3317 "Enable better authentication mechanism for CouchDB"
Currently, Peer uses the username and password authentication for the CouchDB authentication.
We should be looking at improving the authentication mechanism.
CouchDB supports the following types of authentication.

- Basic
- Cookie
- Proxy
- JWT
https://docs.couchdb.org/en/3.2.0/api/server/authn.html
We should be looking for enhancing the authentication by having other mechanism apart from Basic.

[2022-04-06 18:33] jkopczyn opened #3319 "Clarify: can external chaincode be replicated?"
Looking at [Configuring a peer to process external chaincode](https://hyperledger-fabric.readthedocs.io/en/release-2.2/cc_service.html#modify-the-peer-core-yaml-to-include-the-externalbuilder) and [Writing chaincode to run as an external service](https://hyperledger-fabric.readthedocs.io/en/release-2.2/cc_service.html#go), it looks like it should be possible for a chaincode to be run on multiple m

[2022-04-07 01:15] #3313 closed, assigned to nobody

[2022-04-07 03:50] denyeart opened #3320 "Improve error message when deliver service is asked for a block that doesn't yet exist on the node"
Improve error message when deliver service is asked for a block that doesn't yet exist on the node.

This is all we get for now:
`[common.deliver] deliverBlocks -> ERRO 18d59 [channel: channel1] Error reading from channel, cause was: NOT_FOUND`

It is enough for Fabric developers to know what happened, but not for users or support personnel.

[2022-04-07 12:28] ptippett commented on #3320
Yep.  Ideally it'd be "Block xxxx not found"

[2022-04-07 12:49] joshhus commented on #3195
Several commits and reviews have happened, should be close to good to go -- PR https://github.com/hyperledger/fabric/pull/3307
Next will create a new issue - managing revoked and expired certs.

[2022-04-07 12:50] joshhus commented on #3195
@jkneubuh to review
@c-elder

[2022-04-07 15:06] jkneubuh commented on #3319
Hi @jkopczyn

There was some good discussion on load-balancing chaincode on the Discord #fabric-kubernetes "LOAD BALANCING CHAINCODE" thread.  In general, the consensus and recommendation was to distribute gRPC messages across load-balanced *peers*, using the Gateway client.

Load balancing individual gRPC messages at the peer<->CCaaS protocol is an open question, and would definitely be possible

[2022-04-07 15:15] mbwhite commented on #3319
To add some more detail on the mechanisms:

For a given chaincode package, the peer will ask each builder in turn if it can handle the package. The first one that replies 'yes' is given the chance to build/run this chaincode.  So if `myexternal1` says yes, `myexternal2` will never be invoked.

It would, in theory, be possible to create a  builder such that `myexternal1` would say yes to packages A

[2022-04-07 18:26] joshhus commented on #3279
1. ey I took liberty to get this in the build queue --
2. for example - https://hyperledger-fabric--3307.org.readthedocs.build/en/3307/certs_management.html ...
3. source file is in /source/_templates/footer.html
4. for doc collections, the standard is a range of years, such as 2020-2022 for Fabric 2.4.

[2022-04-07 18:26] #3279 closed, assigned to nobody

[2022-04-12 16:04] mffrench opened #3326 "Would be possible for an HLF transaction to handle several proposals from different chaincode ?"
Hello,

while our project is growing and we're integrating some external features we have some case where our business transaction atomicity would need some new feature from Hyperledger Fabric so that the HLF transaction atomicity would reflect the the business one.

Some context :

- we started with a feature involving a chaincode A. So our business transaction is mapping the technical transactio

[2022-04-12 17:33] yacovm commented on #3326
If you deal with a single channel, the problem can be solved by having **chaincode C** that performs what **Tx1** and **Tx2** together perform, via a cross chaincode transaction (having **chaincode C** call into **chaincode A** and **chaincode B**).

For proposals targeted to different channels, it's not a simple task.

You need to be able to rollback the first transaction you submit, otherwise yo

[2022-04-13 07:20] prajwal-creator-art commented on #3039
In the chaincode-go/go.mod file
open using the nano or vim editor and change the version from
go 1.14 to go 1.13
This worked for me

[2022-04-13 10:25] davidkel opened #3328 "Unable to invoke transaction that interacts with a PDC using fabric-gateway"
I have a simple chaincode setup which writes to a single PDC. The collections config is defined as follows
[code]

And the chaincode method is
[code]

using the 2.2 node sdk I can submit a transaction and it get's committed without issue. However when I perform the same using the fabric-gateway it performs the initial endorse without any problem but then returns the following error message
[code]

[2022-04-13 11:06] mffrench commented on #3326
Hello @yacovm ,

Thank you for that answer :)

currently I did consider chaincode to chaincode option on the case we have only one channel but that would require some change on one of our chaincode and we need to look on it (cc @adecaro).

Anyway I though such ability in HLF application APIs would be interesting so that we can handle this on application side which - seems to me - has an easier dev

[2022-04-13 11:40] mffrench commented on #3326
Regarding `easier development gouvernance` on application side, I think I need to explain a bit :

Chaincode A and chaincode B have their own logic and are implemented by different teams.
Doing a chaincode to chaincode call would require one of the chaincode integrate the other chaincode logic (input and output) and this is may not be as easy than in the application side which is making the link a

[2022-04-16 05:01] sheetalj2205 commented on #3270
Hey, @joshhus I want to work on this issue, I'll replace the Rocketchat with Discord in this doc https://hyperledger-fabric-ca.readthedocs.io/en/latest/. Can you please assign this to me?

[2022-04-18 01:49] davidkhala opened #3331 "panic: nil pointer in key-level endorsement use case"
In some case, the combination of using new fabric-gateway and key-level endorsement together disclose a vulnerability.

some mis-configured fabric-gateway usage can kill the processing peer

Please consider it as bug.
[code]

[2022-04-18 04:14] davidkhala commented on #3326
Nowadays we can still catch the exception if chaincode A attempt call a non-existing chaincode B, to probe if B exist.
Meanwhile cross-channel SAGA pattern has been discussed overtime as a good topic.
PS: Our product teammates are also actively working on this. I am happy to share its design when available.

[2022-04-18 04:40] davidkhala opened #3332 "GetStateValidationParameter unexpected empty"
fabric 2.4
## The scenario
1. Prepare policy bytes by
[code]
3. `SetStateValidationParameter` with key `a` and policyBytes. I also did a double check here
4. After block commit is completed, I query on `GetStateValidationParameter`.
5. The result of `GetStateValidationParameter` is surprisingly empty.

In my first round test I submit and query via new fabric-gateway endpoint. So I suspect if it is

[2022-04-18 05:11] shubham-umate opened #3333 "BigDecimal data type storage issue"
BigDecimal value getting wrongly truncated beyond 13-15 digits while writing to ledger. Java is being used for SDK and CC. CouchDB as a database.

[2022-04-18 07:44] yacovm commented on #3331
@davidkhala what is the endorsement policy? (the key one)

[2022-04-18 08:31] yacovm commented on #3331
[This](https://github.com/hyperledger/fabric/pull/3334) should fix it.

[2022-04-18 08:40] Aniket21mathur commented on #3320
Hey @denyeart! I am new to Hyperledger foundation. I went through the contribution documentation and thus decided to start with a straightforward good first issue to get a little grasp of the project codebase. Since there is no one assigned to this issue, I would like to work on it.

Thanks!

[2022-04-18 11:37] Aniket21mathur opened #3337 "Architecture difference between Step 13 "RUN make ccaasbuilder" and Step 21"
Step 13('RUN make ccaasbuilder') of the installation process (`make dist-clean all`) is producing binaries with path having a `linux-arm64` architecture.

[code]

While the Dockerfile involved in Step21 is reading from a hardcoded `linux-amd64` architecture path and hence running into an error->

[code]

The architecture here(https://github.com/hyperledger/fabric/blob/main/images/peer/Dockerfile#L

[2022-04-18 11:39] Param-S commented on #3337
Issue discussed in discord : https://discord.com/channels/905194001349627914/905205541326975046/965569733955035136

[2022-04-18 12:44] ketulsha commented on #3333
@shubham-umate, can you please share some more details like what is the actual value you are using (example of your chain code) and what is the truncated value it stores? It may be something to do with CouchDB and not with fabric code.

[2022-04-18 14:04] davidkhala commented on #3331
In this scenario, the endorsement policy I am using is like `AND(Org1.member, Org2.member)`

[2022-04-18 14:05] davidkhala commented on #3331
I think so.

[2022-04-18 14:05] #3331 closed, assigned to nobody

[2022-04-19 10:32] xinyoulinxi-T opened #3340 "QUIC support"
Can the Fabric protocol stack replace TCP with QUIC？Hope to get the answer, if possible, how to modify？Thank you

[2022-04-19 11:11] yacovm commented on #3340
Fabric uses gRPC over TLS to communicate between nodes (peers and orderers) and with clients and chaincodes.

You will need to make the change in not only the Fabric core, but also in the clients (implemented in multiple languages).

[2022-04-19 13:05] musinit commented on #3014
Hi! @mbwhite can you tell please, is it still needs resolving?

[2022-04-19 13:08] musinit opened #3341 "Update to Go 1.18.10 in all Fabric repositories"
Hey, looks like we can update all the stuff to the latest version?

[2022-04-19 13:23] mbwhite commented on #3014
Hello @musinit .. I don't believe that this needs resolving - the preferred solution would be the external chaincode-as-a-service feature.

[2022-04-19 19:44] taras-hk commented on #3261
@chaunsin You can use `configtxlator` for this.

A sample command looks like this:
[code]

More details about this tool you can find [here](https://github.com/hyperledger/fabric/blob/main/docs/source/commands/configtxlator.md#configtxlator-proto_decode)

[2022-04-20 02:03] xinyoulinxi-T commented on #3340
Thanks for your reply, but how can the Fabric kernel be modified？

[2022-04-20 12:24] shubham-umate commented on #3333
Thanks for your response @ketulsha.  Ex,  For Big Decimal datatype, 123456789012345.798 is getting stored as 123456789012345.8 and  9999999999999999.12345 as 10000000000000000.

[2022-04-20 17:24] kmilodenisglez opened #3342 "Fix the "running chaincode as an external service" doc section"
The Fabric doc says that "Using this chaincode as an external service model, installing the chaincode on each peer is no longer required"

**But this statement can confuse a user who has an organization with at least 2 endorsing peers:**

**Q:** Do I need to install chaincode on a second endorsing peer too?

**A:** Using an chaincode as an external service model, you will need to install a chainco

[2022-04-20 18:25] #3320 closed, assigned to nobody

[2022-04-21 07:58] musinit commented on #3014
Maybe we will close this issue?
I want to start coding on some 'good first issue' to dive deeper in fabric, but it's hard to find smth..

[2022-04-21 08:06] chaunsin commented on #3261
tks

[2022-04-21 08:06] #3261 closed, assigned to nobody

[2022-04-21 10:49] Aniket21mathur commented on #3280
![Untitled drawio](https://user-images.githubusercontent.com/35092582/164442559-fa0a721c-c668-426e-b04a-4922dc6c16da.png)

@joshhus something like this will work?

[2022-04-21 13:03] favccxx opened #3345 "Failed to create channel by local ca for grpcs error"
I'm trying to generate certificate by java code, and I succeed to start orderer and peer, but I failed to create channel for grpcs error.  I know there must something wrong with my tls certs. But i don't know the reason. Can you tell me the reason?

`Caused by: org.hyperledger.fabric.sdk.exception.TransactionException: Channel fucking, send transaction failed on orderer OrdererClient{id: 4, channe

[2022-04-21 20:38] denyeart commented on #3342
I agree that it is confusing, because the chaincode package must be installed on every peer where the chaincode will be invoked, even though the installed chaincode package doesn't include the actual chaincode logic. This should definitely be clarified.

This is also probably the right place to discuss another frequent question - the cardinality of peers to external chaincode services. That is, ca

[2022-04-21 22:00] denyeart commented on #3345
These client connection errors usually means that the client is not configured with a CA certificate that matches the signer of the server's TLS certificate.

I've opened a PR to add some more TLS troubleshooting information to the Fabric docs that may help you:
https://github.com/hyperledger/fabric/pull/3346
It is written from the perspective of a peer CLI client connection, but should be helpful

[2022-04-22 12:16] jkneubuh commented on #3342
Hi @denyeart and @kmilodenisglez

The TL/DR summary and current recommendation is to deploy CCaaS endpoints 1:1 with the peers, utilizing the Gateway Client as a mechanism to distribute transaction load across a set of peers.

Please see the notes and discussion at #3350, or the original Discord thread [#LOAD BALANCING CHAINCODE](https://discord.com/channels/905194001349627914/949316675910660126)

[2022-04-22 13:25] WaleedMortaja opened #3351 "Documentation: Index issues"
Hello,
I think there are some issues with the documentation index.

First, [Release Notes](https://hyperledger-fabric.readthedocs.io/en/release-2.2/whatsnew.html#release-notes) are visible in the index, even though it is a **section** of the [What's new in Hyperledger Fabric v2.x](https://hyperledger-fabric.readthedocs.io/en/release-2.2/whatsnew.html) **chapter**.

![image](https://user-images.git

[2022-04-23 06:39] nikoturin commented on #3039
I did the change chaincode-go/go.mod to go 1.13 and it worked for me, thanks prajwal ...

[2022-04-24 08:43] HPicatto opened #3352 "problem creating orderer/channel on docker"
I'm replicating this tutorial on a machine with centos and it works well till I've to start a the orderer, if I don't add a
https://hyperledger-fabric-ca.readthedocs.io/en/latest/operations_guide.html#setup-cas
If I follow the instructions as it is, when submitting to the this CLI of ORG1

`peer channel create -c mychannel -f /tmp/hyperledger/org1/peer1/assets/channel.tx -o orderer1-org0:7050 --ou

[2022-04-25 09:29] GitHeP opened #3353 "Couchdb View can be requested in chaincode?"
[code]
I tried to request the CouchDB View this way but got an error:
[code]

[2022-04-25 16:07] davidkel commented on #3333
@shubham-umate I think you need to review how you serialize and deserialize your BigDecimal objects. For example if you serialize a big decimal object to JSON eg
[code]
then val in the above is considered a number and if I run some simple code in node then you see the truncation occurs
[code]

I think you need to change how you are serializing/deserializing you BigDecimal objects to cater for this

[2022-04-26 08:04] mffrench opened #3356 "Improve idemix performance on HLF"
Hello,

with @adecaro we identified some improvments task to provide better performance on the overall HLF transaction workflow when using idemix. I open that issue to keep track on them and see when such tasks can be implemented.

@adecaro : can you help to define here the different idemix improvments to be reported on HLF stack (crypto lib update, marshaling issue, ... ?). Thank you :)

[2022-04-26 08:11] mffrench commented on #3326
@davidkhala @yacovm : if you'r OK, I will open another ticket for cross channel TX multi chaincode build so that we can focus on this ticket to the 1 channel only part.

Regarding chaincode to chaincode call, I'm thinking if the chaincodes have not the same endorsement policies how that would work ?

Still seems to me life would be much easier if we provide application side appropriate API for suc

[2022-04-26 09:57] adecaro commented on #3326
A very simple way to address this is to finally activate the support for multiple actions. Each action contains a RW set and its endorsements. Actions can be collected independently.

Notice that, the transaction format already supports it but, Fabric rejects transactions with more than one action.
It should not take a lot of work to enable this multi-action support :)

[2022-04-26 10:50] adecaro commented on #3356
This can be easily address if we enhance `https://github.com/IBM/idemix`. Currently, to instantiate the Idemix BCCSP, we need to specify a mathlib `curve` and `translator`. Instead, by making all Idemix algorithms taking in input also the issuer public key (IPK, for short), we can use the IPK tell which curve and translator to use. When importing the IPK into the BCCSP, we just need to recognise w

[2022-04-26 11:00] circle241 opened #3358 "Is there any alternative project for byfn in latest version?"
Cause it is so handy.
test-network need more works...

[2022-04-26 16:23] davidkhala commented on #3326
Here it is! That is why when we inspect into block structure we always see only single chaincode action is in list. Count me in as a voter to let fabric have transactional-like support.

[2022-04-26 17:13] yacovm commented on #3356
Doesn't this require a capability? Otherwise how will old validation code that activates the old idemix be able to parse the new idemix signed transactions?

[2022-04-26 17:26] yacovm commented on #3326
But I believe that @mffrench  wants both actions to be either committed or not committed atomically.
How do we prevent a malicious client from only putting a single action and not both of them in the transaction?

[2022-04-26 18:10] mffrench commented on #3326
@yacovm : good point.

Let me clarify some stuff : my first priority is to have a way to have both CC RW set committed in an atomic fashion from a technical perspective and I don't consider yet byzantine behaviors on that particular point cause auditor and org B can detect byzantine behavior from org A in app level protocol logic.

However in future that would be great to provide such feature with

[2022-04-27 00:57] davidkhala commented on #3358
How about have a look at [hyperledger-labs/minifabric](https://github.com/hyperledger-labs/minifabric)

[2022-04-27 08:00] circle241 commented on #3358
tks

[2022-04-27 08:06] song264516 opened #3367 "How to modify the channel name"
How to modify the channel name?

[2022-04-27 08:08] ale-linux commented on #3356
The change you suggest @adecaro would require a capability switch as @yacovm points out. I'd like to better understand the exact type of enhancements we're talking about - is there a list somewhere?

[2022-04-27 08:14] C0rWin commented on #3367
There is no way to rename the name of the already created channel.

[2022-04-27 08:17] song264516 commented on #3367
I see. Thank you

[2022-04-27 15:22] mffrench commented on #3356
@ale-linux : during our perf tests using idemix signature we noticed TPS on ordering service was very very low. Still during our perfs tests, @adecaro did perf improvments on FSC/FTS by updating crypto lib and more...

Also seems to me this very slow idemix behavior on the HLF TX workflow has a very bad behavior. In our current usage of idemix, we do following :

- SDK GO call 1 : Put data with ID

[2022-04-27 17:25] shubham-umate commented on #3333
Thanks @davidkel. FYI : We are using stub.putStringState(assetID, assetJson) method in Java chaincode. We logged value before writing it to ledger to check whether serializing/deserializing is causing this issue, but No truncation was happening there. Post putStringState() method value is getting truncated and saved in ledger.

[2022-04-27 22:55] davidkel commented on #3333
@shubham-umate I would suggest you visit how you create assetJSON. If the JSON you create takes the big decimal value and tries to represent it as a number as per my example above then that could be the issue. I would suggest you try creating a different serialized representation of the big decimal in your JSON. I'm not familiar with Java but maybe you could serialize it to a string rather than a

[2022-04-28 03:25] traveloving2030 commented on #3161
Hi, We use centos7 OS and XFS File system
This is Hardware Spec.
Filesystem      Size  Used Avail Use%
/dev/sdc3       414G   12G  403G   3%
devtmpfs         47G     0   47G   0%
tmpfs            47G     0   47G   0%
tmpfs            47G  2.6G   45G   6%
tmpfs            47G     0   47G   0%
/dev/loop0      1.5M  1.5M     0 100%
/dev/sdd1       7.0T  934G  6.1T  14%
/dev/loop1       91M   91M

[2022-04-28 12:16] shubham-umate commented on #3333
Thanks for your response @davidkel. We had a thought of using String datatype but it was business requirement to use Big Decimal.

[2022-04-28 12:55] davidkel commented on #3333
@shubham-umate I'm not saying to not use Big Decimal, just how that get's serialized to JSON and deserialized. If it's being serialized as a JSON number then that could be the problem so serialize it as a JSON string instead ?

[2022-04-29 11:40] davidkhala opened #3368 "[feature]peer lifecycle chaincode package support external chaincode"
During learning and comparing external chaincode

`bin/peer lifecycle chaincode package --label=diagnose --lang=external --path=...chaincode/golang/diagnose ccPackage.tar.gz`
I see the failure
[code]
Is there any chance we can add external chaincode as allowed chaincodeType for this command?

[2022-04-30 11:48] denyeart commented on #3368
What do you think @mbwhite ?

[2022-04-30 11:49] #3367 closed, assigned to nobody

[2022-04-30 11:56] #3358 closed, assigned to nobody

[2022-04-30 11:59] denyeart commented on #3353
Views are intentionally not supported in order to keep the peer focused on transaction processing. See the recommended patterns for more advanced queries at https://hyperledger-fabric.readthedocs.io/en/latest/couchdb_as_state_database.html#good-practices-for-queries.

[2022-04-30 11:59] #3353 closed, assigned to nobody

[2022-04-30 12:21] denyeart commented on #3352
The MSP (based on CORE_PEER_MSPCONFIGPATH) that runs the "peer channel create" command needs to be an orderer admin.
This requires the certificate to be generated with an OU of "admin" AND a config.yaml in the MSP indicating AdminOUIdentifier is "admin".

Are you generating the admin identity using cryptogen or Fabric CA client?

If you run https://hyperledger-fabric.readthedocs.io/en/release-2.2/

[2022-04-30 12:31] denyeart commented on #3351
Release notes section of What's New is intended to show in the table of contents so that people can find it easily.

The Ledger topic referenced has been replaced with:
https://hyperledger-fabric.readthedocs.io/en/latest/ledger/ledger.html

I've opened https://github.com/hyperledger/fabric/pull/3370 to remove the old ledger topic.

[2022-05-02 11:41] #3351 closed, assigned to nobody

[2022-05-03 17:48] jkneubuh opened #3372 "OSX Fabric binaries do not resolve DNS correctly"
The cross-platform compilation of the Fabric binaries for OSX causes DNS resolution on the Mac to have some _extremely unpredictable_ behavior.  This is due to our compile-time linkage of the golang DNS implementation (`netdns=go`) into the Fabric binaries at compile time.

Due to differences in the Golang DNS resolver (`go`) and host DNS (`cgo`), the peer binary will frequently time out and/or ex

[2022-05-03 17:48] jkneubuh commented on #3372
cc: @denyeart @mbwhite @jt-nti

[2022-05-03 18:06] jkneubuh commented on #3372
Here is a small sample that illustrates the differences in the `cgo` and `go` DNS resolvers when running on OSX.

The `vcap.me` DNS domain is a dynamic service that includes an A wildcard record, resolving `*.vcap.me` to the local loopback interface at 127.0.0.1.   Resolution of the URLs should be instantaneous, but when using the `go` DNS resolver, frequently take > 5s per TCP connection.  This c

[2022-05-03 18:45] yacovm commented on #3372
Why does it take 5 seconds? Does it attempt some DNS queries which timeout? Can you perhaps tcpdump and see?
I can't test it locally because I use Linux, not MacOS.

By the way, I believe this was added due to issues [such](https://jira.hyperledger.org/browse/FAB-5822,?spm=a2c65.11461447.0.0.6f986c2bLSyPP8) [as](https://stackoverflow.com/questions/55688884/fabcar-example-fatal-error-unexpected-sig

[2022-05-04 02:47] jkneubuh commented on #3372
I sat down with a debugger and wireshark this afternoon, stepping through the golang DNS routines and packet trace / captures.  It's still not clear to me if this is a race condition / deadlock (or soft-lock) in the golang DNS, or a bug in how go is parsing the UDP responses from the DNS services.

The golang resolver is issuing both an A and AAAA [request in parallel](https://github.com/golang/go