[2015-09-25 15:02] binhn opened #6 "Document use cases for chaincode development"
Chaincode development needs to be easy from the point of view of a chaincode developer. We need to document the use cases from the chaincode developers point of view.

[2015-09-29 19:51] srderson opened #33 "Off-chain storage"
A requirement of Openchain is the concept of off-chain storage. Off-chain storage will allow chaincode developers to store large files outside of the blockchain while referencing the files from a transaction stored in the blockchain.

For example, there may be a case where a chaincode is a codified written contract or represents a portion of a written contract. In this case we would like to 'link'

[2015-09-30 20:52] prjayach opened #36 "Support different scenarios of when a chaincode is executed"
This relates to how/when a call to execute a particular chaincode is made.

I see 3 scenarios (there could be more):
1. A peer requests execution of a chain code - this is the simplest case
2. An external event is the trigger for chain code execution (the authority to initiate execution of the chain code does not reside with one peer) - for instance, time triggered
3. A set of peers need to sign (

[2015-10-20 13:19] binhn opened #79 "Testnet on IBM external cloud"
We need a testnet for community to try things out. The testnet should include 10 nodes with configurable number of validators (at least 4). The network will run some sample applications.

[2015-10-21 22:07] srderson opened #95 "Add HTTP tests for the REST API"
We need to test the http functionality of the REST API. For example, making sure that 200 and 400 response codes are returned when expected.

[2015-10-24 12:54] binhn opened #120 "Genesis chaincode"
Related #119
This is a "system" chaincode responsible for "creating" other chaincodes -- chaincode factory. It will read appropriate properties from the genesis block to govern the chaincode deploying transactions. That is, certain procedure might be inserted before the transactions can be carried out. For example, one might wish to install a genesis chaincode that would require "approval" of cert

[2015-10-29 16:49] muralisrini opened #157 "syntax checks for execute transaction and query"
Need to figure out a a syntax first - (context, funcname, args...).

Validate the request for syntax

Are we adding this to deployment spec for some level of static checking ?

[2015-10-29 17:03] muralisrini opened #161 "Documentation and samples for chaincode developers"

[2015-10-31 20:16] binhn opened #174 "Abstract Chain object"
We need a top level object Chain to encapsulate the abstraction of a blockchain. A Chain has the following attributes:
- name:  a unique name or id of the chain
- validator-list
- security context: an object containing security related info such as keys
- ledger: a ledger object encapsulating the chain of blocks and state
- consensus: an object providing consensus algorithm for this chain
- commun

[2015-11-03 15:38] srderson opened #188 "Peer should support multiple ledgers"
The ledger is currently a singleton. It needs to be modified so that a peer can support multiple independent ledgers. These ledgers should not share a DB, but instead use independent DB locations.

[2015-11-04 20:03] srderson opened #198 "Create distributable binary for Openchain"
Create a distributable binary for Linux, Windows, and OSX. A chaincode developer should be able to develop for Openchain with only Go, Git, and this binary.

[2015-11-04 21:05] prjayach opened #202 "Validators needs to ensure that the code they are executing is the code that was originally deployed"

[2015-11-10 01:03] kchristidis opened #217 "Byzantine flag for PBFT testnet"
We'll need this for testing and hardening.

Use Jason's (upcoming) work on #171 ([see details](https://github.com/openblockchain/obc-peer/issues/171#issuecomment-155238175)) to set a validating peer as byzantine.

Tasks:

1. Define byzantine behaviors that this byzantine peer may exhibit.
2. Update the `pbft` and `consensus` packages accordingly.
3. Write unit tests to confirm that our implementat

[2015-11-12 03:46] binhn opened #225 "Prevent replay of transactions"
A malicious entity may try to re-play the same transaction to the system after the transaction has been processed

[2015-11-16 12:39] manish-sethi opened #245 "Experiment and measure performance of crypto-hash computation"
This issue is a break-up of #41
Experiment with performance characteristics of crypto-hash computation (see #242 , #243 , and #244 ) with some synthetic data.

[2015-11-16 12:42] manish-sethi opened #246 "Support for security related client queries"
This is an issue created out of #73 for tracking the remaining queries once the security related information is available in relevant proto messages.
Get transaction by address
Get transaction by identity
Get chaincodes an address have access to

[2015-11-20 05:09] binhn opened #281 "Network set up document"
Documenting how to set up a network of validating peers such that they are connected

[2015-11-20 05:31] binhn opened #284 "Network of VPs and NVPs"
Set up and test a network of VPs and NVPs with 2 chaincodes

[2015-11-20 20:04] binhn opened #293 "Create monitor web page off peer REST service"
We have REST API living off peer node https://github.com/openblockchain/obc-peer/blob/master/docs/Openchain%20API.md

The monitor would be like another URI off the same port  /stats, which will serve up the monitor if the ContentType="text/html"; otherwise it will return the json data structure containing the openchain network stats. The stats are pending #80, which @frankyclu is working on.

Cont

[2015-11-20 20:10] binhn opened #295 "Implement the monitor Web UI main page"
Related #80, #294

[2015-11-22 15:29] muralisrini opened #301 "cleanup and document obc-peer command line options"
The most used command line options are "peer", "chaincode" (with subcommands "deploy", "invoke", "query").

What about other commands such as "status", "stop" etc (see below). We need to go through them and cleanup where necessary.

./obc-peer --help
chaincode env using [startuptimeout-20000, chaincode run mode-net_mode]

Usage:
  openchain [command]

Available Commands:
  peer        Run openchai

[2015-11-29 18:11] prjayach opened #330 "Handle timeouts correctly for chaincode invocation and query"
Currently timeout for chaincode invocation and query is hard-coded. We need to do the following:
1. When a chaincode is invoked as a transaction or query, we need to fetch the deploy transaction for the chaincode and get the timeout value.
2. When a chaincode invokes another chaincode, the timeout for the invoked chaincode needs to be set to the timeout of the calling chaincode or that of the invo

[2015-12-01 04:53] muralisrini opened #333 "capture chaincode logs from chaincode container"
Serviceability and debugging. Users can do "docker logs [container id] 1>out 2>&1" for now but we probably want a more sophisticated mechanism at some point.

Not for MVP at this point.

[2015-12-03 15:58] corecode opened #351 "Define resilience to and recovery from crash-fault bugs"
Need to discuss with @vukolic and @kchristidis.

[2015-12-03 20:29] angrbrd opened #353 "Implement TxRate API"
The testnet monitor UI will display transaction rate on the network. This issue is to implement the TxRate API and REST endpoint to return the transaction rate recorded on a peer node.

TxRate(last X seconds), where X is the number of seconds leading up to the current moment.

Must walk backwards through the blockchain, starting at the head until X has passed. Count up the number of transactions a

[2015-12-03 20:34] angrbrd opened #354 "Implement TxVolume API"
The testnet monitor UI will display transaction volume on the network. This issue is to implement the TxVolume API and REST endpoint to return the transaction volume recorded on a peer node.

TxVolume(startTime, endTime, interval), where endTime (currently) will be the present moment, startTime is some time before the present moment, and interval is either in minutes, hours, or days. Maximum durat

[2015-12-03 20:42] angrbrd opened #355 "Implement ChaincodeVolume API"
The testnet monitor UI will display transaction volume on the network for the top 4 or 5 chaincodes. This issue is to implement the ChaincodeVolume API and REST endpoint to return the transaction volume recorded on a peer node for the top N chaincodes.

ChaincodeVolume(last X seconds, top N chaincodes), where X is the number of seconds leading up to the current moment, and N is the top number of c

[2015-12-03 23:12] binhn opened #359 "Transaction success rate"
On the monitor, we want to show the success rate of the transactions on a VP over a period of time.
This might be calculated as  100*(number of committed TXs)/(number of executed TXs).  We have this data between the Ledger and the Chaincode shim layer.

@srderson @manish-sethi @muralisrini @prjayach Is there anything related to this recorded on the blocks that we may use?

[2015-12-04 15:59] corecode opened #365 "need automated, distributed integration tests"
We need an automatic way to spin up an instance of a complete network and run transactions on it.  Using such infrastructure, we can formulate success criteria to develop automatic distributed system tests.  Ideally, this system would be used for CI.

[2015-12-07 14:54] prjayach opened #366 "Allow chaincode to get both committed and dirty state"
State API allows read of both committed and dirty state. We should expose this to the chaincode. Advice developer that query should ideally only fetch committed state.

[2015-12-08 19:08] srderson opened #372 "Deploy chaincodes as they are needed"
It may be possible that a transaction requires a chaincode that is in a previous transaction, but not deployed on the local system. This is because synchronization between peers may transfer the full state or state deltas without actually running transactions.

In these cases, the chaincodes should be deployed as they are needed.

[2015-12-08 19:34] ghaskins opened #373 "Chaincode should be addressed by a function of its code + initial parameters signature"
Ignoring multi-signatory/escrow-contract scenarios, basic asset-move transactions in a blockchain could be described as a uni-lateral "send" function which may only be initiated by the sender (validated by digital signatures from key-pairs associated with the account).  Therefore, it is important to have confidence in the destination address' legitimacy as the intended target, as the asset-move wi

[2015-12-10 15:03] markparz opened #374 "CodeScan for COO approval"
Need to run a code scan https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/W7c33090f777f_4d05_bda9_b9d8b79b0c7c/page/Download%20CSAR

[2015-12-16 22:23] binhn opened #391 "NVP should not have world state"
As discussed today, we don't need the world state on NVP, so sync only transfer blocks

[2015-12-18 12:43] vukolic opened #394 "Reliable submission of a transaction to validators"
The way I get our current design Client submits the transaction to DevOps which is basically collocated with NVP. Each client seems to have a dedicated DevOps/NVP. This NVP then submits the transaction to a fixed VP, which is supposed to send a transaction to all VPs before it enters consensus (PBFT or Sieve).

There is an issue with this in that a faulty DevOps/NVP or a faulty VP can drop transac

[2015-12-19 15:09] muralisrini opened #398 "store chaincode ID <-> deploy transaction UUID map"
Needed for issue #372.

Chaincode's deploy transaction is special in that it contains meta data (such as chaincode, security contexts, etc) for invoke/query transactions on that chaincode.  These transactions need an efficient lookup of the deploy transaction in the blockchain.

[2015-12-21 13:23] frosenberg opened #406 "Network Setup doc instructions don't work as expected"
I'm following the docs here:
https://github.com/openblockchain/obc-peer/blob/master/docs/Network%20Setup.md

Couple of issues:
1. The doc says you should run it all on your Vagrant machine. So there should be a command to figure out the docker bridge IP as it is not necessarily the one used in the docs.

2. Launching the non-validating peer (which is non-docker), fails with a stacktrace:

[code]

[2015-12-21 20:33] jyellick opened #407 "Allow deletion of raw blocks via PutRawBlock"
Presently, it is not possible to remove blocks from the blockchain.

This ability will be necessary in situations where consensus agrees that the current block number is lower than a block number the ledger possesses.

A proposed implementation would be to allow the `PutRawBlock` in `ledger.go` to accept `nil` as a value to indicate deletion for a particular block number.

[2016-01-04 03:12] frankyclu opened #421 "Chaincode context contains transaction certificate"
Chaincode needs to have access to the TCerts invoking them, so that chaincode can use these TCerts as tokens representing digital assets

[2016-01-06 13:40] mastersingh24 opened #433 "Separate all *.address properties into separate host/IP and port properties"
Just a suggestion, but it is standard to actually separate the listen address and port rather than to have them as a single string.

[2016-01-07 09:08] elli-androulaki opened #443 "Choose a (proper) root CA and have them sign the ECA/TCA certificates"
There are many available online, but we can have one of them used as default.

[2016-01-07 09:10] elli-androulaki opened #444 "Review authentication mechanism of client - peer"
Assuming that the peer plays the role of an online wallet.

[2016-01-07 09:12] elli-androulaki opened #445 "Enhance client-peer authentication mechanism with accountability"
This requires a stronger authentication mechanism be in place, that would force the client to each time provide an undeniable proof that he requested a specific operation to be performed by the peer.

[2016-01-07 09:13] elli-androulaki opened #446 "Enhance client (enrollment) certificates with a public encryption key"
This requires an additional round of proof of ownership of the candidate encryption key.

[2016-01-07 09:16] elli-androulaki opened #447 "Enchance validator enrollment certificates with encryption chain keys"
A chain-specific asymmetric key-pair is distributed among the validators for secret messages to be passed to them without being readable by the users of the system.

[2016-01-08 09:19] corecode opened #452 "Deploy transactions take a long time"
Compared to invoke transactions (but also in absolute terms), deploy transactions take a very long time (many seconds).

With the sieve (non-deterministic) consensus protocol, we need to execute all transactions (and wait for their result) before the protocol can move on.  However, to prevent against a malicious leader, the protocol also needs to use timeouts to ensure progress.

This timeout need

[2016-01-11 15:57] bcbrock opened #466 "BuildImage_Peer fails if using local custom Docker base images"
In openchain/container/vm.go [lines 134 and 155] the options passed to the
Docker remote API include the "pull" option. According to the Docker docs.:

       https://docs.docker.com/engine/reference/api/docker_remote_api_v1.20/

this means

     "Attempt to pull the image even if an older image exists locally."

What happens however is that the image build fails unless the named image is
availabl

[2016-01-12 11:02] corecode opened #470 "repo: correct file mode (execute) introduced in a287fb1b"
a287fb1b introduced a repo-wide change in file modes, adding a +x.  We should remove these +x again.

[2016-01-13 14:43] srderson opened #477 "Chaincode shim table API"
Provide an API to emulate tables/rows/columns in the chaincode shim. This has been proposed as a way to hide low level state key/value store API from chaincode developers.

API
createTable(name, []columnDefinition)
insertRow(row)
getRow(key)
deleteRow(key)
replaceRow(row)

[2016-01-13 21:16] jyellick opened #480 "Investigate state management delta (de)serialization"
Presently, the statemgmt deltas use a custom serialization process.  In `state_delta.go`, there is a comment

    // marshalling / Unmarshalling code
    // We need to revisit the following when we define proto messages
    // for state related structures for transporting. May be we can
    // completely get rid of custom marshalling / Unmarshalling of a state delta

Now that the message protos ar

[2016-01-18 19:27] binhn opened #508 "TLS integration"
Enable TLS connections using TLS-CA

[2016-01-19 16:12] markparz opened #515 "This is a test issue"
I need this open for now so I can test some of the tracking tools

[2016-01-20 15:13] adecaro opened #525 "Move to Confidentiality 1.2"
Due to end of January

[2016-01-20 22:44] binhn opened #529 "Revisit sync TODO comments in NOOPS"
We have some TODO comments related to sync in NOOPS that we need to revisit

[2016-01-21 01:38] srderson opened #531 "Consider using packed=true in repeated fields in protobuf messages."
Consider using `packed=true` in repeated fields in protobuf messages.

From https://developers.google.com/protocol-buffers/docs/proto3

For historical reasons, repeated fields of scalar numeric types aren't encoded as efficiently as they could be. New code should use the special option [packed=true] to get a more efficient encoding. For example:

`repeated int32 samples = 4 [packed=true];`

Sugges

[2016-01-23 21:50] samding01 opened #550 "How to set logging level?"
Hi
According to the instruction, the  environment variable  OPENCHAIN_PEER_LOGGING_LEVEL can override the logging level defined in openchain.yaml. However, When I start a container like:

`docker run --rm -it -e OPENCHAIN_VM_ENDPOINT=http://172.17.0.1:4243 -e OPENCHAIN_PEER_LOGGING_LEVEL=INFO -e OPENCHAIN_PEER_ID=vp1 -e OPENCHAIN_PEER_ADDRESSAUTODETECT=true openchain-peer obc-peer peer`
I still ge

[2016-01-24 16:24] jwolpert opened #552 "Test of John Wolpert User Story1: Epic: Backlog Manager"
As a product manager or developer on Blockchain, I need a way to quickly enter Epics, User Stories, nested substories and tasks to a common backlog, so that I can maintain a single point of truth and know what we are doing and NOT doing on the various projects in the group.

[2016-01-24 16:33] bmos299 opened #553 "Flow of sandbox to production is unclear"
I believe the flow of the environments of dev (SandboxSetup.md) to prod (DevnetSetup.md) has to made more transparent and obvious as to what and why things are occurring.

Let me propose the flow (and thanks to @muralisrini  for discussing with me)

As someone walking through the docs and attempting to understand the usage and actually setup the entire procress.  They need to see the following,

1

[2016-01-26 21:10] binhn opened #558 "Change devops endpoint APIs"
We are considering deprecating the current devops APIs since they are not restful:
POST /devops/deploy
POST /devops/invoke
POST /devops/query

And replace them with:
deploy: POST /chainchode
invoke: PUT /chaincode/<id>
query: GET /chaincode/<id>
terminate: DELETE /chaincode/<id>  (later)
instantiate: POST /chainchode/<id>  (later)

The current API endpoints will remain but will be documented as de

[2016-01-27 23:06] bcbrock opened #569 "Numerous components do not respect peer.logging.level"
Numerous components do not respect the peer.logging.level setting in openchain.yaml. The ones I have identified so far are

    devops, state, container, genesis, indexes, statemgmt, consensus/handler, ledger, db, buckettree, rest, eventhub_producer

Simply adding them to the correct place in main.go fixes the problem. If you'd like I can submit a PR with the fix.

I wonder if it would be better t

[2016-01-28 14:24] frankyclu opened #571 "Ability to drop invalid transactions"
to support utxo model, there need to be an mechanism to drop invalid transactions (i.e. transactions marked invalid by chaincode execution will not get added to the ledger). this may require a separate consensus implementation, but chaincode may also need to have a mechanism to signal that to the consensus layer

[2016-02-01 16:57] bcbrock opened #578 "obc-peer command-line flags do not (can not) work"
The Viper/Cobra option-processing system used by openblockchain
apparently does not support the idea that command-line flags are
equivalent to nested keys from config files. See for example
recent conversations here: https://gitter.im/spf13/viper

This means that many (if not all) of the obc-peer command line
flags do not work, since the flag X_Y_Z is distinct from the
nested key X.Y.Z., and the c

[2016-02-01 22:47] jyellick opened #579 "Executor interface signatures and contract must be modified"
The `CPI` defines the `Executor` interface, which includes

[code]

Today, it is not possible for `CPI` users to correctly invoke `CommitTxBatch` or `PreviewCommitTxBatchBlock` as they each require a `[]*pb.TransactionResult` which cannot be generated.

Further, `ExecTXs` currently returns the global state hash, which is computationally expensive and unnecessary, as well as an `[]error` correspond

[2016-02-01 23:48] srderson opened #582 "Chaincode - SIGNIFICANT API CHANGE - Run -> Invoke"
Today, the chaincode interface defines two functions.

[code]

There are two items we would like to change.

1. Documentation, the CLI, and the REST API use the term `Invoke` instead of `Run`. Therefore, we would like to rename the `Run` function to `Invoke`.

2. The existing `Run` function returns a `[]byte` which is mostly unused and causes confusion. We would like to remove this from the return

[2016-02-01 23:50] muralisrini opened #583 "create image from deploy transaction if necessary"
If chaincode startup fails with "image not found", we need to create the image from the transaction and retry. This is especially needed if there's no replay on validators.

[2016-02-02 05:32] binhn opened #585 "Move example folder out of openchain folder"
We need to fix up our samples to be more meaningful than just chaincode_exampleXX, and move them out of openchain folder

[2016-02-03 11:00] adecaro opened #590 "separete clients, peers and validators configuration in obcca.yaml"
Because it seems that the configuration of the roles of the users in obcca.yaml generate some confusion, I would propose to move from this configuration style that we have now:

[code]

to the following that better differentiate between the different roles

[code]
@binhn, @elli-androulaki, @thkzrl: what do you think?

[2016-02-03 12:47] corecode opened #591 "How should we treat non-deterministic transactions/chaincodes?"
When Sieve detects a non-deterministic transaction, how should this fact be communicated to the rest of the fabric?

The fact that a transaction executed non-deterministically should be persisted somehow to allow auditing of this event.  Right now Sieve only logs a message.

We probably should also mark the whole chaincode as non-deterministic and stop executing any invoke of that chaincode.  This

[2016-02-03 16:04] adecaro opened #594 "TransactionPreValidation: transaction certificate validation missing"
Signed-off-by: Angelo De Caro <adc@zurich.ibm.com>

[2016-02-03 23:47] bcbrock opened #596 "Request for Profiling Services"
I would like to add an HTTP service to obc-peer, obc-ca and others (?) to support profiling. This is very easy to set up and use as documented here: https://golang.org/pkg/net/http/pprof/
I would propose to add a command line flag to enable this service, e.g.,

    ./obc-peer peer --pprof-service=localhost:6060

The above would spawn an HTTP server thread listening on localist:6060, using the defa

[2016-02-04 16:41] jeffgarratt opened #598 "Security setup for testing purposes"
Wanted to start this topic to gather the proper information for settings and usage of security for testing purposes.  @binhn @elli-androulaki @adecaro @diegomasini @tuand27613

[2016-02-04 17:52] tuand27613 opened #600 "Need README specifically for obc-ca"
as mentioned at the end of #580 ,  obc-ca should have its own documentation to detail user/cert configuration and any other specific security workflows.

[2016-02-05 14:27] binhn opened #610 "The peer.gomaxprocs property in yaml not used"
In openchain.yaml, we define `peer.gomaxprocs: 2`, but in the code, we are not using it. This is important for performance analysis to find the best profile for obc-peer.

[code]

[2016-02-05 16:17] binhn opened #611 "Version openchain message"
We need a version field in the OpenchainMessage structure
[code]

[2016-02-05 19:53] kletkeman opened #614 "system / peer behavior appears to be dependent on logging levels -- below debug, things start to fail"
8 days ago, a logging change was made to split out several components for separate logging by level. The levels were also changed from full upper case to lower case. Note that comments regarding a global environment variable override were left in the yaml file, which has caused some wasted time already. The override of course does not actually work any more.

The new yaml categories have defaults

[2016-02-06 19:32] bcbrock opened #617 "Can't script peer login"
Ideally a script like this should work:

    echo -n NPKYL39uKbkj | OPENCHAIN_PEER_ADDRESS=localhost:30303 ./obc-peer login lukas

Instead it crashes (both with and without the -n option to echo)

    Enter password for user 'lukas': panic: inappropriate ioctl for device

    goroutine 1 [running]:
    github.com/openblockchain/obc-peer/vendor/github.com/howeyc/gopass.getch(0x0)
    	/gsa/ausgsa/h

[2016-02-06 22:15] bcbrock opened #618 "We need to be able to control logging levels in chaincodes"
There is currently no way for the writer of a chaincode to control the amount of logging done by the shim. The shim currently defaults to DEBUG logging, which creates large log files and wastes time. Also, logging in the shim is not set up as "prettily" as in the obc-peer command - there is less information printed and no color coding for example.

The simplest solution for now may simply be to do

[2016-02-08 14:07] mrshah-at-ibm opened #621 "OBC-CA: Ability to set configurations using environment variables"
Like obc-peer, we should be able to configure obc-ca using environment variables. This enables us to run separate obc-ca for each network using the same docker image.

[2016-02-09 01:01] bcbrock opened #626 "Unit test github.com/openblockchain/ocb-peer/openchain/chaincode fails"
Summary:

The README.md in the obc-peer repo. gives a procedure for running tests:

To run all tests, in one window, run ./obc-peer peer. In a second window

    cd $GOPATH/src/github.com/openblockchain/obc-peer
    go test -timeout=20m $(go list github.com/openblockchain/obc-peer/... | grep -v /vendor/)

When I do this test in github.com/openblockchain/ocb-peer/openchain/chaincode fails on my sys

[2016-02-10 19:48] jyellick opened #644 "State transfer threshold for whole vs delta sync should be added"
State transfer currently attempts to synchronize state via deltas unless the state has been flagged as invalid or it is unable to retrieve the necessary deltas from all supplied peers.

Instead, this should be a configurable parameter, such that if the state is valid and within `n` blocks of the target state, deltas should be applied, otherwise a complete state transfer should be performed.

Note

[2016-02-10 19:55] jyellick opened #645 "State transfer should be migrated out of the consensus package"
As discussed with @binhn @jeffgarratt @kchristidis @corecode and others, the state transfer code is very obc/ledger specific, and has applications outside of consensus.

In particular, the state transfer code can/should be utilized for synchronizing block state to NVPs, as well as for the `noops` and each of the `obcpbft` plugins.

Therefore, the state transfer code should be migrated into a packa

[2016-02-10 22:50] rameshthoomu opened #646 "Test performed on the pull request https://github.com/openblockchain/obc-peer/pull/636 failed"
Issue: One of the test scenario failed in behave tests.

Summary:
Latest code pulled from the https://github.com/openblockchain/obc-peer/pull/636 pull request and performed the behave test.

Failing scenarios:
peer_basic.feature:133  chaincode example02 with 4 peers and 1 obcca, issue #567 -- @1.3 Consensus Options
0 features passed, 1 failed, 0 skipped
7 scenarios passed, 1 failed, 0 skipped
96 s

[2016-02-10 23:53] bcbrock opened #647 "Performance Issue: Viper calls on critical paths"
Although it is very early to focus on performance, I noticed this today and thought it was worth documenting.

I was doing stress tests on a system with a single peer, using NOOPS consensus, invoking chaincode_example02 using the REST API from multiple clients. I used the GO profiler to get a baseline profile and was surprised to see that 15% of the run time was being consumed by the spf13/viper p

[2016-02-11 00:54] muralisrini opened #648 "chaincode container recreation fails with invoke or query"
We create containers at the time of deploy and used the last element of the path name for the executable name as that's the name "go" gives to the executable.

As long as the container is not deleted everything is fine.

If the container is deleted (say for "cleaning up") the next invoke or query will attempt to create one.  At that point, the code tries to name the executable based on the path (a

[2016-02-11 18:42] tuand27613 opened #652 "state transfer test bed"
After talking with @jyellick ,  we can try these scenarios:
1. a validating peer arriving late.  Given a set of 5 peers, start peer1-4, execute some number of transactions, start peer5 and execute a few more transactions, finally, query chain height on all peers. Value should be the same for all peers.
2. a peer "dropping out" and re-establishing itself. Given a set of 5 peers, start peers1-5, exe

[2016-02-11 19:06] bcbrock opened #653 "Several serious container errors are being reported at the DEBUG level"
There are several log messages related to container handling that I think should be promoted from DEBUG level to a higher level, as these represent errors from the user's perspective. This will make it easier for users (like me) to figure out what's going on, as these messages are normally not printed.

Here are a few examples:

    12:38:25.785 [container] build -> DEBU 029 Error building Peer co

[2016-02-12 13:42] muralisrini opened #658 "events src folder should be called "obc-events""

[2016-02-12 16:17] 2016Nishi opened #660 "Error message on validating peer after sending a 'deploy' command from command line"
Steps executed:
-----------------
1. Setup up security before running chain code commands.
2. Launched validating peer, chain code window and another terminal to run CLI commands to execute transactions successfully.
3. Ran the following 'deploy' command
"./obc-peer chaincode deploy -n mycc -c '{"Function":"init", "Args": ["a","100", "b", "200"]}'"
from third terminal (to to test chaincode command

[2016-02-12 20:15] samding01 opened #663 "CPU utilization and inovoke processing rate going down in load test"
Following #654,  it is observed that CPU utilization and invoke processing rate going down.
Attached snapshots in [obc4.zip](https://github.com/openblockchain/obc-peer/files/128619/obc4.zip)
shows cpu utilization from 100% down to 29% and invoke processing rate from 313/s to 212/s after 13 minutes.

Replication step: (same as that in #654 )
1) Set the logging level to CRITICAL on both peer and cha

[2016-02-12 21:09] markparz opened #665 "NOTICE!! Repo to go public soon."
Hello everyone, thank you very much for your participation in this repo. This is a message to let each person know that the repo will soon become public via the Linux Foundation's Hyperledger project. In order to make this public we will remove all the users currently in the repo, as it will no longer be required. If you have any questions feel free to reach out to me via comment.

Again, thank yo

[2016-02-12 23:16] bmos299 opened #669 "Crash - When Starting A Peer with Security Enabled and the obcca Server Is Not Yet Started"
^Cvagrant@vagrant-ubuntu-trusty-64:/opt/gopath/src/github.com/openblockchain/obc                                                                         eer$ docker run --rm -it -e OPENCHAIN_VM_ENDPOINT=http://172.17.0.1:4243 -e OPEN                                                                         CHAIN_PEER_ID=vp1 -p 5000:5000 -e OPENCHAIN_PEER_ADDRESSAUTODETECT=true openchai

[2016-02-14 01:51] angrbrd opened #671 "Return error on empty chaincodeCtorJSON on CLI"
Master branch was locked until further notice, so opening this issue as a tracker for a very simple change.

checkChaincodeCmdParams method in main.go does not check for the chaincodeCtorJSON being empty. The chaincodeCtorJSON is the -c or constructor argument and must contain at least a chaincode function name, per below structure. It may never be empty. An error should be returned on CLI when an

[2016-02-15 16:25] 2016Nishi opened #674 "4 failures when running behave tests"
Using the documentations given in
https://github.com/openblockchain/obc-peer

1. Ran unit tests:
cd $GOPATH/src/github.com/openblockchain/obc-peer
go test -timeout=20m $(go list github.com/openblockchain/obc-peer/... | grep -v /vendor/)

2. Ran the following command:
cd $GOPATH/src/github.com/openblockchain/obc-peer/openchain/peer/bddtests
behave

Expected Results:
-------------------
All unit tes

[2016-02-15 19:42] tuand27613 opened #676 "state transfer fails with `panic: Our blockchain is already higher than a sync target, this is unlikely, but unimplemented` message"
Scenario is
- 4 validating peers
- security enabled
- VP0-2 start at beginning of test,  VP3 manually started after VP0-2 have processed chaincode deploy and 5 TXs
- after VP3 starts, invoke 5 more TXs. This will cause VP3 to initiate state transfer

Result:
- VP3 initiates state transfer, tries to sync with VP1,VP2 but stops on panic message.

Attaching VP3 debug log:
[vp3_err.txt](https://github

[2016-02-15 20:07] binhn commented on #658
the events is outside of openchain, but the config is currently defined in peer.validator:
[code]
I think they should be outside of `peer`.

[2016-02-15 22:46] binhn opened #679 "Adding support for millis configuration on NOOPS block timeout"
For additional flexibility in testing, a millis is preferred over seconds as time unit in configuration of the block duration.

[2016-02-15 22:46] tuand27613 opened #680 "Unmarshaling error during state transfer SYNC_STATE_SNAPSHOT processing"
getting this message while initiating a state transfer request to other validating peers:
`
[33m20:19:56.769 [consensus/statetransfer] tryOverPeers -> WARN 719[0m name:"vp3"  in tryOverPeers loop trying name:"vp2"  : name:"vp3"  received a corrupt delta from name:"vp2"  : Error unmarashaling size: unexpected EOF
`

state transfer code will keep retrying, send out SYNC_STATE_GET_SNAPSHOT, get the

[2016-02-15 22:47] tuand27613 commented on #680
@jeffgarratt  taking a look.

[2016-02-15 22:49] tuand27613 commented on #652
opened #676 and #680

[2016-02-15 22:57] jyellick commented on #676
Have a fix pending, waiting for PR #677 to fix failing behave tests before submitting PR.

[2016-02-16 03:13] chenyux commented on #665
https://www.hyperledger.org/

[2016-02-16 03:19] chenyux commented on #665
https://github.com/hyperledger/hyperledger

[2016-02-16 13:04] corecode opened #683 "REST interface should use TLS"
right now `StartOpenchainRESTServer` uses `http.ListenAndServe(...)`

[2016-02-16 15:14] samding01 commented on #663
@muralisrini :  Tested again. When found cpu utilization goes down, started a new instance of jmeter, and found that  CPU utilization goes up again. Yes, you are right, this seems problem of jmeter.
Thanks,

[2016-02-16 16:24] binhn commented on #665
OBC has gone public since yesterday. Check it out https://github.com/openblockchain

[2016-02-16 16:28] binhn commented on #550
@samding01  assuming resolved;  if not , reopen

[2016-02-16 16:28] #550 closed

[2016-02-16 16:30] #508 closed

[2016-02-16 16:55] #646 closed

[2016-02-16 17:06] kletkeman commented on #665
So my github app says that I no longer have access to my clones on the repo. I presume that in going public the repo has changed and we have to clone everything anew?

[2016-02-16 17:10] kletkeman commented on #665
@kevinSuttle So it looks like both will exist, for now ...

[2016-02-16 18:22] dongmingh opened #684 "performance issue with security and privacy enabled"
code level:
commit e338d6a25865db96c4e6374168473965a2b39054
Merge: 67e2a10 15dcc91
Author: Binh Q Nguyen <binhn@us.ibm.com>
Date:   Mon Feb 15 12:10:54 2016 -0500

    Merge pull request #675 from bcbrock/docs

    A couple of comments for outside-of-Vagrant builds

security and privacy: enabled
test: invoke a to b, then invoke b to a, then repeat continuously
chaincode can only process 5 invoke t

[2016-02-16 19:27] bcbrock opened #685 "Consistent FSM errors during multi-peer docker-compose startup"
Starting multiple peers using docker-compose consistently yields FSM errors. Not sure if these are serious, as usually the peers continue to function. This run had more errors than usual.

[code]
The run script, docker-compose files, and full stderr logs are attached in the ZIP
[logs.zip](https://github.com/openblockchain/obc-peer/files/133145/logs.zip)

I am running in a non-Vagrant environment o

[2016-02-16 20:12] dongmingh opened #686 "Error unmarshalling deployment transation after successfully deployed chaincode"
code level:
commit e338d6a25865db96c4e6374168473965a2b39054
Merge: 67e2a10 15dcc91
Author: Binh Q Nguyen <binhn@us.ibm.com>
Date:   Mon Feb 15 12:10:54 2016 -0500

security and privacy: enabled

After successfully deployed chaincode, there is an error unmarshalling deployment transaction message, see the error message at the end of the log below:

15:53:47.205 [rest] Deploy -> INFO 032 REST deploy

[2016-02-16 20:17] dongmingh commented on #684
The issue concerning "error unmarshalling deployment transaction" is tracked in #686

[2016-02-16 20:18] jyellick commented on #665
@kletkeman

Because the clones were private, github does not automatically make them public, in case you had some private work in them.  You should be able to recover by simply going to your github page, and for each clone, go to settings, then delete (in the 'danger zone' near the bottom).  Then return to the openblockchain page for that piece, and click fork again.  This will restore the links,

[2016-02-16 20:41] binhn commented on #686
@srderson I think the problem is due to the fact the the payload is encrypted and we try to unmarshal without first decrypting it, which is quite challenging at this point as the security context may not be available

@muralisrini

[2016-02-16 20:43] binhn commented on #684
@adecaro  we slacked about the first part of this log

@muralisrini please look at why we try to recreate the VM repeatedly

[2016-02-16 21:00] srderson commented on #686
See https://github.com/openblockchain/obc-peer/pull/636/commits

Originally, I was setting the entire payload to nil. Based on suggestions, I changed this to unmarshall the payload and set the code to nil as that is the heavy part.

I can modify so that if security is enabled, the entire payload will be set to nil.

[2016-02-16 21:02] kletkeman commented on #665
Thanks @jyellick I made mine public this morning to get going again as I have not been pushing my code to the repo anyway.

[2016-02-16 21:06] lehors commented on #665
I confirm what @jyellick said. I just went through this process and it worked for me.

[2016-02-16 21:20] bcbrock commented on #569
Closing this now that the new logging control has been implemented.

[2016-02-16 21:20] #569 closed

[2016-02-16 21:49] bcbrock opened #687 "obc-peer crashes with "index out of range" panic in ocbpbft.witnessCheckpoint"
Observed in:
[code]

I have been stress-testing 4-node docker-compose networks today that use the "classic" PBFT. The setup is documented in #685. The network is set up, chaincode_example02 is deployed, and then simple "a gives b 1" transactions are invoked as fast as possible. These setups routinely crash. I have seen #676 appear in the logs, but observed what appears to be a new issue just now.

[2016-02-16 21:54] binhn commented on #686
Do we currently have a use for the payload?  If not, we should nil the entire payload whether security is on or not.  There are other fields that are encrypted, so the consumers, due to security, need to handle it.

[2016-02-16 22:04] dongmingh commented on #684
I captured logs for two invokes and calculate the time for each step based on the timestamp.

21:09:28.449 [rest] Invoke -> INFO 05f REST invoking chaincode...
21:09:28.453 [rest] Invoke -> INFO 060 Local user 'lukas' is already logged in. Retrieving login token.
21:09:28.455 [CRYPTO] InitClient -> INFO 061 Initializing client [lukas]...
21:09:28.459 [CRYPTO.client.lukas] init -> INFO 062 Init key

[2016-02-16 22:32] tuand27613 commented on #680
not sure if it's related but look at #686

[2016-02-16 23:12] tuand27613 commented on #687
@bcbrock , can you post what you're using for the client driver ?  @corecode is in the middle of doing some perf runs. If he doesn't get to this first,  I'll try to reproduce in the morning

[2016-02-17 11:21] corecode commented on #647
I can confirm this. How should we restructure these global settings?  Right now we're using viper as a (singleton) implicit global setting.

Should we have a `openchain/config` module, which caches important settings from viper?

[2016-02-17 11:41] corecode opened #689 "too many open files when REST API connections linger"
If client connections are not marked as `Connection: close`, HTTP API connections stay around, and eat file descriptors.  If no more free file descriptors are available, grpc's `accept()` will fail, and the peer will shut down.  This is an easy DoS surface to bring down a peer.

A quick work-around is setting read and write timeouts for the REST handler:

[code]

However, this this still allows fo

[2016-02-17 14:05] bcbrock commented on #687
@tuand27613, I use the attached Tcl script (which I had to rename to .txt to attach - please remove the file extension). This script runs chaincode_example02 transactions and checks the results. It can do transactions using the CLI, REST API or using `curl` to send REST API calls, but the built-in HTTP/REST method is the fastest.
[driveEx02.txt](https://github.com/openblockchain/obc-peer/files/134

[2016-02-17 14:19] bcbrock commented on #647
However you all decide to do this will be very rewarding in terms of performance improvement. The ideal solution will need to extend beyond Viper though. For example we see that apart from Viper, 10+ percent of runtime in a simple benchmark is spent in a system call that determines the hostname when `peer.addressAutoDetect` is true. So the entire result of `peer.GetLocalAddress()` should probably

[2016-02-17 14:31] #663 closed

[2016-02-17 14:51] muralisrini commented on #663
thanks, @samding01 . Appreciate your taking the time and effort !

[2016-02-17 15:01] jyellick commented on #687
@tuand27613 @bcbrock

I see what is going on here, I'll put a patch together and submit a PR

[2016-02-17 16:41] jyellick commented on #687
@bcbrock The way this issue is being triggered, is that a peer is falling just a little behind, then catching up, then falling a little behind again.  Although the crash is definitely a bug and is fixed in the PR above, this is probably indicative that the PBFT log size is insufficient.  You can increase the log size (and probably overall throughput) by increasing the checkpoint interval `general.

[2016-02-17 16:47] tuand27613 commented on #687
@jyellick,  this seems like the sort of interactions that we should document somewhere ( maybe protocol spec ? ) . We should document how to use the various options that we surface in config.yaml.

[2016-02-17 16:51] jyellick commented on #687
@tuand27613 There is already some documentation in the config file itself (which I think is an intuitive place for it).  You can see the description for `general.K` as:

[code]

Are you suggesting we have a separate `README.md` or something like that?

[2016-02-17 17:07] tuand27613 commented on #687
A lot of the text in config.yaml is descriptive.  We can probably describe in more details the why of setting something, e.g. increase request timeout if -blah blah-  or if you set L to x then this is what happens.

[2016-02-17 18:14] tuand27613 opened #692 "Don't have crypto sign()/verify() methods print out all message content in debug log."
for example ,  [here](https://github.com/openblockchain/obc-peer/blob/master/openchain/crypto/node_sign.go#L43)  or [here](https://github.com/openblockchain/obc-peer/blob/master/openchain/crypto/node_sign.go#L28)

If you run with logging level=debug,  this increases log size by 10x or more, (e.g. it will print out a 17MB chaincode) and throw off readability of that log.

I'd say only print on erro

[2016-02-17 18:27] #676 closed

[2016-02-17 18:29] #687 closed

[2016-02-17 18:37] tuand27613 commented on #680
@jeffgarratt  @jyellick ,   not seeing the error when running with security.enabled=false

[2016-02-17 18:46] jyellick commented on #680
@tuand27613 Great work, I think that narrows down the problem considerably.  This means that state transfer without security completes successfully?

@srderson It seems that something in the state delta is encrypted before marshaling when security is enabled, causing unmarshaling to fail?  Do you have any thoughts or insight into what that might be?

[2016-02-17 19:08] kchristidis commented on #687
@jyellick Agree. `2*K` is from following the PBFT paper to the letter, but we can turn this into a parameter.

@tuand27613: Disagree. As @jyellick says, there is already a good enough amount of description in `config.yaml`. The user is expected to have some familiarity with the PBFT protocol.

[2016-02-17 19:43] tuand27613 commented on #680
@jyellick  @jeffgarratt   I take it back.  got the latest code from obc-peer  including PR 677,681, 690 , run again with security.enabled=false  and I *still* get the `unmarshalling unexpected EOF` error

[2016-02-17 20:30] jyellick opened #694 "Make PBFT log size multiplier configurable"
Today, the PBFT log size is fixed at `L=2*K` as prescribed in the paper.

However, the choice of `2` is arbitrary, as the log size `L` is used as parameter and no special properties about it (other than its size being at least `2*K` is relied upon.

For certain deployments, especially high volume high latency ones, the default log multiplier of 2 may be insufficient.  As seen in issue #687, we are

[2016-02-17 20:51] jyellick opened #695 "State transfer should retrieve defaultPeerIDs from Stack"
State transfer currently expects a list of PeerIDs in its constructor.  This makes testing more difficult, and is especially problematic for the `N=1` PBFT case.

Instead, state transfer should interrogate the stack to discover the IDs of other validating peers that it can sync from.

@kchristidis Could you tag with statetransfer, and assign to me?

[2016-02-17 21:11] tuand27613 commented on #695
all yours @jyellick

[2016-02-17 21:42] muralisrini commented on #684
Worked with @dongmingh on this. Basically requests to the chaincode resulted in encrypt/decrypt errors causing the chaincode to go down. This explains why the vms were getting restarted.

Before we go deeper into actual "performance" issue with security, we need to fix the basic security problems.

We know approximately where the encrypt/decrypt errors are coming from but it may or may not be rela

[2016-02-17 22:03] dongmingh commented on #684
@muralisrini recreates the VM crash on his system.  We can fix the encrypt/decrypt first. And see if this is related to the selectNextTCert no TCert in cache found issue.  If the no TCert issue still remains after encrypt/decrypt is resolved, then we have to fix it.  After the two issues resolved, we can have more accurate performance study with security.

[2016-02-17 22:20] bcbrock opened #696 "OBC-PEER Crashes with "invalid memory address or nil pointer dereference" in ocbpbft.moveWatermarks"
@jyellick   @kchristidis

Occurs in code with #687 fix (plus others)
[code]
Same setup and irritation as in #687. I have not modified PBFT parameters. VP3 crashed in this run:

[code]
Full log files. Note the other peers kept running after VP3 crashed.
[logs.zip](https://github.com/openblockchain/obc-peer/files/135258/logs.zip)

[2016-02-17 22:25] dongmingh commented on #684
Test with security disabled, the VM crash issue is not seen.

[2016-02-17 23:13] jyellick commented on #694
@kchristidis @tuand27613 if @tuand27613 wants this one, it's fine by me

[2016-02-18 00:26] bcbrock opened #699 "Classic PBFT hangs under stress"
Observed in

[code]

Same setup and irritation as in #687. I have a 4-peer docker-compose network running classic PBFT using all default parameters. I send 1000 transactions as fast as possible. The good news is that the network usually does not crash (#696 is rare) and eventually arrives at the correct answer. The issue is that it takes 8 or 9 minutes after I send in the last transaction for the

[2016-02-18 00:27] bcbrock commented on #696
This failure seems to be rare. Since this single occurrence the same tests have all worked (modulo #699).

[2016-02-18 05:06] muralisrini commented on #684
There are a couple of security related fixes needed in chaincode
  * don't store path from deploy tx in  security context as other transaction contexts only use names
  * resurrect security context from saved deployment transaction (long overdue) if init hasn't been called yet

The second fix can also be used to prevent queries and invokes from starting up container (another long overdue fix).

[2016-02-18 07:50] adecaro commented on #669
PR #682, addressing this issue, has been merged.

[2016-02-18 14:22] jyellick opened #700 "State transfer always fails to verify existing blockchain"
It has been observed in PBFT testing that a peer with an existing blockchain will always fail to validate its chain, causing a loop where it attempts to retrieve corrupt blocks which are apparently not corrupt.

This is not apparent in mock testing, so may be a bug in the underlying ledger verification utilities or a difference in the mock vs. real API.

@kchristidis Could you tag this as a bug, f

[2016-02-18 14:24] tuand27613 commented on #700
all yours @jyellick

ah, the power of being a committer :)

[2016-02-18 14:30] adecaro commented on #692
@tuand27613 what do you think if I rather introduce the property logging.crypto (openchain.yaml) to setup the logging level of the crypto module?

[2016-02-18 14:43] tuand27613 commented on #692
@adecaro , logging.crypto will work for me. Thanks !

[2016-02-18 14:51] jyellick commented on #696
@kchristidis Here is a working theory for how this might be happening:

For whatever reason, we receive a commit message for a request which we have not received a preprepare.  Then the code enters into `recvCommit`.  The call:
[code]
is made, which internally, is this:
[code]
So, because there is no `msgCert` in `certStore`, we create and insert one.  Now, there is a `msgCert` in `certStore` whic

[2016-02-18 14:57] tuand27613 commented on #694
merged pull request #694

[2016-02-18 14:57] #694 closed

[2016-02-18 15:01] tuand27613 commented on #674
@2016Nishi  could you pull the latest master and re-run ?  I ran unit tests and behave tests at commit d0dd6cc and all tests ran ok.

[2016-02-18 15:11] kchristidis commented on #696
Reviewing the code for this.

[2016-02-18 15:17] corecode commented on #699
This is likely a combination of multiple bugs.

One is that because of null request pruning, the new primary does not include any requests in the xset, and therefore does not update its own `seqNo`.  This prevents the new primary to assign sequence numbers to the outstanding requests, which in turn renders it useless.  Once `N=4` view changes have occurred, vp0 becomes primary again and manages to

[2016-02-18 15:23] corecode commented on #699
The other bug is that `moveWatermarks` needs to trigger processing of outstanding requests that have queued up, because we ran out of sequence numbers.  We should revisit all functions that use the *UPON* term in the PBFT paper.

[2016-02-18 16:11] bmos299 commented on #669
@adecaro the fix looks good and does not crash.   Is it possible to add some info level messages saying something like 'attempting to connect membership services at xxx.yyy.zzz:port'....try try ... 'failed attempting to connect to membership services at xxx.yyy.zzz:port'?
I am just trying to help the sys admin for the fabric clearly see the failed connection information.
Thanks, Barry

[2016-02-18 16:27] dongmingh commented on #684
work with @muralisrini  with a sandbox code with the fixes he mentioned in above comment.  The VM crash is fixed but the error message of "no TCert in cache found" is still seen.  While this error message is shown on the log, the test traffic becomes very slow.  The chaincode can only do 10 query per second, tps = 10.  It seems we are making SQL query for every request for get certificate.

Run an

[2016-02-18 16:29] kchristidis commented on #696
(Clarified this with Jason on Slack, but posting here for reference as well. We do *not* discard prepares for requests which are not prePrepared.)

[2016-02-18 17:30] kchristidis commented on #696
There's an `if pre-prepare not found, discard prepare (or commit)` logic we need to integrate.

I've added it to the `recvPrepare` and `recvCommit` functions already (https://github.com/kchristidis/obc-peer/commits/issues/696), but following the conversation Jason and I had with Marko and Jason's comments, I think this now probably belongs to the `moveWatermarks` routine.

Jason if I'm wrong, et m

[2016-02-18 17:38] jeffgarratt commented on #680
@jyellick @tuand27613 @srderson It appears to be working as designed, the last message will have an empty slice for the Delta field, indicating end of snapshot.  Be sure to check the length prior to attempting to Unmarshal with state_deltas.Unmarshal.

[2016-02-18 18:03] jyellick commented on #696
@kchristidis I thought from our conversation with @vukolic that it is fine to to accept commits/prepares for requests which we did not receive a preprepare, in fact, this is a valid optimization.

Instead, moving the watermarks in the event of state transfer should have the special property of discarding all requests, and waiting for state transfer to catch us up.  Because we will be receiving pre

[2016-02-18 19:11] bcbrock commented on #696
I will be out of the office until Monday. If you want to test a fix the test procedure is given in #687.

[2016-02-18 19:17] jyellick commented on #680
@jeffgarratt Yes, thanks for figuring this out, this was not how our mock implementation functioned which is why we did not catch it in earlier testing.  I'll fix that up now and put a PR together.

[2016-02-18 19:47] vukolic commented on #699
while this is being fixed - it might be wise to drop "eventual" from the name of the issue

[2016-02-18 20:55] adecaro commented on #684
@dongmingh @muralisrini working on a fix for the "no TCert in cache found" issue. I'm in the test face. The PR will be ready soon.

[2016-02-18 21:11] jyellick commented on #680
@tuand27613 You should be able to verify that this issue is fixed now.  Simply execute the new behave tests without decomposing.  If you grep the vp3 log for `obcpbft\|statetransfer` you will see state transfer be initiated, transfer blocks, then state deltas, then finish after transfering to block 8, and pbft will execute the outstanding 9th request.

[2016-02-18 22:09] tuand27613 commented on #680
state transfer working for batch/classic/sieve

start vp0-2 , deploy, invoke tx, start vp3,  invoke tx, see in log that vp3 initiates and completes state transfer.

thanks @jyellick  @jeffgarratt

[2016-02-18 22:09] #680 closed

[2016-02-18 22:12] tuand27613 commented on #652
#676 #680 closed.

scenario 1 listed above is now part of the `behave` test bucket.

[2016-02-19 07:14] adecaro commented on #669
@bmos299 Sure, I will add it.

[2016-02-19 13:16] bmos299 commented on #669
@adecaro.  Thank you.

[2016-02-19 15:15] tuand27613 commented on #699
@bcbrock , please verify.

[2016-02-19 15:21] 2016Nishi commented on #674
Ran with ver: 3c5fbcdf8a288b7d5ed5aa0dae5d570472169e73

Right now I see 1 failure
Failing scenarios:
  peer_basic.feature:257  chaincode example02 with 4 peers and 1 obcca, issue #680 (State transfer) -- @1.3 Consensus Options

0 features passed, 1 failed, 0 skipped
10 scenarios passed, 1 failed, 0 skipped
229 steps passed, 1 failed, 1 skipped, 0 undefined
Took 5m44.307s
vagrant@vagrant-ubuntu-tru

[2016-02-19 15:52] tuand27613 commented on #674
I ran the behave tests with version [438f73](https://github.com/openblockchain/obc-peer/commit/438f73652d69523be63216e1ac26ba07f22cfbd3) and all scenarios passed.

what does the behave log say ?

[2016-02-19 16:18] 2016Nishi commented on #674
where can I check for behave logs?

redirected my behaveTests output to a file and attaching here.
[behaveTestsOutput.zip](https://github.com/openblockchain/obc-peer/files/138287/behaveTestsOutput.zip)

[2016-02-19 16:20] jyellick commented on #674
@2016Nishi Could you also double check to make sure that you do not still have the peer running?  For the go tests, you should have started a peer with `./obc-peer peer`.  If you leave this peer executing, it is already bound to a port which is utilized in the behave tests and can cause a failure.

[2016-02-19 16:22] 2016Nishi commented on #674
You are right. I had ./obc-peer peer running earlier. Currently I do not have it running anymore. Let me run my behave tests again

[2016-02-19 16:30] 2016Nishi commented on #674
This time all my behave tests passed:

1 feature passed, 0 failed, 0 skipped
11 scenarios passed, 0 failed, 0 skipped
231 steps passed, 0 failed, 0 skipped, 0 undefined
Took 4m39.292s

Thanks!

[2016-02-19 20:03] dongmingh commented on #684
I work with @muralisrini today to pick up the TCertPool fix from #705 and do not see the message of "No TCert in cache found".  But the tps goes down to 0.5 query per second.  Then we did a test of commenting out closeClientInternal(), i.e. not close client, then the tps increases to 30 per second.

[2016-02-19 20:18] adecaro commented on #684
Please, @dongmingh, may you give me more information on the tests that you run in such a way I can replicate them and analyze what happens to the crypto layer?

Regarding closeClientInternal(), rather than commenting out that call, please, comment out the call to CloseClient(). Also, I would suggest to call InitClient() right after RegisterCliert(.) and then keep the Client instance somewhere read

[2016-02-19 20:27] dongmingh commented on #684
I run it on vagrant using SoupUI to drive the query transaction. The thread is set to 1.  Let me know if you need any information on the test.  I can show you in person.
30 tps means 30 queries per second.

[2016-02-19 20:38] adecaro commented on #684
@dongmingh Yeah, actually, it would be useful to have a call on Monday to talk about this.
Btw, may you increase the number of thread to at least 2 and see if the tps increases?

[2016-02-19 20:53] #700 closed

[2016-02-19 20:54] dongmingh commented on #684
with threads = 20, after 3 min runs, the tps = 20.
Here are some log, see ERROR messages of "Failed inserting TCert":

20:49:06.857 [crypto] InitClient -> INFO 595f Client already initiliazied [lukas]. Increasing counter from [19]
20:49:06.864 [crypto] closeClientInternal -> INFO 5960 Closing client [lukas]...
20:49:06.874 [crypto] InitClient -> INFO 5961 Initializing client [lukas]...
20:49:06.87

[2016-02-19 21:14] adecaro commented on #684
Okay, I now see too the message "Failed inserting TCert". It is related to sqlite3. Adding an external lock fix the issue.

Then, how do you count the number of tps?

[2016-02-19 21:21] dongmingh commented on #684
The SoupUI shows the tps.

If I change the thread to 100, the log shows the other error message:
21:11:19.919 [crypto] InitClient -> INFO 6139 Initializing client [lukas]...
21:11:19.919 [crypto] InitClient -> INFO 613a Client already initiliazied [lukas]. Increasing counter from [100]
21:11:21.023 [crypto] closeClientInternal -> INFO 613b Closing client [lukas]...
21:11:21.027 [crypto] InitClient

[2016-02-19 21:27] adecaro commented on #684
Yes, make sense this. I have a better picture now. Let's continue the investigation. Is there a document that describes how to use SoapUI?

[2016-02-19 21:59] dongmingh commented on #684
with the latest code from @adecaro, it performs 20 tps.

[2016-02-19 23:07] jyellick commented on #529
@binhn

After some discussions with @jeffgarratt we had come up with a design that seemed to make sense for `noops`, however, as I've attempted to implement I've come across a few flaws that seem like they may be fatal.

The flow was proposed as follows:

1. Backup VP connects to the network, and receives a HELLO message from the Primary
2. Backup realizes that its block height is at 5 and the pri

[2016-02-19 23:13] corecode opened #708 "unclean shutdown of node may leave it impossible to restart later"
[code]

So far I could not reproduce it again.

[2016-02-19 23:15] corecode commented on #708
nevermind - this is just happens only a limited number of times while the VM is starting up

[2016-02-19 23:15] #708 closed

[2016-02-20 05:35] adecaro commented on #684
@dongmingh If you have already moved to go1.6, may you pull again and test how tps you get? I have modified a few lines to take advantage of the new optimized elliptic curve provided by go1.6. Thanks.

[2016-02-20 13:40] corecode opened #709 "chaincode logging fills up system drive"
I ran an invoke loop over night, and the chaincode logging inside the docker container filled up my (host) filesystem; 9GB of JSON logs.  This may also explain why I observe high CPU utilization of the docker process.

[2016-02-20 15:46] corecode commented on #709
log sample:
[code]

[2016-02-20 21:19] muralisrini opened #710 "consensus helper ExecTx ignoring errors from transaction batch execution"
ExexTxs is ignore error array from chaincode.ExecuteTransactions. This will result in transactions getting committed whether they succeeded or not.

[2016-02-21 02:53] jyellick commented on #710
This is pending to be fixed by issue #579

[2016-02-22 03:52] muralisrini opened #712 "remote chaincode deploy should not pull in remote fabric code"
Chain code deployment using remote paths as implemented require the OBC fabric to be remotely downloaded in addition to the chain code. It is inefficient, restrictive and to some extent insecure to require fabric code be downloaded. Dependencies on the fabric (such as shim) should be resolved locally using the executing fabric code base.

[2016-02-22 18:30] jyellick commented on #674
@2016Nishi Is everything working for you? Can this be closed?

[2016-02-22 19:02] dongmingh opened #714 "fatal error: concurrent map read and map write"
obc-peer crashes with today's code:
see detail log:
[crash.txt](https://github.com/openblockchain/obc-peer/files/141209/crash.txt)

fatal error: concurrent map read and map write

goroutine 1087982 [running]:
runtime.throw(0xe7cfa0, 0x21)
        /opt/go/src/runtime/panic.go:530 +0x90 fp=0xc8210bc1f0 sp=0xc8210bc1d8
runtime.mapaccess2_faststr(0xb5d080, 0xc820186b70, 0xdb4970, 0x4, 0x10, 0x10)

[2016-02-22 19:09] dongmingh commented on #714
steps to recreate:
1. run query continuously for 5 min with SoupUI
2. stop query
3. run invoke continuously for 5 min with SoupUI
4. crash occurs

[2016-02-22 19:22] rameshthoomu opened #715 "Error: No such image or container: bddtests_vp0_1..."
Observed "**Error: No such image or container: bddtests_vp0_1...**" while running Behave tests using TRAVIS Continuous Integration tool (Outside Vagrant).

Successfully ran the "go test -timeout=20m $(go list github.com/openblockchain/obc-peer/... | grep -v /vendor/)" command and then ran the behave test.
[Travis CI_logfile_parse_error.txt](https://github.com/openblockchain/obc-peer/files/141246/T

[2016-02-22 19:36] jyellick commented on #715
Can you verify that docker compose is installed?

[code]

If it is not, you can most likely install it via:

[code]

[2016-02-22 20:07] dongmingh commented on #714
golang race detector output:
[crash-race-output.txt](https://github.com/openblockchain/obc-peer/files/141341/crash-race-output.txt)

This time, it crashes while running query only.

[2016-02-22 20:27] muralisrini commented on #714
This appears to be the strictness of golang 1.6 :

_The runtime has added lightweight, best-effort detection of concurrent misuse of maps. As always, if one goroutine is writing to a map, no other goroutine should be reading or writing the map concurrently. If the runtime detects this condition, it prints a diagnosis and crashes the program. The best way to find out more about the problem is to ru

[2016-02-22 20:28] dongmingh commented on #684
With the latest code from @adecaro this afternoon, the tps = 235 for query and 130 for invoke with both security and privacy enabled, threads = 100.
However, I observed a crash which is not crypto related, see detail in bug #714

[2016-02-22 20:58] bcbrock commented on #696
This one seems to be fixed.

[2016-02-22 20:58] #696 closed

[2016-02-22 21:03] RicHernandez2 opened #716 "CA in Bluemix under low load keeps giving "Not available yet" message"
Description:  CA in Bluemix with Security turned on gives a "Not available yet..." message over and over in logs under light load.

Steps to repro:

 1   Provision a set of blockchain servers with security enabled (CA, Va1, Va2) on Bluemix.com
 2  Copy the name of that blockchain set to your manifest.yml file on the app.js home directory
 3   Ensure the package.json contains a unique name for your

[2016-02-22 21:05] RicHernandez2 opened #717 "CA not reporting percentages and stats to logs"
Details:

CA in Bluemix cloud not giving out percentage stats in logs

Steps to repro:

1 Provision a set of blockchain servers with security enabled (CA, Va1, Va2) on Bluemix.com
2 Copy the name of that blockchain set to your manifest.yml file on the app.js home directory
3 Ensure the package.json contains a unique name for your app.js
4 Create a Node.js app
5 Bind the app to the blockchain set
6

[2016-02-22 21:36] bcbrock commented on #699
It is difficult to know if this issue has been resolved or not, since the OBC protocol documentation does not address what is supposed to happen when a network is flooded with more legitimate transactions than it can process in real time.
In my latest test I used 64 clients to each send 1000 transactions as fast as possible. The 64K transactions were all accepted by the network in 216 seconds. How

[2016-02-22 21:40] jyellick commented on #699
@bcbrock I'll investigate those stateThread errors, that pattern of log messages indicates a bug.

[2016-02-23 02:14] rameshthoomu commented on #715
@jyellick above mentioned issue is working fine after installing the docker-compose version 1.5.2.

[2016-02-23 08:59] thkzrl commented on #716
It is not clear where that log message is coming from. The OBC-CA does NOT generate this log message, and neither can I find it in the peer code base.  Will investigate further...

[2016-02-23 11:15] corecode commented on #714
seems we need to start fixing other code we're using, like go-logging.

[2016-02-23 12:55] 2016Nishi commented on #674
Sure it can be closed.
Thanks!

Sent from my iPhone

[2016-02-23 13:23] muralisrini commented on #714
@corecode , that does seem a possibility. However if this related to the changes in this PR (specifically calling SetLevel in non-initialization paths) perhaps we can contain it for now.... hope to know more after investigation today

[2016-02-23 15:04] dongmingh opened #718 "database or disk is full"
The database or disk is full when I ran an overnight stress test with invoke.

From the obcca-server window:
ERROR: 2016/02/23 11:53:31 ca.go:205: database or disk is full
ERROR: 2016/02/23 11:53:31 tca.go:252: database or disk is full
ERROR: 2016/02/23 11:53:31 ca.go:205: database or disk is full
ERROR: 2016/02/23 11:53:31 tca.go:252: database or disk is full

From the obc-peer window:
11:53:31.2

[2016-02-23 15:05] RicHernandez2 commented on #716
![ca messages](https://cloud.githubusercontent.com/assets/17052305/13255615/e4254026-da14-11e5-8cd2-a59ade807de0.JPG)

[2016-02-23 15:14] dongmingh commented on #714
I ran an overnight test with an engineer build by commenting out the logging message as Murali pointed out. The tps remains 130 for invokes after 6+ hours.  But this morning there are "database or disk is fill" message on the window with obcca-server command.  This issue is tracked in bug #718.

Today I will test the temporary fix from @adecaro

[2016-02-23 15:15] RicHernandez2 commented on #716
Here's what's happening on the VPs at the time, essentially the CA is giving no useful information at all in its logs.

![vp1vp2](https://cloud.githubusercontent.com/assets/17052305/13255891/4b5789a6-da16-11e5-8cb4-8bd83ab2bb51.JPG)

[2016-02-23 15:19] thkzrl commented on #718
How many TCerts have been generated?

[2016-02-23 15:33] #674 closed

[2016-02-23 15:36] jyellick commented on #715
@rameshthoomu Can this issue be closed then?

[2016-02-23 15:47] dongmingh commented on #718
It runs 130 invokes per second and last for at least 6+ hours.  Plus one hour query test at 235 per second before invoke test. So, it has more than 2.8  millions invoke + 0.8 million query.

[2016-02-23 15:50] RicHernandez2 opened #719 "Error while restarting node.js app in Stage1 Bluemix"
Description:

Starting a Node app.js app in Bluemix Dev Env results in an error message

Steps to repro:

1.  Push a node.js app to Bluemix Stage1
2.  View logs on that app

Results:

Updated app with guid b3c8f486-5a23-4383-be87-c6c9934d03b4 ({"state"=>"STARTED"})
2016-02-23T10:31:25.901-0500
[DEA/6]
out
Starting app instance (index 0) with guid b3c8f486-5a23-4383-be87-c6c9934d03b4
2016-02-23T10:

[2016-02-23 16:25] rameshthoomu commented on #715
Yes. Please close this issue.

[2016-02-23 16:27] jyellick commented on #715
Thanks @rameshthoomu !

[2016-02-23 16:27] #715 closed

[2016-02-23 16:59] RicHernandez2 commented on #719
Moved this bug to Bluemix Stage1 support ticket

[2016-02-23 16:59] #719 closed

[2016-02-23 17:02] corecode opened #720 "after peer crash, database keeps crashing peer"
Observed several times during testing on my laptop (no vagrant):

[code]

[2016-02-23 17:34] RicHernandez2 opened #721 "Double messages in log?"
Description:

There are two messages in a Validating Peer's logs when closing the Keystore

Steps to Repro:

1.  Start a blockchain service in bluemix with security on
2.  bind to cloud foundry node.js app service running IBM-blockchain-js
3.  Run example02 code
4.  Perform invokes on the blockchain service
5.  View logs on blockchain service for VP1

Results:

2016-02-23T17:23:40.841356618Z 17:23

[2016-02-23 17:58] dongmingh commented on #714
I tested the temporary fix from @adecaro this morning, run query for 20 min then run invoke for 80 min and do not see crash.  The performance remains the same as tps = 235 and 130 for query and invoke respectively.

[2016-02-23 18:12] rameshthoomu opened #722 "Assertion failed - behave tests are failing outside of vagrant environment (through Travis ci)"
Issue: Observed an **Assertion failed** message in the behave test logs while running the Behave test scripts outside of the vagrant environment (Using TRAVIS CI).

The output of the "**ip addr show**" and "**ps -ef | grep docker**" of Travis CI environment is mentioned below:

**ip addr show** for **docker0** inteface
docker0: <BROADCAST,MULTICAST,UP> mtu 1460 qdisc noqueue state UP group default

[2016-02-23 18:19] muralisrini commented on #714
Thanks, @dongmingh.

We were not sure if the problem was in go-logging or in the way we were using it. It is only with this PR that we see this go-logging related crash. So whatever we are doing with that package prior to this PR is correct till proven otherwise.

Commenting out initialize-log-per-client code avoids the problem. We could try to figure out the right way to maintain that semantics.

[2016-02-23 21:54] #712 closed

[2016-02-24 06:39] thkzrl commented on #718
Well, for a database with about 2.8 million certificates that's about the size to expect.

For batches of TCerts we can store only the information required to recreate the certificates on the fly whenever needed and thereby making the DB grow a bit slower; I'll evaluate the impacts of this and issue a matching PR if the trade-offs are acceptable. But in essence (and by design of OBC) it grows line

[2016-02-24 06:43] thkzrl commented on #716
You may enable the trace log level to make the CA more verbose (set logging.trace to 1 in obcca.yaml) but, as said, the log message is not from the CA itself.

I'm waiting for my Bluemix account to become active so that I can start investigating.

[2016-02-24 10:54] adecaro commented on #714
@muralisrini, @dongmingh I updated the PR to have a centralized log. I took the opportunity to introduce in main.go a line to initialize the crypto layer.

Please, @dongmingh, may you test the updated PR, if the performance are still 'good'. I will merge. Thanks :)

[2016-02-24 16:17] bmos299 commented on #717
Closing.

[2016-02-24 16:17] #717 closed

[2016-02-24 16:27] bmos299 commented on #716
Closed, moving to appropriate location

[2016-02-24 16:27] #716 closed

[2016-02-24 16:31] muralisrini commented on #722
assuming this is a simple matter of making sure ip addresses are set in the right places. Working with @rameshthoomu ....

[2016-02-24 16:46] bmos299 commented on #721
Closed and moved

[2016-02-24 16:46] #721 closed

[2016-02-24 17:45] dongmingh commented on #714
@adecaro :
The setting and results are as follow with your latest PR code.

test setting:
security enabled
privacy enabled
TLS enabled
rootcert: file: "/var/openchain/production/.obcca/tlsca.cert"
logging: peer and crypto : error

results:
batch = 200, tps (query/invoke) = 236/147
batch = 500, tps (query/invoke) = 236/135

[2016-02-24 18:32] dongmingh commented on #684
With the latest code from PR #705, crash is not seen and the performance as follow
The setting and results are as follow with your latest PR code.
test setting:
 security enabled
 privacy enabled
 TLS enabled
 rootcert: file: "/var/openchain/production/.obcca/tlsca.cert"
 logging: peer and crypto : error

results:
 batch = 200, tps (query/invoke) = 236/147
 batch = 500, tps (query/invoke) = 236/13

[2016-02-24 18:36] muralisrini commented on #684
Thanks, @dongmingh @adecaro ... will merge PR #705

[2016-02-24 18:50] jyellick opened #723 "Add REST API interrogation of state hash"
As discussed with @jeffgarratt, in order to validate some of the mechanisms of state transfer, it is necessary that certain properties of the state be able to be interrogated via the REST API for the behave tests.

In particular, the following two pieces of information should be exposed.

1. The current / temporary state hash.  This is the value of `ledger.GetTempStateHash()`, and it is a hash of

[2016-02-24 18:51] jeffgarratt opened #724 "Remove existing containers for chaincode if NOT already connected."
In the case of VP restart, it is possible (and more likely expected) that the VP will be assigned a new IP address. In this case any existing chaincode containers (which will have exited due to disconnect) should be removed instead of re-statred, as the peer.address info may be inaccurate.  Assigning this to @muralisrini

[2016-02-24 19:47] dongmingh commented on #714
git pull from master after @muralisrini approved PR #705 and test again, the tps results remain the same

[2016-02-24 20:02] jyellick commented on #723
I can see this as generally useful, but the bug this would have been useful to debug has been fixed, so feel free to close.

[2016-02-24 20:47] jyellick commented on #699
The merge request referenced above should fix some of the behavior you are observing in the logs.  It may not fix the originating issue, and but may allow recovery to complete whereas the recovery was stalled indefinitely before.

[2016-02-24 20:52] bmos299 commented on #684
Closing as per Murali and Dongming.

[2016-02-24 20:52] #684 closed

[2016-02-24 20:52] bmos299 commented on #714
Closing as per Murali and Dongming.

[2016-02-24 20:52] #714 closed

[2016-02-24 21:20] jyellick opened #726 "State snapshot transfer chunk size should be configurable"
Today, `peer.sendStateSnapshot` iterates over the key-value pairs of the state, encoding each into a separate state snapshot sync message.

Because this equates to one message per key-value, for large states with thousands or millions of key-values, this could be very slow.  Some configuration for selecting the number of key-values per delta, or perhaps the overall size of the delta should be allo

[2016-02-24 22:06] samding01 opened #727 ""Segmentation fault" when obc-peer login <user_id> in obcpeer_cli"
Follow instruction in [4 peer with security enabled](https://github.com/openblockchain/obc-peer/blob/master/compose-consensus-4.md) to setup the environment, then start with cmd:

    docker-compose -f docker-compose.yml -f compose-consensus-4-links.yml -f compose-consensus-4-sieve.yml up --force-recreate -d

The first problem is errors like:

      # docker-compose -f docker-compose.yml -f compos

[2016-02-24 22:09] jeffgarratt commented on #724
@jyellick this will cause us problems if we stop more than 1 VP and start it again.

[2016-02-24 22:34] muralisrini opened #728 "panic in crypto test unit tests"
@adecaro .. assigning this to you but do move it to the right person if incorrect please.

Running
go test -timeout=20m $(go list github.com/openblockchain/obc-peer/... | grep -v /vendor/)

I see the following panic every time. Not sure if this is something in my environment (but I cannot think of why that should be...).

--- FAIL: TestSPI (0.00s)
panic: runtime error: invalid memory address or ni

[2016-02-24 22:52] tuand27613 commented on #217
Potential tests for byzantine behavior
1. Loss of _**f**_ replicas: system continues to function
2. Loss of _**f+1**_ replicas: no completed transactions after loss
3. _**f**_ backup replicas turn byzantine: broadcast randomly does not send to a random replica: system continues to function
4. Loss of primary: view change and system continues to function
5. Primary randomly does not send a message

[2016-02-25 06:43] adecaro commented on #728
@muralisrini, I guess, it happens when running the tests for my PR, right? If this is the case, I have just updated the PR with a fix. Thanks.

[2016-02-25 06:45] adecaro commented on #728
@muralisrini Oh, just realized that my previous PR has been merged. I have issued another one to fix the bug. Sorry for the inconvenient.

[2016-02-25 07:32] adecaro commented on #727
Hi @samding01, do you have logs available to understand what it is happening?

[2016-02-25 08:35] genggjh opened #731 "The CLI usage does not consistent with relate doc"
The CLI usage still show the name of command is **openchain**. Does not consistent with https://github.com/openblockchain/obc-docs/blob/master/api/Openchain%20API.md#open-blockchain-cli

[2016-02-25 08:48] genggjh opened #732 "The CLI usage does not consistent with relate doc"
The CLI usage still show the name of command is **openchain**. Does not consistent with https://github.com/openblockchain/obc-docs/blob/master/api/Openchain%20API.md#open-blockchain-cli

[2016-02-25 08:49] genggjh commented on #732
Close this duplicate issue

[2016-02-25 08:49] #732 closed

[2016-02-25 10:35] muralisrini opened #734 ".obc-ca/tca.db gets included in container image"
When we create chaincode images, we tar the src/ dir and if tca.db keeps changing under its feet while that;s happening, the tar will fail (its header will not indicate the tca.db file size when its copied as its changing). Also, we really don;t want to copy dynamic data into chaincode image

We can filter out “.obc-ca” out when creating the container image if that’s the best way or we can move .o

[2016-02-25 16:25] samding01 commented on #727
No any coredump file left. Even I rebuild obc-peer inside cli, I got the same:

     # go build -v
    github.com/openblockchain/obc-peer/openchain/ledger
    github.com/openblockchain/obc-peer/openchain/crypto
    github.com/openblockchain/obc-peer/openchain/consensus/noops
    github.com/openblockchain/obc-peer/openchain/peer
    github.com/openblockchain/obc-peer/openchain/chaincode
    github.

[2016-02-25 16:54] bcbrock commented on #699
The system is still failing/locking up. It appears to be less stable than before. Previously it would fail while trying to clear up the backlog. Now it appears to fail/hang during processing of the original burst of transactions.  I have attached the ERRO/WARN messages from the logs.

[errors.txt](https://github.com/openblockchain/obc-peer/files/146957/errors.txt)

[2016-02-25 19:56] jeffgarratt commented on #726
Appears this is on GRPC's radar at https://github.com/grpc/grpc-go/issues/524.  I will still investigate our own batching scheme in the interim.

[2016-02-25 20:10] 2016Nishi opened #737 "Chaincode 'Deploy' fails with latest build image"
Tried to send Deploy command using RestAPI from SoapUI/Postman using chaincodeexample_02 on a local peer without security setup as: [http://127.0.0.1:3000/devops/deploy]

{
  "type": "GOLANG",
  "chaincodeID":{
      "path": "https://github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example02"
  },
  "ctorMsg": {
      "function":"init",
      "args":["a", "100", "b", "200"]

[2016-02-25 20:46] samding01 commented on #727
It seems the generated docker image of golang16 (s390x) is not good.
After rebuild it works as the before.
close this issue.

[2016-02-25 20:46] #727 closed

[2016-02-25 21:16] muralisrini commented on #734
fixed by #735

[2016-02-25 21:16] #734 closed

[2016-02-25 21:17] muralisrini commented on #728
fixed by #730

[2016-02-25 21:17] #728 closed

[2016-02-25 21:22] 2016Nishi commented on #737
Here are the combinations where Deploy responds successfully vs a failure in response:
-------------------------------------------------------------------------------------------------------------
1. With Security Enabled/Disabled :
       having http:' , 'https' in the beginning of path value causes a failure.

2. With Security Enabled/Disabled:
"//github.com/openblockchain/obc-peer/openchain/exa

[2016-02-25 21:28] 2016Nishi commented on #737
Doing some more testing - tool that I was using input did not have the combinations as I expected it to. Will run my tests and will post observations.

[2016-02-25 22:20] tuand27613 opened #739 "Error `nil amount for a` when running sieve state transfer `behave` test"
Error happens on the final query for value of "a" .

It only happens for sieve. Classic and batch tests pass.

It only happens when I run the entire peer_basic.feature bucket. If I run `behave --name "State transfer"` so that only the state transfer tests run then all 3 tests pass.

[2016-02-25 22:28] 2016Nishi commented on #737
Reproduced the problem using Postman and SoapUI.

http:/https: do NOT seem to work (in both security/non--security env) when added in the beginning to path value during deployment of chaincodeexample_02.

build: 394d5bed1e3a4e24efc6dec76413ee23f010c073

[2016-02-25 22:28] jyellick commented on #739
This is essentially happening because state transfer is completing, and pbft is executing outstanding requests via its `stateTransferCompleted` method before sieve's `Completed` method is invoked.  Because state transfer is done, sieve attempts to execute requests but the block number is out of sync.  I am working on a broader fix for this, because a direct fix would leave some other unfortunate c

[2016-02-25 22:37] rameshthoomu commented on #722
Facing the same issue even after changing the "OPENCHAIN_VM_ENDPOINT" value in "compose-defaults.yml" and "compose-consensus-4.yml" file to OPENCHAIN_VM_ENDPOINT=http://172.17.42.1:2375. Attached the behave log file and "netstat", "ip addr".
[docker0 interface_travisci.txt](https://github.com/openblockchain/obc-peer/files/147385/docker0.interface_travisci.txt)
[Defect#722 - Assertion Failed_OPENCH

[2016-02-25 22:48] tuand27613 commented on #217
have added behave tests for cases 1-3 above. PR #740

[2016-02-25 23:08] ghaskins opened #741 "Inconsistency between docker environment and dev-env"
It was discovered that the docker environment was inadvertently based on debian:jessie rather than ubuntu trusty.  This should be based on ubuntu to match the vagrant environment, ideally driven by the same configuration

[2016-02-25 23:08] ghaskins commented on #741
@jeffgarratt @srderson @muralisrini @jyellick

[2016-02-25 23:10] ghaskins commented on #741
Gah, I started with opening an issue and then seem to have become confused and wrote it like a PR...

[2016-02-26 15:04] tuand27613 commented on #722
@rameshthoomu , a couple of things to try:
1. in my vagrant environment, `ps -ef | grep docker` says
   ` root       883     1  0 Feb25 ?        00:04:04 /usr/bin/docker daemon -s=aufs -r=true --api-enable-cors=true -H tcp://0.0.0.0:4243 -H unix:///var/run/docker.sock`
as opposed to `root 3307 1 5 17:00 ? 00:00:46 /usr/bin/docker daemon -H tcp://127.0.0.1:2375-H` in your environment.
try setting t

[2016-02-26 15:06] RicHernandez2 opened #744 "Logging issue in Validating Peer regarding consensus"
Description:

Consensus in openchain.yaml file can be set to any value

Steps to repro:

1.  Edit openchain.yaml file
2.  Set consensus to "Whoops"
3.  Do a Vagrant up
4.  Do a Vagrant ssh
5.  VP comes up, no mention of consensus setting

Results:

Consensus is not mentioned at all in the logs, no error is thrown due to invalid value

Expected results:

The consensus value should be written to log

[2016-02-26 16:19] tuand27613 commented on #744
We default to `noops` if _peer.validator.consensus_ is not recognized.  I'll update the description in openchain.yaml to make that clearer.

Also, the consensus code logs its settings but peer does lazy evaluation so we don't instantiate the consensus handler until we have a stream.

[2016-02-26 16:54] tuand27613 commented on #744
PR #746

[2016-02-26 18:27] samding01 opened #747 "starting peers failed with security enabled"
Following the [instruction](https://github.com/openblockchain/obc-peer/blob/master/compose-consensus-4.md), set up 4 peers with security enabled.  The peer container exists with errors:

    log of peer vp0:
      18:08:30.239 [crypto] getECAClient -> DEBU 01f [validator.test_vp0] Getting ECA client...done
      2016/02/26 18:08:31 grpc: ClientConn.resetTransport failed to create client transport:

[2016-02-26 19:14] tuand27613 commented on #747
@samding01  in openchain.yaml,  do you have the pki.eca/tca/tlsca addresses as locahost or obcca ? Should be obcca

[2016-02-26 19:40] samding01 commented on #747
@tuand27613;  Thank for your message. Indeed I forget to update pki part after git pull.

Now it can start all peer containers. However it is still failed to login inside  cli container:

     $ docker exec -it obcpeer_cli_1 bash
      # obc-peer login test_vp3
     19:28:04.411 [crypto] main -> INFO 001 Log level recognized 'debug', set to DEBUG
     19:28:04.411 [crypto] main -> DEBU 002 Working

[2016-02-26 20:12] tuand27613 commented on #747
you have to specify which peer to login to .  Try something like `OPENCHAIN_PEER_ADDRESS=vp0:30303 obc-peer login test_user0`

I'd say always use vp0 when doing requests as it's the primary for the peers doing consensus.  There's an existing issue ( I think, too lazy to check ) about sending requests to non-primary replicas

[2016-02-26 22:10] samding01 commented on #747
After rebuild image: openchain_peer and obcca, now it is OK to login some users.

For a user id defined in other than  docker-compose.yaml, it is OK to login, but if a user id is used
in `docker-compose.yaml`, it cannot login:

     # OPENCHAIN_PEER_ADDRESS=vp0:30303 obc-peer login test_vp0
     21:52:50.724 [crypto] main -> INFO 001 Log level recognized 'debug', set to DEBUG
     21:52:50.725 [cr

[2016-02-26 22:44] tuand27613 commented on #747
The validating peers vp0-3 logged themselves in using the test_vp[0-3] IDs so you can't re-use them for client login. Use the test_user**_X_** IDs instead. All the IDs are defined in `obc-ca/obcca.yaml`

Also, the CA server defines a role for each ID. More details in the [obcca setup doc](https://github.com/openblockchain/obc-docs/blob/master/dev-setup/obcca-setup.md) and in the [devnet setup doc]

[2016-02-26 23:01] samding01 commented on #747
@tuand27613 : Thank you for your explanation.  now it is OK to send REST insider cli. I think this issue can be closed.

 One question on how to send REST outside of cli container.
I use cmd:
     curl -X POST -d @register.json     localhost:5000/registrar

and `register.json` has:

    {
     "enrollId": "jim",
     "enrollSecret": "6avZQLwcUe9b"
    }
The response is:

      {"Error": "rpc error

[2016-02-26 23:18] samding01 commented on #747
@tuand27613

Found the reason,  because I had use "jim" to login inside of cli, so it cannot  re-login outside of cli container. Change another user id. It works fine.

Thanks,

[2016-02-26 23:18] #747 closed

[2016-02-27 01:41] bcbrock commented on #699
I tried @corecode 's closed-loop-rest patch with a timeout of 60. For small numbers (1 - 4) of concurrent clients it seems to works. With 8 or 16 it fails. The failures now are all seen as "hangs" - processing stops. Here are the error messages from a 16-client run that failed almost immediately.

[errors.txt](https://github.com/openblockchain/obc-peer/files/149165/errors.txt)

[2016-02-27 12:54] muralisrini commented on #747
@tuand27613, @samding01  : sounded like there's some room to make doc clearer to help other who might run into similar issues ?

[2016-02-27 13:04] muralisrini commented on #739
@jyellick : "`nil amount for a` "  will happen if a query comes in between chaincode image creation and chaincode deploy initialization transaction (i.e., query is able to sneak in and start up an uninitialized chain code which should have really been started only by the deploy initialization transaction). There's a known race condition in chain code that can cause this (@corecode mentioned this).

[2016-02-27 21:24] muralisrini commented on #737
#713 fixed some basic issues with downloading remote chain code where we added local peer's GOPATH to the temporary GOPATH. This made downloaded chain code to reference running peer's OBC code, thus resulting in multiple benefits (better security and bandwidth savings).

But it exposed this new issue when user tries to download chain code whose HTTP path maps to a folder in obc-peer's GOPATH (e.g.

[2016-02-28 03:39] ghaskins opened #748 "Certain hashes should be reliably decomposable and introspectable"
Previous discussions have resulted in a decent foundation for providing trust in a network of chaincode.  For instance, chaincode IDs are formed, in part, by hashing the underlying code.  While this notion is critically important for certain use cases, it only becomes fully useful if the resulting hash can actually be traced back to the source for parties that may be interested in actually verifyi

[2016-02-28 15:07] muralisrini commented on #748
@ghaskins : let me make sure I understand the proposal.

Currently there is only an implementation of chaincodeID composition but no formal specification. We could formally specify it in a document but the proposal is to take it to the next level where we implement a query to return the decomposed elements in some form (say JSON) given the chaincodeID. This will allow applications and users to val

[2016-02-28 20:24] tuand27613 commented on #747
good point @muralisrini

@samding01 could you post your comments over on obc-docs , expecially on the dev-setup docs ? What should we make clearer ?

[2016-02-28 22:01] ghaskins commented on #748
@muralisrini +1

[2016-02-28 22:06] ghaskins commented on #748
One additional comment: There may be other places where this concept should be applied, such as when/if the deploy/instantiation are separated.  In those cases, the identifiers returned from each step would likely want to have similar decomposition capability.  There may be others as well.  Therefore, it might make sense to consider a general case for the specification and query interface outside

[2016-02-28 22:27] 2016Nishi commented on #737
Murali,

When value of path in deploy command conflicts on remote OBC with the one in local path, user will be given a message to correct the situation.
Does that mean earlier it was always fetching from remote repository and did not look into local repository? Now I am guessing deploy command would first check in local repository, if not in remote OBC repository, then download example code? So 'h

[2016-02-29 13:52] exactproskl opened #749 "Chaincode termination if OPENCHAIN_SECURITY_PRIVACY = false"
Chaincode termination if OPENCHAIN_SECURITY_PRIVACY = false

**Version:** b6ea3b0

**Conditions**
- A single peer works in chaincode-dev mode with enabled security and privacy
- The example_chaincode02 and the obc-ca server are also run on the same host inside the vagrant dev environment
- The only one user user Jim has logged in the system via CLI

**Steps to reproduce**

_Deploy_

[code]

_Query

[2016-02-29 14:16] muralisrini commented on #749
It is expected behavior. The key is this error "Got error (error getting crypto encryptor Invalid invoke nonce.) while decrypting". Peer is unable to decrypt as the OPENCHAIN_SECURITY_PRIVACY is not set.

[2016-02-29 14:53] binhn commented on #737
If we put the downloaded code at a diff loc than where obc is, we should just download it due to the potential cc code difference with the local one. Since we only download the cc, the rest of the dependencies are still local.

[2016-02-29 15:23] jyellick commented on #739
@muralisrini It's possible that this is involved, but there is definitely a bug in the interaction between sieve state transfer and standard pbft state transfer which is visible in the logs for this issue.  There is a race between the two, with a number of options to resolve the race, I'll be discussing with @kchristidis and @corecode more today as the mechanism of how to handle it could have some

[2016-02-29 17:26] alexmnguyen opened #750 "running parallel requests to /chain endpoint crashes peer"
I've been writing a node.js application to analyze the performance of obc-peer. I've run into an issue when running parallel requests. The steps are:

1) Start up peer with the following command:
[code]
2) Run 500 GET requests to the /chain endpoint of the REST API in parallel. This works fine.
3) Deploy contract through the REST API using the /devops/deploy endpoint:
[code]
4) Run 500 requests ag

[2016-02-29 17:38] angrbrd commented on #723
Closing for now as it sounds like this was needed solely to debug a very specific issue. If this comes up again, please reach out to me and I will address. Thanks.

[2016-02-29 17:38] #723 closed

[2016-02-29 17:49] angrbrd commented on #750
Hi, @alexmnguyen. Any stack trace or output that you see on the console during this crash that you could share here? Thanks.

[2016-02-29 17:59] alexmnguyen commented on #750
Hi @angrbrd. Here is the stack trace:
[crashLog.txt](https://github.com/openblockchain/obc-peer/files/151445/crashLog.txt)

If you'd like to see the node.js application itself to see how the requests were created, you can search for the following project in the internal github repository:
[code]

[2016-02-29 18:17] muralisrini commented on #737
@binhn we could do that (option 2). GO will download OBC into the temporary location in addition to the chain code even if we don't use the downloaded OBC. A lot of unused code downloaded....

If we are moving to obc-samples repository and treat current samples in OBC for unit-tests, is there really a  need for allowing current OBC example chaincodes to be deployed ?

Also, note that potential cc

[2016-02-29 18:20] angrbrd commented on #665
The repo has been public for two weeks now. Closing this notice. Thanks.

[2016-02-29 18:20] #665 closed

[2016-02-29 18:43] #652 closed

[2016-02-29 18:46] RicHernandez2 commented on #744
openchain.yaml change verified

[2016-02-29 18:46] #744 closed

[2016-02-29 20:26] jyellick opened #751 "Factor out and implement split `Orderer` and `Executor` services"
The design of `obcpbft` attempts to separate the core pbft functions from the specific implementations, ie `obc-batch`, `obc-classic`, and `obc-sieve`.

However, a greater level of abstraction is required to isolate the ordering from the execution.

## API

This issue proposes a new `Executor` service with the following simple API:

[code]

The `ValidState` call is invoked whenever the `Orderer` b

[2016-02-29 20:36] tuand27613 opened #752 "Error handling and panics"
This started out as an email thread but I'm creating an issue so we can discuss some of the design questions that came up.

[2016-02-29 20:38] samding01 commented on #747
@tuand27613 :

From Doc on 4 peers with security enabled: https://github.com/openblockchain/obc-peer/blob/master/compose-consensus-4.md

1) For each peer defined in `compose-consensus-4.yml`, add or change:

       OPENCHAIN_SECURITY_ENABLED=true
       OPENCHAIN_SECURITY_PRIVACY=true

2) Each user id defined in `obc-ca/obcca.yml` can be login ( `OPENCHAIN_PEER_ADDRESS=vp0:30303 obc-peer <user_id\

[2016-02-29 20:39] tuand27613 commented on #752
comments from @corecode

We could just rename it to "ASSERT()".

It seems we're lacking a user friendly way of aborting if something is wrong (e.g. config file is inconsistent).

On a broader level, the project overall should define what constitutes an error, and how errors need to be handled.  Right now most functions return an error, even though for some of those function no error can ever happe

[2016-02-29 20:41] tuand27613 commented on #752
more from @corecode

what we should do if:
1. there is a configuration error, which prevents us from operating (e.g. number of nodes is negative)
2. there is a programming error (e.g. invalid argument or return value, which should have been prevented by the interfacing code).

Typically I would handle (1) by printing an error and exiting the application, or using a generic function somewhere which

[2016-02-29 20:46] RicHernandez2 opened #753 "Error fetching dependancy while running vagrant up"
Description:

There was an error pulling in some dependencies while running vagrant up, tried to repro this issue 3 times with different setups but could not get a solid repro.

Steps:

1.  Clone latest versions of obc-peer, obc-dev
2.  Run vagrant up

Results:

Logs show vagrant was unable to pull in a dependency and failed

Expected Results:

Failure to pull in a dependency might be caused by ne

[2016-02-29 20:56] #679 closed

[2016-02-29 20:59] samding01 commented on #747
@tuand27613

Hi Tuan,
I do not know your email address, so send you message via this.

I try to setup more peers (8)  by updating all  `yml` files and `openchain.yaml`, `obc-ca/obcca.yaml`.
here is the zip of all the files
[config8.zip](https://github.com/openblockchain/obc-peer/files/151728/config8.zip).

Build two images of `openchain_peer` and `obcca`.  Then

      cd openchain/container/

[2016-02-29 21:17] tuand27613 opened #754 "view-change does not occur when primary validating peer crashes"
Test scenario:
1. start network of 4 validating peers vp0-3
2. Deploy and invoke 5 transactions on vp0 - all good
3. shut down vp0 which is the primary for consensus
4. invoke 5 transactions on vp2 - none are executed

[2016-02-29 21:20] tuand27613 commented on #754
The issue is that a view change is not triggered when one of the backup replicas receives a request.

From a chat with @corecode:
so if the primary fails,  we stop consensus ?

simon [11:29 AM]
no, we need a way to trigger a view change

[11:30]
but in a way that doesn't produce a large DoS surface

[11:30]
by eating all memory

[11:31]
maybe this:

[11:31]
we retain one request

[11:31]
and if th

[2016-02-29 22:43] tuand27613 opened #755 "Starting 8 validating peers with security enabled fails"
@samding01,

https://github.com/openblockchain/obc-peer/issues/747#issuecomment-190387682

creating new issue so we can track.

[2016-02-29 23:01] angrbrd commented on #731
Closed via 02d50f9c7691871253966128031dbe23d77ff34f

[2016-02-29 23:01] #731 closed

[2016-02-29 23:13] tuand27613 commented on #755
looks like the `enrollsecret` values for vp4-7 are not correct. I cut&pasted from obcca.yaml to docker-compose.yml and all the peers come up now.

[2016-02-29 23:39] bcbrock commented on #582
Rather then eliminating the return value from the INVOKE transaction, why not specify a way to return it? I believe that eventually you will need to implement a "blocking" invoke that would be able to return this value. The value could also be returned as part of the event stream.

It seems strange to me that we can ask a chaincode to perform an arbitrary computation, but not to return a result. T

[2016-03-01 04:49] kchristidis opened #756 "Consensus should run with whitelisted VPs when security is enabled"
This is a follow-up to #462.

We currently require that VPs are named as `vp0`, `vp1`, ...`vpX` where `X+1` is the maximum number of validating nodes that we have set in the config file.  [As noted in #462](https://github.com/openblockchain/obc-peer/issues/462#issuecomment-173421403), this approach is flaky and needs to go.

The proper way to do this is: create a whitelist of hashed raw enrollment

[2016-03-01 09:17] vukolic opened #757 "Implement performance profiling"
We need to implement performance profiling to understand (at any point in time) where the performance bottlenecks in openblockchain is.

For example, at the time of opening this issue we are at about 500 tx/s peak throughput - which is way too low - yet it is not easy to tell where the bottleneck is.

Besides being able to identify throughput bottlenecks, we need also latency profiling capabilitie

[2016-03-01 09:28] vukolic opened #758 "consensus"

[2016-03-01 09:33] vukolic opened #759 "consensus"

[2016-03-01 09:34] vukolic opened #760 "consensus"

[2016-03-01 12:00] corecode commented on #757
With transaction batching, I can get to 600 invokes/sec.  My feeling is (given that the profiler does not show any big offenders) that the big speedbump is transaction execution latency to the chaincode and back.

[2016-03-01 12:15] vukolic commented on #754
This may be related to #394. If vp2 just attempts to send those 5 transactions to vp0 (which is dead) - these transactions will not be retransmitted.

[2016-03-01 13:18] muralisrini commented on #757
adding @dongmingh @bmos299... they have started profile work

[2016-03-01 14:15] corecode commented on #757
As suggested by @muralisrini, I tested with a noop chaincode, i.e. `Run()` and `Query()` return immediately (but the shim code is still in place).  I can get up to 2500 invokes/sec on my laptop, and 2200 invokes/sec on zc2.

[2016-03-01 14:18] vukolic commented on #757
@corecode is this the throughput of a single client in closed loop or w. multiple clients saturating the system?

[2016-03-01 14:33] corecode commented on #757
system saturated, closed loop clients.

[2016-03-01 14:35] vukolic commented on #757
Thanks. This number is very low on its own in the first place (although the rest of the system is not there yet).

[2016-03-01 14:42] samding01 commented on #755
@tuand27613 : Thank Tuan.   I took the wrong pw. (from user_test[4-7] )
Now all peers start

[2016-03-01 14:57] tuand27613 commented on #755
Good news !  A small reminder to open issues against a component if behavior and/or error message is confusing  and against the obc-docs documents if they are not clear.

[2016-03-01 14:57] #755 closed

[2016-03-01 16:17] angrbrd commented on #95
I just spoke to @jeffgarratt. He is using all of the REST endpoints in the behave tests at this time. This issue is no longer necessary. As new tests are created, I will be adding the required REST endpoints for that as well, as we presume to use the REST APIs for all behave tests going forward.

[2016-03-01 16:17] #95 closed

[2016-03-01 16:43] exactproskl opened #761 "A nondetermenistic chaincode"
Assume I have some validating peers in my network, and a chaincode which can put a random state into the ledger on init.

[code]
Despite the ctor message, it will put a random value for an "a" from the range [10, 200] into the ledger. In that case each peer will return it's own value:

_Query request 1_

[code]
[code]

_Query request 2_

[code]
[code]

Are there any mechanisms to prevent such situ

[2016-03-01 16:49] ghaskins commented on #761
Consensus algorithms that adhere to an "Execute Verify" pattern should incorporate the output states as part of consensus, so they would catch/reject non-deterministic execution such as above.  (Select SIEVE consensus to see this working).  That said, another byzantine attack surface would be at the query level itself (a VP lies about the value).  To prevent that, a client should be querying multi

[2016-03-01 17:21] #758 closed

[2016-03-01 17:22] #759 closed

[2016-03-01 17:23] #760 closed

[2016-03-01 17:40] ghaskins commented on #761
@kchristidis I suppose an alternative to the "multiple confirmation" solution would be to simply verify the equivalent of the "commit certificate" for the block, rather than the individual values.  You would still need to worry about omission type errors (e.g. a VP not returning the state from the most relevant block but rather some past valid block).  For that, I suppose we still need a "strong r

[2016-03-01 17:45] rameshthoomu commented on #722
Below are the steps added to my .travis.yml file and issue got resolved. Thanks @tuand27613

sudo stop docker
sudo docker daemon -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock &

Please close the defect.

[2016-03-01 17:47] bmos299 opened #762 "Crash When Running with Crypto Debug"
In obc-peer I am running with cyrpto debug enabled.  When I do depoy of sample chaincode 2, I crash around 75% of the time.  I have a file I an send you if needed.
I worked with @muralisrini and had me change the following value:

-------------------------------------
  crypto:    debug
 tcert:
      batch:
        # The size of the batch of TCerts (changed to 1 for recreate)
        size:  1

---

[2016-03-01 19:28] tuand27613 commented on #722
close #722

[2016-03-01 19:28] #722 closed

[2016-03-01 19:39] 2016Nishi opened #763 "Missing log message on obc-peer @INFO level when sending deploy command:"
Steps to reproduce:
-------------------
1. Set logging level in openchain.yaml to

	peer:      info
    crypto:    info
    status:    warning
    stop:      info
    login:     warning
    vm:        warning
    chaincode: info

2. Launch a single obc-peer instance

3. Send deploy as an rest api using 'postman'

4. Log messages on obc-peer:

19:20:26.986 [**rest**] Deploy -> INFO 00a REST deployi

[2016-03-01 22:04] bmos299 opened #764 "Crash When Running Test App"
I am crashing when I try to deploy my chaincode (sample code 2).  I am attaching the chaincode logs and obc-peer log.  I also have security enabled so I am including the openchain.yaml and obcca.yaml.
It looks like chaincode actually gets deployed.  My application receives back a failure on the rest call.  the obc-peer than sits for a few minutes, cuts a message that the chaincode is deployed, and

[2016-03-02 08:36] adecaro commented on #762
@bmos299, please, if you have the complete log file, send it to me. Thanks.

[2016-03-02 08:38] adecaro commented on #692
This has been addressed by PR #705.

[2016-03-02 08:38] #692 closed

[2016-03-02 14:02] 2016Nishi commented on #763
When I had setup docker with 4vms to monitor obcpbft consensus algorithm and @logging level INFO nothing was getting logged on peer console. When I changed log level to DEBUG I was able to trace some of the messages I was looking for. But since there were many log messages to trace what was happening was very cumbersom. Expected enough details to be logged @default info level which did not happen.

[2016-03-02 20:39] bmos299 commented on #762
@adecaro please go to $ sftp root@169.55.4.106 and 'get loop.txt' loop.txt.

I will send you a Slack message as well.

[2016-03-02 20:43] bmos299 commented on #764
I can't run any new test cases without hitting the crash.   I ran my app against the bluemix service and it worked fine, so this points more towards a recent change.

[2016-03-02 20:54] srderson opened #767 "Behave test for shim range query functionality"
Need to add a behave test for the shim range query functionality.

1. Adding an example "map" chaincode
2. Fixing a bug in the behave logic that caused the "invoke" and "query" to fail

[2016-03-02 22:29] bcbrock opened #769 "Confusion about or new specification of module-level logging setup [re: crypto]?"
Recently a `logging.crypto` key was added to openchain.yaml, which is interpreted in the file

    obc-peer/openchain/crypto/crypto_settings.go

"crypto" here is what the logging package refers to as logging *module*. The other `logging.*` keys in openchain.yaml refer to *subcommands* of the `obc-peer` command. Module-level logging control in obc-peer subcommands is already implemented and documen

[2016-03-02 22:33] bcbrock commented on #761
This may be another topic, but is it possible for the fabric to efficiently implement a query with reference to a particular state, whether specified as a block number or transaction ID? This would be probably be very helpful for testing, and perhaps for applications as well.

[2016-03-02 22:43] bcbrock commented on #699
@bmos299 - This issue should be marked as a bug

[2016-03-02 22:59] jyellick commented on #699
This code path is being overhauled via issue #751, that work will hopefully resolve this issue.

[2016-03-02 23:00] bmos299 commented on #699
@bcbrock @jyellick . Thanks Jason.  Added sev2 to the bug as well.

[2016-03-02 23:06] jeffgarratt commented on #764
@bmos299 do the existing behave tests pass?

[2016-03-02 23:17] #767 closed

[2016-03-03 00:34] #671 closed

[2016-03-03 12:49] adecaro commented on #669
@bmos299, is this issue still to be considered opened?

[2016-03-03 12:50] adecaro commented on #762
@bmos299 Thanks, I'm downloading the logs. I will have a look at them asap.

[2016-03-03 16:12] andreaMWork opened #771 "archive/tar: write too long BuildImage_Peer and BuildImage_Obcca"
Hi I a facing an error archive/tar: writing too long when I run :
`go test github.com/openblockchain/obc-peer/openchain/container -run=BuildImage_Peer
go test github.com/openblockchain/obc-peer/openchain/container -run=BuildImage_Obcca`

So I am basically not eblo to create the cotainer and running the test,

thanks
Andrea

Log:
`vagrant@vagrant-ubuntu-trusty-64:/opt/gopath/src/github.com/openbloc

[2016-03-03 16:32] bmos299 commented on #669
Closing.

[2016-03-03 16:32] #669 closed

[2016-03-03 16:35] bcbrock opened #772 "obc-peer should auto-discover the OPENCHAIN_VM_ENDPOINT"
It should not be necessary to specify the OPENCHAIN_VM_ENDPOINT in most test and development systems - the peer should be able to discover/compute this itself unless explicitly overridden. The fact that this setting is currently required complicates development, e.g, the Travis CI procedure described today requires that several files be changed *for testing only* to modify the OPENCHAIN_VM_ENDPOIN

[2016-03-03 16:53] samding01 opened #773 "low throughput of invokes in load test"
An environment of 8 peers is setup and load is tested, the result shows the throughput of  invokes is very low (avg 30 invokes/seconds) , but at the same, system resources (CPU, memory ) are idle.
A snapshot of nmon shows below:
![nmon_8peer_1](https://cloud.githubusercontent.com/assets/12942488/13501445/b2e6b306-e134-11e5-933a-e93b3d94574f.JPG)
 **Note:**  there is much  I/O write load, however,

[2016-03-03 16:59] samding01 commented on #773
3).   login and deploy

    docker exec -it obcpeer_cli_1 bash
    OPENCHAIN_PEER_ADDRESS=vp0:30303 obc-peer login jim    pw=6avZQLwcUe9b
    OPENCHAIN_PEER_ADDRESS=vp0:30303 obc-peer chaincode deploy -u jim -p github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example02 -c '{"Function":"init", "Args": ["a","1000", "b", "2000"]}'

4).  start `jmeter`, open test plan [obc8_sec

[2016-03-03 17:03] samding01 commented on #773
**More Information:** in the above configuration, security enabled, consensus=noops, all `invokes` sent to a single peer.

[2016-03-03 21:04] jeffgarratt opened #776 "Create UTXO chaincode"
Create chaincode implementation for UTXO model.

[2016-03-03 21:05] jeffgarratt opened #777 "UTXO use case flow"

[2016-03-03 21:07] bmos299 commented on #764
The crash occurs with the default openchain.yaml file.  The backtrace is pointing towards rocksdb so I am assigning to Sheehan and including the log.
[rocksdb.txt](https://github.com/openblockchain/obc-peer/files/157694/rocksdb.txt)

[2016-03-03 21:07] bmos299 commented on #764
@srderson please let me know what you need.
Thanks, Barry

[2016-03-03 21:08] jeffgarratt opened #778 "Behave tests for UTXO"

[2016-03-03 21:14] jeffgarratt opened #779 "Probuf design for utxo"

[2016-03-03 21:42] jeffgarratt opened #780 "Load test on range query functionality"

[2016-03-03 21:42] jeffgarratt opened #781 "Shim TABLE design in support of UTXO"

[2016-03-03 22:11] jeffgarratt opened #782 "Touch base on customer use cases wrt UTXO"

[2016-03-03 22:12] samding01 commented on #773
More Info:   In `main.go`, there is  ` runtime.GOMAXPROCS(2)`, I  changed it to `runtime.GOMAXPROCS(8)` on my host ( 8 cpus ), but it does not make difference.

[2016-03-03 22:13] binhn opened #783 "Getting more done in GitHub with ZenHub"
Hola! @binhn has created a [ZenHub](http://www.zenhub.io) account for the **openblockchain** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account

[2016-03-03 22:15] jeffgarratt opened #784 "Enhance JSON validation for Behave steps"

[2016-03-03 22:24] srderson opened #785 "Remove transactions from blocks"
In the DB we need to pull transactions from blocks. The primary reason behind this is performance. Having to read the entire block to fetch a single transaction can be very heavy. As we support a utxo model, reading single transactions from the DB will be more important.

[2016-03-03 22:34] srderson commented on #764
@bmos299 Could you run `go version` in your vagrant image and confirm that you're running 1.6? If so, this may be related to https://github.com/tecbot/gorocksdb/issues/42 and I need to update the gorocksdb package.

[2016-03-03 23:30] binhn commented on #617
@bcbrock Do we still need work on this or can be closed?

[2016-03-03 23:32] bmos299 commented on #764
@srderson sure thing.

[2016-03-03 23:49] srderson commented on #764
@bmos299 I haven't reproduced this issue locally, so could you try PR #786 and see if it resolves this issue?

[2016-03-04 00:00] bcbrock commented on #617
@binhn - This issue is still open. I've been working on other things and have not gotten to it myself.

[2016-03-04 00:14] bmos299 commented on #764
@srderson I will.

[2016-03-04 01:33] zmanian opened #787 "There should be a way of replaying the transactions already in the chain against a chaincode"
Kill the chain code and restart.

Would be it desirable obc-peer should replay all the transactions for that chaincode to the chaincode on restart to resync state?

There ought to be a way to do this.

[2016-03-04 02:31] muralisrini commented on #739
@jyellick : I take that comment back about race condition. The expected race condition was one where the chain code will never recover once the "nil amount " error appeared and would indicate an issue in chain code framework.

I could recreate the "nil amount" when querying in a loop while deploying chain code but it did recover from it once the deploy went thru. The received "nil amount"  (I get

[2016-03-04 03:15] muralisrini opened #788 "inconsistent naming of chaincode transaction types across layers"
In Transaction proto
        deploy is CHAINCODE_NEW
        invoke is CHAINCODE_EXECUTE
        query is CHAINCODE_QUERY

In OpenchainMessage proto
        deploy and invoke are CHAIN_TRANSACTION
        query is CHAIN_QUERY

In Chaincode interface
       deploy and invoke call Run
        // Query is to be used for read-only access to chaincode state
       query calls Query

We need to provide

[2016-03-04 05:07] binhn opened #790 "Abstract chaincode execution to support a pluggable VM"
There are many script interpreters that people like to use so that they may write smart contracts in a particular language or methodology. For example, Bitcoin or Ethereum VM. We want to enable an easy way to plug in these execution environments such that the smart contracts can communicate with OBC

[2016-03-04 05:28] muralisrini commented on #771
@andreaMWork can u try the fix in branch https://github.com/muralisrini/obc-peer/tree/invalid_gopath/issue%23771 please

[2016-03-04 07:43] adecaro commented on #525
PR #745 merged.

[2016-03-04 07:43] #525 closed

[2016-03-04 07:59] adecaro commented on #762
@bmos299, please, may you give me some instructions on hot to replicate the error? Thanks.

[2016-03-04 13:29] bcbrock opened #792 "Values stored in Transaction.uuid are not UUID for chaincode deployments."
The values stored in the Transaction.uuid field for chaincode deployment transactions (type = CHAINCODE_NEW) are not UUID - They are chaincode names (hashes). I don't know if this is a code bug or a documentation/naming issue. I can't find anything in the documentation to suggest that if a user is looking for a chaincode deployment transaction that they should use the chaincode name as the "UUID",

[2016-03-04 14:43] muralisrini commented on #792
@bcbrock : it is a documentation/naming issue. Rather than have to manage a separate mapping of uuid name and ensuing lookups, the name itself serves as a transaction identifier for deploy transactions.

Ideally we should rename Transaction.uuid to something else more generic.

@binhn , another consistent naming issue in the lines of #788.

[2016-03-04 19:11] bmos299 commented on #764
@srderson the crash is still occurring with PR #786 and Go 1.6.

[2016-03-04 19:23] bmos299 commented on #764
...but is much less infrequent.

[2016-03-04 19:34] frankyclu commented on #477
can we add API to query by column value?

[2016-03-04 20:06] srderson commented on #477
Today the API has
`GetRow(tableName string, key []Column) (Row, error)`

and for partial keys
`GetRows(tableName string, key []Column) (<-chan Row, error)`
See comment at https://github.com/openblockchain/obc-peer/blob/master/openchain/chaincode/shim/chaincode.go#L459 for details.

are you asking about querying via non-key column values?

[2016-03-04 20:59] kchristidis commented on #756
@adecaro Can you have a look at the question above and give me your take?

[2016-03-04 21:02] kchristidis commented on #752
@binhn Can we have your take on this one? Specifically @corecode's comments ([one](https://github.com/openblockchain/obc-peer/issues/752#issuecomment-190377184), [two](https://github.com/openblockchain/obc-peer/issues/752#issuecomment-190377674)).

[2016-03-04 22:31] rameshthoomu opened #793 "Travis CI only: raise Exception("Max time exceeded waiting for transactions with current response map = {0}""
**Failing scenarios:**

peer_basic.feature:391  chaincode example02 with 4 peers and 1 obcca, issue #567 -- @1.1 Consensus Options
peer_basic.feature:477  chaincode example02 with 4 peers and 1 obcca, issue #680 (State transfer) -- @1.3 Consensus Options

0 features passed, 1 failed, 0 skipped
20 scenarios passed, 2 failed, 1 skipped
470 steps passed, 2 failed, 36 skipped, 0 undefined
Took 10m5.52

[2016-03-04 22:33] rameshthoomu commented on #793
Updated bug description

[2016-03-04 22:42] binhn commented on #752
For recoverable conditions, obviously we don't want to abort the peer.

For irrecoverable conditions,  we should recycle the peer.  We know some conditions, such as the peer being compromised, we may not want to recycle, but kill it and wait for service. Obviously we need ability to notify someone about this situation.

To recycle, I found this [http://grisha.org/blog/2014/06/03/graceful-restart-i

[2016-03-04 23:01] binhn commented on #756
I would prefer to wait for N rather listing pre-generated certs, which would be harder to handle in configuration

[2016-03-04 23:19] chetmurthy commented on #785
Why?  For UTXO, you have the UTXO as a table -- why would you ever need to look at the blockchain trans?

[2016-03-04 23:26] tuand27613 commented on #793
reading through the log files, I'm seeing things such as
in 477.txt
- line 269 `ERRO[1108] HTTP Error                                    err=no such id: dev-vp0-bb540edfc1ee2ac0f5e2ec6000677f4cd1c6728046d5e32dede7fea11a42f86a6943b76a8f9154f4792032551ed320871ff7b7076047e4184292e01e3421889c statusCode=404`
- line 509 `      Exception: Max time exceeded waiting for transactions with current response

[2016-03-04 23:29] binhn commented on #394
I think the normal operation is for the client to check the tx id; if it doesn't receive the tx id, it should resubmit.

A more expensive approach is to persist the tx at the ingress and make sure the tx processed within a time period; otherwise resubmit. However, this assumes that NVP/VP doesn't fail. Probably MQ cluster app fronting the network would be more ideal.

[2016-03-04 23:58] srderson commented on #764
@bmos299 The PR has been merged to the master branch now. Could you catch up with the master branch, reproduce, and attach the log?

[2016-03-05 00:33] kchristidis commented on #394
Let's use this issue to track the client-to-NVP part of this, we'll write-up a new issue for the "VP/leader-to-block" part.

[2016-03-05 00:43] kchristidis opened #796 "Deal with a byzantine leader that will censor a specific transaction"
The problem: VP1 submits a transaction to the leader but the leader won't add it to a new block. We need to figure out a way to initiate a view-change. (VP1's vote alone cannot bring about a view-change.)

The solution will involve VP1 broadcasting the transaction to the other VPs, and all the VPs keeping timers. But we need to be careful in how we kick off these timers (per-VP, instead of per-req

[2016-03-05 00:45] kchristidis commented on #756
Got it. (@adecaro we're good then, I can work on this without being blocked.)

[2016-03-06 20:15] binhn opened #797 "API to get tcert"
We need API to get tcert so that application may create tx with specific tcert rather than default

[2016-03-07 10:22] vukolic commented on #796
A high level implementation could go like this
1) when a replica becomes aware of a request - for the first time - it broadcasts it to all other replicas (incl. the leader) and triggers a timer (for this particular request)
2) if that timer expires - with out request being committed - replica triggers view change

Per-request timer could be implemented using a sort of an ordered hashmap ordered by

[2016-03-07 16:22] rameshthoomu commented on #772
Fixed this issue: Now, i am updating `Docker01 interface ip address` and `port number` dynamically in `compose-defaults.yml` file in bddtests folder.

`sed -i -e 's/172.17.0.1:4243\b/'"$ip:$port"'/g' $HOME/gopath/src/github.com/openblockchain/obc-peer/openchain/peer/bddtests/compose-defaults.yml`

[2016-03-07 18:03] rameshthoomu commented on #739
Observed the same error while executing behave scripts `inside vagrant` or `outside of vagrant` environments.

[2016-03-07 18:43] bcbrock commented on #772
Thanks Ramesh - Looking forward to trying CI once these changes are all committed.

[2016-03-07 18:55] rennman commented on #797
@angrbrd I will be your tester for this sprint.  Please ping me to talk about it.  Thanks, Allen

[2016-03-07 20:29] bmos299 commented on #784
@rameshthoomu can you please work with @jeffgarratt as needed on this one.

[2016-03-07 20:36] bmos299 commented on #778
@rameshthoomu please talk to @jeffgarratt on this one.  Thanks, Barry

[2016-03-07 20:39] bmos299 commented on #756
@RicHernandez2 can you talk to @kchristidis about this Issue.

[2016-03-07 20:49] bmos299 commented on #477
@srderson I'll work on this one with you.  Please let me know when you have some time.

[2016-03-07 20:50] bmos299 commented on #421
@muralisrini I'll work you on this one.

[2016-03-07 20:54] gongsu832 opened #798 "obcpbft breaks under stress"
Hi, I was doing some performance tests with obcpbft enabled. I have 4 peers, vp0-vp3, running on 4 z/VM zLinux guests. Security is disabled. I used jmeter to do the tests. The elements of the jmeter thread group are:

- deploy (only once)
- invoke
- query

The deployed the chaincode is chaincode_example02 used in the github docs with the following REST call:

[code]
The invoke REST call is:

[code

[2016-03-07 21:01] bmos299 commented on #752
@movee2016 please see @kchristidis on this issue.

[2016-03-07 21:02] bmos299 commented on #790
@binh please let me know when you need testing assistance on this issue.

[2016-03-07 21:03] bmos299 commented on #785
@2016Nishi please see @srderson for this issue.

[2016-03-07 21:43] tuand27613 commented on #798
This looks to be the same as #680 ?

Which commit are you running ?

[2016-03-07 21:47] gongsu832 commented on #798
Commit tag d0dd6cc1393c224f3c87f31c52aff232a03027ea on Feb. 18.

[2016-03-07 22:11] jyellick commented on #798
@gongsu832 Yes, the bug you are seeing was fixed a few commits after the level you are running at.  Please see the discussion of issue #680 which @tuand27613 referenced and attempt with a commit beyond the merge request which fixed that issue.

[2016-03-07 22:33] gongsu832 commented on #798
OK I'll try to rebase my fork to include that fix. Thanks!

[2016-03-08 04:54] genggjh opened #800 "Add network command to show the connected peers"
This is one of CLI related enhancement, add new command: obc-peer network, to show all existing network connections for the target peer node.

[2016-03-08 15:03] samding01 opened #802 "Log level does not follow the defination in openchain.yaml"
The latest master code (commit ee4056e5f799527fefc285e9e70d54ee7c543d71) does not follow log level definition in `openchain.yaml`.

Here is part of definition of the `openchain.yaml`:

    peer:      error
    crypto:    error
    status:    warning
    stop:      warning
    login:     error
    vm:        warning
    chaincode: warning

However, after starting 4 peers with security enabled, cons

[2016-03-08 16:25] 2016Nishi commented on #802
Found similar issue when testing for consensus on 4 peers.
Is this a duplicate of #763?

[2016-03-08 16:25] tuand27613 commented on #752
will wait until @jyellick gets his arms around #751.

[2016-03-08 17:11] samding01 opened #803 "The account values ("a" or "b") are no changed after some number of invokes are processed"
I setup a 8 peers with security enabled and consensus=obcpbft (mode=batch) on LoZ platform.
Here is the configuration files
[peer8_secerity_consensus_config.zip](https://github.com/openblockchain/obc-peer/files/163564/peer8_secerity_consensus_config.zip)

After processing some `invoke` requests, the value of accounts (`a` or `b`) is not changed even
no error from  processing `invokes`. This  is fo

[2016-03-08 20:26] gongsu832 commented on #798
I rebased to commit tag 3c5fbcdf8a288b7d5ed5aa0dae5d570472169e73 and did some tests. It appears to have fixed the problem. But I'm seeing another strange behavior which I don't know whether it's expected or not. Basically, after deploying the chaincode, I send in 10K invoke requests. I can see that on the primary validator, it prints out a lot of

[code]

And on the replicating validators, they ar

[2016-03-08 20:42] srderson commented on #785
Decided not to implement this for S1. The plan is that blocks/transactions will eventually be sent to a data warehouse (via the EventHub mechanism) at which point they will be queryable

[2016-03-08 20:42] #785 closed

[2016-03-08 20:44] jyellick commented on #798
It looks like this might be related to #699, if it is convenient for you to post the full logs, I could take a closer look to try to confirm.

[2016-03-08 21:05] gongsu832 commented on #798
@jyellick here are the logs for the all the validators. I did 3 batches of 10K invoke requests. In the vp0 log, the first started at 14:53:41.545, the second started at 14:55:59.957, and the third started at 15:24:40.573. You can see that only the first batch prints out "Replica X executing/committing request ...".
[obc-peer.log.zip](https://github.com/openblockchain/obc-peer/files/163952/obc-peer

[2016-03-08 21:12] bcbrock commented on #771
I just had the same problem and traced it down to the fact (I'm 99% sure) that I had an open file (a log file) in the chaincode directory. It makes sense that `tar` might have problem in this case, although the error message could be better.

[2016-03-08 21:19] muralisrini commented on #771
@bcbrock : yes, that'd also do it ... but the log from @andreaMWork did not appear to point to a changing file.

[2016-03-08 21:20] tuand27613 commented on #798
@jyellick , #803 sounds similar ?

[2016-03-09 03:05] joequant opened #807 "Would very much like to get javascript working"
We have some smart contracts that are written in javascript and would very much like to help with the coding of getting nodejs chaincode working.  What do we need to do?

[2016-03-09 04:34] slsd123 opened #808 "Creating a Docker network with security enabled"
I cannot set up a network on my machine using Docker containers with security enabled. I get the following error:

`$ docker run --rm -it -e OPENCHAIN_VM_ENDPOINT=http://172.17.0.1:4243 -e OPENCHAIN_PEER_ID=vp1 -e OPENCHAIN_PEER_ADDRESSAUTODETECT=true openchain-peer obc-peer peer
04:26:33.268 [crypto] main -> INFO 001 Log level recognized 'info', set to INFO
04:26:33.271 [main] serve -> INFO 002 S

[2016-03-09 04:52] genggjh commented on #808
Add "--log-level=debug" behind the "obc-peer peer" when you run the docker container, and past the more detail debug log into here. May help us to investigate.

[2016-03-09 04:54] #202 closed

[2016-03-09 09:33] esgott opened #809 ""Container not in READY state" message not clear"
I'm trying to write a simple chaincode, which can make a call to the outside world through _grpc_. I attach the chaincode itself.
[tx.go.zip](https://github.com/openblockchain/obc-peer/files/164834/tx.go.zip)

I started with understanding the examples provided in _openchain/example/chaincode_.
I started up obc-peer with

` $ ./obc-peer peer --peer-chaincodedev`

then after compiling my chaincode,

[2016-03-09 11:29] corecode commented on #798
## Preliminary analysis

- vp3 seems to be processing a bit slow and starts rejecting prepare messages starting from 2061, because its low-mark is still at 2040; last exec 2047.  Soon after, vp3 discovers a stable checkpoint for 2070, but never manages to catch up with the other nodes.  I don't know what it means by

[code]

  Eventually, state transfer complains about
[code]
  All the time while

[2016-03-09 11:31] corecode commented on #798
@gongsu832 can you please always update to latest master?  I see that the commit you retried is 20 days old, and many bugfixes have landed since then.

[2016-03-09 12:32] corecode commented on #796
The whole crux is doing this with O(1) memory use.  We did have a mechanism in place previously, but I disabled it in favor of not running out of memory.

[2016-03-09 12:36] corecode commented on #796
How about this: every consenter can only challenge the primary with one single request.

However, a byzantine primary then may only process this one challenged request.  This means that we should have another mechanism to change the primary when consensus throughput is slow.

@vukolic could you point us to academic literature that deals with these kinds of fairness?

[2016-03-09 14:54] vukolic commented on #796
@corecode " changing the primary when consensus throughput is low" is another issue which is not the same as fairness. Namely having "every consenter challenge the primary with one single request" does not solve the fairness issue. Some pointers for addressing "performance attacks" are at the end of this post.

As for fairness, it is typically done in the way I described above, yet only in case a

[2016-03-09 14:54] srderson commented on #809
Try `./obc-peer chaincode deploy -n mycc -c '{"Function":"init", "Args": []}'` and see if that gives different results. I just tried this with your chaincode and it printed `hash: 1`

[2016-03-09 15:02] muralisrini commented on #809
The key is this message in peer :
[chaincode] LaunchChaincode -> DEBU 091 Container not in READY state(established)...send init/ready

"deploy" has to be called in order to initialize the chainode. So @srderson suggestion is necessary

[2016-03-09 15:06] binhn commented on #788
related #373
I would propose the following changes:
[code]

The `OpenchainMessage` and chaincode interface should follow these enumeration.

Thoughts?

[2016-03-09 15:17] esgott commented on #809
Thanks for your help, it works now.

[2016-03-09 15:27] corecode commented on #796
Let's define "client" as submitting peer; this bounds the number of clients to the size of the consensus network.  I think this is a reasonable assumption for now.

You mention that one solution would be "the client complains"; this is an active retry; this is what i meant by challenging the leader.

How would such a solution work in practice?  An honest complaining client will inform all replicas

[2016-03-09 15:39] srderson commented on #809
Great.

@muralisrini Should that message be an ERROR or WARNING so it's more clear that there's a problem?

[2016-03-09 15:40] vukolic commented on #796
It may go as I mentioned above: when a replica becomes aware of a request - for the first time - it broadcasts it to all other replicas (incl. the leader) and triggers a timer (for this particular request)

this is in case a client sends the request (complaint) only to a single replica.

We could also offload to a client to send the complaint to *all* replicas, and, in this case, the job of a repl

[2016-03-09 16:29] corecode commented on #796
The issue I see is that for a replica to believe that a request is a challenge request, it needs to send that request to the primary itself.  This means that a byzantine replica can get a 1:N amplification by sending requests that are marked as "complaint".

To limit this impact, we could only allow a small number outstanding complaints per complaining replica, or a rate limit.

[2016-03-09 16:50] muralisrini commented on #809
@srderson : I was thinking the exact same thing :+1:  I think there are many other places where this needs to be done in the code path such as the one reported in #653. I have fixed a few of those but worth taking another look. Will link this to that issue.

[2016-03-09 16:54] muralisrini commented on #809
@esgott : mind if we change the title to indicate log fix ? Let me know if you'd like me to do that. Thanks!

[2016-03-09 16:54] slsd123 commented on #808
Here is the debug detail:

`$ docker run --rm -it -e OPENCHAIN_VM_ENDPOINT=http://172.17.0.1:4243 -e OPENCHAIN_PEER_ID=vp1 -e OPENCHAIN_PEER_ADDRESSAUTODETECT=true openchain-peer obc-peer peer --logging-level=debug
16:53:40.374 [crypto] main -> INFO 001 Log level recognized 'info', set to INFO
16:53:40.374 [logging] LoggingInit -> DEBU 002 Setting default logging level to DEBUG for command 'peer'

[2016-03-09 17:55] gongsu832 opened #810 "Query chaincode timeout when security is enabled"
Start a single validator with the following settings:

[code]

Through REST API, the following calls are made: register, deploy, and query.

register:
[code]
deploy:
[code]
query:
[code]
The query fails with an error in the log:

`11:30:32.346 [rest] ServerOpenchainREST -> ERRO 046 {"Error": "Querying Chaincode -- Error:Failed to execute transaction or query(Timeout expired while executing transac

[2016-03-09 18:42] muralisrini commented on #807
@joequant : at a high level you'll have to do the following
  1. convert the shim to javascript. This is code under obc-peer/openchain/chaincode/shim. It entails two main parts : (a) generating gRPC for javascript and (b) converting code to javascript
  2. adding a switch for javascript  to the deploy code path (currently supports "golang")

1. is core and by far the  more complicated of the two t

[2016-03-09 21:49] binhn commented on #807
@mastersingh24 you're looking into this at one point

[2016-03-09 23:23] dongmingh opened #811 "performance degradation"
Commit level 42c6fe9ff5bceb4258eb9754fa33fef5f668ecd2 can only perform 25 invokes per second with security and privacy enabled and both peer and crypto set to error.  The test is performed with SoapUI with 100 threads.

After trace back, found that commit e3c27dcf853863bda1f962addf65e6db43232521 performs 152 Invokes per second but commit 329127cf14f2ce7637308e3c7693b5190abd8111 can only perform 25

[2016-03-09 23:45] muralisrini commented on #811
@adecaro : after bracketing, issues seems to be with commit 329127c

[2016-03-10 05:29] kchristidis commented on #752
@tuand27613: Can you provide a few details on the plan of attack for this one?

Based on a short conversation with @jyellick earlier today, his work will practically move these panics elsewhere but won't really deal with the problem described here. (Jason, let me know if I'm misunderstanding things.)

[2016-03-10 08:03] adecaro commented on #811
@dongmingh @muralisrini I have just submitted a PR to address this issue. Please, let me know if it fixes the problem. Thanks :)

[2016-03-10 08:06] adecaro commented on #810
Hi @gongsu832, I think you are using an old version of obc. May you use the latest version of the master? Thanks.

[2016-03-10 12:37] corecode commented on #796
After thinking about it, I realize that there is no amplification attack.

[2016-03-10 12:39] corecode commented on #796
We need to conceptually separate client, replica that was complained to, and the rest of the system.  This applies to all 3 obcpbft consensus protocols, so we probably need a common clientcomplaint service that we can use, and a corresponding replica service that receives complains and reacts accordingly.

[2016-03-10 13:20] gongsu832 commented on #810
@adecaro I'm not using the latest version. Because last time I tried, there are some failed behave tests. So it's OK to ignore some failed behave tests? Thanks.

[2016-03-10 13:51] tuand27613 commented on #810
@gongsu832 ,  there's one behave test that will by fixed by #751. Ignore the fail on the "(State transfer)" for now.

[2016-03-10 14:41] gongsu832 commented on #810
@tuand27613 OK thanks.

[2016-03-10 16:55] esgott commented on #809
You can rename it to whatever is convenient for you.

[2016-03-10 18:20] dongmingh commented on #811
With the commit from @adecaro ,
commit 085dcb505674780746bd65df05dafa878d77bc41
Author: Angelo De Caro <adc@zurich.ibm.com>
Date:   Thu Mar 10 17:15:54 2016 +0100

    removed unused imports

With Tcert=200, threads=100, 5 min run, the throughput are as follow:
peer and crypto set to error, security and privacy enabled, tps=121 and 151 for invoke and query resp.
peer and crypto set to error, secur

[2016-03-10 19:15] gongsu832 commented on #810
@tuand27613 I just rebased to latest commit. My behave test results are the following:

[code]

Does this look OK? Thanks.

[2016-03-10 20:47] bmos299 commented on #762
@adecaro I am here with @dongmingh and we did not reproduce.   I am confident the crash was a dup of https://github.com/openblockchain/obc-peer/issues/764.  Closing.

[2016-03-10 20:47] #762 closed

[2016-03-10 21:05] gongsu832 commented on #810
@tuand27613 Thanks Tuan. I will create a separate issue and upload the behave test log.

[2016-03-10 21:20] tuand27613 opened #814 "Behave test "chaincode shim table API, issue 477" failing"
with this error :
[code]

I'm running commit [42c6fe9](https://github.com/openblockchain/obc-peer/commit/42c6fe9ff5bceb4258eb9754fa33fef5f668ecd2)

behave log [behave.txt](https://github.com/openblockchain/obc-peer/files/168015/behave.txt)
docker container log
[bddtests_vp0_1_chaincode_shim_table_API,_issue_477.txt](https://github.com/openblockchain/obc-peer/files/168017/bddtests_vp0_1_chaincode_s

[2016-03-10 21:44] binhn commented on #788
The `OpenchainMessage` should abstract the message (eg Transaction) such that handler may look at the payload to further discriminate.
[code]
This means we need to change consensus framework event handler.

The chaincode interface should define functions according to the transaction types, including:
* Create
* Invoke
* Query
* Upgrade

[2016-03-10 22:46] slsd123 commented on #808
I've been trying to follow the devnet-setup.md file and that's where I ran into my issue. I have tried changing the pki.eca/tca/tlsca paddr in my openchain.yaml to obcca:50051 as well and I get the same error. How can I find out what the ip address of my obc-ca docker container?

[2016-03-10 23:14] tuand27613 commented on #752
So, a loose categorizations of the panics in consensus code :
1.unable to read configuration values : if the configuration calls don't work, we have no choice but to stop. If a specific configuration value cannot be read or is wrong, we can use the default ( maybe the timeout values ) or stop ( e.g. mode is not a valid pbft mode )
2. An input argument is wrong : we do not process and return with e

[2016-03-10 23:18] RicHernandez2 opened #815 "Consensus won't accept log parameter if it's in caps"
Description:  Setting the openchain.yaml file's consensus validator to OBCPBFT results in the OBC-PEER peer using noops.

Steps:

1.  Set the consensus validator to all uppercase OBCPBFT in your openchain.yaml file
2.  Set your peer logging to debug
3.  Start your docker container based on this openchain.yaml file

Results:

The main debug message correctly says it's installing OBCPBFT plugin for

[2016-03-10 23:34] tuand27613 commented on #808
from the command line `docker ps` to list the container IDs, then `docker inspect <containerid>` to get its ip address.

Alternatively,  look at [compose-consensus-4.md](https://github.com/openblockchain/obc-peer/blob/master/compose-consensus-4.md) or the docker-compose files in [openchain/peer/bddtests](https://github.com/openblockchain/obc-peer/tree/master/openchain/peer/bddtests) for examples o

[2016-03-11 14:50] binhn commented on #793
@tuand27613 do you know where "no such id" come from?  I searched the code and got no hits. Does that mean somehow it failed to launch a peer at dev-vp0?

This problem doesn't occur when running behave on local machine.

[2016-03-11 15:00] muralisrini commented on #811
that's closer to the original numbers. @adecaro : do you know what's causing the delta degradation (given that @dongmingh is able to reproduce the original values with the previous level of code) ?

[2016-03-11 15:07] tuand27613 commented on #793
I think that message is coming from some interaction between travis/docker and that it's unrelated to what's going on in the behave test.

I've talked with @rameshthoomu about figuring out a way to not have those in the log

[2016-03-11 15:20] dongmingh commented on #811
With peer and crypto set to error and security and privacy enabled, tps = 147/236 (invoke/query) about two weeks ago, see #684

[2016-03-11 15:29] rameshthoomu commented on #793
I am working on the options to restrict INFO and ERRO log messages in Travis Log file. I observed below mentioned scenarios always fails with below error log. I could see any one scenario fails for each build from State Transfer functionality.

[code]
Scenarios failing are:
Scenario Outline:
chaincode example02 with 4 peers and 1 obcca, issue #680 (State transfer) --@1.1 Consensus Options
peer_bas

[2016-03-11 15:51] RicHernandez2 opened #817 "Consensus panic when 4th validating peer comes up."
Description:  4th VP of a set of 4 VPs crashes with a panic error message when they are brought up in a staggered manner, per the instruction documents.

Steps to Repro:

1.  Set peer log level to debug
2.  Bring up a set of 4 VPs per the devnet_setup.md
3.  View logs on 4th VP

Results:

obc-peer crashes with a panic message

Expected results:

All VPs should be able to come up and speak to each

[2016-03-11 16:15] tuand27613 commented on #793
The state transfer error will be fixed by #751 which is in sprint1.

We really should comment out that test until the fix is merged in.  I'll try to get to that today. Or you can edit the .feature file yourself ;)

[2016-03-11 16:21] tuand27613 commented on #817
what's the peer id for the 4th VP ?  OPENCHAIN_PEER_ID=VP4 or VP3 ?

[2016-03-11 17:37] RicHernandez2 commented on #817
docker run --rm -it -e OPENCHAIN_VM_ENDPOINT=http://172.17.0.1:4243 -e OPENCHAIN_PEER_ID=vp4 -e OPENCHAIN_PEER_ADDRESSAUTODETECT=true -e OPENCHAIN_PEER_DISCOVERY_ROOTNODE=172.17.0.4:30303 openchain-peer obc-peer peer

This is how I called it, I should have named it vp3, but I named it vp4, but if they're going to come up out of sequence would this not expose the same bug?

[2016-03-11 18:06] tuand27613 commented on #817
The VPs can start up out of sequence but the peer IDs have to be in order 0,1,2,...n with no gaps.

It's a bit of a pain right now but we're working on how to get the consensus peers to recognize each other, e.g. #756 or some other mechanisms

[2016-03-11 19:07] RicHernandez2 opened #819 "Error message in debug level logging"
Description:

There is an error message being written to the debug log, I checked with Tuan about it, he says it's been polluting the logs for some time and everything works fine despite it.

Steps to repro:

1.  Setup a group of 4 Validating Peers as per the dev env setup docs
2.  No security, no privacy
3.  Name your peers v0-v3
4.  Use obcpbft as your consensus

Results:

Two of the four VPs wi

[2016-03-11 19:26] szerge opened #820 "Certificate Revocation List"
Great work, yet I was surprised to read that you planned to use Certificate Revocation List, while other technologies, fully in line with distributed ledger technologies like https://guardtime.com/blt-technology are available and offer  "Simplified revocation management : In BLT, signing key status is checked at the signature issuance, and then the signature is sealed using KSI. There’s no need to

[2016-03-11 19:32] tuand27613 commented on #820
@binhn @elli @adecaro

[2016-03-11 19:52] ghaskins commented on #820
While I am not familiar with the BLT technology cited above, I do echo a similar concern with the choice of CRLs if there are still talks of using them in OBC.  CRLs and CAs, IMO, are actually a poor choice in the permissioned ledger space.  CAs are designed to be an extrinsic, one step removed identity provider, and CRLs are a blacklisting mechanism.  The problem with blacklists (distribution, om

[2016-03-11 22:42] gongsu832 opened #821 "Small study on behave test failures"
I'm using commit tag 42c6fe9ff5bceb4258eb9754fa33fef5f668ecd2 of Mar. 8.

On my Linux s390x system there are some failures in behave tests. I noticed that my system only has 2 CPUs and 4GB memory. So I tried another system that has 2 CPUs and 16GB memory and I still got some failures (some the same, some are different). I also noticed that the two systems were using different docker storage driver

[2016-03-11 22:49] #797 closed

[2016-03-11 23:01] 2016Nishi opened #823 "With Security Enabled Get 'chain/blocks' rest call fails with {Error": "proto: protos.ChaincodeDeploymentSpec:...}"
Rest call to fetch blocks failed during testing, it was observed that error messages were inconsistent across different runs.

Ran obc-peer with security enabled.

Scenarios that failed to fetch block info successfully:

1. Tested successfully Register/Deploy/Invoke/Query (many) Operations on chaincode example02.

Errors:
1. After running step1 and then issuing
     Sent a rest call to http://127.

[2016-03-12 13:58] corecode commented on #815
Consensus handler should complain about unknown (uppercase) consensus plugin.

[2016-03-12 14:07] corecode commented on #809
@esgott Communicating with the outside world is forbidden in a chaincode.  Just because your chaincode was invoked does not guarantee that the changes will actually wind up in a block.

[2016-03-12 18:44] gongsu832 commented on #821
Updating to commit tag 3ef73d319b01fe84c0c88973350a240fc490d82e of Mar. 11.

Behave tests on Debian 8:

[code]
Behave tests on RHEL 7.2:
[code]
Behave tests on SLES 12.1:
[code]
All machines have 4 CPUs and 16GB memory. Logs attached.
[behave_logs.zip](https://github.com/openblockchain/obc-peer/files/170541/behave_logs.zip)

[2016-03-13 02:38] rameshbabu79 commented on #793
@tuand27613 made changes in *.behaverc* file ```tags=-wip ``` and now skipping ``` Scenario Outline: chaincode example02 with 4 peers and 1 obcca, issue #680 (State transfer) ``` from behave test execution. Below are the Pull Request details. Thanks

Commit#  3ef73d3
Pull Request#  Skipping WIP tags #822

[2016-03-13 17:52] gongsu832 commented on #821
OK I was stupid with RHEL 7.2. The reason is failed so many tests is because it had firewalld enabled by default. I had disabled it before but forgot to disable it after changing memory config and reboot. After disabling the firewall:

[code]

[behave-RHEL-4CP-16GB-devmp.log.txt](https://github.com/openblockchain/obc-peer/files/171138/behave-RHEL-4CP-16GB-devmp.log.txt)

[2016-03-14 11:47] linwumeng opened #824 "Got error message "cannot find package google/protobuf""
I'm new to Goland and OBC. I'd like to run obc-peer locally, but I always get the error message "cannot find package google/protobuf" when I run "go build" under /openchain/src/github.com/openblockchain/obc-peer. Could anyone help me?  Thank you a lot!

[2016-03-14 13:18] beaufort2015 opened #825 "Privacy enabled causes payload string for example_02 to exceed 10Megabytes"
Using the codebase as of Friday March 11, 2016...

I have modified docker-compose-4-consensus-sieve.yml to enable 'privacy' by adding this statement to the environment clause for vp0-3

  - OPENCHAIN_SECURITY_PRIVACY=true

And when I run the following behave script.

#@chaincodeImagesUpToDate
Feature: lanching 4 peers
    As an openchain developer
    I want to be able to launch a bunch of  peers

[2016-03-14 13:20] adecaro commented on #825
@beaufort2015, do you have logs?

[2016-03-14 13:35] adecaro commented on #811
@muralisrini, the degradation, at this point, is clearly related to the fact that we are now using asymmetric encryption which is slower then symmetric encryption.

[2016-03-14 14:18] muralisrini commented on #811
thanks, @adecaro

[2016-03-14 15:09] gongsu832 commented on #811
I'm on commit tag 3ef73d319b01fe84c0c88973350a240fc490d82e and seeing similar results. One node, after deploying chaincode_example02, with security and privacy disabled, invoke/query throughput is 173/198 per second. With security and privacy enabled, invoke/query throughput is 2.5/2.2 per second. This is on Linux s390x with 4 CPUs and 16GB memory, SLES 12.1.

One thing needs to be fixed is that w

[2016-03-14 15:12] adecaro commented on #811
@gongsu832, thanks for the feedback. PR #813 addresses also that.

[2016-03-14 16:51] gongsu832 commented on #798
Trying to repeat the tests after updating to commit tag ...

First thing to report is that I'm seeing the same error messages flooding vp1-vp3 reported in [#819](https://github.com/openblockchain/obc-peer/issues/819).

The good news is that the invoke test no longer breaks obcpbft. Each batch of 10000 invokes results in action on all validators. The only thing I noticed is that occasionally you se

[2016-03-14 16:52] gongsu832 commented on #798
Sorry meant to say commit tag 3ef73d319b01fe84c0c88973350a240fc490d82e above.

[2016-03-14 20:48] rameshthoomu opened #826 "Illegal expresssion Error while running "obc-peer" service on pulled image from docker hub"
Pushed an image to docker hub after perform 'go build' and 'go test' commands from vagrant environment.

After successfully pulled the image from docker hub using `docker pull repository-name`, user trying to execute `./obc-peer peer` command in vagrant box but he keeps on getting an error message saying **Illegal expression**

[2016-03-14 20:57] tuand27613 commented on #579
After discussion with @srderson and @jyellick
- in upcoming architecture proposals, state hash and TransactionResult might no longer be used, so item 2 and others might no longer apply
- consensus code is being refactored via #751

Given that, we're closing this issue. We will revisit once the team has worked through proposed architecture changes.

[2016-03-14 20:57] #579 closed

[2016-03-14 21:17] bmos299 opened #827 "Empty Results When Issuing the REST call for GET /network/peers"
From the spec I see:

6.2.1.4 Network API

Use the Network API to retrieve information about the network of peer nodes comprising the blockchain fabric.

The /network/peers endpoint returns a list of all existing network connections for the target peer node. The list includes both validating and non-validating peers. The list of peers is returned as type PeersMessage, containing an array of PeerEn

[2016-03-14 21:56] 2016Nishi opened #828 "Could not add a user back to security after calling DELETE Rest API."
Steps to Reproduce:
------------------------
1. Register a user using:

POST: http://127.0.0.1:3000/registrar
{
"enrollId":"jim",
"enrollSecret":"6avZQLwcUe9b"
}

2. Then GetUserRegistration:
http://127.0.0.1:3000/registrar/jim
{"OK": "User jim is already logged in."}

3. Delete UserRegistration
http://127.0.0.1:3000/registrar/jim
{"OK": "Deleted login token and directory for user jim."}

4. ReReg

[2016-03-15 04:01] ckeyer commented on #824
cp -a vendor/google $GOPATH/src/google

[2016-03-15 04:48] kchristidis commented on #756
Consider the scenario where a VP disconnects and reconnects, i.e. it has a whitelist installed already.

This VP will:
1. Attempt to connect to the peers in the whitelist, and reject any connections from validators not in that list.
2. It'll wait until f+1 such connections are formed before it starts consensus.

Sounds right? @corecode @jyellick @tuand27613

[2016-03-15 04:49] kchristidis opened #830 "Manage VP whitelist via system chaincode"
(This will be the follow-up to #756.)

Once you have the whitelist structure populated (see #756), you'll need to persist it so that a node that crashes and restarts knows which VPs to connect to.

I was originally thinking of a simple `save_whitelist()`, `load_whitelist()` pair of calls in the DB, but @srderson suggests that doing this via a chaincode may be the best way to go He is right in that

[2016-03-15 05:12] joequant commented on #807
OK.  I'll take a look

The reason that I'm interested is that I have "smart contracts" that I'd like to have work in openblockchain

https://github.com/joequant/bitquant/tree/master/smart-contracts

[2016-03-15 08:19] corecode commented on #830
I think this is a task for system management chaincode, which we don't
have yet.  Until system management chaincode is available as API, I
suggest using duct tape.

On 03/15/2016 05:49 AM, Kostas Christidis wrote:

[2016-03-15 11:55] jvsteiner commented on #820
Hi, Jamie Steiner from Guardtime here.  Indeed, BLT is designed to solve this exact problem.  BLT signatures are server assisted.  During this process, the public key is verified to be valid/not revoked, and the signature is only created if the key is valid.  The signature is linked to the KSI blockchain, proving the time of signing.  Since it is impossible to make a signature with a revoked key,

[2016-03-15 12:09] beaufort2015 commented on #825
I will re-create Wednesday, have been on the road.... what I have at  hand is the log of the process that prints out the blocks as they are seen on the event listener interface.  And other than very large, it is not interesting to look at..

[2016-03-15 13:06] tuand27613 commented on #756
Should that vp wait until 2f connections ?

[2016-03-15 13:44] kchristidis commented on #756
@tuand27613 That's right. 2f, so that you can have 2f+1 PREPARE messages, etc.

[2016-03-15 14:17] tuand27613 commented on #815
PR #829

[2016-03-15 14:17] #815 closed

[2016-03-15 15:16] bmos299 commented on #780
@jeffgarratt and @srderson I slacked you both some performance information.  Ping me and we can chat.

[2016-03-15 18:27] bmos299 commented on #780
@dongmingh we discussed the results and I sent you the bare bones chaincode.  Please let us know your thoughts.  Thanks, Barry

[2016-03-15 19:54] #6 closed

[2016-03-15 19:55] #33 closed

[2016-03-15 19:56] #36 closed

[2016-03-15 19:56] #79 closed

[2016-03-15 19:57] #120 closed

[2016-03-15 19:58] #157 closed

[2016-03-15 19:59] binhn commented on #161
done

[2016-03-15 19:59] #161 closed

[2016-03-15 20:01] binhn commented on #174
some of these may live on the genesis block

[2016-03-15 20:01] #174 closed

[2016-03-15 20:03] #188 closed

[2016-03-15 20:04] #198 closed

[2016-03-15 20:05] binhn commented on #217
it seems safe to close

[2016-03-15 20:05] #217 closed

[2016-03-15 20:06] binhn commented on #225
security item

[2016-03-15 20:06] #225 closed

[2016-03-15 20:07] #245 closed

[2016-03-15 20:12] #246 closed

[2016-03-15 20:13] #281 closed

[2016-03-15 20:14] #284 closed

[2016-03-15 20:14] #293 closed

[2016-03-15 20:14] #295 closed

[2016-03-15 20:15] #301 closed

[2016-03-15 20:16] #330 closed

[2016-03-15 20:18] binhn commented on #333
done by deployment

[2016-03-15 20:18] #333 closed

[2016-03-15 20:19] #353 closed

[2016-03-15 20:20] #355 closed

[2016-03-15 20:20] #359 closed

[2016-03-15 20:20] #365 closed

[2016-03-15 20:20] #354 closed

[2016-03-15 20:22] #366 closed

[2016-03-15 21:54] #372 closed

[2016-03-15 22:25] RicHernandez2 opened #831 "Error message when building peer image with default openchain.yaml settings"
Description:  The default openchain.yaml settings generates a logging error when building the image via commandline:  go test -run BuildImage_Peer

Results:
![chainchainchain](https://cloud.githubusercontent.com/assets/17052305/13796042/d2e6db0e-eada-11e5-9740-58546561a57e.jpg)

Expected results:

The openchain.yaml should contain all fields necessary to ensure an error free setup.

Additional inf

[2016-03-16 02:16] znewsham opened #832 ""Failed to launch chaincode spec" when a peer connects after chaincode has been deploye"
Unsure if this is a "feature" or a bug. When I connect a new peer to the network, none of the existing blocks on the network are transferred to the new peer. This issue is particularly clear when a deploy is missed, but it leads to invalid data whenever an invoke is missed too.

Is there an additional undocumented step in order to keep peers synchronized/re-synchronize when they come back online?

[2016-03-16 12:02] beaufort2015 commented on #825
OK..   I have 3 very large files for documentation.

vagrant@vagrant-ubuntu-trusty-64:/openchain/privacy-test-doc$ ll
total 81128
drwxr-xr-x 1 vagrant vagrant      238 Mar 16 11:48 ./
drwxr-xr-x 1 vagrant vagrant      816 Mar 16 11:29 ../
-rw-r--r-- 1 vagrant vagrant 10508590 Mar 16 11:48 agent-log.txt
-rw-r--r-- 1 vagrant vagrant    22207 Mar 16 11:31 behave-log.txt
-rw-r--r-- 1 vagrant vagrant

[2016-03-16 13:08] bmos299 commented on #421
@muralisrini let me know when you have something for me to try.   I can help too.
Thanks, Barry

[2016-03-16 14:37] rameshthoomu opened #834 "Error: Error building chaincode - "Registration to the Membership Service required." when Enable Security and Privacy through CLI"
Getting error message while executing chaincode deploy command with security and privacy enabled through CLI.

**Steps to Reproduce:**
- Make sure Security and Privacy enabled to False in openchain.yml file before execute series of commands.

- Execute series of "security and privacy" enabled steps mentioned in https://github.com/openblockchain/obc-docs/blob/master/api/SandboxSetup.md document

No

[2016-03-16 15:07] genggjh opened #835 "Always return ok when invoke chaincode even I give a wrong function name."
I am testing the chaincode_example02, find the REST API /devops/invoke returns ok message and create new transaction even if I provide a wrong function name in the ctorMsg.

But from the source code logic, I think we should get error message like: "Received unknown function invocation".

And the transaction has been created which really does not make sense.

[2016-03-16 15:18] rameshthoomu commented on #834
I have started `obcca server` before execute the series of steps...

[2016-03-16 15:32] ghaskins commented on #835
I second this

[2016-03-16 16:16] corecode commented on #815
I don't think #829 handles this satisfactorily - typos still will result in the same confusing outcome.

[2016-03-16 18:26] dongmingh commented on #780
@bmos299 thanks for the POSTMAN

test scenarios:
security and privacy disabled, peer set to error, threads=200, run for 5 min using SoapUI

code commit level:
3ef73d319b01fe84c0c88973350a240fc490d82e

if 50 keys, tps = 253
the output of keys is
{"OK": "[\"a34\",\"a38\",\"a15\",\"a1\",\"a11\",\"a5\",\"a22\",\"a9\",\"a19\",\"a26\",\"a46\",\"a42\",\"a31\",\"a35\",\"a39\",\"a16\",\"a12\",\"a4\",\"a21\

[2016-03-16 19:17] markparz commented on #374
Code scan complete

[2016-03-16 19:17] #374 closed

[2016-03-16 21:02] ghaskins opened #836 "peer is currently hardcoded to only accept GOLANG type chaincode"
Some minor re-work is required to allow the system to be extended to other chaincode types.

[2016-03-16 21:04] ghaskins commented on #836
@joequant Related to #807

[2016-03-16 21:20] ghaskins opened #837 "integrate openblockchain compiler"
This is a placeholder for discussion on the proposed [openblockchain compiler](https://github.com/ghaskins/obcc) toolchain, as it is developed.  This could help in a few aspects of chaincode development/deployment including adding new chaincode language types, abstracting chaincode interfaces, ABI management, etc.

@muralisrini @joequant @kletkeman

[2016-03-17 07:02] bgrieder opened #839 "Redis instead of RocksDB ?"
Do you think it would be possible to use Redis instead of RocksDB as a key/value store ?

Has any work been already carried out on the subject ?

If yes, is this work publicly available ?
If not, could you provide pointers (in the code) to look at ?

Many Thanks

[2016-03-17 07:20] znewsham commented on #832
I believe this is partly that the peers don't sync after coming online and partly a potential bug in  buildChaincodeContainerUsingDockerfilePackageBytes. Shouldn't the "Name" parameter of the BuildImageOptions be GetVMFromName(spec.ChaincodeID.Name) rather than just spec.ChaincodeID.Name?

[2016-03-17 11:20] kchristidis commented on #756
There is an issue where `GetWhitelist()` doesn't produce the proper unmarshaled protobuf. See code [here](https://gist.github.com/kchristidis/232b6954b0d0857c4401); 87 bytes are read, but the unmarshaled protobuf comes up blank.

[2016-03-17 15:05] bmos299 opened #840 "Add vi/vim to Docker Images"
Ramesh and I are working on publishing the obc-peer image for people to pull and run with.  I am going through the process of pulling the image and noticed vi or vim is not stalled.   Can we add this to our Dockerfile?  If someone wants to pull image and tweak the openchain.yaml, I'm thinking doing an apt-get install everytime for vi or vim seems tedious.  Obviously, they can make a new image, but

[2016-03-17 15:05] bmos299 commented on #840
This isn't really a bug, but I did tag it.

[2016-03-17 18:00] binhn commented on #840
We might want a separate dockerfile for this purpose and add vi to that.
Could we also have a doc on how-to for those who are not familiar with Docker

[2016-03-17 19:56] jyellick opened #841 "Discussion: Detecting Non-determinism"
In a discussion with @kchristidis and @corecode last week, some of the limitations and design points of Sieve were brought up.

Although the 'correctness' of Sieve as defined is not in question, I was hoping to discuss and get thoughts from @vukolic or others on the subject of detecting non-determinism.

The concerns all stem from accepting the idea that f+1 of the same result is good enough to tr

[2016-03-17 20:24] corecode commented on #841
I like your proposal.

[2016-03-17 20:39] vukolic commented on #841
The proposal for waiting 2f+1 same results to declare det tx (otherwise non-det) is not good.

It would allow, as soon as there is a partition of a single correct replica, a byzantine replica to quarantine a perfectly deterministic transaction. Example: 2f replies from correct replicas are the same, 1 from Byz is different and the timeout fires. You just quarantined a deterministic transaction. So

[2016-03-17 21:18] corecode commented on #841
Oh, I think I missed this point in jyellick's proposal.  I thought that we would wait for 2f+1 same replies up to some timeout (fairly short one, see below), and then decide based on the result.  If there are f+2 pairwise different results, we know the transaction is nondeterministic (we can stop the timeout at that point anyways).  Otherwise, we accept the transaction as deterministic enough.

Ti

[2016-03-17 21:33] RicHernandez2 commented on #753
Monday traffic makes external dependencies less than 100% reliable, nothing we can do short of mirroring all dependencies.

[2016-03-17 21:33] #753 closed

[2016-03-17 21:38] RicHernandez2 commented on #815
Verified this fix, thanks!

[2016-03-17 21:40] kchristidis commented on #841
Jason's "within a reasonable time" statement implies a timer (and this was also clear in his proposal to us last week).

@vukolic RE: quarantining a deterministic transaction. Yes, this will happen if we haven't collected 2f+1 within a certain timeframe. But we introduce some synchrony to the network for the benefit of better (but not perfect, correct) ND filtering.

(FWIW, I like that trade-off.)

[2016-03-17 22:35] jjjjibm opened #842 "Correct and clarify Setting up the development environment"
This url:
https://github.com/openblockchain/obc-docs/blob/master/dev-setup/devenv.md

has instructions for setting up the BlockChain development.  While working through the set up instructions, I noticed an error.   Additional notes for Windows users are required as well.

I will attach an odt file within a zip file containing with suggested amendments highlighted in red.  Here is a summary:

1) O

[2016-03-18 08:42] vukolic commented on #841
@corecode - this, as an optimization, is fine
@kchristidis - as discussed above, this is not fine in the eventually synchronous BFT model we assume. It goes towards the XFT model - and we will come there, just not yet.

[2016-03-18 18:53] RicHernandez2 opened #844 "Openchain.yaml contains an invalid entry for peer id."
Valid Peer IDs start at vp0 through vp-n, the default openchain.yaml file has a peer id of "jdoe".

[2016-03-18 19:28] kletkeman commented on #709
Looks like debug info. Some components have been slow to respect the logging levels. The peer remains pretty chatty by default.

[2016-03-18 23:58] jeffgarratt commented on #776
Initial implementation completed.

[2016-03-18 23:58] #776 closed

[2016-03-19 00:00] jeffgarratt commented on #779
closed with  #846

[2016-03-19 00:00] #779 closed

[2016-03-19 00:01] jeffgarratt commented on #781
Store mechanism with simple key/value store proved sufficient for this round.  Closed through  #846.

[2016-03-19 00:01] #781 closed

[2016-03-19 02:38] rameshthoomu opened #848 "Compilation Error in go unit tests"
Compilation error observed while performing unit tests on the below commit.

commit fa0d476
Merge: 23e1ac8 072954d
Author: jeffgarratt <garratt.jeff@gmail.com>
Date:   Fri Mar 18 19:15:48 2016 -0400
Merge pull request #847 from srderson/issues/776/utxo_add_env Add ENV to utxo dockerfile

After trace back, observed the same issue from the below commit.

commit a2b53e9
Author: Jeff Garratt <garratt.

[2016-03-19 12:26] beaufort2015 commented on #825
Is anyone going to look at these logs?

Here is the interesting part of the peer vp0 log...  starting with line number 1620

1620 11:21:38.618 [crypto] Deploy -> INFO 64c^[[0m Initializing client [binhn]...done!
1621 ^[[36m11:21:38.618 [devops] Deploy -> DEBU 64d^[[0m Creating secure transaction bb540edfc1ee2ac0f5e2ec6000677f4cd1c6728046d5e32dede7fea11a42f86a6     943b76a8f9154f4792032551ed320871f

[2016-03-19 17:58] srderson opened #849 "UTXO tests failing"
Need to skip these tests for now as they require a C library.

[2016-03-19 18:29] #849 closed

[2016-03-19 23:59] srderson commented on #848
Ooops, I missed this issue and opened issue #849. I updated the readme. When running the test cases, use
[code]

[2016-03-19 23:59] #848 closed

[2016-03-20 19:57] joequant opened #855 "unstable chaincode with aufs - btrfs works better"
I'm having problems with chaincode in that when I follow the development instructions, I can't get the docker image to compile the chaincode reliably under aufs.  When I switch storage to btrfs, everything works pretty reliably.

[2016-03-21 13:06] #391 closed

[2016-03-21 13:07] #398 closed

[2016-03-21 13:08] #407 closed

[2016-03-21 13:08] tuand27613 commented on #752
move to sprint2 as we want #751 to be merged 1st

[2016-03-21 13:09] tuand27613 commented on #751
@jyellick , let's decide today how we want to merge this

[2016-03-21 13:11] tuand27613 commented on #756
@kostas, should we move to sprint2 ? or are you close ?

[2016-03-21 13:13] tuand27613 commented on #699
verify when #751 is merged

[2016-03-21 13:14] tuand27613 commented on #739
verify after #751 is merged

[2016-03-21 13:15] #764 closed

[2016-03-21 13:16] #477 closed

[2016-03-21 13:20] tuand27613 commented on #710
@muralisrini , your thoughts ?

[2016-03-21 13:24] binhn opened #856 "Performance measurements"
We need to understand the time it takes various modules to complete a transaction. Starting at the Ledger, we know we can do around 55k tps (1 write), but at the client API level, we see max of around 400 tps. We need to instrument the code (or tests) with time in log INFO using the technique here https://coderwall.com/p/cp5fya/measuring-execution-time-in-go

[2016-03-21 13:32] #406 closed

[2016-03-21 13:33] #433 closed

[2016-03-21 13:33] #443 closed

[2016-03-21 13:34] binhn commented on #444
move to client sdk issues

[2016-03-21 13:34] #444 closed

[2016-03-21 13:36] #446 closed

[2016-03-21 13:39] #515 closed

[2016-03-21 13:40] #529 closed

[2016-03-21 13:43] muralisrini opened #857 "Security for Event framework"
Currently events do not have any security or access control mechanisms. We need to implement security for events which goes hand-in-hand with the security mechanisms in place for transactions.

This will likely span multiple sprints. Starting with Sprint 2.

[2016-03-21 13:48] binhn commented on #571
@frankyclu @corecode @kchristidis We rollback tx if chaincode returns errors. If that's not how it works, it should be a bug. I am closing this issue. Reopen if you think more to be discussed.

[2016-03-21 13:48] #571 closed

[2016-03-21 15:32] kchristidis commented on #756
Work ongoing on this, no estimated completion date.

The original problem has been expanded somewhat to deal with closely-related issues that we're better off tackling now, instead of revisiting later. Whitelist is formed dynamically during initialization, persists crash faults, and it now forms the basis for the assignment of PBFT IDs. I'm also making it work with security off through the same co

[2016-03-21 21:30] gongsu832 opened #859 "unit test bitcoin/consensus.hpp no such file or directory"
On Linux s390x, rebased to latest commit tag 1f65f6499e99246042125fe26426b177459ac673. Unit test results:

[code]

[2016-03-22 11:20] binhn opened #860 "Migrate code to Hyperledger github"
To change github organization, we need the modify references in GOPATH and IMPORT statements. This involves source code files, scripts and documents (obc-peer, obc-dev-env, obc-docs).

We need a script to change `openblockchain` to `hyperledger` where appropriate since not all instances of `openblockchain` can/should be modified.

Rerun all tests (unit and functional).

[2016-03-22 14:24] itp4IBM opened #861 "Security and Consensus bugs"

[2016-03-22 15:18] tuand27613 commented on #859
Some extra examples sneaked in for show&tell at the Hyperledger Project meeting this week.

The README got updated but it is very easy to miss : the unit tests invocation is now `go test -timeout=20m $(go list github.com/openblockchain/obc-peer/... | grep -v /vendor/ | grep -v /examples/)`

[2016-03-22 15:32] gongsu832 commented on #859
@tuand27613 Ahh, thanks Tuan.

[2016-03-22 17:36] kchristidis commented on #861
@itp4IBM You'll need to be a bit more specific.

[2016-03-22 17:38] kchristidis commented on #844
But the default consensus plugin is `noops` and `jdoe` works just fine for that.

`vpX` is needed (at the moment) when running PBFT and its variants.

[2016-03-22 17:51] kchristidis commented on #754
@tuand27613 Do we have a course of action for this one?

[2016-03-22 18:05] itp4IBM commented on #861
When a peer is shut down and a new one is added the following message will appear:

18:02:23.888 [crypto] callECAReadCACertificate -> ERRO 020 [validator.vp] Failed requesting read certificate [rpc error: code = 2 desc = "grpc: the client connection is closing"].
18:02:23.888 [crypto] getECACertificate -> ERRO 021 [validator.vp] Failed requesting ECA certificate [rpc error: code = 2 desc = "grpc:

[2016-03-22 18:26] tuand27613 commented on #861
I see several possible configuration issues:
1. `client connection closing` point to the peer not communicating with the obcca server. Check your openchain.yml for the pki.*.paddr values and verify that they point to the obcca hostname
2. `failed registering [vp]`. The validating peers should be named vp0,1,2,3  with no gaps in the sequence, e.g. you cannot have a set [vp0, vp2,vp3]

[2016-03-22 21:16] 2016Nishi opened #864 "Is this a configuration issue ? Deploying a chaincode when security enabled fails"
with following error messages:

21:11:35.733 [crypto] loadPublicKey -> ERRO 327 [client.test_vp5] Failed loading public key [chain.key]: [open /var/openchain/production/crypto/client/test_vp5/ks/raw/chain.key: no such file or directory].
21:11:35.733 [crypto] loadEnrollmentChainKey -> ERRO 328 [client.test_vp5] Failed load enrollment chain key: [open /var/openchain/production/crypto/client/test_vp

[2016-03-23 01:25] corecode commented on #754
Isn't this the same as #796?

[2016-03-23 11:18] SECVBulRep opened #865 "Decrypt/parse transacrion payload"
How to decrypt field "payload"  received by http://localhost:5000/transactions/*id* ?

thanks

[2016-03-23 12:03] msackman opened #866 "Tests assume `GOPATH` is one element and fail if it's not"
2016/03/23 11:54:07 Chaincode support using peerAddress: 0.0.0.0:40303
    getting deployment spec for chaincode spec: type:GOLANG chaincodeID:<path:"github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example01" > ctorMsg:<function:"init" args:"a" args:"100" args:"b" args:"200" >
    --- FAIL: TestExecuteDeployTransaction (2.00s)
            exectransaction_test.go:165: Error

[2016-03-23 12:50] tuand27613 commented on #754
I forgot to type this in last night !

Agree Simon, #796 will handle this as well

[2016-03-23 14:59] #865 closed

[2016-03-23 15:16] msackman opened #867 "Document env vars in obc-peer -h"
`obc-peer`'s help gives no way to discover the environment variables that it looks for. Grepping the codebase for `os.Getenv` doesn't reveal what I'm looking for, and even grepping for things like `OPENCHAIN_PEER_ID` doesn't find anything hopeful, so I _must_ be missing something as I can't figure out how these env vars get picked up by the binary, though they certainly do.

In general, it's good

[2016-03-23 15:30] 2016Nishi commented on #864
Had to set "addressAutoDetect: true" inside openchain.yaml file.

Is this a recent change in configuration? for I do not remember changing "addressAutoDetect" earlier when I tested with security using SoapUI/Postman.

[2016-03-23 15:36] msackman commented on #867
Yup, finally tracked this down through using the source. Your use of `viper`, with a string Replacer and `AutomaticEnv` made this pretty hard to figure out. Knowing this, I can now find all the config params with

    obc-peer$ grep -ri viper.get . | grep '.go:' | sed -e 's/^.*viper\.Get[^"]\+"//' -e 's/".*//' | sort | uniq
which reveals there are 80 of them!

[2016-03-23 15:46] 2016Nishi commented on #864
This happens when I launch a single stand alone peer inside vagrant. This behavior does not happen when the peer is running inside a docker container.

[2016-03-23 16:05] bmos299 commented on #864
This is not occurring for @itp4ibm.

[2016-03-23 16:33] RicHernandez2 opened #868 "Bouncing a vp in Batch Consensus with security and privacy on results in unclear error message"
Description:

Bouncing a member of consensus peers with security and privacy turned on leads to an unclear message

Steps to repro:

1.  Setup 4 VPs and a CA in Consensus Batch config with security and privacy on
2.  Take down the 4th peer (vp3)
3.  View logs on other peers who now cannot communicate with 4th peer
4.  Start peer back up, giving the secret in the obcca.yaml for that server.
5.  The

[2016-03-23 17:13] samding01 opened #869 ""query" returns an error msg in 4 peers with security enabled (level=384), consensus=obcbpft"
Set up a 4 peers on LoZ platform with security enabled (level=384), consensus=obcbpft,
but the "query" returns an error msg like:

      Error: Error querying chaincode: rpc error: code = 2 desc = "Error:Failed to execute transaction or query(Timeout expired while executing transaction)"

Here is the replicate steps:

1)  Using `openchain.yaml`
[openchain.yaml.zip](https://github.com/openblockchai

[2016-03-23 17:47] tuand27613 commented on #868
I'm asking @adecaro to take a look first since he's my main contact for cryto :)  . Feel free to reassign as needed.

There are other test cases where stopping a re-starting a validating peer work.  It seems this happens only when both security and privacy are enabled.

[2016-03-23 19:00] samding01 commented on #869
More Info:
Tested a few times, the error does not occur all the time. When it happens, The status of dev-vp0 is changed to "Exited"

[2016-03-23 23:04] vpaprots opened #870 "For multi-platform support, allow an ENV var to specify docker base image"
Dockerfile has no multiplatform support so golang base images come with different tags. I would like something like Dockerfilebase, for example:

export OPENCHAIN_PEER_DOCKERFILEBASE="from s390x/golang:1.6"

I forked myself the codebase to try out that idea here: https://github.com/openblockchain/obc-peer/compare/master...vpaprots:master

That was before @srderson pointed me to https://github.com/

[2016-03-24 01:36] genggjh commented on #865
@secvbulrep: this issue has been closed by you without any comments. I want to know if you got the solution because I have similar concerns.

[2016-03-24 14:49] hixel opened #872 "ExecuteTransactions error code"
/openchain/chaincode/exectransaction.go

func ExecuteTransactions(ctxt context.Context, cname ChainName, xacts []*pb.Transaction) { ... }

Look at this
`errs := make([]error, len(xacts)+1)`
it's create error array more than one xacts(transactions)
for example xacts = 2, then len(errs) equal 3

[code]

If both transaction get error your error array contains
[code]

But code before return
`errs[len(

[2016-03-24 15:02] #872 closed

[2016-03-24 15:16] ragupta2 opened #873 "Ability to deploy chaincode to the peer from the private git repository"
So far we are able to deploy chaincode to a peer from a chaincode hosted in public git repository. What are our options for deploying the same chaincode hosted in a private git repository. Any suggestions are welcome. Thanks.

[2016-03-24 17:10] 2016Nishi opened #874 "Deploy function for chaincodeexample02 deploying inspite of passing incorrect number of args"
Could deploy successfully with 5 set of arguments something like
{"a", "100", "b", "200", "2000}
or
{"a", "100", "b"}

eg: deploy PayLoad

{
"type": "GOLANG",
        "chaincodeID": {
                "path":"github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example02"
},
"ctorMsg": {
        "function": "init",
        "args": {"a", "100", "b"}
},
"secureContext":"test_vp5"

[2016-03-24 18:20] kletkeman opened #875 "we need the shim to provide the transaction timestamp to the contract"
In our domain, timestamps at the nano level are critical to sorting out the history of events relating to an asset. This in fact is equally important in any domain, even finance. You must know the time at which something was signed.

Currently, our contract generates timestamps when the event does not carry one, but on today's interlock call with @mastersingh24, we confirmed that we will *never* a

[2016-03-24 19:18] bmos299 commented on #699
@bcbrock.  Are you going to merge this?  Can you coordinate with @RicHernandez2 on this?  We want to ensure thorough testing on this one.
Thanks.

[2016-03-24 19:20] bmos299 commented on #739
@rameshthoomu can you verify behave passes and @RicHernandez2 can you manually verify?

[2016-03-24 20:37] muralisrini commented on #874
@2016Nishi : when you "deploy" all that a success tells you is the deploy transaction was "submitted" successfully ... the chaincode has not executed the "init" func at that point,

[2016-03-25 00:39] bcbrock commented on #699
@bmos299 - Not sure what you mean. I am not aware that a fix is available.

[2016-03-25 10:57] linwumeng commented on #824
it works. Thank you!

[2016-03-25 10:57] #824 closed

[2016-03-25 13:05] tuand27613 commented on #751
close via #833

[2016-03-25 13:05] #751 closed

[2016-03-25 13:06] tuand27613 commented on #699
Bishop, now that PR #833 is done, can you re-run ?

[2016-03-25 13:08] tuand27613 commented on #798
@gongsu832 ,  now that PR #833  is done, can you re-run ?

[2016-03-25 13:13] tuand27613 commented on #739
PR #833 has been merged into master.
My `behave` tests run with no issues now.

@rameshthoomu  @RicHernandez2 , after you verify, please close the issue.

[2016-03-25 13:31] rameshthoomu commented on #772
@bcbrock I have made changes in .travis.yml file and now it is available in obc-peer repo.

[2016-03-25 14:02] bcbrock commented on #699
OK, I am now at

[code]

I'm running a network of 4 validating peers with multiple chain codes, sending transactions to peers randomly.  The test failed when a couple of the transactions never appeared in the blockchain. I've attached a summary of all of the errors. This one looks like  a smoking gun - everything seems to have stopped working after this.:
[code]
[errors.txt](https://github.com/ope

[2016-03-25 14:10] bcbrock commented on #699
I reran the same test, here are the errors from that run
[code]

When I get back next week I'll post my test suite on a Github so you guys can run it yourselves.

[2016-03-25 14:47] jyellick commented on #699
The `Checkpoint` and `stateThread` errors are interesting (although perhaps they should be warnings, as they are non-fatal, and based on the lack of other errors, the recovery mechanisms seem to be working), I'll take a look at the code to see how those might arise.

I have frequently seen the `handleChat` errors as well, I suspect that these arise when there is a disruption of network connectivit

[2016-03-25 14:58] 2016Nishi opened #876 "With Security Enabled: Query after deployment is timing out and failed to fetch value"
deploy PayLoad

{
"type": "GOLANG",
        "chaincodeID": {
                "path":"github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example02"
},
"ctorMsg": {
        "function": "init",
        "args": ["c","10000","d","40000"]
},
"secureContext":"test_vp5"
}

{"OK": "Successfully deployed chainCode.","message":"b92168d03b6c7953499ec01aafa24baf52afced44dd6ae4c1290a19e80b

[2016-03-25 15:13] jyellick commented on #695
This was included in PR #833

[2016-03-25 15:13] #695 closed

[2016-03-25 15:32] apollos opened #877 "[Build Error] fatal error: rocksdb/c.h"
After I run go build in openblockchain/obc-peer, I get the followed error. I downloaded rocksdb and compile it successfully. I can see the c.h file under rocksdb include path. What shall I do for the obc-peer build? How to set the include path for it? How to use '-I'?

"openblockchain/obc-peer$ go build
# github.com/openblockchain/obc-peer/vendor/github.com/tecbot/gorocksdb
vendor/github.com/tecbo

[2016-03-25 15:43] apollos commented on #877
I am working in ppc64le system and there is no virtualbox so I do not use the env setup method. I try to export CGO_CFLAGS="-Ixxx" and then the issue fixed.

[2016-03-25 15:43] #877 closed

[2016-03-25 16:02] jeffgarratt commented on #699
@jyellick there is a modification that needs to be made wrt to chat termination.  I can take a look at this shortly.

[2016-03-25 16:03] jjjjibm opened #878 "Deploy failed with EOF when obc-peer server down"
I ran obcpeer-test (Nishi's new tool) without starting the obc-peer server to see what would happen.
Incidentally, I did not start the security server either.

the first error is in deploy.  I got this result:

CallChainCode02:
http://127.0.0.1:3000/devops/deploy
2016/03/25 11:28:58 Error http://127.0.0.1:3000/devops/deploy Post http://127.0.0.1:3000/devops/deploy: EOF
Post http://127.0.0.1:3000/d

[2016-03-25 16:06] jyellick commented on #699
@bcbrock Can you confirm whether you are still seeing the original slow transaction rate?

[2016-03-25 17:10] #878 closed

[2016-03-25 17:11] bmos299 commented on #878
@jjjjibm please talk to @2016Nishi about this.

[2016-03-25 17:12] #876 closed

[2016-03-25 17:12] bmos299 commented on #876
Discussed with @2016Nishi

[2016-03-25 20:13] angrbrd commented on #827
@bmos299 ,

Do you actually have other peers connected to yours? If you are (a) running in development mode or (b) are running in network mode as the only existing peer, then the response is expected to be empty as you don't have any other peers connected to the target peer that you're sending this request to. But if you actually have a network with multiple peers up and running, this request shou

[2016-03-25 20:19] angrbrd commented on #828
@2016Nishi ,

This is working as designed. The registration with the CA is expected to work only ONCE per the documentation. The registrationID and registrationPW are designed to be used only once.

https://github.com/angrbrd/obc-docs/blob/angrbrd-doc-edits/api/SandboxSetup.md#note-on-security-functionality

"Upon successful user authentication, the application will perform user registration with

[2016-03-25 20:19] #828 closed

[2016-03-25 20:26] dongmingh opened #879 "obc panic and grpc timeout with pbft consensus"
commit f08ccce33b13f23eb1af97a43bf654aa48129794
Merge: ab0e167 bfecc0f
Author: tuand27613 <tdang@us.ibm.com>
Date:   Thu Mar 24 17:30:24 2016 -0400

    Merge pull request #833 from jyellick/executor-split

    obcpbft Executor split

Running PBFT consensus, security and privacy enabled, 4 docker containers,  invoke requests with threads = 100.

Steps to recreate:
1. bring up 4 docker containers
2

[2016-03-25 20:40] RicHernandez2 opened #880 "No disaster recovery possible in security, privacy enabled pbft consensus group"
Description:  If you enable security and privacy, you are not allowed to use a username, password more than once, and all the peers have to login with a username and password, in case of failure, a peer may never be able to join again.

Steps:

1.  Setup a group of 4 consensus and 1 CA server with security and privacy enabled
2.  Bring down one of the 4 servers
3.  Bring the server back up

Result

[2016-03-25 21:23] bmos299 commented on #880
@RicHernandez2 this seems to be WAD.  However, let's see what the component owners offer as a way to gracefully have a peer reenter the network after it has bounced.

[2016-03-26 04:03] genggjh commented on #869
I got the similar error in my env. Have to rebuild the whole environment.

[2016-03-26 07:44] WillZhuang opened #881 "What is wrong about my go runtime of image"
1.
I completed my step of [Setting up the development environment](https://github.com/openblockchain/obc-docs/blob/master/dev-setup/devenv.md). But I am confusing the step of go build in [Building the project](https://github.com/openblockchain/obc-peer) in VM. When I run command go, the error message below come out. I am confusing what is wrong about my Golang runtime of the image of VM.

_The pro

[2016-03-27 03:22] #881 closed

[2016-03-27 03:25] WillZhuang commented on #881
Here is my fix method, to install guest additions of virtualbox.
http://docs-v1.vagrantup.com/v1/docs/base_boxes.html

First, build the necessary packages. You may have to look these up for your system, but they should be fairly similar. On Ubuntu and Debian based systems they are as follows:
$ sudo apt-get install linux-headers-$(uname -r) build-essential

Next, make sure to insert the guest addi

[2016-03-27 13:46] rilaaax opened #882 "Unable to invoke/query another chaincode"
I tried to invoke/query another chaincode as shown in examples:
`github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example04`
and
`github.com/openblockchain/obc-peer/openchain/example/chaincode/chaincode_example05`

In both cases it doesn't work. I also tried to do it with my own chaincodes but I get the same problem.

Does anyone know what's wrong with these features?

Than

[2016-03-27 16:16] muralisrini commented on #882
@rilaaax :
Unit test executetransactions_test.go excercises chaincode_example04 and chaincode_example05.
If they run successfully then there's probably its user error of some sort. If they didn't, I'd check to make sure chaincode_example02 is not modified and chaincode_example02/ contains only chaincode_example02.go (if something is modified, the chaincode name will change. You'll have to use the

[2016-03-27 17:06] kchristidis commented on #756
The `Inquirer` interface has changed quite a bit during my work on this. Been spending the weekend adjusting my work to Jason's refactoring in #833, and fixing the merge conflicts that came up.

@jyellick: I'm getting `Failing with (Timeout, Corrupt)` messages starting from the `TestCatchupSyncBlocksErrors` test and onward. The only test that actually fails is `TestCatchupLaggingChainsErrors` with

[2016-03-27 22:48] rilaaax commented on #882
I tried the first test and it seems that it worked fine (my console looked like Matrix)... But the goal is just to do a simple test by myself to see how it works and use these features in other chaincodes. And when I try to do it I get an error.

To be more precise I will explain my process, using `chaincode_example05` which (if I well understood the chaincode) query `chaincode_example02` upon inv

[2016-03-28 06:54] xbh2015 opened #883 "Docker run failed"
When I am running the chaincode in examples/chaincode/go/utxo using the docker run -it <image ID> /bin/bash command where id is just as follows b88cf78866ac , the execute output always says no such file or dictionary.However the docker images list shows that image ID was created.
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
utxo                           0.1

[2016-03-28 12:48] RicHernandez2 commented on #883
Are you running these docker images inside vagrant?  If so you need to ensure that this directory structure exists before running the vagrant up command, if you're running it outside of vagrant, keep in mind Docker is an incomplete VM that relies on the underlying OS to provide the missing pieces.

[2016-03-28 13:06] samding01 commented on #869
@genggjh : By "whole environment" do you mean to build two openchain-peer and obcca images?
Thanks,

[2016-03-28 13:24] xbh2015 commented on #883
@RicHernandez2
Yes, I just typed these commands through ssh to vagrant. Before typed docker run -it < image id> /bin/bash command, I followed all instructiongs showed in utxo/readme file.
I also tried  docker run -it  image id  /bin/bash without <>,however it worked out the same as  docker run -it utxo:0.1.0 /bin/bash

[2016-03-28 14:27] RicHernandez2 commented on #883
Could you give me a link to these UTXO files you mention?  Give this one a try, if it's not updated by the time you get to the command line to start the docker images, please note that we always start at VP0-VPn-1 where n=the total number of VPs in the set.

https://github.com/openblockchain/obc-docs/blob/master/dev-setup/devnet-setup.md

[2016-03-28 14:31] jyellick commented on #756
@kchristidis The messages `Failing with (Timeout, Corrupt)` are  benign.  Perhaps they are not terribly clear, but they are intended to say that the test is deliberately causing a particular call to fail, either by refusing to return data (Timeout) or returning deliberately invalid data (Corrupt).

The `TestCatchupLaggingChainsErrors` failure looks to be a bug in `GetConnectedValidators()`.

 http

[2016-03-28 14:58] genggjh opened #884 "Chaincode deployment is unstable"
The chaincode docker image and container can not be created in my 4-vp nodes test env.

And I can find some errors like following in vp container logs:

2016-03-28T14:47:34.105117441Z 14:47:34.104 [peer] handleChat -> ERRO 01b Error handling message: Peer FSM failed while handling message (DISC_HELLO): current state: created, error:eӌ�1��}ion canceled with error: Error registering Handler: Duplic

[2016-03-28 15:18] xbh2015 commented on #883
@RicHernandez2
Thank you for your quick reply. The link to UTXO file is  https://github.com/openblockchain/obc-peer/tree/master/examples/chaincode/go/utxo .I just followed the readme.md file step by step. You mean that I should set up the network and then try to use docker to build image and deploy chaincode? I just use ./obc-peer peer command to start one node and then do those steps.

[2016-03-28 15:21] tuand27613 commented on #884
I suspect these messages are "normal" debug logging.  What do you see in the VP logs near where the deploy chaincode transaction is executed and committed ?
If you are running pbft consensus classic/batch, search for string "commit count".

When i was having trouble with my deploy transactions a few months back, it was due to vagrant running out of resources. Which you can configure in the Vagrant

[2016-03-28 16:05] jyellick commented on #614
@kletkeman Are you still observing this behavior, or can this issue be closed?

With default logging levels, all behave tests pass for me.  Is there some other recreation method I should attempt?

[2016-03-28 16:35] RicHernandez2 commented on #883
Use the commands in the devnet-setup.md, that should get you up and running, just remember the command line for bringing up the first VP should name it VP0 not VP1, if that error is still in the doc (merge pending) you'll have to adjust the command line manually.  But this doc will help you setup the environment, let us know if you have any questions!

[2016-03-28 17:26] kletkeman commented on #614
@jyellick Thanks for reminding me. No, I have not seen this in a long time and I agree that it has been fixed.

[2016-03-28 17:27] jyellick commented on #614
Thanks @kletkeman, closing now.

[2016-03-28 17:27] #614 closed

[2016-03-28 17:31] jyellick commented on #841
@vukolic I think the partitioned vs faulty claims are maybe a little conflated in my head.

It seems that a partitioned non-byzantine replica, and a byzantine replica should both count against the 'at most f faulty replicas' condition promised to PBFT.  I agree if there are f byzantine replicas, and 1 partitioned non-byzantine replica, then a deterministic transaction could be flagged as non-deter

[2016-03-28 19:09] kchristidis commented on #756
@jyellick Perfect, that was it indeed. Thanks. Tests pass now.

[2016-03-28 20:25] gongsu832 commented on #798
OK updated to latest commit tag f08ccce33b13f23eb1af97a43bf654aa48129794 and reran the test.

4 nodes, consensus=obcpbft, security=disabled.

After starting obc-peer on all 4 nodes, vp1-3 logs were being polluted by the message:

`16:06:04.721 [peer] PeerImpl -> ERRO 1e9 Error handling message: Peer FSM failed while handling message (DISC_HELLO): current state: created, error: transition canceled

[2016-03-28 20:59] tuand27613 commented on #798
@gongsu832 ,  do your deploy/invoke/query  work and do you get correct values ?

vp0 is the only one sending the `new consensus request received` and `successfully invoked ...` because  it's the peer that's receiving the request. The others are receiving consensus messages which don't show up unless we have debug mode.

[2016-03-28 21:21] gongsu832 commented on #798
@tuand27613
OK, with log level set to debug, I see the replicas printing out messages for each invoke request like the following:

`17:10:58.479 [consensus/obcpbft] pbftCore -> DEBU 31ee Replica 1 received request: Z0Hu3A1S8mUENmMLkCzk7d1RGo5rw/djLME/zEGuzYjfLsGZptC/YqbqkocknTkRtOaNW+mpOXw8d+8TAKFhUg==`

Query still doesn't work. I'm getting the same "ledger: resource not found" message I reported

[2016-03-28 22:11] srderson commented on #839
The interface to RocksDB is https://github.com/openblockchain/obc-peer/blob/master/openchain/db/db.go. It uses column families and snapshots which are specific to RocksDB. Wrapping these in interfaces so OBC can potentially support other DBs more easily is probably a good idea.

Why are you interested in using Redis over RocksDB? I usually think of Redis as a fast remote in-memory store where as O

[2016-03-29 01:52] tuand27613 commented on #798
The `Failed to launch chaincode spec(Could not get deployment transaction for ...... - ledger: resource not found)` error says that we couldn't find the transaction based on its UUID ( @srderson, let me know if I'm all wet )

So @gongsu832 , could you append the debug logs again ?
Also, what does your query call look like ?

[2016-03-29 01:55] cophey opened #885 "go build fatal error"
# github.com/openblockchain/obc-peer/vendor/github.com/tecbot/gorocksdb
vendor\github.com\tecbot\gorocksdb\backup.go:4:24: fatal error: rocksdb/c.h: No such file or directory
 // #include "rocksdb/c.h"
                        ^
compilation terminated.
![sdiv u2w3keg9_ p _mo](https://cloud.githubusercontent.com/assets/7555270/14095617/af330934-f594-11e5-84db-c26c8013dd8a.png)

[2016-03-29 02:08] srderson commented on #885
Try the following commands

[code]

[2016-03-29 02:40] srderson commented on #883
@xbh2015 I think you're trying to use the `docker run -it <image> /bin/bash` with the wrong image. It's not the UTXO image that you want to run. It's the chaincode image built using the UTXO image as the base. This image was created after you ran the deploy command. The 'Repository' name should be something like `dev-jdoe-cbe6be7ed67931b9be2ce31dd833e523702378bef91b29917005f0eaa316b57e268e19696093