[2022-05-04 08:07] zihangzhen opened #3377 "go vet: assignment copies lock value to buildLock"
hello, i want to build fabric in my ubuntu, but i get some problems that i cant find on internet.
i follow the steps in the [doc](https://hyperledger-fabric.readthedocs.io/en/latest/dev-setup/devenv.html#prerequisites). In last topic "Install the development tools", after my typing `make basic-checks integration-test-prereqs`, i get an error like:

`Checking with go vet`
`# github.com/hyperledger/

[2022-05-04 09:07] yacovm commented on #3377
Thanks, I fixed the issues:

https://github.com/hyperledger/fabric/pull/3378
https://github.com/hyperledger/fabric/pull/3379

[2022-05-04 10:05] zihangzhen commented on #3377
thanks, the last error is cleared.  But i still get an error like:
`Checking with go vet`
`# github.com/hyperledger/fabric/core/chaincode/lifecycle`
`core/chaincode/lifecycle/lifecycle.go:720:19: assignment copies lock value to buildLock: (sync.Mutex, bool) contains sync.Mutex`
`Makefile:183: recipe for target 'linter' failed`
`make: *** [linter] Error 2`

i wonder konw how to clear this error, th

[2022-05-04 11:11] zihangzhen commented on #3377
sorry, i missed a point, thats ok! thanks!

[2022-05-05 21:36] MekkiNassreddine opened #3385 "Hyperledger Fabric cryptogen and configtxgen not working"
I am trying to create the "crypto matrial" of my hyperledger fabric network using the cryptogen command line but I get "command not found" as result

My command line : user@ubuntu:~/go/src/github.com/*****/fabric-samples/bin$ cryptogen generate --config=./crypto-config.yam cryptogen: command not found

Please i need help

[2022-05-06 04:40] #3377 closed, assigned to nobody

[2022-05-06 08:40] mbwhite commented on #3368
Wanted to take this exact topic as part of closing out the CCas a service work..

@davidkhala would you be up for a collaborative effort?

[2022-05-06 09:42] HPicatto commented on #3352
I've tried creating them using the msp of the orderer's admin, and get the same error.
I've no problem with the test network tutorial, but I don't "deploy" the network, just run the command of the sh. In this other [tutorial](https://hyperledger-fabric-ca.readthedocs.io/en/latest/operations_guide.html) you are deploying it more or less from the scratch.

[2022-05-06 13:05] davidkel commented on #3328
The gateway is doing the right thing here, it's the node sdk 2.2 use that wasn't. Because the endorsement policy was the default one and it was a 2 org network, the node sdk is by default sending to both orgs and thus able to satisfy the endorsement policy but means that it's sending potentially sensitive data to an org that shouldn't. The gateway is protecting against this (as the data is passed

[2022-05-06 13:05] #3328 closed, assigned to nobody

[2022-05-07 07:26] davidkhala commented on #3368
If not too complex, I would like to. while across the guide, reader like me get a little confused on the difference between external chaincode and ccaas. And back to this command opt, which wording should we use? `external` or `ccaas`?

[2022-05-09 23:24] c0mr4t commented on #3039
I did the downgrading thing as well and it also worked for me. But I think, your system's go version just has to match the version that is specified in fabric-samples/asset-transfer-basic/chaincode-go/go.mod

[2022-05-11 20:36] jkneubuh opened #3405 "Bundle a default k8s Chaincode Builder into the peer"
As of Fabric > 2.4.1 the peer image contains the default [ccaas external chaincode builder](https://github.com/hyperledger/fabric/tree/main/ccaas_builder) to simplify networks relying on the Chaincode as a Service pattern.  This builder allows the user to bypass the normal chaincode lifecycle events, launching an external process / URL to receive chaincode invocations _from_ the peer to a known se

[2022-05-11 20:40] jkneubuh commented on #3405
cc: @denyeart @lehors @jt-nti @mbwhite @SamYuan1990

[2022-05-11 21:12] jkneubuh commented on #3368
I was going to add a note / todo / work item in #3405 to track the addition of a new `k8s` external builder type... but this seems like a better placeholder for the effort.

Creating the "ccaas" chaincode package is still an ... [exercise left to the reader](https://github.com/hyperledger/fabric-samples/blob/main/test-network-k8s/scripts/chaincode.sh#L192) ....  it would be really nice if the `pee

[2022-05-12 08:00] yacovm commented on #3405
Can you elaborate? Why is this needed?

[2022-05-12 08:07] yacovm commented on #3405
Why? The peer only cares about where the chaincode is running. Just deploy the chaincode and take care the packets find their way to it, and that the peer can authenticate the chaincode's TLS certificate. What's the difficulty?

Why would the Fabric peer need to know details about where or how the chaincode is deployed?

[2022-05-12 08:15] mbwhite commented on #3405
@jkneubuh @jt-nti thoughts that spring to mind..

- For any organisation, the same package needs to be installed on all that org's peers. Therefore the `ccaas-builder` used the concept of go-templates to let each peer address a different running chaincode.  This isn't needed here as this each peer will end up its own chaincode pod running, that talks back to the peer.
- Lifecycle of the chaincode.

[2022-05-12 08:25] mbwhite commented on #3405
@yacovm just to your point of 'why and what's the difficulty'.  You are correct, in theory the peer really only needs to know the address of where to talk to the chaincode.  How packets get from A <-> B is really not an issue and has been solved.

The peer though, in practice, really takes an active interest in the details of standing up chaincodes.  The as-a-server approach helps to break this -

[2022-05-12 08:36] mbwhite commented on #3405
On a pragmatic point @jkneubuh when adding the makefiles for the `ccaas` builders, the makefiles in the repo are very sophisticated, I'm afraid to the point that it's taken a long time for me to get even a an approximate working knowledge.

The first iteration was very wrong; the second is still in PR but hopefully the 'correct way' to fit in with the overall makefile.

The pipeline as for release

[2022-05-12 09:08] jt-nti commented on #3368
It would definitely be good if the `peer lifecycle chaincode package` command supported any builders provided out of the box.

@davidkhala

Confusingly the original chaincode as an external service example in the documentation uses a type of `external` but that was a bit too vague so the relatively new built in chaincode as a server (CCaaS) builder uses a type of `ccaas`

One question is how will

[2022-05-12 09:14] mbwhite commented on #3368
Yes @jt-nti the peer cli could well struggle, and is out of it's depth already (eg. doesn't package typescript in the most efficient manner) I wonder if this is the chance to "re-light" the Fabric Admin CLI, or something much like it ( if I might suggest https://github.com/hyperledgendary/weftility as one source of ids... have added packaging updates to that push coming soon).

And/or provide the

[2022-05-12 09:23] jt-nti commented on #3405
There are some issues on that repo for hatch battening, and I'll be adding more, if anyone is interested in helping with that effort.

I've created an issue to keep track of this one hyperledgendary/fabric-builder-k8s#19

This is handled with the `image.json` file in the k8s builder, which follows the established pattern for builders and launchers. (I don't think we should be extending `matadata.j

[2022-05-12 09:48] yacovm commented on #3405
But why would the peer take part of the chaincode deployment in the chaincode-as-a-service model?? The chaincode needs to be deployed and managed externally by the organization.

Across organizations, all we need is a way to mark which namespaces the transaction refers to. That's it.
We have the name to mark the namespace, and the version and sequence - is used to prevent pre-computation attacks w

[2022-05-12 09:49] davidkhala commented on #3368
@mbwhite re-light is what I love ❤️ one year ago, Jay also discussed with me that if we can split out the roles peer binary is handling, "as a service" and "as a tool", these are contradicting especially some command options do not need any property value in core.yaml but still mandate an empty core.yaml over there to bypass san-check.

[2022-05-12 10:03] mbwhite commented on #3368
yes you're correct - requirement of `core.yaml` doesn't help @davidkhala

Thinking more about this - suggestion for a plan 'tactical/immediate' solution be to extend the `peer package` command to make it generic.

It takes as arguments (list from memory so might worth checking)

- location of the directory that becomes the code.tgz
- label
- type
- path of metadata for indexes
- path of collection

[2022-05-12 10:10] SamYuan1990 commented on #3405
hi guys,

In my point of view
Please allow me sync with your guys with background for this discussion to make sure we are on the same page.
1. For communication between peer and chaincode, the point is about chaincode service URL.
assuming chaincode.somewhere.com it can be a service at same k8s cluster or some domain name which peer can access is enough.
when a traffic happens, the routing is by .

[2022-05-12 10:38] jt-nti commented on #3405
Hi @SamYuan1990

Can we have a fabric chaincode builder project to build fabric chaincode from source to image.
I don't have time to go through https://github.com/hyperledgendary/fabric-builder-k8s, but it seems as a k8s internal registry is out of scope here.
even if we can away DIND in peer(it's cool) but we can't away from container technological, at least we will implmentat source to image.
So

[2022-05-12 11:34] jkneubuh commented on #3405
Hi @yacovm I understand the reluctance to polluting the Fabric core with routines tied to any particular runtime or container orchestration engine (e.g. K8s, Docker Compose, Swarm, Mesos, VMWare, or whatever the current tech trend of the day happens to be...)

Theoretically the external builders provide a solid mechanism for Fabric Administrators to configure a network with binaries specifically t

[2022-05-12 11:46] jkneubuh commented on #3405
Hi @SamYuan1990 -  Builder comparison "at a glance" :

- Default Fabric "DIND" Builder :
  - User installs CC package containing **Source code**
  - Peer compiles CC and builds a Docker image
  - Peer starts the CC process

- External "ccaas" Builder:
  - User installs CC package containing **Service URL**
  - Peer does NOT compile CC or prepare Docker Image
  - Peer does NOT launch a CC process -

[2022-05-12 11:47] yacovm commented on #3405
Why does the chaincode shim need to know its package ID?

[2022-05-12 11:56] yacovm commented on #3405
So you want to bundle inside the peer's file system, something that can interact with the peer and ask it about lifecycle? Is that why you need the mutual TLS for? To connect to the peer and withdraw the information about lifecycle or something like that?

[2022-05-12 11:57] SamYuan1990 commented on #3405
May I know where the image will be stored?

I like this

according to https://github.com/hyperledgendary/fabric-builder-k8s/blob/main/docs/TEST_NETWORK_K8S.md#kubernetes-permissions
what if user can't accept with this permission?

@jt-nti , @jkneubuh

[2022-05-12 12:07] jt-nti commented on #3405
The example is using the GitHub container registry but they could be published anywhere the peer can connect to, or even loaded in a local registry.

The builder won't need all those permissions- probably just permission to create a pod and secret but not sure yet. The intention will be to require the minimum permissions necessary. The namespace is configurable as well which will hopefully help an

[2022-05-12 12:18] SamYuan1990 commented on #3405
wait...
it sounds like a "tekton" job to prebuild chaincode from source to image and deployment on k8s by a template and triggered by Peer?
What if a chaincode operator listening source code repo and a pipeline which triggered by chaincode deployment?
- A CI job to prebuild chaincode from source to image when each commit
- A CD job to deploy image on k8s
so that
* User installs CC package containi

[2022-05-12 12:20] SamYuan1990 commented on #3405
Which means we extend fabric peer permission with "k8s" builder. And have to make it able to access the local registry with secrets, right?

[2022-05-12 12:34] jkneubuh commented on #3405
Hi @SamYuan1990 :

- RE: Tekton pipelines.   This is a great example of how custom, external builders can be integrated with Fabric as part of an overall solution approach.  Tekton is a viable solution for integrating Fabric CC deployments with customer-specific needs, and will work *very well* for integrating the chaincode docker build cycle into an overall solution.   While Tekton can help autom

[2022-05-12 12:34] SamYuan1990 commented on #3405
Let me summarize myself, what if

At peer side
- Peer does NOT compile CC or prepare Docker Image
- Peer does NOT start the CC process / Kubernetes pod to avoid extend k8s permission or any risk with k8s secret access.
- Enhance Peer with or "ccaas" Builder, "DIND" Builder, "k8s" Builder and make it able to config by environment variable.

To provide user friendly, an k8s operator
- User installs

[2022-05-12 13:33] jkneubuh commented on #3405
Hi all - I would like to encourage the continued discussions on this topic;   In this light, GitHub is not serving well as means to organize our efforts...  May I suggest that we transition the discussion aspects over to Discord [#fabric-kubernetes](https://discord.com/channels/905194001349627914/945796983795384331) for interactive threads, and retain this ticket to summarize the action items nece

[2022-05-12 13:38] SamYuan1990 commented on #3405
it's hard for me to access discord from Beijing... just let me know the key point on github, and I will response.

[2022-05-12 13:40] yacovm commented on #3405
I was inquiring about whether this approach makes sense, and you're saying that we should dedicate this discussion for action items, under some assumption that what is described here has already been decided to be applied to Fabric core.

[2022-05-12 14:01] jkneubuh commented on #3405
@yacovm I am open to altering the design and/or mechanics.   I am suggesting:

a)  We migrate the interactive discussion towards a different context (e.g. GitHub Discussions, Discord, etc.) to iterate and converge on an approach for:

1.  Developing a sustainable approach for running Chaincode Builders in Kube / cloud-native environments.

2.  Packaging the approach into the default distribution o

[2022-05-12 14:05] SamYuan1990 commented on #3405
@jkneubuh , yes, github discussion is more suitable for me... as I am located in China and there is GFW Blocking my access to discord.

[2022-05-12 14:25] jkneubuh commented on #3405
All : thanks for the lively debate / discussion.  Can we shift over to #3407 to focus on the general discussion of running external builders for k8s.

[2022-05-13 10:59] jkneubuh opened #3409 "Install chaincode tgz packages via network URLs"
When the peer CLI installs a chaincode package, it must reference a .tgz archive from the local file system.

This can be an onerous burden for Fabric admins, as the crafting of the CC package is often performed by hand or via scripted incantations of tar / gzip / etc. to prepare the code.tar.gz, metadata.json, and package.tgz.   While the peer CLI provides some support for preparing the CC packag

[2022-05-13 10:59] jkneubuh commented on #3409
cc: @SamYuan1990 @jt-nti @denyeart @mbwhite @lehors

[2022-05-13 11:44] SamYuan1990 commented on #3409
when and where does the tar file download happen?
if I am going to install a  chaincode as tar.gz to peer1 and peer2, may I know times of download behavior?

if I am correct, the download happens at where we execute peer cli.
May I know if we are going to have any design to avoid download same tar file twice?

[2022-05-13 12:54] jkneubuh commented on #3409
The package transfer will occur within the peer CLI during "chaincode install" phase:

1.  user runs "peer cc install" URL
2. peer CLI opens a byte[] stream with go-getter
4. go-getter retrieves URL contents of tar.gz, spooling to temp
5. peer CLI consumes bytes from go-getter stream (spooled from temp) and relays to the peer node

Good question about caching.  I am not sure if go-getter respects

[2022-05-13 13:37] SamYuan1990 commented on #3409
Alice is installing a chaincode at github....(url) with latest version and Bob merges a PR.
Case chaincode upload to peer A is different with chaincode upload to peer B as before and after merge.

[2022-05-13 16:23] jkneubuh commented on #3405
Per #3407 - summary -- closing this ticket as there is not agreement to bundle a k8s builder into the peer container.

[2022-05-13 16:23] #3405 closed, assigned to nobody

[2022-05-14 01:39] uqix commented on #3290
Tips about using ccaas for bevel users:

1. build custom peer image with `vm.endpoint` commented out in `/etc/hyperledger/fabric/core.yaml`
2. remove `CORE_VM_ENDPOINT: unix:///host/var/run/docker.sock` in `platforms/hyperledger-fabric/charts/peernode/templates/configmap.yaml`

[2022-05-14 06:06] galixiad opened #3410 "mine"
https://github.com/hyperledger/fabric/blob/6393adbb27d1af5f32299ff3927f11e0cbcadb33/core/ledger/kvledger/txmgmt/privacyenabledstate/db.go#L234

[2022-05-14 07:29] Param-S opened #3411 "Orderer v3: BFT Block Replication and Block Signature Verification"
Refer [#48](https://github.com/hyperledger/fabric-rfcs/pull/48) for complete details

Workitems:

- [x] Story: Define and implement a generic BFT Block Replication Module
    - [x] [Implement a new interface BlockFetcher with source suspicious logic and reshuffling](https://github.com/hyperledger/fabric/issues/3412)
    - [x] [Implement a block attestation service](https://github.com/hyperledger/f

[2022-05-14 07:52] Param-S opened #3412 "BFT: Implement a new interface BlockFetcher with source suspicious logic and reshuffling"
As described in RFC sections [BlockReplication](https://github.com/hyperledger/fabric-rfcs/blob/main/text/0010-bft-signatures.md#block-replication-1) & [Implementation](https://github.com/hyperledger/fabric-rfcs/blob/main/text/0010-bft-signatures.md#implementation-plan), new interface will be implemented to pull blocks in BFT setting.

[2022-05-14 07:57] Param-S opened #3413 "BFT: Implement New Block Attestation Service"
For BFT block replication module, new RPC service for block attestation is required. RFC captures more details on this new service: [Block Attestation](https://github.com/hyperledger/fabric-rfcs/blob/main/text/0010-bft-signatures.md#attestation-for-block-existence)

[2022-05-14 08:03] Param-S opened #3414 "BFT: Implement Block Signature Verification"
Implement the new block signature verification logic for BFT block replication module. Find more details in the RFC: [Block Verification](https://github.com/hyperledger/fabric-rfcs/blob/main/text/0010-bft-signatures.md#block-signature-verification-1)

[2022-05-14 08:16] Param-S opened #3415 "BFT: Update peer block deliver client to use new common block replication module"
Update the existing deliver client to use new BFT block replication service #3412

[2022-05-14 08:18] Param-S opened #3416 "BFT: Update orderer block replicator client to use new common block replication module"
Update the existing replication client to use new BFT block replication service #3412

[2022-05-14 08:21] Param-S opened #3417 "BFT: Add Integration tests for new Block replication service"
Write new integration tests for new block replication service #3411

[2022-05-15 15:59] davidkhala commented on #3368
+1 Agree

[2022-05-16 11:56] denyeart commented on #3157
Developing Applications topic has been deleted from the latest doc, closing this issue.

[2022-05-16 11:56] #3157 closed, assigned to joshhus

[2022-05-16 11:58] denyeart commented on #2983
Developing Applications doc has been removed. Intent now is to add some of the main concepts to the Key Concepts and Tutorial topics.

[2022-05-16 11:59] denyeart commented on #3195
Managing Certs doc has been merged.
We can open a new issue to handle next extensions such as managing expired certs.

[2022-05-16 11:59] #3195 closed, assigned to joshhus

[2022-05-16 12:00] #2835 closed, assigned to nobody

[2022-05-16 12:03] denyeart commented on #3260
All done except for etcd and related packages which is being updated in https://github.com/hyperledger/fabric/issues/3117

[2022-05-16 12:03] #3260 closed, assigned to jcastrence

[2022-05-16 12:07] denyeart commented on #2810
Updates going forward will be in relation to gateway SDKs.

[2022-05-16 12:07] #2810 closed, assigned to nobody

[2022-05-16 12:10] #2825 closed, assigned to joshhus

[2022-05-16 12:12] #3410 closed, assigned to nobody

[2022-05-16 12:17] denyeart opened #3421 "Fabric performance improvements"

[2022-05-16 12:19] denyeart opened #3422 "Kubernetes deployment improvements"

[2022-05-16 12:20] denyeart commented on #3385
Make sure cryptogen is in your PATH.

[2022-05-16 12:20] #3385 closed, assigned to nobody

[2022-05-16 12:23] denyeart commented on #3345
No response, closing.

[2022-05-16 12:23] #3345 closed, assigned to nobody

[2022-05-16 12:25] denyeart commented on #3341
Main branch updated to Go 1.18.2:
https://github.com/hyperledger/fabric/pull/3404

Will do back releases next.

[2022-05-17 09:47] Ning-Qing opened #3425 "Can multiple nodes share a couchdb cluster?"

[2022-05-18 13:00] jkneubuh commented on #3409
I took a look at hashicorp go-getter for a mechanism to resolve the chaincode package archives from "some" network.  Go-getter is a bit of a "kitchen sink" in this regard - using the library is going to cause chaos for resolving / scanning / approving / linking in the dependencies...  in this case it's probably overkill.

A compromise here is to use the vanilla http libs available in Golang.  If t

[2022-05-18 13:14] jkneubuh commented on #3409
@SamYuan1990 there are some good discussions on how to "pin" a chaincode as a service package to a particular "build" of the chaincode going in [fabric-builder-k8s](https://github.com/hyperledgendary/fabric-builder-k8s).

The proposed solution to support the Alice / Bob scenario is to publish a chaincode package referencing an image by [Container Registry Digest](https://kubernetes.io/docs/concept

[2022-05-19 11:33] #3413 closed, assigned to Param-S

[2022-05-19 14:53] SamYuan1990 commented on #3409
I am agree with `latest` is not a good practice.
if we are going to use image hash from OCI, or chaincode hash as verify. Then I am fine.
Which means we are going to verify image hash/chaincode hash right?

Even if we don't use `latest`, a common case is `image_reg/image_path:image_tag` instead of image digest. as I am worried about.

[2022-05-19 15:01] SamYuan1990 commented on #3409
I suppose  that's all we are going to talk about with deploy image with specific tag as you mentioned.

When using image tags, if the image registry were to change the code that the tag on that image represents, you might end up with a mix of Pods running the old and new code. An image digest uniquely identifies a specific version of the image, so Kubernetes runs the same code every time it starts

[2022-05-20 16:48] jkneubuh commented on #3409
I set up a `peer` build with the above approach (read the CC package from http / https URLs) using the stock golang routines (no go-getter), tried it *in practice* with the new k8s / [cc package builder](https://github.com/hyperledger/fabric-samples/pull/739), and honestly I do NOT like the new feature request.

When the chaincode package declares the **image@digest**, it now correctly and uniquel

[2022-05-20 16:48] #3409 closed, assigned to nobody

[2022-05-20 16:55] jkneubuh commented on #3409
@SamYuan1990 we had a lot of "really lively debate" about how to associate CC images with CC packages.  The outcome / conclusions were:

- CC packages MUST be declared using the image @ DIGEST syntax.

- For application / chaincode development, a CI / CD pipeline (GitHub Actions, Tekton, Argo, Azure Pipelines, JenkinsX, etc. etc.) can be used to infer the Docker Image Digest and construct the CC p

[2022-05-21 03:32] SamYuan1990 commented on #3409
LGTM as a decision.

[2022-05-22 07:37] gunshukla opened #3438 "Hyperledger Fabric - Chaincode sample with Javascript"
Hello, I was trying to run Javascript Chaincode on my Macbook and came up with below error. Any direction or guidance will be great.

Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: docker build failed: docker image build failed: docker build failed: Failed to pull hyperledger/fabric-nodeenv:2.4: no matchi

[2022-05-23 14:47] jt-nti commented on #3438
Hi @gunshukla, unfortunately arm64 support is not complete in Fabric, and there's an open issue #2994. You might be able to get further by using the chaincode as an external service approach instead of the built-in Node.js chaincode builder.

[2022-05-23 16:41] #3438 closed, assigned to nobody

[2022-05-23 16:42] denyeart commented on #3425
No, in a blockchain every peer manages its own data independently, so one-to-one relationship between peer and state database.

[2022-05-23 16:43] #3425 closed, assigned to nobody

[2022-05-24 07:12] davidkel commented on #3438
@gunshukla another thing you could try is to pull down the the amd64 version manually `docker pull hyperledger/fabric-nodeenv:amd64-2.4.2` and retag it as `2.4`

[2022-05-24 09:50] ben-chp opened #3443 "fabric-sdk-java and fabric-chaincode-shim using conflicting versions of opentelemetry"
When using the latest version of `fabric-sdk-java-2.2.14` and `fabric-chaincode-shim-2.4.1` a dependency conflict occurs due to conflicting versions of OpenTelemetry.

in `fabric-sdk-java-2.2.14`:
[code]

In  `fabric-chaincode-shim-2.4.1`:
[code]

This causes the `cryptoSuite` factory to fail with:

[code]

[2022-05-24 09:51] ben-chp commented on #3443
`AutoConfiguredOpenTelemetrySdk` is only available from OpenTelemetry-autoconfigure 1.7 onwards.

[2022-05-24 11:05] #3443 closed, assigned to nobody

[2022-05-24 14:22] #3024 closed, assigned to manish-sethi

[2022-05-24 14:32] manish-sethi opened #3444 "Delete purgemarker when purging data in background"
In purge private data, in the initial design we considered keeping one purge marker that would be used for both a) deleting the data in the background and b) reconciliation. However, this adds inefficiency in the background goroutine as we need to keep the purge marker for reconciliation _forever_.
So, the proposal is to keep two copies of the purge markers for both the above purposes.

[2022-05-31 09:23] Kelkut opened #3453 "Error in setting csr.cn parameter with docker"
When attempting to create an intermediate CA, it is necessary to set the CSR.CN value to empty. Using docker, this operation is not possible because, by setting the environment variable as an empty string, it is automatically replaced by the default value.

[2022-05-31 09:30] Kelkut opened #3454 "msp folder tlsintermediatecerts not present"
At this [link](https://hyperledger-fabric.readthedocs.io/en/latest/membership/membership.html#msp-structure), an image related the contents of the MSP folder is shown. Proceeding with my docker configuration, I found the absence of the tlsintermediatecerts folder. I'm using Fabric CA 1.5.2 image.
I am subsequently having a lot of problems running the peers in my intermediate and the errors point b

[2022-06-01 11:53] denyeart commented on #3117
Currently being worked in https://github.com/hyperledger/fabric/pull/2997

[2022-06-01 12:18] denyeart commented on #3453
Assuming this is a fabric-ca issue... please close here and re-open in https://github.com/hyperledger/fabric-ca/issues

[2022-06-06 13:42] SamYuan1990 commented on #3001
hello everyone, I am going to providing some reference and my personal opinion according to the [white paper](https://www.hyperledger.org/wp-content/uploads/2018/10/HL_Whitepaper_Metrics_PDFVersion.pdf)

if I am correct, "gateway component" from "business" point of view considering is better to have report related with
- read latency
- read throughput
- write latency
- write throughput

for read,

[2022-06-07 12:19] denyeart opened #3464 "Fabric v2.5 release"
Umbrella epic to capture misc items for Fabric v2.5 release.

This does not include #2787 which is also targeted for v2.5.

[2022-06-07 21:50] vasavi-spglobal opened #3465 "Please help to resolve vulnerabilities in fabric images"
Hi,

we are using Hyperledger fabric blockchain in one of our projects and our company's security team scanned the fabric images and reported below vulnerabilities. Below are the listed versions and vulnerabilities. Kindly provide us the clean images that doesn't have any vulnerabilities

----
fabric-orderer (v 2.4)
  alpine-3.14.3
  CVE-2018-25032
  CVE-2022-0778
  ALPINE-13661
  CVE-2022-28391

[2022-06-08 12:20] denyeart opened #3466 "ledgerutil identifytxs command doc"
Add command doc for ledgerutil identifytxs.

[2022-06-08 18:30] mrshah-at-work opened #3467 "fabhttp endpoint will need to restart on certificate renewals"
fabhttp server loads static TLS certificates in the server [here](https://github.com/hyperledger/fabric/blob/16259ed70a4cd57513be40a0678213d9274a9ae8/common/fabhttp/tls.go#L28-L46). This will require restart of the server when the certificates are renewed or replaced.

It will be better if the certificates are loaded dynamically as they are loaded in grpc server [here](https://github.com/hyperledg

[2022-06-09 12:25] denyeart commented on #3465
Dependencies will be updated in the upcoming open source releases for v2.2.x and v2.4.x. But note that the Fabric images on dockerhub are for development and trial purposes. For production environments you are encouraged to use a commercial offering that provides regular security patches and support.

[2022-06-09 12:38] vasavi-spglobal commented on #3465
Hi Dave,

Thanks for the reply. Please guide me on where and how I can get commercial offering images

Thanks
Vasavi

[2022-06-10 05:17] Kelkut commented on #3453
You was right. It was a docker issue. Sorry for the error.

[2022-06-10 05:31] Param-S opened #3474 "BFT: Replace Mutual TLS with TLSBinding Authentication"
As it is described in the RFC https://github.com/hyperledger/fabric-rfcs/pull/50/files#diff-8ba0214c161394f52cdac8a5414042fa8e99926620fb37556f8349e73cec1321R262 mutual TLS with pinning will be replaced with the TLSBinding based authentication.

**Authentication Method:**
The connection between the orderers is secured using the orderer level authentication by making use of the EKM([Export Keying Ma

[2022-06-10 13:51] mhooimeijer opened #3476 "Brew command is outdated "brew cask install" should be "brew install --cask""
This is the outdated code
brew cask install --appdir="/Applications" docker

Should be using:
brew install --cask --appdir="/Applications" docker

[2022-06-10 15:00] denyeart commented on #3270
Done in https://github.com/hyperledger/fabric/pull/3296

[2022-06-10 15:00] #3270 closed, assigned to nobody

[2022-06-11 03:11] lindluni commented on #3465
Hardened images are available for licensing directly from IBM via PPA: https://cloud.ibm.com/docs/blockchain-sw?topic=blockchain-sw-blockchain-images

I'm not personally aware of other companies offering supported Fabric images. You could also simply build the images yourself.

[2022-06-12 10:16] yacovm commented on #3467
But Fabric cannot dynamically update a TLS certificate anyway... there is no API for that.

[2022-06-13 11:53] mrshah-at-work commented on #3467
if fabric is running in kubernetes and the secret containing the certificate is updated, grpcserver can pick up the new certificate without any restarts needed.

if fabric is running outside of kubernetes and the file with the certificate is updated with new certificate, gpcserver can pick up the new certificate without any need of restarting the server.

[2022-06-14 03:02] bh4rtp opened #3478 "TLS config for ccass_builder can be improved"
TLS config, i.e. `root_cert`, `client_cert` and `client_key` are set using `CHAINCODE_AS_A_SERVICE_BUILDER_CONFIG` env in the Peer docker-compose file as same as `peername`. And then pass the values into `connection.json` by `ccass_builder` commands. The templated `connection.json` is really convenient now for multiple peers support.
But in deployment, `peername` is static, while `root_cert`, `cli

[2022-06-14 06:25] yacovm commented on #3467
I'm pretty sure the file is loaded only at startup... and not upon every TLS handshake.

[2022-06-15 13:48] Asday opened #3480 "Just because you put "secure" in the URL doesn't mean it's secure."
https://jira.hyperledger.org/secure/attachment/15836/cluster_test1.log

I imagine those are private keys created and destroyed during the process of running the unit tests, but still, who knows what else there might be in Jira's attachments that you don't want me to see.

[2022-06-15 14:51] #3478 closed, assigned to nobody

[2022-06-15 14:52] bh4rtp commented on #3478
It implements the directly modification connection.json.

[2022-06-15 18:33] yacovm commented on #3480
But these are unit tests, the private keys that are generated in them have no use anywhere else.
Besides, I'm not sure why you're posting this to the Fabric core repository. This isn't a Fabric core issue, it is at most a JIRA issue. You should post it in JIRA.

[2022-06-15 18:33] #3480 closed, assigned to nobody

[2022-06-15 18:58] Asday commented on #3480
'Cause there's a URL to this repository in the log, and I figured someone might care that a misconfiguration is potentially exposing sensitive information.  I'd like to know, as a server admin.

I guess crypto bros are a different breed to people who do useful work.  Crazy world out there.

[2022-06-16 11:34] ACwatermelon opened #3482 "Chaincode related questions"
The chain code I defined needs to include some external library files, which can only be downloaded in Ubuntu.
How can I deploy the smart contract?

[2022-06-16 11:47] ACwatermelon commented on #3482
The method I want to implement in smart contracts only works in Ubuntu 20.04. How can I combine it with fabric?

[2022-06-17 07:56] mbwhite commented on #2787
Hello,

I tried yesterday the combination of the two Fabric PRs 2477 (Julian's) and 3448 (mine). I tested this with an updated Gateway application and chaincode from the Fabric Samples (PR 769) .  Functionally everything connected and worked. There was a 20 second delay on the purge which I understand is awaiting the purge commit story.

Fabric peer PRs
https://github.com/hyperledger/fabric/pull/3

[2022-06-18 05:25] Swastyy opened #3491 "Error in website"
Hi community, the link provided [here](https://www.hyperledger.org/use/fabric) for joining the discord server [as](https://chat.hyperledger.org/channel/fabric) is not working and showing the error as:
![image](https://user-images.githubusercontent.com/64654203/174424137-d55ad49c-d899-4a56-88ec-e8cbb26c0edd.png)

[2022-06-20 08:27] jt-nti commented on #3286
It would be good to get #3315 finished since the latest release has `/bin/ccaas_builder/bin` which is a bit odd

[2022-06-21 17:49] ryjones commented on #3476
@hyperledger/fabric-core-doc-maintainers

[2022-06-22 00:49] jotyy opened #3501 "Failed to set GOPROXY variable"
I'm using docker image tagged  with `hyperledger/fabric-tools:2.2` for cli, for the network reason, I can't access the golang default repo, so I set environment variables `GO111MODULE=on`，`GOPROXY=https://goproxy.cn` in my docker container.

Then I install chaincode like this in the container:
[code]

Something went wrong, these are the error outputs:
[code]

As you can see, `GOPROXY` variable is

[2022-06-22 14:35] jotyy commented on #3501
Solved by invoking `go mod vendor` before `peer chaincode package`.

[2022-06-22 14:35] #3501 closed, assigned to nobody

[2022-06-23 12:24] SamYuan1990 commented on #3341
are we plan to use any go 1.18 new features ?

[2022-06-23 12:27] SamYuan1990 commented on #3341
@denyeart , please take a look at
https://github.com/hyperledger/fabric/blob/main/go.mod#L3

[2022-06-28 12:15] #3117 closed, assigned to Param-S

[2022-06-28 12:18] denyeart commented on #3341
Not planning to use any Go 1.18 features at the moment, but I'll plan on updating go.mod so that we can.
Note that the build has already been updated to use Go 1.18.

[2022-06-28 12:23] denyeart commented on #3482
Please reserve github issues for actual code issues.
For questions please use mailing list or discord chat - https://hyperledger-fabric.readthedocs.io/en/latest/CONTRIBUTING.html#communications-and-getting-help

[2022-06-28 12:23] #3482 closed, assigned to nobody

[2022-06-28 12:25] denyeart commented on #3482
For starters take a look at using external chaincode service - https://hyperledger-fabric.readthedocs.io/en/latest/cc_service.html

[2022-06-29 15:10] bestbeforetoday commented on #2994
Confirmed that with current (v2.4) Fabric release and current fabric-samples, these things work:

- Fabric install using install script.
- Create test-network
- Deploy Go chaincode
- Run Go, Node and Java client applications

What doesn't work is deploying Node and Java chaincode using the `test-network/network.sh` script, with suitable nodeenv and javaenv Docker images not found:

[code]
[code]

[2022-06-30 15:14] #3025 closed, assigned to jcastrence

[2022-07-05 20:30] qliu2022 opened #3507 "Hyperledger channel creation error due to certificate issue"
Hello,

Sorry to bother. I'm having trouble to create a hyperledger fabric channel due to some admin and certificate related errors.

When I tried to run the following channel creation code,

it shows following errors:

When I further checked the logs from orderer, it shows following errors about certificate:

also:

I also double-checked the admin certificate for org1, which seems no issue to me.

[2022-07-07 00:58] zhongwang-boy opened #3509 "fabric-sdk-go failed to create channel client because TLS handshake failed"
fabric -sdk-go：
<img width="1044" alt="image" src="https://user-images.githubusercontent.com/75482436/177667041-82c5e0cc-e704-4058-9aae-4d5f46fe17bd.png">

peer logs:
<img width="1070" alt="image" src="https://user-images.githubusercontent.com/75482436/177667119-5116d808-6474-4dd2-921d-59d87873e0ab.png">

[2022-07-07 08:07] dchampak opened #3510 "build/bin folder shows zero byte binaries"
Hi

I have cloned 2.3.0 version and build using "make dist-clean all". Build is successful (disabling unit tests, integration tests).
In the build/bin folder binaries have been created, but they are all of zero byte size.  Could you please help in resolving this issue?

Purpose of this experiment:  I was trying to run fabric-samples and debug / study framework source with additional logs. To this

[2022-07-07 10:55] tock-ibm opened #3511 "Orderer v3: remove deprecated components"
The first part of the "Orderer V3 RFC" calls for the removal of deprecated components:
- Kafka
- Solo
- System channel support

See RFC:
- https://hyperledger.github.io/fabric-rfcs/text/orderer-v3.html
- https://github.com/hyperledger/fabric-rfcs/pull/50

In addition, since block gossip is deprecated since v2.5, change the defaults accordingly, e.g. see #3961 , making it disabled by default, even

[2022-07-07 11:22] tock-ibm opened #3514 "Orderer v3: remove solo support"
In v3 we will remove support for the solo consensus protocol.

- [x] Disable solo as a consensus protocol
- [x] Change integration tests that use solo to single node raft
- [x] Change integration tests that do consensus type migration to check limited functionality (maintenance mode)
- [x] Remove integration tests that use solo but do not add value
- [x] Remove solo from integration tests infrastr

[2022-07-07 11:33] tock-ibm opened #3515 "Orderer v3: remove support for the system channel"
In v3 we will remove support for the system channel.

- [x] remove the usage of system channel in integration tests
- [x] prevent boot with a system channel
- [x] prevent creating a system channel with channel participation
- [x] cleanup the bootstrap package
- [x] #4184
- [x] clean up the flow for creating a new channel
- [x] #4189
- [x] #4204
- [x] #4185
- [x] clean up config tx templating
- [x]

[2022-07-07 11:54] dchampak commented on #3510
This issue appears to get resolved by removing touch in below lines in Makefile:
$(BUILD_DIR)/bin/%:
        @echo "Building $@"
        @mkdir -p $(@D)
        GOBIN=$(abspath $(@D)) go install -tags "$(GO_TAGS)" -ldflags "$(GO_LDFLAGS)" $(pkgmap.$(@F))
        @touch $@

[2022-07-07 11:54] #3510 closed, assigned to nobody

[2022-07-08 15:38] joshhus opened #3518 "Read & analyze Key Concepts for new user"
Read & analyze Key Concepts for UX / new user. Per request by @denyeart.

https://hyperledger-fabric.readthedocs.io/en/latest/key_concepts.html

[2022-07-12 09:35] bestbeforetoday commented on #3476
I guess this refers to the development environment set up instructions in the [v2.2](https://github.com/hyperledger/fabric/blob/fb9551d2e5dcb8799c63a192c9cdf14a369e3053/docs/source/dev-setup/devenv.rst) and/or [v2.3](https://github.com/hyperledger/fabric/blob/a3a4d748d43cff29a9a25de67880999ffb9b7f98/docs/source/dev-setup/devenv.rst) documentation? I suspect that this commands were probably correct

[2022-07-14 13:51] davidkhala commented on #3464
Hi @denyeart
https://go.dev/ref/mod#incompatible-versions

Do we have plan to referring this module name convention on module in format of `../v2` in next LTS 2.5 release?

[2022-07-14 13:52] bhaskarvilles opened #3523 "Fix(security): Path traversal Bug"
#### Description

Unsanitized input from open tar file flows into os.Open, where it is used as a path. This may result in a Path Traversal vulnerability and allow an attacker to open arbitrary files.

## Data flow:
22 steps in 1 file
vendor/github.com/docker/docker/pkg/archive/diff.go

[2022-07-14 16:44] fraVlaca commented on #3020
@mbwhite think you can link (https://github.com/hyperledger/fabric-chaincode-node/pull/313) for the node api and https://github.com/hyperledger/fabric-chaincode-go/pull/55  for the node one and tick them off

[2022-07-15 19:39] MelissaGS1 opened #3528 "CLI chaincode query error"
I was able to initialize ledger through CLI, but when it came to query, it gave tls error:
2022-07-15 15:34:40.234 EDT 0001 ERRO [comm.tls] ClientHandshake -> Client TLS handshake failed after 26.046986ms with error: x509: cannot validate certificate for 0.0.0.0 because it doesn't contain any IP SANs remoteaddress=127.0.0.1:7051

[2022-07-15 19:47] MelissaGS1 commented on #3528
The complete error message is:
2022-07-15 15:44:03.061 EDT 0001 ERRO [comm.tls] ClientHandshake -> Client TLS handshake failed after 12.31142ms with error: x509: cannot validate certificate for 0.0.0.0 because it doesn't contain any IP SANs remoteaddress=127.0.0.1:7051
2022-07-15 15:44:04.075 EDT 0002 ERRO [comm.tls] ClientHandshake -> Client TLS handshake failed after 1.68616ms with error: x509:

[2022-07-15 19:56] MelissaGS1 commented on #3528
It turns out I didn't set up env var correctly, need to do the following:
export CORE_PEER_TLS_ENABLED=true
export CORE_PEER_LOCALMSPID="Org1MSP"
export CORE_PEER_TLS_ROOTCERT_FILE=${PWD}/organizations/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/tls/ca.crt
export CORE_PEER_MSPCONFIGPATH=${PWD}/organizations/peerOrganizations/org1.example.com/users/Admin@org1.example.com/msp
exp

[2022-07-15 19:56] #3528 closed, assigned to nobody

[2022-07-17 06:47] SamYuan1990 commented on #3464
@denyeart , @jkneubuh
I hope we are able to have `v2` as api release.
for example, when developing admin-sdk, for peer join channel feature.
I noticed that there some code depends on package `"github.com/hyperledger/fabric/core/scc/cscc" `
which is not included in current api for go mod, so I hope we are able to release 2.5 with `v2` api so that cscc package can be invoked by `	"github.com/hyperle

[2022-07-17 07:51] SamYuan1990 commented on #3464
I made a pr for sample, hope it works. https://github.com/hyperledger/fabric/pull/3529

[2022-07-17 11:07] yacovm commented on #3464
Fabric core **is not supposed** to be imported/vendored by external projects.
That's part of the reason we have repositories for everything starting from [protos](https://github.com/hyperledger/fabric-protos-go), [shim](https://github.com/hyperledger/fabric-chaincode-go), [idemix](https://github.com/IBM/idemix), and even [channel configuration](https://github.com/hyperledger/fabric-config).

[2022-07-17 11:16] SamYuan1990 commented on #3464
hi @yacovm ， in that case, if we want to develop admin sdk to allow peer join channel instead of use peer cli, as the code logic depends on `github.com/hyperledger/fabric/core/scc/cscc` and as you said, if we don't have plan to expose fabric core...
any suggestion to make the admin sdk without fabric core?

[2022-07-17 11:18] yacovm commented on #3464
Why do you need to import the server side code to be able to implement a client? The logic that CSCC performs is unrelated to what you need to send to a chaincode. Just assemble the payloads it expects and send it to a chaincode, what's the issue?

[2022-07-17 11:20] yacovm commented on #3464
I think in v3 we would end up making a module inside Fabric core that will be importable, and will abide by the Go module conventions, but that doesn't mean we need to make **all of Fabric core** a huge module.

[2022-07-17 11:34] SamYuan1990 commented on #3464
ref to line
https://github.com/hyperledger/fabric/blob/0fa4d2f79d8147cc8d92151654ace40d8339b35b/internal/peer/channel/join.go#L67

so... instead of using fabric core modules, another option is that we open those const values? or user copy paste those const value into their own code?

[2022-07-17 12:16] yacovm commented on #3464
Just copy the string :-)

[2022-07-17 23:59] denyeart commented on #3464
@davidkhala @SamYuan1990
I agree with Yacov, we don't want to signal that people should import core Fabric code.

[2022-07-18 12:56] #3453 closed, assigned to nobody

[2022-07-18 17:18] joshhus commented on #3518
**Landing page** (https://hyperledger-fabric.readthedocs.io/en/latest/key_concepts.html) - Add sub-headings to this list that clarify Who and What each Key Concept is for. Because not all concepts are for the same role and / goals, presumably. (Note one person may play multiple roles for an org., still okay to split them up.)

For example:

Key Concepts
... For Developers >>

... For System/Blockc

[2022-07-18 17:21] joshhus commented on #3518
Key Concepts >> Introduction https://hyperledger-fabric.readthedocs.io/en/latest/blockchain.html

1. Not mentioning "blockchain" in the first paragraph is odd, esp. considering we then spring that on them in the next paragraph. It also reads a bit like a "word salad" (lots of big words, hard to interpret the point) which is a tough start for a new user. A simple bulleted list of what HLF is may be

[2022-07-18 18:13] joshhus commented on #3518
Moving this to a Box document. ok?

[2022-07-19 11:34] vinayak-naik commented on #3039
This worked for me

[2022-07-20 19:19] denyeart commented on #3020
@mbwhite In the task list above the link to Java issue/PR is not correct. I believe that is done now. Could you correct the task list. Are we then ready to close this issue, or what else remains?

[2022-07-21 07:56] mbwhite commented on #3020
thanks @denyeart - this can be closed off.

[2022-07-25 11:08] #3020 closed, assigned to mbwhite

[2022-07-27 14:52] Neustradamus opened #3549 "RFC 9266: Channel Bindings for TLS 1.3 support"
Can you add the support of RFC 9266: Channel Bindings for TLS 1.3?
- https://datatracker.ietf.org/doc/html/rfc9266

Little details, to know easily:
- tls-unique for TLS =< 1.2
- tls-exporter for TLS = 1.3

Thanks in advance.

[2022-07-27 14:57] yacovm commented on #3549
It's discussed [here](https://hyperledger.github.io/fabric-rfcs/text/orderer-v3.html#protecting-against-man-in-the-middle-attacks).

I'm not sure what you're asking here though.

[2022-07-28 10:15] elolivier-nxp commented on #3509
Comment deleted.

[2022-07-29 18:51] denyeart commented on #3523
@bhaskarvilles Fabric is just a consumer of this dependency. Please report the issue in the dependency's repository, or submit a PR to the dependency's repository. It looks like that is at https://github.com/moby/moby now. Once it is fixed in the dependency stack then Fabric can pull it in.

I don't think the offending dependency code is even called during Fabric runtime though. Did you find a cod

[2022-07-29 21:58] denyeart commented on #3286
Merged and backported.

[2022-07-29 21:58] #3286 closed, assigned to nobody

[2022-08-03 00:02] b-garbacz opened #3560 "How to find and read informations inside block by using IDTx?"
Hey,
I have question. I created contract which returns history of key. This gaves me access to Id of transaction. But how can I check the creator of transaction by using IdTx? I need it to check certificate. I want to see what contains block with my transaction. For example IDTx = 771d0955712a41943af9f1385d5904fdb255c47d54c2636a2b5cd19e386c9d7e it is possible to find block and read informations fr

[2022-08-04 02:29] shobhitJava opened #3562 "Getting quorum loss issue as we rotate the orderer TLS certs in fabric 2.2"
Hi Team,

I have 3 orderer nodes running on cloud, in k8s. From the cli I create a new certificate tls as well as MSP and store in the separate folder, with all Orderer still pointing to old certs. Then from cli, I fetch the config , encode, and ord0 tls cert, decode it and then push the update for syschannel as well as for application channel. Both the channel update operation return success for

[2022-08-04 08:28] yacovm commented on #3562
The real issue here is that you have one orderer down out of three, and when you try to rotate the certificate of that orderer, the orderer validation logic doesn't take into account that you're rotating the certificate of the orderer that is down, and [wrongly decides](https://github.com/hyperledger/fabric/blob/main/orderer/consensus/etcdraft/membership.go#L126) it will result in quorum loss.

@s

[2022-08-04 08:30] ftokarev opened #3563 "epub and pdf downloads of the docs are no longer available"
Starting from `release-2.2` it is no longer possible to download the documentation as epub or pdf files:

release-2.1:
![image](https://user-images.githubusercontent.com/876658/182800476-29ab7dfe-bc04-40e5-9672-a4abc20bbbf7.png)

release-2.2 and newer:
![image](https://user-images.githubusercontent.com/876658/182800677-486d6e02-e2ad-421b-be99-cacb0627fbf2.png)

There is a discussion about making p

[2022-08-04 09:01] shivdeep-singh-ibm commented on #3562
@yacovm  Sure.

[2022-08-04 12:25] yacovm commented on #3562
https://discord.com/channels/905194001349627914/945037581500940298/1004380841973125150

[2022-08-08 12:18] denyeart opened #3575 "Idemixgen was removed from the set of Fabric produced binaries but is still mentioned in ReadTheDocs"
Idemixgen was removed from the set of Fabric produced binaries but is still mentioned in ReadTheDocs.

Need to scrub references of Idemixgen in Fabric ReadTheDocs since it is no longer provided in the set of Fabric binaries. Need to reference the new location at https://github.com/IBM/idemix/tree/main/tools/idemixgen.

Also mention in release notes for v2.4.x (Dave Enyeart can do this for you!)

[2022-08-10 11:44] shivdeep-singh-ibm commented on #3562
I think this diagnosis is incorrect since the orderer validation code [has logic in place which takes into account only alive orderers](https://github.com/hyperledger/fabric/blob/2b8997153a4d7ea94429b23f9868eb937bce35b5/orderer/consensus/etcdraft/membership.go#L140), to take a decision about quorum loss.

However, as seen from logs, where first orderer was not able to join the quorum as it din't f

[2022-08-10 12:58] AliakbarETH commented on #3518
@joshhus I believe you are right from the users perspective.

But ultimately we need to think from a developers mindset.

We can't classify the content based on the role but what we can do is to give him an extensive playground to play around.

So, he knows and goes through the most of the doc and understands the crux.

Honestly, Blockchain is generally not easy and hyperledger is a tough thing to

[2022-08-11 02:12] shobhitJava commented on #3562
Please check the steps I am performing to arrive at this issue.

I have a network of 3 orderer(0,1,2) hosted via kubernetes on GCP. All the certificates are generated and kept in secret and configmap provided by kubernetes which is getting mapped to respective orderers. I create new msp and tls certs of all peers and orderers from cli. All orderer are still pointed to old certs only. I create a cl

[2022-08-11 07:41] shivdeep-singh-ibm commented on #3562
Also after doing config update , wait for sometime, for orderer0, to get the config blocks. After this step, we assume that the config update has been published, but we need to be sure. For debugging, can you fetch the config the channel config, decode it and check whether your new tls cert is present, for orderer0? We want to make sure that the config update has been committed to orderer0.

[2022-08-11 08:45] shobhitJava commented on #3562
Please find the observation. After updating syschannel and application channel for ord0(It works fine). I replaced ord0 msp and tls cert. After that when I fetch syschannel config block  from ord1 I am getting new tls cert of ord0. But when I am updating syschannel, getting same issue

2022-08-11 08:40:40.849 UTC 0001 INFO [channelCmd] InitCmdFactory -> Endorser and orderer connections initialized

[2022-08-11 08:54] shobhitJava commented on #3562
getting the below error in ord1

2022-08-11 08:52:48.193 UTC 01d7 ERRO [comm.tls] ClientHandshake -> Client TLS handshake failed after 1.089742ms with error: public key of server certificate presented by orderer0-hlf-ord.svc.cluster.local:7050 doesn't match the expected public key remoteaddress=10.80.43.165:7050

[2022-08-11 10:52] shivdeep-singh-ibm commented on #3562
Can you pull a config block from orderer0 and check the tls keys in it?

[2022-08-11 12:00] shobhitJava commented on #3562
Okay, for this. from ord0 once I push the channel update to syschannel and application channel, I cannot fetch the config block, It gives error Service Unavailable.

From ord1, I can fetch the config block. In this config block, I do see new tls cert of ord0.

[2022-08-11 12:23] shivdeep-singh-ibm commented on #3562
So your orderer0 is has some problem or some step may be missing.  However you can go through [this resource for a  demo to rotate certs for fabric](https://www.youtube.com/watch?v=fr2CB4_XrHc&t)

[2022-08-11 12:42] shobhitJava commented on #3562
It got solved. Since the correct public key was not presented by ord0. I needed to manually restart the ord0 to have new certs.

[2022-08-12 09:00] #3562 closed, assigned to nobody

[2022-08-12 09:01] shobhitJava commented on #3562
Thanks for the help.

[2022-08-18 07:22] FoxCao opened #3593 "Caused by 👍 Rejecting broadcast of normal message from 22.22.22.22:40548 with SERVICE_UNAVAILABLE 👍"
**### orderer error:**
orderer.common.broadcast] ProcessMessage -\u003e WARN 4717d\u001b[0m [channel: zlpchannel] Rejecting broadcast of normal message from 22.22.22.22:40548 with SERVICE_UNAVAILABLE: rejected by Order: no Raft leader\n","stream":"stderr","time":"2022-08-13T02:16:08.016000153Z"

**### fabric-sdk-java error:**
error-2022-08-13.log:Caused by: java.lang.Exception: Channel zlpchannel

[2022-08-18 09:07] Param-S commented on #3593
As the error described, `rejected by Order: no Raft leader`, there is an issue with the orderering service nodes, there is no quorum. Can you check whether all the orderers in the consenters set is running and quorum(leader) is established.  We can check these details in the orderer log.

[2022-08-18 09:39] FoxCao commented on #3593
Thanks for your answer , orderering service nodes wrok well now , but  the leader selection  spent 5 seconds,  the issue happened  when user send a proposal to orderer by fabric-sdk-java  during selection , how should this situation be handled.

[2022-08-19 06:41] lcl1024 opened #3596 "What's the difference between chaincode_shim_requests_received and chaincode_shim_requests_completed?"
I found the code related to these two indicators, in `fabric/core/chaincode/handler.go:HandleTransaction`
[code]

I think these two values will change together in any case.So, what's the difference between chaincode_shim_requests_received and chaincode_shim_requests_completed?

[2022-08-19 16:32] Param-S commented on #3593
I am wondering whether the time taken(5 secs) to select the leader is normal or can be improvised. we can take a look at the orderers log.
@andrew-coleman @yacovm  if the leader election takes more time,is there a way the client(peer gateway) to know and cache or retry the ordering request.

[2022-08-19 16:45] rodolfoleal commented on #3238
It also affects Fabric 1.4.x ? Looks like the shift gets nor applied on the for the root CA.

[2022-08-19 17:48] denyeart commented on #3596
@lcl1024
chaincode_shim_requests_received increments for each received.
chaincode_shim_requests_completed increments for each received AND successfully processed without error.

Therefore, the difference between them will be the number that errored out during processing.

[2022-08-19 17:48] #3596 closed, assigned to nobody

[2022-08-19 17:58] denyeart commented on #3238
@rodolfoleal Fabric v1.4 is out of maintenance. There are many issues with v1.4 that have been fixed only in v2.x. Users must upgrade to v2.x to get these fixes.

[2022-08-25 13:30] bhaskarvilles opened #3613 "Reflecting Cross-site Scripting (XSS) Bug"
Unsanitized input from the request body `r.body` flows into `fmt.Fprintln`, where it is used to render an HTML page returned to the user. This may result in a Reflected Cross-Site Scripting attack (XSS).

https://github.com/hyperledger/fabric/blob/f4ea5f79593000f278100654f530f2ca52194676/internal/configtxlator/rest/protolator_handlers.go#L50

[2022-08-29 18:14] denyeart commented on #3613
An error is returned rather than unsanitized input.

[2022-08-29 18:14] #3613 closed, assigned to nobody

[2022-08-31 09:35] luca-simonetti commented on #3241
same error

[2022-08-31 09:36] elyssa12 commented on #3241
已收到，谢谢。

查阅后，将尽快给您回复。

[2022-08-31 11:07] #3474 closed, assigned to Param-S

[2022-08-31 14:41] brano543 opened #3620 "Unable to instantiate chaincode: transport.go:416:45: undefined: os.ErrDeadlineExceeded"
Hello community,

we have been using fabric-samples (curl -sSL https://bit.ly/2ysbOFE | bash -s -- 1.4.8 1.4.9) for some time, but recently the whole setup of test network started to fail. We are using fully sandboxed environment (Nix package manager), so we are sure that the configuration that worked used same platform / dependencies. We suspect that only thing that had to change are the Docker i

[2022-09-03 03:24] icetrust0212 opened #3622 "BUG - Couldn't install fabric testnet on ubuntu 22.04"
I followed instructions in official fabric document.
When I run command `./network.sh up`, I got this error.
`./network.sh: line 259: docker-compose: command not found`

I noticed that docker composer v2 supports only `docker compose` command instead of `docker-compose`.
Is this fabric bug?
How to solve this with latest docker engine and compose?
![image](https://user-images.githubusercontent.com/

[2022-09-05 08:06] FoxCao commented on #3593
Thanks for your answer

Thanks for your answer.

[2022-09-05 09:23] yacovm commented on #3593
5 seconds is normal.

[2022-09-05 20:39] Gipnomanul opened #3627 "Cannot clone fabric repository"
Hello there. I am using Windows 10 with Docker and when doing basic curl command from documentation i get an error "fabric-samples v2.4.6 does not exist, defaulting to main. fabric-samples main branch is intended to work with recent versions of fabric.". Can someone help me with this problem?

Command i am using is:
`curl -sSL https://bit.ly/2ysbOFE | bash -s`

Output is:

`main: line 63: git: com

[2022-09-06 09:57] tock-ibm opened #3629 "Unit test flake in etcdraft"
This use case in the `etcdraft` suite fails intermittently:

------------------------------
• [FAILED] [10.153 seconds]
Chain
/home/runner/work/fabric/fabric/orderer/consensus/etcdraft/chain_test.go:101
  3-node Raft cluster
  /home/runner/work/fabric/fabric/orderer/consensus/etcdraft/chain_test.go:1565
    reconfiguring raft cluster
    /home/runner/work/fabric/fabric/orderer/consensus/etcdraft/c

[2022-09-06 09:58] tock-ibm commented on #3629
[logs_6857.zip](https://github.com/hyperledger/fabric/files/9495557/logs_6857.zip)
Logs

[2022-09-06 12:11] Dudu3710 opened #3630 "Is possible to choose between two versions of the same chaincode?"
I am facing a problem when i have to use an older version of a chaincode, the version is already installed. Or the newest one will always be executed?

[2022-09-09 19:48] altharp opened #3633 "Peer handling of ledger initilization failures"
This issue is being opened for a design consideration for Hyperledger Fabric 2.x or above regarding how the peer handles the failure to initialize a ledger.  Currently, if ledger initialization fails (such as due to issues with the state database) the peer will continue running and there are not automatic recovery efforts related to that one ledger.

In the current design of the peer, there is a c

[2022-09-11 07:31] mock123456 opened #3634 "scripts/ccutils.sh: line 25: jq: command not found"
When i keyboard the  ./fabcar command to test the network,i found a error.I receive this message:

scripts/ccutils.sh: line 25: jq: command not found
+ res=1
Query installed on peer0.org1 has failed
Deploying chaincode failed

[2022-09-11 13:13] 1kangsheng commented on #3634
you can try it “sudo apt install jq”

[2022-09-11 13:25] mock123456 commented on #3634
Thanks for your suggestion and it works!

[2022-09-11 13:25] #3634 closed, assigned to nobody

[2022-09-12 11:12] rajat-dlt opened #3638 "Issue with V2.4.6 branch"
While the code is working fine in main but in v2.4.6, the line https://github.com/hyperledger/fabric/blob/v2.4.6/scripts/bootstrap.sh#L12
does not have the darwin iteration.

Thus it does not work for apple based laptops. Can this be pushed in the specific branch too?

Or is there anything particular due to which we've skipped this?
cc- @mbwhite

[2022-09-12 11:33] rajat-dlt commented on #3638
@denyeart , Is the reason for this #2994?

But still, this could be pushed into v2.4.6. I could not get this.

[2022-09-15 13:41] techyangj opened #3639 "panic: tocommit(25) is out of range [lastIndex(16)]. Was the raft log corrupted, truncated, or lost?"
I have created different organizations in multiple servers. Each organization has multiple peer nodes and an orderer node. Everything on one server has been cleared. Later, I redeployed the organization with a configuration file. The orderer container has the following problems. Containers on other servers are running normally
Orderer logs:

[orderer.consensus.etcdraft] commitTo -> PANI bda tocomm

[2022-09-15 14:08] yacovm commented on #3639
How did you redeploy? Did you backup the files of the orderer's file system or something?

[2022-09-15 14:15] techyangj commented on #3639
Thank you for your reply. I restarted all the containers in Docker-compose file and added the prepared channel file to the peer node. It is feasible, but there is a problem when installing the chain code. Moreover, the Orderer mirror is in a broken state to begin with, and the previous data should not be found. And I want this organization to resynchronize data from other organizations, what's a g

[2022-09-15 15:06] yacovm commented on #3639
I'm sorry but I don't understand what steps you followed.

Can you be more clear and accurately describe everything you did?

[2022-09-15 15:17] techyangj commented on #3639
In the first step, I deployed the Fabric network on multiple servers, each with an orderer node and multiple peer nodes. In the second step, I laid out the channel files and installed the chain code, approved the transaction, and initialized the chain code. Peer nodes on all machines can access the data synchronically and operate through the chain code. These two steps are normal deployment, and I

[2022-09-16 08:43] AdamKen commented on #3627
The script cant find git and curl commad. Have you installed Git and cURL on your machine?

[2022-09-18 08:27] Param-S commented on #3629
Another use case failing in the same package with the following stack:

**Logs:** https://github.com/hyperledger/fabric/actions/runs/3030930972/jobs/4896676060

[code]
### Analysis:

As per the log statements, the node_1 (leader) initiated the leadership transfer(abdicate leader: https://github.com/hyperledger/fabric/blob/2ef46bbc718de220bbd33ee4e1ce65194b963358/orderer/consensus/etcdraft/node.go#

[2022-09-19 15:18] #3627 closed, assigned to nobody

[2022-09-19 15:35] denyeart commented on #3630
The version that has been installed on the peer and approved and committed on the channel will be used.

To update the chaincode, the typical flow would be for all participants to increment the version of the chaincode and re-install on their peers, then increment the sequence number on the channel, and approve/commit the new version/sequence.

It is possible however for a single organization to i

[2022-09-19 15:35] #3630 closed, assigned to nobody

[2022-09-19 15:43] Gipnomanul commented on #3627
I have them installed, but i thought that they are also installed inside docker. How can i check if they are working correctly?

[2022-09-20 18:45] Param-S commented on #3629
### **Analysis:**

[For the reported failing stack,](https://github.com/hyperledger/fabric/issues/3629#issue-1363025853) the use case timed out since a thread/go routine was blocked on leadership change notification condition.   The use case is defined to rotate the current leader’s certificate and transfer the leadership to another node.
https://github.com/hyperledger/fabric/blob/ad74ff2bc43fd651

[2022-09-21 02:08] AdamKen commented on #3627
Assuming you run ` curl -sSL https://bit.ly/2ysbOFE | bash -s` on powershell, you can run ` bash` to start your wsl, then check if they are functional.

[2022-09-21 11:57] aviralagrawalDLT commented on #3317
Hello team, I am working on this issue. Requesting you to assign the same to me.

[2022-09-22 07:48] Param-S commented on #3639
I suspect the problem is when the cleaned up/reset orderer node joined the orderering service network, the current leader(orderer) tried to send the blocks/msg based on the last known index of that orderering node.  But the node was restarted with the empty/initial state which did not match with the leader's match raft log index.

I am able to create the problem with the fabric-samples test-networ

[2022-09-23 06:58] techyangj commented on #3639
Thank you very much. According your reply, this problem is solved.

[2022-09-23 06:58] #3639 closed, assigned to nobody

[2022-09-23 10:14] ajayreddy6869 opened #3644 "Please help to resolve vulnerabilities in fabric binaries ( peer , configtxgen ) - 2.2"
I am working with fabric 2.2 network and using below binaries for one of the functionality in my application. So I have pushed these binaries to the repository and when I run the Jenkins build I see that some vulnerabilities with **Trivy** scanner. Please help to resolve these vulnerabilities .

### **configtxgen** Binary:

- golang.org/x/crypto : CVE-2021-43565, CVE-2022-27191, GHSA-8c26-wmh5-6g9

[2022-09-23 16:47] davidkel opened #3645 "In main branch, building docker images with HSM support doesn't work"
a per these lines
https://github.com/hyperledger/fabric/blob/d18be4662d74bc3abef1b95fc703c62b4c80bfd5/images/peer/Dockerfile#L28
https://github.com/hyperledger/fabric/blob/d18be4662d74bc3abef1b95fc703c62b4c80bfd5/images/orderer/Dockerfile#L27

CGO should not be disabled when building the peer/orderer

However fabric documentation specifies that if you want to build docker images with HSM support i

[2022-09-23 20:38] sibelly opened #3647 "Fix image on Getting Started - Install"
The current image is difficult to read, so I thought opening an issue to link the PR #3646  with the fix.

Before:
![Screenshot from 2022-09-23 16-37-14](https://user-images.githubusercontent.com/7544858/192052735-cda1cde9-9747-4d41-be3b-e97386951ed9.png)

After:
![Screenshot from 2022-09-23 16-33-18](https://user-images.githubusercontent.com/7544858/192052584-2e549d4a-64ff-46ca-b31e-156211db593b.

[2022-09-26 12:14] denyeart commented on #3647
https://github.com/hyperledger/fabric/pull/3646

[2022-09-26 14:50] denyeart commented on #3638
@rajat-dlt The bootstrap script in main branch is intended to be used as the installer for tagged releases as well, the intended fabric and fabric-ca version can be passed to the main bootstrap script. The bootstrap script is therefore not actively maintained in prior release branches. #2994 is a proposal to build native ARM images and binaries, that proposal is still in discussion.

[2022-09-26 14:50] #3638 closed, assigned to nobody

[2022-09-27 17:35] jt-nti opened #3649 "Add a 'Binary' builder"
The current CCaaS builder is great for chaincode development and debugging however it is not simple enough when trying out Fabric for the first time. The old built in docker-in-docker chaincode support is superficially simpler but often causes problems when the chaincode fails to build, which can be hard to debug.

While a simple binary builder is unlikely to be suitable in a production environmen

[2022-09-27 18:00] bestbeforetoday opened #3650 "Use new (non-deprecated) protocol buffer bindings"
**As a** user of Fabric
**I want** Fabric v3 to use fabric-protos Go bindings based on protocol buffer APIv2
**So that** Fabric is using actively maintained and non-deprecated protobuf APIs

In early 2020, a new Go API for protocol buffers was released, and the older protocol buffer API was deprecated.

- https://go.dev/blog/protobuf-apiv2
- Deprecated API: https://pkg.go.dev/github.com/golang/pro

[2022-09-28 04:44] deamonyi commented on #3039
Hello！
I'm facing the same issue and I try change chaincode-go/go.mod to go 1.13, but it still doesn't work.
The error was reported as follows:
`Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: docker build failed: docker image inspection failed: cannot connect to Docker endpoint
Chaincode installation on p

[2022-10-03 10:35] jt-nti commented on #3649
It might be nice to follow a similar pattern to the k8s builder and include details of the chaincode binary in a `binary.json` file (or a better name?!) rather than the actual binary. For example,

[code]

That would potentially allow chaincode to be downloaded by the builder using `https://`, either with an initial implementation or as a future enhancement.

[2022-10-03 15:10] jt-nti commented on #3649
Worth mentioning that all the peers in the same organisation would need to be on the same architecture to install the chaincode, and they would not be able to move to a new architecture. The intention for this builder is to improve the first use of Fabric, rather than for production networks, so that should be ok.

[2022-10-03 15:18] mbwhite commented on #3649
Possibility to go even further and add a signature verification of the binary maybe? But for development that might well be excessive - a checksum at minimum though.

So this would be a single checksum per organization...

[2022-10-03 15:32] jt-nti commented on #3649
Signature verification would be nice to have in a production environment but it's possibly excessive for this use case. That could certainly be included if the demand was there though.

There could potentially be a single checksum for all organisations if they share the chaincode implementation, but certainly no more than one checksum per organisation.

[2022-10-03 16:46] #3066 closed, assigned to nobody

[2022-10-03 16:55] #3422 closed, assigned to nobody

[2022-10-03 16:57] denyeart opened #3660 "Redesign Fabric validation/commit path for performance"

[2022-10-03 17:00] #3466 closed, assigned to jcastrence

[2022-10-03 17:02] denyeart commented on #3341
Still need to update go.mod Go version.
Also need to check Go version in all other Fabric repositories.

[2022-10-03 17:02] denyeart opened #3661 "Update to Go 1.19"
Update to Go 1.19.

Note that Go 1.19 has x509 verification changes that will require MSP updates.

[2022-10-03 17:05] denyeart commented on #3661
@yacovm @C0rWin Could you comment on the latest thoughts around the MSP updates for Go 1.19? Are you hopeful this can be completed for a v2.5 LTS release around end of year?

[2022-10-03 17:12] denyeart opened #3662 "Use GitHub Actions for release pipeline"
Github Actions release pipeline for Fabric and Fabric-CA.

[2022-10-03 17:23] denyeart opened #3663 "Fabric v3.0 release"
Umbrella epic containing miscellaneous items for Fabric v3.0, including changes, removals, deprecations, etc.
Major features such as SmartBFT don't need to be included here since they have their own Epics.

[2022-10-03 17:24] #3647 closed, assigned to nobody

[2022-10-03 20:12] yacovm commented on #3661
I cannot comment before I get time to investigate thoroughly, and in any case we should let @adecaro and @ale-linux  take a look at it, before even discussing timelines.

[2022-10-04 03:24] denyeart commented on #3649
This sounds reasonable to me, as a way to make building and deploying chaincode simpler for people trying out Fabric, while  removing the docker-in-docker dependence.

[2022-10-04 06:04] SamYuan1990 commented on #3341
and it seems we have go lang 1.19 for now? we will upgrade to 1.19?

[2022-10-04 14:49] denyeart opened #3665 "Gateway unit test flake"
Occasional failures in unit test - github.com/hyperledger/fabric/internal/pkg/gateway

[code]

An example at:

https://dev.azure.com/Hyperledger/Fabric/_build/results?buildId=56894&view=logs&jobId=6b58850f-3858-5a05-33e2-5e41cbf03c4e&j=6b58850f-3858-5a05-33e2-5e41cbf03c4e&t=bddec1cf-ba37-5883-9c3e-fd1e8608f9a1

[2022-10-04 16:30] #3665 closed, assigned to andrew-coleman

[2022-10-07 08:48] stinct9 commented on #3438
I was facing the same issue and this solution worked for me. Thanks!

[2022-10-07 11:16] rafaelferr88 commented on #3438
How do you do this retag?

[2022-10-07 11:57] isrand opened #3678 "2.4.6: Issue with RAFT Orderer certificates: "certificate is valid for orderer1, not orderer0""
Hello all,

We are currently trying to run a network based on v2.4.6 using three RAFT ordering nodes. We have modified the `crypto-config.yaml` to generate the certificates for the three orderers:

[code]

And updated the `configtx.yaml` file to set the orderers as the etcdraft consenters:

[code]

These certificates then get mounted on the Orderer container via a Kubernetes secret:

[code]

And e

[2022-10-08 02:37] mock123456 opened #3679 "network net_test not found"
When i keyboard the command "./monitordocker.sh net_test". I
The teminal stream a error "docker: Error response from daemon: network net_test not found.
curl: (7) Failed to connect to 127.0.0.1 port 8000 after 0 ms: Connection refused".

AND The network proxy is off .

Vesion:Ubantu

[2022-10-10 08:59] davidkel commented on #3679
The fabric documentation shows the command as `monitordocker.sh fabric_test` so I would try that, as the message states `net_test` not found

[2022-10-10 09:24] davidkel commented on #3678
Have you tried running the same configuration outside of K8s to prove what you have generated is correct ? K8s networking can be complex especially around the use of TLS. It's highly recommended that you use one of the fabric operators to deploy hyperledger fabric into K8s rather than attempt to try it yourself, for example fabric-operator or hlf-operator that can be found in hyperledger-labs. The

[2022-10-10 13:50] isrand commented on #3678
Hey @davidkel, thanks for your response!

Unfortunately due to project circumstances we can't use either of the operators and we need to deploy the HLF components ourselves. To add more info to the matter, we are using Minikube v1.27.0. I tried deploying the exact same network configuration on Kubernetes v1.21.4 and the same error occurs.

We used to deploy the three Orderers separately —one relea

[2022-10-10 15:01] davidkel commented on #3678
@isrand if you aren't using osnadmin are you still using a system channel then ? Anyway, I think you should validate your approach outside of K8s first, that will show if your approach and configuration files are correct and remove the K8s aspect completely because K8s and getting the various network configuration correct (such as ingresses) is complicated. From there any issues deploying to K8s w

[2022-10-11 15:52] Huyenhuynhh commented on #3438
same question. how do you retag it?

[2022-10-11 18:03] bestbeforetoday commented on #3438
You would  re-tag an image using the [docker tag](https://docs.docker.com/engine/reference/commandline/tag/) command. You might find it easier to just pull the correctly tagged version directly by telling Docker you want an amd64 image, as described in this issue: https://github.com/hyperledger/fabric/issues/2994#issuecomment-1170102505

[2022-10-12 12:36] #3412 closed, assigned to nobody

[2022-10-12 13:01] denyeart commented on #3211
Added guidance in fabric-samples, don't need doc in ReadTheDocs, closing.

[2022-10-12 13:01] #3211 closed, assigned to jkneubuh

[2022-10-13 02:47] cheeseng opened #3685 "Peer Node Crash When Executing ChainCode"
Fabric version: 2.4.6

When we invoked chaincode from our program the related peer node crash with the following error:

[code]

Any idea which area we can check to fix the error?

Thanks in advanced any guide and help given.  🙏🏻

Cheers.

[2022-10-13 12:20] cheeseng commented on #3685
@andrew-coleman Thanks for looking into the error with a PR 🙏🏻 .  At the moment, is there anything I can do to workaround the problem in 2.4.6?

[2022-10-13 14:38] andrew-coleman commented on #3685
@cheeseng Yes, this problem is occurring in code introduced in this [commit](https://github.com/hyperledger/fabric/commit/a91c63304fb48858dfecf0cc169396d635dbb5c8).  It can be disabled by setting the log level to “error” for the “gateway.responsechecker” logger.

[2022-10-13 14:48] cheeseng commented on #3685
I'll give that a try, thanks for the pointer!

[2022-10-14 15:07] #3685 closed, assigned to andrew-coleman

[2022-10-18 10:00] andrew-coleman opened #3700 "Ordering Service Framework"
Epic representing the second BFT RFC described in https://github.com/hyperledger/fabric-rfcs/blob/main/text/orderer-v3.md

[2022-10-18 19:18] YasirFarhan opened #3702 "Mac M1 - Peer node container shutdowns when trying to install chain code from the tutorial"
I am following tutorial here https://hyperledger-fabric.readthedocs.io/en/latest/write_first_app.html
on Mac M1 Max chip
I am using java as language  with bellow steps

[code]

error output
`Query installed on peer0.org1 has failed`
`Deploying chaincode failed`

Bellow output is from `./monitordocker.sh`
[code]

And more output from `./monitordocker.sh`

[code]

[code]

[2022-10-19 09:23] lluckydog opened #3703 "The collision resistance of TxID not conform sha256‘s but confirm getRandomNonce()"
I look into the function of generate txid in [protoutil/proputils.go](https://github.com/hyperledger/fabric/blob/cde0248c947f45e46bdf454ee5f6da42ebc79658/protoutil/proputils.go#L45)

Although it use sha256()function to compute txid, the collision resistance is not the same as sha256 but as function getRandomNonce(). A possible solution to this problem may be add unique transaction information into

[2022-10-19 11:30] denyeart commented on #3703
@adecaro What do you think? Is getRandomNonce() good enough?

[2022-10-19 11:45] #3293 closed, assigned to nobody

[2022-10-19 12:02] adecaro commented on #3703
Hi @denyeart and @lluckydog,

Very good point. The key measure here is the entropy of the message that we hash.
So, fixed the creator (that has at least 64 bits of entropy), the nonce brings in 192 bits of entropy (24 bytes), under the assumption that the PRG is working properly. I think we are good enough here. The source has at least 256 bits of entropy.

We can certainly increase it and even mo

[2022-10-19 12:07] denyeart opened #3704 "Changes for Fabric v3 (Jira link)"
Proposed changes for Fabric v3 in Jira:
https://jira.hyperledger.org/browse/FAB-15574

Screenshot in case Jira gets archived:

![image](https://github.com/hyperledger/fabric/assets/20165681/8e34f9fb-0010-4012-b9ea-d9417121b138)

Need to assess and create issues in Github.

[2022-10-19 12:20] lluckydog commented on #3703
@adecaro Thanks for your answer, it really help me understand this point. The point I want to say not is the hash function isn't good enough, but it not help improve resistance, so I got a little confused at first. I didn't think about the PRG can improve this think, which, to my point, is also good enough.

[2022-10-19 12:20] #3703 closed, assigned to nobody

[2022-10-19 12:25] denyeart commented on #3700
Dup of #3511 and #3512

[2022-10-19 12:25] #3700 closed, assigned to nobody

[2022-10-19 13:05] bestbeforetoday commented on #3702
This looks to be a duplicate of issue #2994. See [this comment](https://github.com/hyperledger/fabric/issues/2994#issuecomment-1170102505) in that issue for a workaround until native arm64 images are available.

[2022-10-19 13:14] SamYuan1990 commented on #3184
closed via #3498  and checked at https://github.com/hyperledger/fabric/blob/main/go.mod#L26

[2022-10-19 13:14] #3184 closed, assigned to nobody

[2022-10-20 12:09] andrew-coleman commented on #3417
Reviewed with the BFT team and decided this was covered by existing orderer integration tests.  Closing.

[2022-10-20 12:09] #3417 closed, assigned to nobody

[2022-10-21 06:43] FYhassy opened #3709 "Installing a new package fails in an environment with many packages installed."
[Describe the bug]

The following command fails when a large number of packages are installed.
(In this environment, 56 chaincodes have been installed under different names.)

  peer lifecycle chaincode install /var/tmp/fabcar057.tar.gz

--errormessage1--
Error: chaincode install failed with status: 500 - failed to invoke backing implementation of 'InstallChaincode': could not build chaincode: doc

[2022-10-21 10:09] bestbeforetoday commented on #3709
It looks like your Docker environment ran out of memory. If so, I guess the only solution might be to increase the resources available to Docker.

[2022-10-23 10:58] SamYuan1990 opened #3710 "Confusing with package install logic when chain code as a service."
https://github.com/hyperledger/fabric/blob/07e6231e452f941dbc508f21e50d4897a9dd47a4/internal/peer/chaincode/install.go#L162-L199

as lines above, when  chain code as a service case, the chain code with package as
[code]
with usage as lines below from fabric sample:
[code]

and
[code]

what confusing me as the `tar.gz` of chaincode as a service package fails as
[code]

so logically, as the marshal

[2022-10-23 11:13] SamYuan1990 commented on #3710
btw, can anyone help add external chaincode test case in peer install path?

[2022-10-26 12:39] #3662 closed, assigned to jcastrence

[2022-10-26 13:56] #3029 closed, assigned to nobody

[2022-10-26 14:02] mbwhite commented on #3710
@SamYuan1990 let me take a look; we've known that the peer command has had some issues... @jt-nti keeps reminding us as well.

https://github.com/hyperledger-labs/weft is an alternative for packaging all types of contracts

[2022-10-26 14:09] SamYuan1990 commented on #3710
good to know this project. @davidkhala , could you please take a look at weft and admin-sdk on nodejs and typescript?

[2022-10-26 15:37] mbwhite commented on #3710
@SamYuan1990 I just tried the fabric-samples test-network using the `deployCCAAS` command.  That worked out and deployed the chaincode fine... Just wondering was the peer configured correctly to use the -as-a-service builders?

[2022-10-26 15:51] SamYuan1990 commented on #3710
https://github.com/Hyperledger-TWGC/fabric-admin-sdk/blob/main/.github/workflows/golange2e.yml#L23-L25

if I am right, to enable -as-a-service builders with test network, we don't need any specific parameters during `network.sh up` right?

[2022-10-26 15:55] mbwhite commented on #3710
correct @SamYuan1990  the builders where added I think it was in Fabric 2.3.... but that workflow looks good to me.

not all the example chaincodes though have a dockerfile. So not all can be built and run by the test-network. I went with the typescript one.

[code]

[2022-10-26 16:02] SamYuan1990 commented on #3710
and what confused me is that when we upload a tar file as chaincode-as-a-service, what's happening during peer install running with the tar file.
as the tar file with `tar -cxvf` command can't convert to golang module during function `InitFromBuffer`... for `SignedCDSPackage` or `CDSPackage`.
hence from code path, seems `GetCCPackage` in package `ccprovider` will exit with error.
[code]

**but in

[2022-10-26 16:11] SamYuan1990 commented on #3710
yes, @mbwhite , I just confused with the path [above](https://github.com/hyperledger/fabric/issues/3710#issuecomment-1292271358), and if path above is correct, then how a tar file with structure below
[code]
works with
https://github.com/hyperledger/fabric/blob/e8c6102cc38d835dd6f3efe7b90a2f1133d21a68/core/common/ccprovider/cdspackage.go#L212
or
https://github.com/hyperledger/fabric/blob/e8c6102cc

[2022-10-27 09:31] davidkel opened #3748 "Document the meaning of MVCC READ CONFLICT validation code"
Fabric doesn't document any of the validation codes meaning that application developers have to try to find information about their meaning somehow and the actions to take if a code is received. This would be a lot of work to do however the most common failure validation code is MVCC READ CONFLICT and as such at least this should be documented and a pointer to a fabric sample that gives an example

[2022-10-27 12:33] SamYuan1990 commented on #3710
https://github.com/hyperledger/fabric/blob/7785a62aae7323560f0ece31fe8509ebffec2398/internal/peer/lifecycle/chaincode/install.go#L180

I suppose I found where the different between release 2.4 and main branch for the path.
[basicj.tar.gz](https://github.com/hyperledger/fabric/files/9879401/basicj.tar.gz)

basicj.tar.gz is from my local running result of chaincode as a service from fabric sample

[

[2022-10-27 13:07] SamYuan1990 commented on #3710
hi @mbwhite , after switch to release-2.4 way of implementation, admin-sdk part code successful.

[2022-10-27 14:09] SamYuan1990 commented on #3710
oh @mbwhite , I see, there is a "install" under `peer/chaincode`, and another one under `peer/lifecycle/chaincode`

[2022-10-27 14:11] SamYuan1990 commented on #3710
should we consider keep only one implementation ?

[2022-10-28 10:20] bestbeforetoday commented on #3748
This would be a great improvement and really is essential information for effective application development. This might be something that could be better called out in samples too.

To help anyone tackling this issue, there is (very) brief mention of MVCC_READ_CONFLICT and how to deal with it in the [full-stack-asset-transfer-guide workshop material](https://github.com/hyperledgendary/full-stack-a

[2022-10-28 13:52] denyeart opened #3755 "Unit test flake in github.com/hyperledger/fabric/internal/pkg/gateway"
Unit test flake in release-2.5.

https://github.com/hyperledger/fabric/actions/runs/3341110886/jobs/5532035008

FAIL	github.com/hyperledger/fabric/internal/pkg/gateway	2.055s

2022-10-27 22:28:00.128 UTC 0107 WARN [gateway] Endorse -> Endorse call timed out while collecting endorsements channel=test_channel chaincode=test_chaincode txID= numEndorsers=1
--- FAIL: TestEndorse (0.46s)
    --- FAIL: T

[2022-10-28 13:53] mbwhite commented on #3710
Hi @SamYuan1990 ... the `peer/chaincode` is for the old lifecycle - and at some point will be removed. So for ccaas the `peer lifecycle chaincode` should be used.

There shouldn't be any needs for the code to go anywhere near the CDS handling - it should check for the builders that are installed. Match up the type specified in the package with the correct builder.

If there's no builder available,

[2022-10-28 14:17] SamYuan1990 commented on #3710
yes, this comment answer the question.

[2022-10-28 14:17] #3710 closed, assigned to nobody

[2022-10-28 15:10] cubxxw opened #3756 "【Join your】"
Join your
Can I join your community
Maybe you use wechat or Facebook

i am [xiongxinwei](https://github.com/3293172751) , i am from china

[2022-10-29 10:10] sufuy45 commented on #3039
![image](https://user-images.githubusercontent.com/89099840/198825789-b0ef9371-2f78-44f2-860e-20c03ab2f016.png)

[2022-10-31 15:40] denyeart opened #3761 "Purge private data - inconsistent transient store behavior"
In Fabric main development branch, when private data is purged during transaction simulation, the purged key is not written to transient store (unlike traditional 'delete' private data where key is written to transient store).

However, when the peer attempts to commit a block with purged private data, it will attempt to fetch the purged key from the transient store (or another peer's transient st

[2022-10-31 18:05] #3026 closed, assigned to manish-sethi

[2022-11-03 10:26] sandeepnRES opened #3764 "Allow chaincode to chaincode invoke set event"
This is to request a feature. Lets say Client C calls a chaincode S, and that chaincode (using chaincode to chaincode call) invokes chaincode T, now if T sets some event, currently that event is lost, as per docs:
[code]

But I read that same transaction context is used to do chaincode to chaincode invocation, so why can't the event set in chaincode T be passed to the whole transaction, and thus t

[2022-11-04 21:25] #3761 closed, assigned to manish-sethi

[2022-11-05 02:06] bh4rtp commented on #3748
MVCC READ CONFLICT is usually caused by reading and writing a state variable concurrently. If Fabric supports auto increment state variable, it may mostly avoid this kind of issues.

Now, updating an integer state variable x with incremental y, chaincode needs to do three steps: 1) get(x), 2) add(x,y) and 3) put(x+y).

With auto increment variable, it only need inc(x, y). I remember Bitcoin has im

[2022-11-06 22:48] yo-1008 commented on #3039
Hello, having the same problem than @deamonyi. Try to change to go 1.13 but same error message

using:
Ubuntu 21.10
fabric 2.4
go 1.19

thank u in advance

[2022-11-09 10:48] andrew-coleman opened #3770 "BFT Ordering Service"
Epic to cover the development of the BFT based ordering serviced as described in the 'third' BFT RFC:
https://hyperledger.github.io/fabric-rfcs/text/006-bft-based-ordering-service.html

[2022-11-09 11:03] andrew-coleman opened #3771 "Orderer v3: SmartBFT Ordering Service"
Epic to cover the development of the BFT based ordering serviced as described in the 'third' BFT RFC:
https://hyperledger.github.io/fabric-rfcs/text/006-bft-based-ordering-service.html

[2022-11-09 11:03] #3770 closed, assigned to nobody

[2022-11-09 11:35] andrew-coleman opened #3772 "Configtxgen binary for BFT"
Create a standalone command line utility to generate a config block for BFT

[2022-11-09 11:48] andrew-coleman opened #3773 "Migration from RAFT to BFT"
- [x] Allow migration from Raft to BFT - migration filter, chain, etc
- [x] Integration tests
- [ ] #4642
- [ ] #4643
- [x] Documentation

[2022-11-09 15:29] krisstern commented on #2916
@jkneubuh Are you still working on the issue? If you are not I would like to pick it up and finish it. Please let me know.

[2022-11-09 17:13] jkneubuh commented on #2916
Hi @krisstern  -

It's hard to say this is "finished" but there was some progress on the Java sample running "CCaaS" over at https://github.com/hyperledger/fabric-samples/tree/main/asset-transfer-basic/chaincode-java.  If you want to help pick up and carry this over the finish line, it will be much appreciated!

- The Java code has been structured to run either in CCaaS mode or with the traditiona

[2022-11-10 00:06] krisstern commented on #2916
@jkneubuh Sounds like a good idea, let me read up and see where are the gaps I can fill to try and tackle this issue. Thanks for the very detailed response and the tips!

[2022-11-10 19:41] JohanIskandar commented on #3039
if this does not work, then uncheck -> apply and restart and then check it again if you are using istio

[2022-11-10 22:57] yo-1008 commented on #3039
Thank you @JohanIskandar but i'm using Ubuntu and according to this: https://github.com/docker/for-linux/issues/1168 --> grpc fuse is not use in ubuntu binaries.

using:
Ubuntu 21.10
fabric 2.2
go 1.19

BR

[2022-11-11 03:16] bh4rtp commented on #3773
Which release will support BFT?

[2022-11-11 05:26] FYhassy commented on #3709
Thank you for an answer.
I will check the memory usage as you told me. If it still doesn't work, please let me consult with you again.

[2022-11-11 06:20] Param-S commented on #3773
The current plan is to include BFT consensus in 3.0 release.

[2022-11-11 08:31] JohanIskandar commented on #3039
Thanks for the heads-up. Your information is really helpful.

On Fri, Nov 11, 2022 at 5:58 AM yo-1008 ***@***.***> wrote:

[2022-11-11 08:34] ecemozturkk commented on #3039
When I try to run `brew install go@1.14` to downgrade my go version , it says **Error: go@1.14 has been disabled because it is not supported upstream!**
Any help?

[2022-11-11 08:37] JohanIskandar commented on #3039
As long as it works on Ubuntu I am fine.  I havent tried another version
apart from ***@***.***  Thanks guys for all the help.

On Fri, Nov 11, 2022 at 3:34 PM Ecem Ozturk ***@***.***>
wrote:

[2022-11-11 20:31] yo-1008 commented on #3039
Interesting.

What version are you using? Ubuntu, docker, Golang

Thank u in advance :)

El El vie, 11 nov 2022 a las 19:34, Johan Iskandar ***@***.***>
escribió:

[2022-11-11 20:31] yo-1008 commented on #3039
And Fabric.

El El vie, 11 nov 2022 a las 21:31, Jaime Fernandez ***@***.***>
escribió:

[2022-11-12 02:59] deamonyi commented on #3039
I try use fabirc-sample2.2 and it worked successfully.

[2022-11-13 15:56] soft4rchitecture opened #3779 "make docker fails with error at stage "RUN [ ! -e /etc/nsswitch.conf ] && echo 'hosts: files dns' > /etc/nsswitch.conf""
## context
sw_vers:
[code]

uname -a:
[code]

## How to reproduce ?

1. git clone https://github.com/hyperledger/fabric.git
2. cd fabric
3. make docker

## Expected Result
the docker image builds successfully

## Actual Result
[code]

[2022-11-14 09:21] Ajax-Light opened #3780 "Incorrect configuration of CLI Image"
Fabric Version: 2.4.7
Docker Desktop Version: 4.12.0
Dev Environment: Ubuntu/WSL2 on Windows 10 version 21H1

![image](https://user-images.githubusercontent.com/54140487/201611536-62fe1dab-3bbd-45d9-a199-8e5eec1c2d87.png)

I'm not sure if the latest version of Fabric discourages use of the CLI container for interacting with the network, but it looks like a symlink has gone missing at `/etc/hyperle

[2022-11-15 03:31] #3444 closed, assigned to nobody

[2022-11-15 14:47] bestbeforetoday commented on #3702
I had a go at reproducing this problem but it works OK for me. For reference, I am using a 16" 2021 Macbook Pro with M1 Max chip, 64GB RAM and MacOS 13.0.1. I do have Rosetta 2 installed, although I don't _think_ that is required. Docker Desktop 4.13.1 with 20GB of RAM allocated to Docker containers, configured to use virtualization.framework and VirtioFS.

Here are the commands used, run from the

[2022-11-16 10:59] jt-nti opened #3786 "Extract useful Fabric proto utils into a separate Go module"
From @davidkhala hyperledger/fabric-protos-go#10

Meanwhie in second development, fabric-protos-go is used frequently along with powerful tool github.com/hyperledger/fabric/protoutil
Would you consider also migrate github.com/hyperledger/fabric/protoutil to somewhere in github.com/hyperledger/fabric-protos-go

Perhaps [fabric-lib-go](https://github.com/hyperledger/fabric-lib-go) would be a good ho

[2022-11-16 11:54] bestbeforetoday commented on #3786
Any capability extracted out to a separate repository should probably also operate on [fabric-protos-go-apiv2](https://github.com/hyperledger/fabric-protos-go-apiv2), not on [fabric-protos-go](https://github.com/hyperledger/fabric-protos-go).

[2022-11-16 12:13] jt-nti commented on #3786
It would definitely be preferable to use apiv2 but I think that depends on where/when it gets extracted, and what consumes the separate module, e.g. fabric-lib-go would probably need to use the old bindings until other components catch up.

[2022-11-16 15:33] ggessner commented on #3779
Hi soft4rchitecture,

so i updated my fabric cluster for my raspberry pis (previously running fabric-v2.4.7) and i can confirm the build failure for running docker using APLINE 3.16.

## Quick Fix

Changing the line in the docker file under `/images/orderer/dockerfile` in Line 12 to the following
[code]
fixes the problem for me.

## Explanation (from what i understand and have read)

Troubleshooti

[2022-11-17 13:23] andrew-coleman opened #3788 "SmartBFT integration test"
Create integration tests for the smartbft ordering service

[2022-11-18 03:24] denyeart commented on #3780
@mbwhite There may be an issue in peercfg core.yaml. What's the story with `mspreally` :-)
https://github.com/hyperledger/fabric-samples/blob/main/test-network/compose/docker/peercfg/core.yaml#L345

[2022-11-18 10:23] soft4rchitecture commented on #3779
hey @ggessner , thank you for your answer.
Ok, i do understand the cause and the solution.
Would it be useful to create a PR to solve the issue globally? with your suggested solution?
Thanks again !

[2022-11-18 13:44] mbwhite commented on #3780
@denyeart I've no idea really don't...

https://github.com/hyperledger/fabric-samples/pull/873

[2022-11-18 14:23] ggessner commented on #3779
Hey @soft4rchitecture,

I further looked into it. This problem is only present for the release version.
The issue has already been fixed a few hours ago in https://github.com/hyperledger/fabric/pull/3790.
They fixed it by removing the if-conditional completely (one way to go).

See for yourself:

https://github.com/hyperledger/fabric/blob/26955c2d5e8c31ef018c4d24410ca33fa9fa7323/images/orderer/Doc

[2022-11-18 14:56] denyeart commented on #3780
Ok, fix merged, @Ajax-Light can you try fabric-samples main branch again?

[2022-11-18 15:17] soft4rchitecture commented on #3779
Thanks a lot @ggessner  for your dedication.

[2022-11-18 15:17] #3779 closed, assigned to nobody

[2022-11-18 17:32] Ajax-Light commented on #3780
@denyeart Thanks for working on this.
Unfortunately, I don't think the fix worked.

![image](https://user-images.githubusercontent.com/54140487/202763339-455c6c01-1697-4da6-9681-8876bebf34be.png)

As you can see, the error changes when I export the env variables for Org 1 (iirc the docs mentioned this already being set by default).
If I understand Fabric Config correctly, The only env variable whi

[2022-11-19 07:56] soft4rchitecture opened #3798 "make docker fails to compute cache key when building images/peer/Dockerfile"
## context
sw_vers:
[code]

uname -a:
[code]

## How to reproduce ?

1. git clone https://github.com/hyperledger/fabric.git
2. cd fabric
3. make docker

## Expected Result
the docker image builds successfully

## Actual Result
[code]

[2022-11-21 06:08] denyeart commented on #3780
It shouldn't be looking for msp in /etc/hyperledger/peercfg/msp.

Peer should be looking for msp at /etc/hyperledger/fabric/msp:
https://github.com/hyperledger/fabric-samples/blob/main/test-network/compose/compose-test-net.yaml#L84

Based on in this volume:
https://github.com/hyperledger/fabric-samples/blob/main/test-network/compose/compose-test-net.yaml#L90

Therefore it should load msp directory

[2022-11-23 13:23] denyeart commented on #3629
One set of etcdraft test improvements have been merged. Still a few unit test flakes to resolve in this area though.

[2022-11-25 13:07] ecemozturkk opened #3809 "Hyperledger Fabric Error: error getting endorser client for channel: endorser client failed to connect"
I am walking through the [Hyperledger Fabric Build Your First Network](https://hyperledger-fabric.readthedocs.io/en/latest/test_network.html) tutorial and I am under the Create and Join Channel section.

When I try and do the following command to create a channel on **test-network** in **fabric-samples** folder:

`./network.sh createChannel`

I receive the following error:

[code]

Even though I f

[2022-11-29 07:05] Param-S opened #3811 "configtxgen command fails to prompt empty certificate file"
Since configtxgen failed to recognize and flag empty input certificate file while constructing the genesis block, the issue later prompted while starting the orderer.  It would help/improve the usability if the command is updated to find the issue while generating the block.

Steps to recreate the issue:

[code]

[2022-11-29 12:18] tprafull opened #3812 "Unable to connect to the discovered orderer orderer0.example.com:7050"
Hi

I am unable to invoke transaction. I am getting below error
Unable to connect to the discovered orderer orderer0.example.com:7050

`66f6b9d9d7c0   hyperledger/fabric-orderer:2.1                                                                                                                                          "orderer"                About an hour ago   Up About an hour   0.0.0.0:7050->705

[2022-11-30 11:13] Param-S commented on #3812
0.0.0.0:7050->7050/tcp, :::7050->7050/tcp, 0.0.0.0:8443->8443/tcp, :::8443->8443/tcp orderer.example.com
0.0.0.0:8050->8050/tcp, :::8050->8050/tcp, 0.0.0.0:8444->8443/tcp, :::8444->8443/tcp orderer2.example.com
0.0.0.0:9050->9050/tcp, :::9050->9050/tcp, 0.0.0.0:8445->8443/tcp, :::8445->8443/tcp orderer3.example.com

Based on this port mapping, I suspect the conflict is between the individual order

[2022-11-30 13:03] Param-S opened #3814 "Raft OSN file system IO overhead while managing the blocks"
Current implementation of Ordering Service Node(OSN) with raft consensus type manages the blocks data in 2 different places
1. OSN file ledger block store &
2. Raft consensus library WAL entries

As the same block contents written into 2 separate file system locations:
 1) Raft library writes into WAL while consenting on the block
 2) OSN writes into ledger post the consensus & commit into its led

[2022-11-30 13:12] denyeart opened #3815 "Update configtx.yaml for V2_5 capablity"

[2022-11-30 13:13] denyeart opened #3816 "Add purgeInterval to peer's default core.yaml"

[2022-11-30 13:18] denyeart commented on #3341
Go 1.19 requires some additional updates and is tracked in #3661

[2022-11-30 13:19] denyeart commented on #3341
I'll use this issue to ensure that all Fabric ecosystem repositories are at least at 1.18.8

[2022-11-30 13:20] denyeart opened #3817 "Finalize deprecations to announce in v2.5"
Announce legacy SDK deprecations with v2.5.0 release.

[2022-11-30 13:25] denyeart opened #3818 "Ensure chaincode releases available for v2.5"